@import "../sme-loan-summary.component";

.background-info {
  border: 1px solid black;
  height: 190px;
}
ol li {
  font-weight: bold;
}
@media print {
  .page-break {
    page-break-before: always !important;
    page-break-after: always !important;
  }
}

