*{
  line-height: 1.9em;
  font-size: 19px;
}
.form-field {
  background: yellow;
  margin: 0px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
  font-size: 20px;
  &:focus {
    outline: none;
  }
}
ol.conditions-list{
  list-style: devanagari;
  text-align: justify !important;
}

@media screen {
  .print-only {
    display: none !important;
  }
}

@media print {
  .print-only {
    display: inline;
  }
}



