#pie{
    position: relative;
    bottom: 15px;
    margin-top: 10px;
    min-height: 45vh;
}
.sb-row-custom {
    display: flex;
    justify-content: space-between;
}

.custom-select {
    font-size: 1rem;
    line-height: 1.15;
    height: auto;
    padding: 0.75rem 1.125rem;
    background-color: #ffffff;
    border: 2px solid #dadfe6;
    color: #181818;
}
.sb-no-data-info {
    margin-top: 10px;
    padding: 5px;
}
.sb-filter-button-container {
    display: flex;
    justify-content: space-evenly;
}
.advanced-pie-legend .legend-items-container .legend-items .legend-item{
margin-right: 20px;
display: block !important;
cursor: pointer;
padding-top: 20px;}
