<div class="row" id="print-section-{{offerLetterConst.OFFER_LETTER}}">
    <div class="col-md-12 viewFull text-justify">
        <div class="row">
            <div class="col-md-6">
                <p>
                    रे.फ नं. : कर्जा स्वीकृति पत्र/
                    <span class="nepaliFont">{{printDocForm?.ref1}}</span>
                    /
                    <span class="nepaliFont">{{printDocForm?.ref2}}</span>
                    /
                    <span class="nepaliFont">{{printDocForm?.ref3}}</span>
                </p>
            </div>
            <div class="col-md-6">
                <p class="text-right">
                    मिति :
                    <span class="nepaliFont">{{printDocForm?.date1}}</span>
                    /
                    <span class="nepaliFont">{{printDocForm?.date2}}</span>
                    /
                    <span class="nepaliFont">{{printDocForm?.date3}}</span>
                </p>
            </div>
        </div>
        <p>
            श्री
            <span class="nepaliFont">{{printDocForm?.customerName}}</span>
        </p>
        <p>
            सम्पर्क फोन/मोवाइल नं.:
            <span class="nepaliFont">{{printDocForm?.contactNum}}</span>
            /
            <span class="nepaliFont">{{printDocForm?.mobileNum}}</span>
        </p>
        <p class="text-center"><b><i><u>बिषय: कर्जा स्वीकृति बारे ।</u></i></b></p>
        <p>
            तपाई (अब उप्रान्त <b>ऋणी</b> भनिएको) ले लक्ष्मी बैंक (अब उप्रान्त <b>बैंक</b> भनिएको) मा <b>
            विप्रेषणमा आधारित कर्जा
            (Loan Against Remittance) पाँउ </b> भनी दिनु
            भएको निबेदन माथि कारवाही हुँदा तपसिल बमोजिमका शर्त बन्देजको अधिनमा रही तपसिल बमोजिमको कर्जा सुविधा
            स्वीकृत
            भएको जानकारी
            गराईन्छ ।
        </p>
        <p class="text-center"><b>तपसिल</b></p>
        <table class="table table-bordered">
            <tr>
                <td>१</td>
                <td>कर्जा सुविधा</td>
                <td><b>विप्रेषणमा आधारित कर्जा (Lan Against Remittance)</b></td>
            </tr>
            <tr>
                <td>२</td>
                <td>कर्जा रकम सिमा</td>
                <td>रु.
                    <span class="nepaliFont">{{printDocForm?.loanAmount}}</span>
                    /– (अक्षरेपी रुपैया
                    <span class="nepaliFont font-size-normal">{{printDocForm?.loanAmountInWords}}</span>
                    मात्र)
                </td>
            </tr>
            <tr>
                <td>३</td>
                <td> उद्देश्य</td>
                <td>
                    <span class="nepaliFont">{{printDocForm?.purpose}}</span>
                </td>
            </tr>
            <tr>
                <td> ४</td>
                <td>व्याज दर</td>
                <td>बैंकको हालको आधार दर (Base rate)
                    <span class="nepaliFont">{{printDocForm?.interestBaseRate}}</span>
                    र प्रिमियम दर (Premium rate)
                    <span class="nepaliFont">{{printDocForm?.interestPremiumRate}}</span>
                    जोडी
                    जम्मा
                    कायम
                    ब्याज दर
                    <span class="nepaliFont">{{printDocForm?.interestFinalRate}}</span>
                    प्रतिशत ।
                    <br>
                    <p>
                        बैंकको उक्त आधार दर प्रचलित नियमानुसार निर्धारित हुने र प्रत्येक त्रैमासिक रुपमा परीवर्तन भई
                        लागू हुनेछ
                        ।
                        यसरी परीवर्तन भई लागूहुने आधारदर प्रत्येक त्रैमासिक मसान्त पछिको पहिलो दिन <b>(श्र्रावण १,
                        कात्र्तिक १, माघ
                        १
                        तथा बैशाख १ गते)</b> देखि लागू हुनेछ र सोही बमोजिमका दरले तिर्न बाँकी कर्जा तथा सुविधामा
                        ब्याज
                        गणना
                        गरी
                        मासिक रुपमा अंगे्रजी महिनाको १४ तारिखमा / अंगे्रजी महिनाको अन्तमा / त्रैमासिक रुपमा नेपाली
                        महिनाको
                        अन्तमा वा कर्जाको अन्तिम भुक्तानीका दिन असुल उपर गरिनेछ ।
                    </p>
                    <p>साथै प्रिमियम दरको सम्बन्धमा प्रचलित नियमानुसार परिवर्तन भई लागू हुन सक्नेछ ।</p>
                    <p>आधार दरमा हुने परीवर्तन ऋणीको जानकारीको लागि त्रैमासिक रुपमा <a href="www.laxmibank.com">www.laxmibank.com</a>
                        मा राखिनेछ
                        साथै
                        राष्ट्रिय दैनिकमा पनि प्रकाशित गरिनेछ ।
                    </p>
                </td>
                <td>
            </tr>
            <tr>
                <td>५</td>
                <td>कर्जाको अवधी</td>
                <td>
                    <span class="nepaliFont">{{printDocForm?.loanTermInYear}}</span>
                    वर्ष सम्म
                    (
                    <span class="nepaliFont">{{printDocForm?.loanTermInMonth}}</span>
                    महिना)
                </td>
            </tr>
            <tr>
                <td>६</td>
                <td> जम्मा किस्ता संख्या</td>
                <td>
                    <span class="nepaliFont">{{printDocForm?.numOfInstallement}}</span>
                </td>
            </tr>
            <tr>
                <td>७</td>
                <td>कर्जा प्रशासनिक शुल्क</td>
                <td>कर्जा रकमको१ प्रतिशत वा न्यूनतम रु.१,०००/– मध्ये जुन बढी हुन्छ सो
                    रकम ।
                </td>
            </tr>
            <tr>
                <td>८</td>
                <td>कर्जा भुक्तानीको तरिका</td>
                <td>मासिक रु
                    <span class="nepaliFont">{{printDocForm?.emiAmount}}</span>
                    /– का दरले बराबरी
                    मासिक
                    किस्तामा
                    भुक्तानी गर्नु पर्नेछ ।
                </td>
            </tr>
            <tr>
                <td>९</td>
                <td>हर्जाना व्याज</td>
                <td>किस्ता तोकिएको भाखा नघाएमा सम्पूर्ण बाँकी साँवा तथा व्याज रकममा वार्षिक २
                    प्रतिशतका दरले
                    थप
                    हर्जाना
                    व्याज असुल उपर गरिनेछ ।
                </td>
            </tr>
            <tr>
                <td>१०</td>
                <td colspan="2">
                    <b>कर्जाको सुरक्षण वापत देहाय बमोजिमको लिखत लेखिदिनुपर्नेछ :</b>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                </td>
                <td>१</td>
                <td>कर्जा तमसुक, प्रतिज्ञापत्र, निरन्तरताको पत्र ।
                </td>
            </tr>
            <tr>
                <td>२</td>
                <td>
                    <span class="nepaliFont">{{printDocForm?.remitterName}}</span>
                    ले गरिदिएको व्यक्तिगत जमानतको लिखत ।
                </td>
            </tr>
            <tr>
                <td>११</td>
                <td colspan="2">
                    <b>शर्त वन्देजहरु :</b> बैंकवाट लिएको कर्जा तथा सुविधा सम्पूर्ण रुपमा चुक्ता फर्छ्यौट नभए सम्म
                    ऋणीले
                    देहाय
                    वमोजिमका
                    शर्तहरु पालना गर्नु
                    पर्नेछ ।
                </td>
            </tr>
            <tr>
                <td rowspan="4"></td>
                <td>१</td>
                <td>जुन प्रयोजनको लागि कर्जा लिइएको हो सोहि प्रयोजनमा कर्जा रकम उपयोग गर्नु पर्नेछ । अन्य कुनै
                    उद्देश्यको
                    लागि
                    कर्जा वा त्यसको अंश
                    उपयोग गर्न पाइने छैन ।
                </td>
            </tr>
            <tr>
                <td>२</td>
                <td>यो कर्जा/सुविधा लिंदा लाग्ने सवै प्रकारका खर्चहरु ऋणी स्वयमले व्यहोर्नु पर्नेछ ।
                </td>
            </tr>
            <tr>
                <td>३</td>
                <td>यस कर्जा स्वीकृती पत्र तथा तमसुकमा उल्लिखित कुनै पनि शर्त ऋणीले उल्लंघन गरेको कारणले कुनै
                    हानी
                    नोक्सानी
                    भएमा उक्त हानी
                    प्रति ऋणी जिम्मेवार हुनुका साथै सो क्षतिको क्षतिपूर्ति ऋणी वा जमानतकर्ताले गर्नु पर्नेछ ।
                </td>
            </tr>
            <tr>
                <td>४</td>
                <td>कर्जाको किस्ता तोकिएको समयावधी भित्र नबुझाएमा वा कर्जाका कुनैपनि शर्त उल्लंघन गरेमा बैंकले
                    कुनै पनि
                    समयमा
                    सम्पूर्ण तिर्नुपर्ने
                    साँवा र ब्याज रकम तिर्नको लागि ताकेता गर्ने धितोबाट कर्जा रकम असुल उपर गर्ने प्रकृया अगाडी
                    बढाउन
                    सक्नेछ
                    ।
                    समयमा कर्जा
                    भुक्तानी नगरेको कारण कानूनी प्रकृया तथा पत्राचार गर्दाका खर्च ऋणीले व्यहोर्नु पर्नेछ । साथै
                    कर्जा
                    नतिर्ने
                    ऋणी, जमानतकर्ता लगायत
                    सम्बद्ध पक्षहरुलाई कोलो सूचीमा राखी कानून बमोजिम कर्जा असुल उपर गरिनेछ । अन्य शर्त तथा
                    व्यवस्थाहरु ऋणीले
                    बैंकको पक्षमा गरी
                    दिने कर्जा आवेदन तथा कर्जा तमसुकमा उल्लेख भए बमोजिम हुनेछ ।
                </td>
            </tr>
            <tr>
                <td>१२</td>
                <td colspan="2">
                    <b>ऋणीले मन्जुर गरेको विशेष सुरक्षण सम्बन्धि शर्त :</b>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>१</td>
                <td>लक्ष्मी बैंक लि.को जुनसुकै शाखामा खोलिएको मेरो वा विदेशबाट विप्रेषण पठाउनेको नाममा खोलिएको
                    खातामा
                    प्राप्त
                    हुने रकम वा जम्मा
                    भएको रकम वा म हिताधिकारी भई मेरो नाममा प्राप्त हुने विप्रेषण वापतको रकम बैंकले कर्जाको
                    किस्ता वा
                    कर्जा
                    चुक्ता गर्ने प्रयोजनको
                    लागि प्रयोग गर्ने वा रोक्का राख्ने अधिकार बैंकलाई यसै पत्र मार्फत प्रदान गरेको छु ।

                </td>
            </tr>
        </table>
        धन्यबाद ।
        <br>
        भबदीय,
        <div class="row">
            <div class="col-md-6">
                ..........................
                <br>
                आधिकारीक दस्तखत
            </div>
            <div class="col-md-6 text-right">
                ..........................
                <br>
                आधिकारीक दस्तखत
            </div>
        </div>
        <hr>
        <p>
            माथी उल्लेखित सम्पूर्ण विवरण तथा शर्त बन्देजहरु पढी यस लिखतमा उल्लिखित विवरण, शर्त तथा कवुलियतहरु पूर्ण
            रुपमा बुझी कर्जा आवेदनको
            अभिन्न अंगको रुपमा रहने उपरोक्त सबै व्यवस्थाहरुमा मनोमानी राजीखुशीका साथ कसैको दवावमा नपरी आफ्नो मञ्जुरी
            व्यक्त गरेको प्रमाण स्वरुप
            उपरोक्त बमोजिमको कर्जा लिई भुक्तानी गर्न मञ्जुर गरी यस लिखतमा हस्ताक्षर गरेको छु ।
        </p>
        ऋणीको दस्तखत:
        <br>
        मिति :
        <span class="nepaliFont">{{printDocForm?.date}}</span>
    </div>
</div>
