<div class="nep text-justify" id="{{offerLetterConst.LOAN_DEED_INDIVIDUAL}}Print">
    <div class="row">
        <div class="col-md-12 viewFull">
            <div class="nep">
                <div>
                    <p class="text-center" style="font-size:16pt; font-weight: bold">विषयः ऋण तमसुक </p>
                    <p>
                        लिखितम धनीका नाम काठमाण्डौ जिल्ला काठमाण्डौ
                        महानगरपालिका कमलादि स्थित नविल हाउसमा मुख्य कार्यालय रहिएको
                        <span [ngClass]="{'nepaliFont outside' : letterData?.branchName !== null && letterData?.branchName !== ''}">
                            {{letterData?.branchName === null || letterData?.branchName === '' ? '======================' : letterData?.branchName}}
                        </span>
                        शाखा कार्यालय रहेको एभरेष्ट बैंक लिमिटेड (जसलाई यस उप्रान्त धनी बैंक भनिएको छ) लिखत गरी दिने ऋणीका नाम
                        <span [ngClass]="{'nepaliFont outside' : letterData?.grandFatherName !== null && letterData?.grandFatherName !== ''}">
                            {{letterData?.grandFatherName === null || letterData?.grandFatherName === '' ? '======================' : letterData?.grandFatherName}}
                        </span>
                        को नाति
                        <span [ngClass]="{'nepaliFont outside' : letterData?.fatherName !== null && letterData?.fatherName !== ''}">
                            {{letterData?.fatherName === null || letterData?.fatherName === '' ? '======================' : letterData?.fatherName}}
                        </span>
                        को छोरा
                        <span [ngClass]="{'nepaliFont outside' : letterData?.District !== null && letterData?.District !== ''}">
                            {{letterData?.District === null || letterData?.District === '' ? '======================' : letterData?.District}}
                        </span>
                        जिल्ला
                        <span [ngClass]="{'nepaliFont outside' : letterData?.Municipality !== null && letterData?.Municipality !== ''}">
                            {{letterData?.Municipality === null || letterData?.Municipality === '' ? '======================' : letterData?.Municipality}}
                        </span>
                        उपमहानगरपालिका वडा नंं.
                        <span [ngClass]="{'nepaliFont outside' : letterData?.WadNo !== null && letterData?.WadNo !== ''}">
                            {{letterData?.WadNo === null || letterData?.WadNo === '' ? '======================' : letterData?.WadNo}}
                        </span>
                        बस्ने बर्ष
                        <span [ngClass]="{'nepaliFont outside' : letterData?.age !== null && letterData?.age !== ''}">
                            {{letterData?.age === null || letterData?.age === '' ? '======================' : letterData?.age}}
                        </span>
                        को
                        <span [ngClass]="{'nepaliFont outside' : letterData?.borrowerName !== null && letterData?.borrowerName !== ''}">
                            {{letterData?.borrowerName === null || letterData?.borrowerName === '' ? '======================' : letterData?.borrowerName}}
                        </span>
                        (जसलाई यसपछि ऋणी भनिएको छ) आगे म ऋणीलाई
<!--                        यस अघि देखि नै तपाईं धनी बैंकसंग-->
<!--                        ऋणकर्जा सुविधा प्राप्त गरी उपभोग गर्दै आएको ठीक साञचो हो । हाल म ऋणीलाई उक्त ऋणकर्जा-->
<!--                        सुविधा को अलावा थप-->
                        ऋणकर्जा सुविधा आवश्यक भई सोको लागि तपाई धनी बैंकसंग अनुरोध
                        गरेकोमा तपाई धनी बैंकले म ऋणीको नाउंमा जारी गरेको मिति
                        <span [ngClass]="{'nepaliFont outside' : letterData?.issueDate !== null && letterData?.issueDate !== ''}">
                            {{letterData?.issueDate === null || letterData?.issueDate === '' ? '======================' : letterData?.issueDate}}
                        </span>
                        को समेतको ऋण स्वीकृति पत्रानुसार स्वीकृत निम्नानुसारका ऋणकर्जा तथा बैंकिग सुविधाहरु
                        सोही ऋण स्वीकृति पत्रमा उल्लेखित तरिका बमोजिम प्राप्त गर्ने गरी यो ऋणकर्जाको तमसुक
                        गरिदिएको ठिक सांचो हो। तपाई धनी बैंकबाट प्राप्त ऋणकर्जा तथा बैंकिग सुविधाहरुमा लाग्ने
                        ब्याज, कमिशन, शुल्क आदि स्वीकृत ऋणकर्जा तथा बैंकिग सुविधाहरु तल उल्लेखित खण्डखण्डमा
                        उल्लेख भएको दर अनुसार तिरी बुझाई सोही खण्डमा लेखिएको मिति भित्रमा वा स्वीकृत ऋणकर्जा
                        तथा बैंकिग सुविधा नविकरण भएमा नविकरण भएको बखत तपाई धनी बैंकले म ऋणीका नाममा
                        जारी गर्ने ऋण स्वीकृति पत्रमा तोकिएको मिति भित्रमा म ऋणी आफै तपाई धनी बैंकमा उपस्थित भै
                        सोधखोज गरी धनी बैंकलाई तिर्नु बुझाउनु पर्ने ऋणकर्जाको सम्पूर्ण ब्याज चुक्ता भूक्तान गर्नेछु।
                        म ऋणीको नाममा स्वीकृत बैंकिग सुविधा (एल.सी., ग्यारेण्टी, बण्ड आदि) उपभोग गर्दा तपाई
                        धनी बैंक उपर कुनै थप दायित्व तपाई धनी बैंकले माग गर्नासाथ तिर्ने बुझाउने छु।
                        स्वीकृत ऋणकर्जा तथा बैंकिग सुविधा तथा भविष्यमा तपाई धनी बैंकले उपलब्ध गराउने
                        थप ऋणकर्जा तथा सुविधाहरु समेतको सुरक्षण वापत म ऋणीको निजी श्रोतबाट खरिद गरेको,
                        श्रृजना भएको र तपाई धनी बैंकबाट प्राप्त ऋणकर्जाबाट खरिद वा आयात गरेको, श्रृजना गरेको
                        लगायत म ऋणीको नाममा रहे भएको सम्पूर्ण चल अचल श्रीसम्पत्तिहरु तथा भविष्यमा म ऋणीको
                        नाममा कायम हुने श्रीसम्पत्ति तथा म ऋणीले भुक्तानी प्राप्त गर्न बांकि रकमहरु
                        (Account Receivables) समेत यसै लिखतबाट तपाई धनी बैंकको नाममा धितोबन्धक लेखिदिएकोछु।
                        सोको अलावा तपसिलमा उल्लेख गरे बमोजिमको सम्पत्ति समेत छुटृै लिखतबाट तपाई धनी बैंकको नाममा
                        धितोबन्धकको लिखत लेखिदिई सकेको छु। प्राप्त ऋणकर्जाको तपाई धनी बैंकलाई तिर्नु पर्ने सांवा,
                        व्याज, कमिशन, शुल्क आदि यसै लिखत तथा उल्लेखित ऋण स्वीकृति पत्रानुसार तोकिएको
                        तरिका बमोजिम नतिरे नबुझाएमा वा तिर्नु बुझाउन आलटाल गरेमा वा किस्ता खिलाफी गरेमा वा
                        ऋण स्वीकृति पत्र तथा यसै लिखतको कुनै शर्त उल्लंघन गरेमा समेत म ऋणीको नाममा तपाई धनी
                        बैंकमा खोलेको निक्षेप खातामा जम्मा रहेको रकमबाट कटृा गरी तथा धितो लेखिदिएको सम्पत्ति बैंक
                        तथा वित्तिय संस्था सम्बन्धी ऐन २०७३ बमोजिम तथा तपाई धनी बैंकको नियमानुशार लिलाम विक्री
                        तथा अन्य व्यवस्था गरी तपाई धनी बैंकको सम्पूर्ण लेना असुल उपर गरिदिनु होला।
                        कथमकदाचित धितो लेखिएको श्रीसम्पत्ति कच्चा नकरा ठहरी लिलाम बिक्री हुन नसकेमा वा
                        लिलाम विक्री हुंदा समेत तपाई धनी बैंकको सम्पूर्ण लेना रकम असुल उपर नभएमा मेरो
                        घरघरानाको श्रीसम्पत्तिबाट असुल उपर गरी लिनु होला भनी किनाराको साक्षीहरुको रोहवरमा
                        तपाई धनी बैंकको कार्यालयमा बसी यो लिखतमा सहिछाप गरी तपाई धनी बैंकलाई दिएं र
                        यसको दोहरी समेत बुझिलिएं।

                    <p class="text-center" style="font-weight: bold">स्विकृत ऋणकर्जाको विवरण</p>
                    <table border="1" width="100%">
                        <thead>
                        <tr>
                            <th>ऋणकर्जा वा बैंकिङ्ग सुविधा</th>
                            <th>रकम</th>
                            <th>ब्याज र कमिसन</th>
                            <th>अन्तिम चुक्ताभुक्तान गर्ने वा बहाल मिति</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span [ngClass]="{'nepaliFont outside' : letterData?.facilityName !== null && letterData?.facilityName !== ''}">
                                    {{letterData?.facilityName === null || letterData?.facilityName === '' ? '======================' : letterData?.facilityName}}
                                </span>
                            </td>
                            <td>
                                <span [ngClass]="{'nepaliFont outside' : letterData?.loanAmount !== null && letterData?.loanAmount !== ''}">
                                    {{letterData?.loanAmount === null || letterData?.loanAmount === '' ? '======================' : letterData?.loanAmount}}
                                </span>
                            </td>
                            <td>
                                <span [ngClass]="{'nepaliFont outside' : letterData?.Interest !== null && letterData?.Interest !== ''}">
                                    {{letterData?.Interest === null || letterData?.Interest === '' ? '======================' : letterData?.Interest}}
                                </span>
                            </td>
                            <td>
                                <span [ngClass]="{'nepaliFont outside' : letterData?.expiryDate !== null && letterData?.expiryDate !== ''}">
                                    {{letterData?.expiryDate === null || letterData?.expiryDate === '' ? '======================' : letterData?.expiryDate}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>

                    <div>
                        <p>कुल ऋणकर्जा तथा बैंकिङ्ग सुविधा रु.
                            <span [ngClass]="{'nepaliFont outside' : letterData?.totalLoanAmount !== null && letterData?.totalLoanAmount !== ''}">
                                {{letterData?.totalLoanAmount === null || letterData?.totalLoanAmount === '' ? '======================' : letterData?.totalLoanAmount}}
                            </span>।
                            (अक्षरेपी
                            <span [ngClass]="{'nepaliFont outside' : letterData?.totalLoanAmountWord !== null && letterData?.totalLoanAmountWord !== ''}">
                                {{letterData?.totalLoanAmountWord === null || letterData?.totalLoanAmountWord === '' ? '======================' : letterData?.totalLoanAmountWord}}
                            </span>)
                        </p>
                    </div>

                    <div>
                        <p class="text-center" style="font-weight: bold">तपसिल</p> <br/>
                        <p>उपरोक्त ऋणकर्जा तथा बैंकिग सुविधाको सुरक्षण वापत देहाय बमोजिमको घरजग्गा तपाई धनी बैंकको नाममा धितोबन्धक लेखिदिई सम्बन्धित मालपोत कार्यालयमा रजिष्ट्रेशन समेत पारित गरिदिएको छु।</p>
                    </div>
                    <br>

                    <table border="1" width="100%">
                        <thead>
                        <tr>
                            <th>घरजग्गा धनी</th>
                            <th>जिल्ला</th>
                            <th>नगर</th>
                            <th>वडा नं.</th>
                            <th>कित्ता नं.</th>
                            <th>क्षेत्रफल</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span [ngClass]="{'nepaliFont outside' : letterData?.propertyOwnerName1 !== null && letterData?.propertyOwnerName1 !== ''}">
                                    {{letterData?.propertyOwnerName1 === null || letterData?.propertyOwnerName1 === '' ? '======================' : letterData?.propertyOwnerName1}}
                                </span>
                            </td>
                            <td>
                                <span [ngClass]="{'nepaliFont outside' : letterData?.District1 !== null && letterData?.District1 !== ''}">
                                    {{letterData?.District1 === null || letterData?.District1 === '' ? '======================' : letterData?.District1}}
                                </span>
                            </td>
                            <td>
                                <span [ngClass]="{'nepaliFont outside' : letterData?.Municipality1 !== null && letterData?.Municipality1 !== ''}">
                                    {{letterData?.Municipality1 === null || letterData?.Municipality1 === '' ? '======================' : letterData?.Municipality1}}
                                </span>
                            </td>
                            <td>
                                <span [ngClass]="{'nepaliFont outside' : letterData?.WadNo1 !== null && letterData?.WadNo1 !== ''}">
                                    {{letterData?.WadNo1 === null || letterData?.WadNo1 === '' ? '======================' : letterData?.WadNo1}}
                                </span>
                            </td>
                            <td>
                                <span [ngClass]="{'nepaliFont outside' : letterData?.plotNo1 !== null && letterData?.plotNo1 !== ''}">
                                    {{letterData?.plotNo1 === null || letterData?.plotNo1 === '' ? '======================' : letterData?.plotNo1}}
                                </span>
                            </td>
                            <td>
                                <span [ngClass]="{'nepaliFont outside' : letterData?.area1 !== null && letterData?.area1 !== ''}">
                                    {{letterData?.area1 === null || letterData?.area1 === '' ? '======================' : letterData?.area1}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span [ngClass]="{'nepaliFont outside' : letterData?.propertyOwnerName2 !== null && letterData?.propertyOwnerName2 !== ''}">
                                    {{letterData?.propertyOwnerName2 === null || letterData?.propertyOwnerName2 === '' ? '======================' : letterData?.propertyOwnerName2}}
                                </span>
                            </td>
                            <td>
                                <span [ngClass]="{'nepaliFont outside' : letterData?.District2 !== null && letterData?.District2 !== ''}">
                                    {{letterData?.District2 === null || letterData?.District2 === '' ? '======================' : letterData?.District2}}
                                </span>
                            </td>
                            <td>
                                <span [ngClass]="{'nepaliFont outside' : letterData?.Municipality2 !== null && letterData?.Municipality2 !== ''}">
                                    {{letterData?.Municipality2 === null || letterData?.Municipality2 === '' ? '======================' : letterData?.Municipality2}}
                                </span>
                            </td>
                            <td>
                                <span [ngClass]="{'nepaliFont outside' : letterData?.WadNo2 !== null && letterData?.WadNo2 !== ''}">
                                    {{letterData?.WadNo2 === null || letterData?.WadNo2 === '' ? '======================' : letterData?.WadNo2}}
                                </span>
                            </td>
                            <td>
                                <span [ngClass]="{'nepaliFont outside' : letterData?.plotNo2 !== null && letterData?.plotNo2 !== ''}">
                                    {{letterData?.plotNo2 === null || letterData?.plotNo2 === '' ? '======================' : letterData?.plotNo2}}
                                </span>
                            </td>
                            <td>
                                <span [ngClass]="{'nepaliFont outside' : letterData?.area2 !== null && letterData?.area2 !== ''}">
                                    {{letterData?.area2 === null || letterData?.area2 === '' ? '======================' : letterData?.area2}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <br />
                    <br />

                    <div>
                        <p>
                            ईति सम्वत् २०<span [ngClass]="{'nepaliFont outside sizefont' : letterData?.year !== null && letterData?.year !== ''}">
                                {{letterData?.year === null || letterData?.year === '' ? '======================' : letterData?.year}}
                            </span>
                            <span [ngClass]="{'nepaliFont outside sizefont' : letterData?.month !== null && letterData?.month !== ''}">
                                {{letterData?.month === null || letterData?.month === '' ? '======================' : letterData?.month}}
                            </span>
                            महिना
                            <span [ngClass]="{'nepaliFont outside sizefont' : letterData?.day !== null && letterData?.day !== ''}">
                                {{letterData?.day === null || letterData?.day === '' ? '======================' : letterData?.day}}
                            </span>
                            गते रोज
                            <span [ngClass]="{'nepaliFont outside sizefont' : letterData?.time !== null && letterData?.time !== ''}">
                                {{letterData?.time === null || letterData?.time === '' ? '======================' : letterData?.time}}
                            </span>
                            शुभम् ।
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
