@import '../../progressive-legal-docs.component';

/*#yellow{
  background-color: yellow;
}
#red{
  background-color: red;
}
*/
.tapsil {
  width: 150px;
  height: 50px;
  resize: none;
  background-color: transparent;
  border: none;
}

#fingerXap {
  width: 500px;
  text-align: center;
}
//p {
//  text-align: justify;
//  line-height: 1.9em;
//}
.viewFull {
  max-height: 85vh;
  text-align: justify;
}

.unicode-size {
  font-size: 16px;
}

tr {
  break-inside: initial;
}

.unicode-size24 {
  font-size: 24px;
}

//#guaranter{
//  display: flex;
//  flex-wrap: initial;
//  flex-direction: row;
//}
//
//#guaranter1{
//  width: 50%;
//}
//
//#guaranter2{
//  width: 50%;
//  margin-left: 100px;
//}

table {
  text-align: center;
  width: 100%;
}

span{
  line-height: 1;
}

@media print {
  .page-break {
    page-break-after: always;
  }
}
