@import '../../progressive-legal-docs.component';

#detail {
  margin-left: 50px;
}

#fingerXap {
  width: 500px;
  margin-left: 10px;
  text-align: center;
}

#guarantor {
  margin-left: 50px;
}

.tableGuarantor {
  width: 400px;
}

.viewFull {
  max-height: 85vh;
  text-align: justify;
}
