//@import '../../progressive-legal-docs.component';

#detail {
  margin-left: 50px;
}

#fingerXap {
  width: 200px;
  margin-left: 10px;
  text-align: center;
}


#guarantor {
  margin-left: 50px;
}

.tableGuarantor {
  width: 400px;
}

.viewFull {
  max-height: 85vh;
  text-align: justify;
}

.unicode-size{
  font-size:12pt;
}

.unicode-size2{
  font-size: 24px;
}

.margin {
  margin-top: 1in;
  margin-left: 1in;
}


