//@import '../../progressive-legal-docs.component';
* {
  line-height: 1.5em;
}
#detail {
  margin-left: 50px;
}

#fingerXap {
  width: 400px;
  height: 200px;
  margin-left: 10px;
  text-align: center;
}


#guarantor {
  margin-left: 50px;
}

.tableGuarantor {
  width: 400px;
}

.viewFull {
  max-height: 85vh;
  text-align: justify;
}

.unicode-size{
  font-size:16px;
}

.unicode-size2{
  font-size: 24px;
}

