h5 {
  font-size: 13.5px !important;
}

p {
  font-size: 13px !important;
}

.working-capital {
  td:nth-child(5) {
    font-weight: bold;
  }
}
.fixed-assets {
  td:nth-child(6) {
    font-weight: bold;
  }
}
