@import '../../progressive-legal-docs.component';

#detail {
  margin-left: 50px;
}
*{
//margin-left:20px;
//margin-right:10px;
//justify-content: left;
margin-top: 20px;
}


#fingerXap {
  width: 500px;
  margin-left: 10px;
  text-align: center;
}

#guarantor {
  margin-left: 50px;
}

.tableGuarantor {
  width: 400px;
}

.viewFull {
  max-height: 85vh;
  text-align: justify;
}
