@import '../../progressive-legal-docs.component';

#detail {
  margin-left: 50px;
}

.margin {
  margin-top: 0.5in;
  margin-left: 0.5in;
}


#fingerXap {
  width: 250px;
  margin-left: 10px;
  text-align: center;
}

#guarantor {
  margin-left: 50px;
}

.tableGuarantor {
  width: 400px;
}

.viewFull {
  max-height: 85vh;
  text-align: justify;
}

.unicode-size{
  font-size:12pt;
}

.uniFont{
  font-size: 24px;
}
