.desc-td-width {
  width: 280px;
}

tr td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 2rem !important;
  margin-bottom: 0 !important;
}

ul li {
  text-align: left !important;
}
table, th, td {
  border: 1px solid black !important;
}
hr.print-line {
  border-top: .5px solid black !important;
}
