<p><strong>MIS/NRB Reporting</strong></p>
<table class="table table-condensed table-bordered table-responsive-md table-sm sb-small">
    <tr class="sb-bg-dark text-white">
        <th rowspan="2">
            SN
        </th>
        <th rowspan="2">
            Facility
        </th>
        <th colspan="2" class="text-center">
            Basel
        </th>
        <th colspan="4" class="text-center">
            NRB/SIS
        </th>
        <th colspan="3" class="text-center">
            CCBL
        </th>
    </tr>
    <tr class="sb-bg-secondary text-white">
        <td>
            Risk Type
        </td>
        <td>
            Risk weight
        </td>
        <td>
            Sector
        </td>
        <td>
            Product
        </td>
        <td>
            Sub Product
        </td>
        <td>
            Security Code
        </td>
        <td>
            A/C type
        </td>
        <td>
            Borrower type
        </td>
        <td>
            Risk Grade
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td rowspan="4"></td>
        <td rowspan="4"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="11">
            SIS Reporting
        </td>
    </tr>
</table>