<div class="row" id="{{offerLetterConst.PRATIGYA_PATRA}}Print">
    <div class="logo-container">
        <div>
            <img  height="60px" src="../../../../../assets/img/logo.png">
        </div>
    </div>
    <div class="col-md-12">
        <div class="nep">
            <div class="row">
                <div class="col-md-12 form-group">
                        <h2 align="center"> प्रतिज्ञा पत्र</h2><br>
                </div>
                <div>
                        कर्जा रु   <strong class="nepaliFont">{{ letter['loanamount']}}</strong>
            </div>                                  <br><br>
            <div>
                        ड्डआगे नेपाल सरकार उद्योग मन्त्रालय कम्पनी रजिष्ट्रारको कार्यालय, त्रिपुरेश्वरबाट मिति २०६७/०१०७ मा दर्ता नं. ७२३५८/०६६/०६७ मा दर्ता भई मोरङ्ग जिल्ला विराटनगर उ.म.न.पा. वडा नं. २१ स्थित रजिष्टर्ड कार्यालय रहि का.म.न.पा वडा नं. ११ मा शाखा कार्यालय रहेको धनी कम्पनी,
                        एम.ए.डब्लु. इन्भेष्टमेन्ट प्रा.लि.लाई म/हामी (ना.प्र.नं./प्रा.लि.नं./प.लि.नं./प्रा.फ.र.नं./प्र.प.नं. <strong class="nepaliFont">{{letter['companyno']}}</strong>
                        भएको <strong class="nepaliFont">{{letter['companyname']}}</strong> ले त्यस धनी कम्पनीले भुक्तानीको माग गर्ना साथ तिर्ने व्यहोरा गरी र धनी कम्पनीसँग गरेको
                        अन्य लिखतहरुका शर्त तथा दायित्वहरु सोही बमोजिम तिर्ने व्यहोर्ने गरी मेरो/हाम्रो नाममा स्वीकृत भएको कर्जा र  <strong class="nepaliFont">{{letter['loanamount2']}}</strong>।–<br><br>
                        (अक्षरेपी  <strong class="nepaliFont">{{letter['amountinword']}}</strong> र सो रकममा
                        आजकोमिति देखि <strong class="nepaliFont">{{letter['interestamount']}}</strong> प्रतिशतका दरले र वा / यस पछि त्यसमा हुने संसोधन वा परिवर्तन पत्रमा उल्लेखित दर अनुसारको ब्याज समेत भुक्तानी गर्ने प्रतिज्ञा गर्दछु/गर्दछौं । धनी कम्पनीले तोके बमोजिम वा भुक्तानीको माग
                        गरेका बखत साँवा ब्याज लगायतको रकम नतिरेमा, सो मा धनी कम्पनीले तोके बमोजिमको हर्जाना लगायतका तिर्नु पर्ने अन्य शुल्क समेत तिर्ने बुझाउने छु/छौं । नतिरे नबुझाएमा प्रचलित कानून, ऐन, नियम तथा धनी कम्पनीको नियम अनुसारको प्रकृया बमोजिम
                        असुल उपर गरी लिनु होला । मैले/हामीले ऋण नबुझाएका कारण यस धनी कम्पनीबाट लिएको कर्जाको लागि लेखिदिएको धितो, जेथा सो मिति पश्चात् जहिलेसुकै बिक्री गरी वा अन्य व्यवस्था गरी लेना असुल उपर गरी लिएमा समेत मेरो/हाम्रो मञ्जुरी छ भनी मेरो/हाम्रो
                        मनोमान राजीखुशीसँग यो प्रतिज्ञा पत्र, धनी कम्पनीको त्रिपुरेश्वर स्थित कार्यालयमा बसी लेखी तपाईं धनी कम्पनी एम.ए.डब्लु. इन्भेष्टमेन्ट प्रा.लि. लाई दिएँ/ियौं ।
            </div>
            </div>
        </div>
    </div>
</div>





