.borrower_class {
  width: 100%;
  padding: 0 1em 0 1em;
}
table, th, td {
  padding: 0px;
  margin: 0px !important;
}
table {
  border-collapse: collapse !important;
}
.table-bordered, th, td {
  border: 1px solid black !important;
}
