@import '../../progressive-offer-letter.component';

.nepaliConfig {
  font-size: 16px;
  line-height: 1.6;
  @extend .text-justify;
}

.bodyParagraphTable {
  text-align: justify;
  line-height: 1.5;
}

p {
  text-align: justify;
  line-height: 1.6;
}

span {
  font-size: 24px;
}

.text-align-left {
  text-align: left !important;
}

.custom-table-bordered td {
  border: 1px solid #000 !important;
}
.uniFont{
  font-size: 16px;
}

.uniFont2{
  font-size: 20px;
}

@media print {
  tr {
    break-inside: initial;
  }
}
