@import '../../progressive-offer-letter.component';

.nepaliConfig {
  font-size: 16px;
  line-height: 1.6;
  margin: 10px 50px;
  @extend .text-justify;
}

.bodyParagraphTable {
  text-align: justify;
  line-height: 1.5;
  max-width: 85%;
}

p {
  text-align: justify;
  line-height: 1.5;
}

span {
  font-size: 24px;
}

