<nb-card [nbSpinner]="spinner" accent="primary"
         class="m-0"
         nbSpinnerMessage="Loading data please wait....."
         nbSpinnerSize="giant"
         nbSpinnerStatus="primary">
    <nb-card-header>
        <strong>{{cadOfferLetterApprovedDoc?.docStatus | replace:'_':' '}}</strong>
        <app-cad-action [cadId]="cadOfferLetterApprovedDoc?.id"
                        [selectedBranchId]="cadOfferLetterApprovedDoc?.loanHolder?.branch?.id"
                        [currentStatus]="cadOfferLetterApprovedDoc?.docStatus"
                        [currentCADStage]="cadOfferLetterApprovedDoc?.cadCurrentStage"
                        [cadOfferLetterApprovedDoc] = "cadOfferLetterApprovedDoc"
                        *ngIf="showHideAction && cadOfferLetterApprovedDoc"></app-cad-action>
    </nb-card-header>
    <nb-card-body>
        <nb-tabset fullWidth *ngIf="cadOfferLetterApprovedDoc?.docStatus !== 'OFFER_PENDING'">
            <nb-tab tabTitle="Basic Info" [active]="activeTab === 0">
                <app-cad-offerletter-profile *ngIf="cadOfferLetterApprovedDoc"
                                             [cadOfferLetterApprovedDoc]="cadOfferLetterApprovedDoc"
                                             (responseCadData)="newCadData($event)"></app-cad-offerletter-profile>
            </nb-tab>
            <nb-tab tabTitle="Exposure Detail" [active]="activeTab === 1">
                <app-exposure *ngIf="cadOfferLetterApprovedDoc"
                              [cadData]="cadOfferLetterApprovedDoc"
                              [isHistory]="false"
                (responseCadData)="newCadData($event)"></app-exposure>
            </nb-tab>
            <nb-tab tabTitle="Fees And Commission" [active]="activeTab === 2">
                <app-fees-commission  *ngIf="cadOfferLetterApprovedDoc" [cadData]="cadOfferLetterApprovedDoc"></app-fees-commission>
            </nb-tab>
            <nb-tab tabTitle="Document CheckList" [active]="activeTab === 3">
                <app-document-checklist [cadData]="cadOfferLetterApprovedDoc"
                                        (responseCadData)="newCadData($event)"
                                        *ngIf="cadOfferLetterApprovedDoc && checkListLiteVersion == false"></app-document-checklist>
                <app-document-checklist-lite [cadData]="cadOfferLetterApprovedDoc"
                                        (responseCadData)="newCadData($event)"
                                        *ngIf="cadOfferLetterApprovedDoc && checkListLiteVersion == true"></app-document-checklist-lite>
            </nb-tab>
        </nb-tabset>
        <div *ngIf="cadOfferLetterApprovedDoc?.docStatus === 'OFFER_PENDING'">
            <app-cad-offerletter-profile *ngIf="cadOfferLetterApprovedDoc"
                                         [cadOfferLetterApprovedDoc]="cadOfferLetterApprovedDoc"
                                         (responseCadData)="newCadData($event)"></app-cad-offerletter-profile>

        </div>
    </nb-card-body>
</nb-card>
