
<nb-card>
    <nb-card-header>
        <app-cad-action [cadId]="cadOfferLetterApprovedDoc?.id" [selectedBranchId]="cadOfferLetterApprovedDoc?.loanHolder?.branch?.id"></app-cad-action>
    </nb-card-header>
    <nb-card-body>
        <nb-tabset fullWidth>
            <nb-tab tabTitle="Basic Info">
        <app-cad-offerletter-profile></app-cad-offerletter-profile>
            </nb-tab>
            <nb-tab tabTitle="Exposure Detail">
                <app-exposure  *ngIf="cadOfferLetterApprovedDoc"></app-exposure>
            </nb-tab>
            <nb-tab tabTitle="Fees And Commission">
                <app-fees-commission></app-fees-commission>
            </nb-tab>
            <nb-tab tabTitle="Document CheckList">
                <app-document-checklist [cadData]="cadOfferLetterApprovedDoc" *ngIf="cadOfferLetterApprovedDoc"></app-document-checklist>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>
