
<div class="container text-justify">
    <div class="row" id="print-section-{{offerLetterConst.MORTGAGE_DEED}}">
        <div class="col-md-12">
            <form>
                <div class="row" style="margin-top: 50px">
                    <div class="col-md-12">
                        <table class="table  table-bordered">
                            <tbody>
                            <tr>
                                <td>टोकन÷दर्ता नं. ः</td>
                                <td><input class="form-control-lg form-field nepaliFont"
                                           type="text"
                                           formControlName="">
                                </td>
                                <td>
                                    दर्ता मिति ः
                                </td>
                                <td>
                                    <input class="form-control-lg form-field nepaliFont"
                                           type="text"
                                           formControlName="">
                                </td>
                            </tr>
                            <tr>
                                <td>रजिष्ट्रेशन नं. ः</td>
                                <td><input class="form-control-lg form-field nepaliFont"
                                           type="text"
                                           formControlName="">
                                </td>
                                <td>दर्ता मिति ः</td>
                                <td><input class="form-control-lg form-field nepaliFont"
                                           type="text"
                                           formControlName="">
                                </td>
                            </tr>
                            <tr>
                                <td>ऋणीको नाम ः</td>
                                <td><input class="form-control-lg form-field nepaliFont"
                                           type="text"
                                           formControlName="">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>
                        <b class="text-center">विषय ः धितोबन्धक लिखत ।</b><br>

                        लिखितमलिखत गराई लिने धनिकानाम का.जि.का.म.न.पा.वडा नं. २२, न्यूरोडस्थित रजिष्टर्ड कार्यालय भएको प्रोग्रेशिभफाइनान्स
                        लिमिटेडको ....................... जिल्ला ................. न.पा.÷गा.पा.वडा नं. ........ स्थित
                        ..................... शाखाकार्यालय (जसलाई यस उप्रान्त यस लिखतमा“धनीवित्तीय संस्था”भनिएको), लिखत गरि धितो
                        सुरक्षण लेखिदिनेकोनाम ..............................(जसलाई यस उप्रान्त यस लिखतमा“धितो सुरक्षणकर्ता” भनिएको)
                        आगे ..............................(जसलाई यस उप्रान्त यस लिखतमा“ऋणी”भनिएको) को नाममाजम्मास्वीकृत
                        भएको÷स्वीकृत भई उपभोग गर्ने रु.....................।– (अक्षेरेपी ...............................मात्र)
                        सम्मको कर्जा सीमामध्ये प्रस्तुतजायजेथा रु ..................।–(अक्षेरेपी ...............................मात्र)
                        सम्म वाधितोको मुल्यले खामे सम्मको चालुपूंजि (ध्यचपष्लन ऋबउष्तब)ि, डिमाण्डलोन (म्झबलम ीयबल) वाअन्यकर्जा लगायतकाकुनै
                        पनि शीर्षकका अल्पआबधिककर्जा (क्जयचत त्भचm ीयबल) वादिर्घकालीनकर्जा (त्भचm ीबयल),बैंक ग्यारेन्टी (द्यबलप न्गबचबलतभभ),
                        बिल्स पर्चेज (द्यष्ििक एगचअजबकभ), ब्रिजग्यापकर्जा (द्यचष्मनभ न्बउ ीयबल) वावित्तीय संस्थाले प्रदान गर्ने अन्यविभिन्नकिसीमकाऋणकर्जा
                        तथा बैकिङ्ग सुविधाहरु एकै पटकवापटकपटक गरी वानविकरण गर्नु परेमा सो समेत गर्न सक्ने गरि मैले÷हामीले÷ऋणीले उपभोग गर्ने सम्पूर्ण
                        ऋणकर्जा तथा बैकिङ्ग सुविधाहरुको धितोबन्धकसुरक्षणवापतअचल सम्पत्ति घरजग्गाधितोबन्धक लेखिदिनमञ्जुर छ, छैन भनीधनीवित्तीय संस्थाबाट
                        सोधनीहुँदा सो मा मेरो÷हाम्रो पूुर्ण मञ्जुरी भएको र मलाई÷हामीलाई÷ऋणीलाई उपरोक्तानूसार कुनैपनिउद्देश्यकालागि एकै पटकवापटकपटक गरी
                        भविष्यमा समेत तपांई धनीवित्तीय संस्थाले उपलव्ध गराएको थपऋणकर्जा तथा बैकिङ्ग सुविधाहरुको सुरक्षणवापत समेत कायम रहने गरी मेरो÷हाम्रोे
                        नाममाएकलौटीदर्ता श्रेष्ताकायम रहेको, यस अघिअन्यत्रकहिकतै अरु कसैलाई कुनै पनिव्यहोराले हकहस्तान्तरणवाभोगवन्धकवा दृष्टिवन्धकवाअन्यकुनै
                        पनिव्यहोराको बन्धक समेत गरी नदिएको र कुनै मुद्दामामिलानपरेको, मेरो÷हाम्रोे एकलौटीहकभोगको तपसीलमाउल्लिखितजग्गा÷घरजग्गातथा सोमा
                        हालभएको घर टहरा वाभविष्यमाकुनै निर्माणकार्यहरु भएमा सो समेत सम्पूर्ण लिगलगापात यसै लिखतबाटतपांई धनीवित्तीय संस्थाको
                        नाममाधितोबन्धक लेखिदिया÷दियौं । धितो लेखिदिएको सम्पत्तिमातिर्नु पर्ने सरकारी तिरो तथाअन्य दै दस्तुर सम्पूर्ण मैले÷हामीले तिरी बुझाई
                        तपांई धनीवित्तीय संस्थाले माग गरेको बखत सो को सक्कलै रसिदभर्पाई पेश गर्नेछु÷छौ । मैले÷हामीले÷ऋणीले धनीवित्तीय संस्थाबाटप्राप्त गरेको
                        ऋणकर्जा तथा बैकिङ्ग सुविधाहरुको तपांई धनीवित्तीय संस्थालाई तिर्नु बुझाउनु पर्ने साँवा, व्याज, थपव्याज, फि, कमिशनशुल्कआदी दै दस्तुर
                        तथा मैले÷हामीले÷ऋणीले उल्लिखितकर्जा सुविधाउपभोग गर्दा अन्यथपदायित्वहरु सृजनाभएमावाहालप्राप्त गरेको तथाभविष्यमा समेत प्राप्त गर्ने
                        ऋणकर्जा तथा बैकिङ्ग सुविधाहरुको जरियाबाटउत्पन्नहुने जुन सुकै दायित्वसमेत म÷हामी÷ऋणीर तपांई धनीवित्तीय संस्थाबीचभएको तथाभविष्यमा
                        समेत हुने ऋणकर्जा सम्वन्धिशर्त बन्देजहरु बमोजिम समय समयमातथाकिस्ताकिस्तामाऋणकर्जाको साँवा, व्याजनतिरे नबुझाएमावातिर्न बुझाउन
                        ईन्कार गरी घिङन्याई गरी बाँकी राखेमा वाकिस्ताखिलाफि गरेमा वाम्यादभित्रचुक्ताभुक्ताननगरेमा वाऋणकर्जा सम्वन्धीशर्त बन्देजहरु उलंघन गरेमा
                        म÷हामीधितोसुरक्षणकर्तालाई समेत पूर्व सूचनानदिई धितो लेखिदिएको तपसीलमाउल्लिखित सम्पत्तिहरु तपांई धनीवित्तीय संस्थाको नियमानुसार,
                        बैंक तथाबित्तीय संस्था सम्बन्धी ऐन तथाप्रचलित ऐन कानूनबमोजिमलिलामबिक्री गरी वाअन्यकानूनीप्रक्रियाअपनाई कुनै पनि समयमातपांई धनीवित्तीय
                        संस्थाले आप्mनो कव्जामालिई जे जो गर्नु पर्ने गरी आफ्नो लेना रकमअसुल उपर गरी लिनुहोला । तपांई धनीवित्तीय संस्थाले लिलामबिक्री गर्ने
                        कार्यमा म÷हामीधितोसुरक्षणकर्ता समेतले पूर्ण सहयोग गरी तपांई धनीवित्तीय संस्थाको ऋण असुलीकार्यमा सहयोग पु¥याउने छु÷छौ ।
                        कथंमकदाचितधितो लेखिदिएको सम्पत्तिकच्चानकरा ठहरी लिलामबिक्रीहुननसकेमा वालिलामबिक्रीगर्दा समेत वित्तीय संस्थाको लेना रकमअसुल उपर
                        नभई बाँकी रहनआएमा यसरी असुलनभएको वाअसुलहुनबांँकी रहनआउने सम्पूर्ण रकमकलम मेरो÷हाम्रो÷ऋणीको घर घरानाको अन्यचलअचलजायजेथा
                        समेतको श्रीसम्पत्तिबाटअसुल उपर गरी लिनुहोला । सो बमोजिम गरी लिएमापछि मैले÷हामीले नलिएनखाएको रकमकलम मैले÷हामीले तिर्नु बुझाउनु
                        पर्ने होईन भनिकहिकतै अरु कसैलाई कुनै पनिकिसिमको उजुर बाजुर गर्ने छैन÷छैनौ । गरे यसै धितोबन्धकको लिखतले बदरगरी आफ्नो जो लागेको
                        रकमकलमउठाई लिनु भनितपांई धनीवित्तीय संस्थाको कार्यालयमा बसि यो धितोवन्धकको लिखत लेखि लिखतको आद्योपान्तव्यहोरा पढीबाँचीयसको
                        मतलव र परिणाम समेत बुझि मेरो÷हाम्रो मनोमानि राजीखुशीले यो धितोबन्धकको लिखत सहीछाप गरी तपांई धनीवित्तीय संस्थालाई दिएं÷दियौ ।

                    </p>
                    <div class="col-md-12">
                        <table class="table  table-bordered">
                            <b>ऋणीको विवरणर सहीछाप ः फर्म÷कम्पनीको हकमा</b>
                            <tbody>
                            <table>
                                <tr>

                                    <th>ऋणीको नाम थर
                                        (देवनागरीमा)  ः</th>
                                    <th>नाम थर (अंग्रेजीमा) ः </th>
                                    <th>दर्ता मिति ः </th>
                                    <th>फर्म÷कम्पनीको छाप</th>
                                </tr>
                                <tr>
                                    <td>प्रा.लि.नं.÷सा.फ.नं.÷प्रा.फ.र.नं.  </td>
                                    <td>दर्ता गर्ने कार्यालय र स्थान ः </td>
                                </tr>

                                <tr>
                                    <td>स्थायी लेखादर्ता (पान) नं. ः</td>
                                    <td>दर्ता मितिः	दर्ता गर्ने कार्यालय ः </td>
                                    <td>दर्ता गर्ने कार्यालय ः </td>

                                <tr>
                                    <td>रजिष्टर्ड कार्यालयको ठेगाना ः</td>

                                </tr>
                                <tr>
                                    <td>प्रोप्राईटर÷अख्तियारप्राप्तव्यक्तिको नाम थर (देवनागरीमा) ः </td>
                                    <td>नाम थर (अंग्रेजीमा) ः </td>
                                    <td>ना.प्र.प.नं.ः<br>
                                        जारी मिति ः	<br>
                                        जारी गर्नेकार्यालय ः जि.प्र.का
                                    </td>
                                </tr>
                                <tr>
                                    <td>ठेगानाः</td>
                                    <td>दस्तखतः .....................</td>
                                </tr>
                            </table>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <table class="table  table-bordered">
                            <b>ऋणीको विवरणर सहीछाप ः ब्यक्तिको हकमा</b>
                            <tbody>
                            <tr>

                                <th>ऋणीको नाम थर (देवनागरीमा)  ः</th>
                                <th>नाम थर (अंग्रेजीमा) ः </th>
                                <th>जन्ममिति ः </th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>ठेगानाः– ............... </td>
                                <td>लिङ्ग ः– ................. </td>
                            </tr>

                            <tr>
                                <td>नागरिकता नं. र जारी मिति ........................</td>
                                <td>नागरिकता जारी गर्ने कार्यालय र स्थानः– ..................</td>
                                <td>मोबाईल नम्बर ः–	 </td>

                            <tr>
                                <td>पति÷पत्निको नाम ः– ................... </td>
                                <td>बाबुको नाम ः–<br>
                                    आमाको नाम ः– </td>
                                <td>बाजेको नाम ः–<br>
                                    बजैको नाम ः–
                                </td>
                            </tr>
                            <tr>
                                <td>दस्तखतः .....................</td>
                            <tr>
                                <th>दाँ.</th>
                                <th>बाँ.</th>
                            </tr>
                            <tr>
                                <td><textarea  style="background-color: transparent;resize:none" name="" id="" cols="30" rows="10"></textarea></td>
                                <td><textarea style="background-color: transparent;resize:none" name="" id="" cols="30" rows="10"></textarea></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <table class="table  table-bordered">
                            <b>धितोबन्धकलिखत गरिदिनेको विवरण र सहीछाप(फर्म÷कम्पनीको हकमा) ः
                                यो धितोबन्धकदिएको जग्गा समेत गर्दा नेपालभरमा मेरो र मेरो परिवारको नाममाहदबन्दीभन्दाबढिजग्गा छैन।</b>
                            <tbody>
                            <table>
                                <tr>
                                    <th>नाम ः
                                        (देवनागरीमा)  ः
                                    </th>
                                    <th>नाम थर (अंग्रेजीमा) ः </th>
                                    <th>दर्ता मिति ः </th>
                                    <th>फर्म÷कम्पनीको छाप</th>
                                </tr>
                                <tr>
                                    <td>प्रा.लि.नं.÷सा.फ.नं.÷प्रा.फ.र.नं.  </td>
                                    <td>दर्ता गर्ने कार्यालय र स्थान ः </td>
                                </tr>

                                <tr>
                                    <td>स्थायी लेखादर्ता (पान) नं. ः</td>
                                    <td>दर्ता मितिः	दर्ता गर्ने कार्यालय ः </td>
                                    <td>दर्ता गर्ने कार्यालय ः </td>

                                <tr>
                                    <td>रजिष्टर्ड कार्यालयको ठेगाना ः</td>

                                </tr>
                                <tr>
                                    <td>प्रोप्राईटर÷अख्तियारप्राप्तव्यक्तिको नाम थर (देवनागरीमा) ः </td>
                                    <td>नाम थर (अंग्रेजीमा) ः </td>
                                    <td>ना.प्र.प.नं.ः<br>
                                        जारी मिति ः	<br>
                                        जारी गर्नेकार्यालय ः जि.प्र.का
                                    </td>
                                </tr>
                                <tr>
                                    <td>ठेगानाः</td>
                                    <td>दस्तखतः .....................</td>
                                </tr>
                            </table>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <table class="table  table-bordered">
                            <b>धितोबन्धकलिखत गरिदिनेको विवरण र सहीछाप (व्यक्तिको हकमा) ः यो धितोबन्धकदिएको जग्गा समेत गर्दा
                                नेपालअधिराज्यभरमा मेरो र मेरो परिवारको नाममाहदबन्दीभन्दाबढिजग्गा छैन ।</b>
                            <tbody>
                            <tr>

                                <th>नाम थर ः</th>
                                <th>नाम थर (अंग्रेजीमा) ः </th>
                                <th>जन्ममिति ः </th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>ठेगानाः– ............... </td>
                                <td>लिङ्ग ः– ................. </td>
                            </tr>

                            <tr>
                                <td>नागरिकता नं.........................</td>
                                <td>नागरिकता जारी गर्ने कार्यालय र स्थानः– ..................<br>
                                    जि.प्र.का.</td>
                                <td>मोबाईल नम्बर ः–	<br>
                                    जग्गाधनी संकेत नंं. ः</td>

                            <tr>
                                <td>जारी मिति ः </td>
                                <td>बाबुको नाम ः–</td>
                                <td>बाजेको नाम ः–</td>
                            </tr>
                            <td>पति÷पत्निको नाम ः– ................... </td>
                            <td>आमाको नाम ः–</td>
                            <td>बजैको नाम ः–</td>
                            <tr>

                            </tr>
                            <tr>
                                <td>दस्तखतः .....................</td>
                            <tr>
                                <th>दाँ.</th>
                                <th>बाँ.</th>
                            </tr>
                            <tr>
                                <td><textarea  style="background-color: transparent;resize:none" name="" id="" cols="30" rows="10"></textarea></td>
                                <td><textarea style="background-color: transparent;resize:none" name="" id="" cols="30" rows="10"></textarea></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <table class="table  table-bordered">
                            <b>लिखत गराई लिने (धनी) को विवरण र सहिछाप ः </b>
                            <tbody>
                            <table>
                                <tr>
                                    <th>नामथरः ः<br>
                                        (............शाखा)
                                    </th>
                                    <th>नाम थर (अंग्रेजीमा)ः<br>
                                        (....BRANCH)</th>
                                    <th>दर्ता मिति ः </th>
                                    <th>वित्तीय संस्थाको छाप</th>
                                </tr>
                                <tr>
                                    <td>दर्ता नं.ः  </td>
                                    <td>दर्ता गर्ने कार्यालयःकम्पनी रजिष्ट्रारको कार्यालय	 </td>
                                </tr>

                                <tr>
                                    <td>स्थायी लेखादर्ता (पान) नं. ः</td>
                                    <td>दर्ता मितिः</td>
                                    <td>दर्ता गर्ने कार्यालयःआन्तरिक राजश्वकार्यालय,</td>

                                <tr>
                                    <td>रजिष्टर्ड कार्यालयको ठेगाना ः  का.जि.का.म.न.पा. वडा नं. २२, न्यूरोड, काठमाण्डौ ।</td>

                                </tr>
                                <tr>
                                    <td>प्रतिनिधिको नाम थर(देवनागरीमा) ः </td>
                                    <td>प्रतिनिधिकोनाम थर (अंग्रेजीमा) ः </td>
                                    <td>ना.प्र.प.नं.ः<br>
                                        जारी मिति ः	<br>
                                        जारी गर्नेकार्यालय ः जि.प्र.का
                                    </td>
                                </tr>
                                <tr>
                                    <td>ठेगानाः</td>
                                    <td>दस्तखतः .....................</td>
                                </tr>
                            </table>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <table class="table  table-bordered">
                            <b>धितोबन्धकदिएको अचल सम्पत्तिकोविवरण ः</b>
                            <tbody>
                            <tr>
                                <th>जग्गाको विवरण (स्रेस्ताबमोजिम)  प्रदेश नं. ः ......जिल्ला ः ...............</th>
                            </tr>
                            <tr>

                                <th>साविक</th>
                                <th>हाल</th>
                                <th>सिट नं. </th>
                                <th>कि.नं.
                                    (अंक र अक्षरमा)</th>
                                <th>खण्ड</th>
                                <th>क्षेत्रफल</th>
                                <th>किसिम</th>
                                <th>कैफियत</th>

                            </tr>
                            <tr>
                                <td>जिल्ला ः<br>
                                    म.न.पा.÷उ.म.न.पा ÷न.पा.÷गा.बि.स.ः<br>
                                    वडा नं. ः<br>
                                    टोलः
                                </td>
                                <td>
                                    जिल्ला ः<br>
                                    म.न.पा.÷उ.म.न.पा ÷न.पा.÷गा.बि.स.ः<br>
                                    वडा नं. ः<br>
                                    टोलः
                                </td>
                                <td></td>
                                <td>.........<br>
                                    (........)</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>उक्तकित्ता नं. .................. को घर÷जग्गातथा सो घर÷जग्गाले चर्चेको सम्पूर्ण लिगलगापात समेत ।</p>

                    <p>संलग्नप्रमाणहरु ः<br>
                        (क) चालु आ.व. ..............को मालपोत तिरेको रसिदको प्रतिलिपीथान–१<br>
                        (ख) जग्गाधनीदर्ता प्रमाणपूर्जाको प्रतिलिपीथान–१<br>
                        (ग) लिखत गरिदिनेको नागरिकताको प्रमाणपत्रको प्रतिलिपीथान–१<br>
                        (घ) करचुक्ताप्रमाणपत्रको प्रतिलिपीथान–१<br>
                        (ङ) लिखत गराई लिनेको दर्ता प्रमाणपत्रको प्रतिलिपीथान–१<br>
                        (च) लिनेको प्रतिनिधिनियुक्त गरिएको पत्र सक्कलथान–१<br>

                        ईति सम्वत् २०......... साल.......................महिना ................ गते .........................रोज शुभम्..............................................................।

                        यो लिखतमैले भने बमोजिम÷मधितोसुरक्षणकर्ता  ................... स्वयंले तयार गरेको हो भनी सही गर्नेको नामः .......................................................... हस्ताक्षर ........................ ।
                    </p>
                    <div class="col-md-12">
                        <table class="table  table-bordered">
                            <tbody>
                            <tr>
                                <td><b>लेखिएको वमोजिमश्रेस्ताकायम छ÷छैनः</b><br>
                                    कर्मचारीको दस्तखतः........................... नामः ..........................
                                    पदः ................................मितिः .............................
                                </td>
                            </tr>
                            <tr>
                                <td><b>लेखिएको किता नं. को जग्गा र घरजग्गा रोक्का छ÷छैन ः</b><br>
                                    कर्मचारीको दस्तखतः..................... नामः ............................
                                    पदः ............................... मितिः .............................
                                </td>
                            </tr>
                            <tr>
                                <td><b>लेखिएको जग्गाको न्युनतममुल्याङ्कन रु ...................................... हुने देखिन्छ ।</b><br>
                                    कर्मचारीको दस्तखतः..................... नामः ............................
                                    पदः ............................... मितिः .............................
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <table class="table  table-bordered">
                            <tbody>
                            <tr>
                                <td>
                                    रजिष्ट्रेशन नं. ..................................<br>
                                    पारित मिति ः .......................................<br>
                                    टोकन÷दर्ता नं. ः ...................................<br>
                                    मिति ः ................................................<br>
                                    कारोबार (थैली) अङ्क रु ............................<br>
                                    रजिष्ट्रेशनदरुतुर रु ................................<br>
                                    पँुजिगतलाभकर रु ................................<br>
                                    अन्य कर÷दरुतुर रु ................................<br>
                                    रसिद नं. ............................................

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <b class="text-center">नेपाल सरकार<br>
                            भूमिव्यवस्था, सहकारी तथा गरिबि निवारणमन्त्रालय<br>
                            भूमिव्यवस्थापनतथाअभिलेख विभाग।</b><br>

                        मालपोत कार्यालयः ............................................<br>

                        डोरमुकामः ......................................................

                    </div>
                    <div class="col-md-4">
                        <table class="table  table-bordered">
                            <tbody>
                            <tr>
                                <td>
                                    <b> स्वीकृत (पारित) गर्नेको</b><br>
                                    दस्तखत र मिति ः .................................................<br>

                                    नाम ः .........................................................<br>

                                    पद ः ..........................................................<br>

                                    यो लिखतको व्यहोरा लिने दिने दुवै पक्षलाई पढेर सुनाउदालिखतबमोजिम कारोबार गरेको मञ्जुर गरेकोले
                                    लिखतपारित (स्वीकृत) गर्नको लागि पेश गरेको छु ।<br>
                                    <b>फाँटवालाको</b><br>
                                    दस्तखत र मिति ः .................................................<br>

                                    नाम ः .........................................................<br>

                                    पद ः ..........................................................<br>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

