.longInput{
  width: 400px;
}

.extendedLongInput{
  width: 600px;
}

.shortInput{
  width: 50px;
}

.bodyConfig {
  font-size: 18px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 50px;
}

p{
  font-size: 17px;
  line-height: 1.9;
}

.form-field {
  background: yellow;
  margin: 0px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
  &:focus {
    outline: none;
  }
}
.signatureTable {
  margin-top: 30px;
  height: 220px;
  width: 48%;
}

input::-webkit-input-placeholder {
  font-size: 16px;
}
@media screen {
  .print-only {
    display: none;
  }

  .disable-print {
    display: inline;

  }
}

@media print {
  .print-only {
    display: inline;
  }
  div.align {
    font-size: 20px;
    line-height: 1.9;
    text-align: justify;
    text-justify: inter-word;
    margin: 10px 70px;
  }

}

