<h2 class="heading">Detailed Assessment</h2>
<ol class="above-ten-million-list">
    <li>
        <p class="text-uppercase"><strong>Request of the Customer</strong></p>
        <app-above-request-of-the-customer [customerAllLoanList]="customerAllLoanList"></app-above-request-of-the-customer>
    </li>
    <li>
        <p class="text-uppercase"><strong>Purpose of, and Justification for, the Proposal</strong></p>
        <app-proposal-justification-summary [customerAllLoanList]="customerAllLoanList"
                                            [isDetailedView]="isDetailedView"
                                            [proposalData]="proposalData"></app-proposal-justification-summary>
    </li>
    <li>
        <p class="text-uppercase"><strong>Background of the Customer</strong></p>
        <app-above-background-of-customer [companyInfo]="loanDataHolder?.companyInfo"></app-above-background-of-customer>
    </li>
    <li>
        <p class="text-uppercase"><strong>Business Related Information</strong></p>
        <app-above-business-related-information [companyInfo]="loanDataHolder?.companyInfo"></app-above-business-related-information>
    </li>
    <li>
        <p class="text-uppercase"><strong>Group Exposure with CCBL  (as of {{loanDataHolder?.loanHolder?.mgroupInfo?.groupExposureDate | date}})</strong></p>
        <app-m-group-summary [customerCategory]="customerCategory" [mGroup]="loanDataHolder?.loanHolder?.mgroupInfo">

        </app-m-group-summary>
    </li>
    <li>
        <p class="text-uppercase"><strong>Proposal View</strong></p>
        <app-proposal-view [customerAllLoanList]="customerAllLoanList"
                           [proposalData]="loanDataHolder?.proposal"
                           [loanDataHolder]="loanDataHolder"> </app-proposal-view>
    </li>
    <li>
        <p class="text-uppercase"><strong>The Bank's SOL</strong></p>
        <app-above-bank-sol [loanDataHolder]="loanDataHolder"></app-above-bank-sol>
    </li>
    <li>
        <p class="text-uppercase"><strong>Banking Arrangement</strong></p>
        <app-above-banking-arrangement-of-the-customer *ngIf="loanDataHolder?.loanHolder?.multiBanking"
                                                       [multiBanking]="loanDataHolder?.loanHolder?.multiBanking"
                                                       [proposal]="loanDataHolder?.proposal"
                                                       [cicl]="loanDataHolder?.loanHolder?.cicl"
                                                       [customerCategory]="loanDataHolder?.loanHolder?.customerCategory"></app-above-banking-arrangement-of-the-customer>
    </li>
    <li>
        <app-income-from-account-summery *ngIf="incomeFromAccountSummary" [formData]="incomeFromAccountData">
        </app-income-from-account-summery>
    </li>

    <li *ngIf="loanDataHolder?.loanHolder?.reportingInfoLevels">
        <p class="text-uppercase"><b>MIS/NRB REPORTING</b></p>
        <app-report-summary [reportingInfoLevels]="loanDataHolder?.loanHolder?.reportingInfoLevels"></app-report-summary>
    </li>
    <li *ngIf="loanDataHolder?.loanHolder?.netTradingAssets && fiscalYear?.length > 0">
        <p class="text-uppercase"><strong>Stock Statement</strong></p>
        <app-nta-summary [fiscalYears]="fiscalYear"
                         [netTradingAssetsData]="loanDataHolder?.loanHolder?.netTradingAssets"></app-nta-summary>
<!--        <app-above-stock-statement></app-above-stock-statement>-->
    </li>
    <li *ngIf="loanDataHolder?.loanHolder?.siteVisit || fixedAssetsData?.length > 0">
        <p class="text-uppercase"><strong>Inspection</strong></p>
        <app-site-visit-view [siteVisit]="loanDataHolder?.loanHolder?.siteVisit"
                             [fixedAssetsData]="fixedAssetsData"></app-site-visit-view>
    </li>
    <li *ngIf="financialCCBL?.data?.financialHighlight" class="table-responsive-md">

        <div class="col-md-12">
            <p class="text-uppercase"><strong>Financial Highlights</strong></p>
            <table  style="width: 100%"  class= "ck-table"[innerHTML]="financialCCBL?.data?.financialHighlight | safeHtml" ></table>
        </div>
<!--        <app-financal-view [formData]="loanDataHolder?.loanHolder?.financial"-->
<!--                            [customerType]="loanDataHolder?.loanHolder?.customerType"></app-financial-view>-->
    </li>
    <li *ngIf="financialCCBL?.data?.assesment">
        <div class="col-md-12">
        <p class="text-uppercase"><strong>Assessment of Facilities Requirement</strong></p>
        <table  style="width: 100%"  class= "ck-table"[innerHTML]="financialCCBL?.data?.assesment | safeHtml" ></table>
        </div>
    </li>
    <li>
        <p class="text-uppercase"><strong>Risk Analysis</strong></p>
        <app-above-risk-analysis [customerInfo]="loanDataHolder?.loanHolder"></app-above-risk-analysis>
    </li>
    <li>
        <p class="text-uppercase"><strong>SWOT Analysis</strong></p>
        <app-above-swot-analysis [customerInfo]="loanDataHolder?.loanHolder"></app-above-swot-analysis>
    </li>
    <li *ngIf="loanDataHolder?.loanHolder?.security">
        <p class="text-uppercase"><strong>Security Arrangement</strong></p>
        <app-retail-security [security]="loanDataHolder?.loanHolder?.security"
                             [loanDataHolder]="loanDataHolder"></app-retail-security>
        <div>
            <app-insurance-summary [insurance]="loanDataHolder?.insurance"></app-insurance-summary>
        </div>
        <app-guarantor-view *ngIf="loanDataHolder?.loanHolder?.guarantors?.guarantorList"
                            [guarantorData]="loanDataHolder?.loanHolder?.guarantors?.guarantorList"></app-guarantor-view>
    </li>
    <li>
        <p class="text-uppercase"><strong>Fixed Assets Collateral Computation Sheet (Facility-wise)</strong></p>
        <app-above-fixed-assets-collateral-computation-sheet></app-above-fixed-assets-collateral-computation-sheet>
    </li>
    <li>
        <p class="text-uppercase"><strong>Special Covenants/Conditions, if any</strong></p>
        <span [innerHTML]="proposalData?.specialCovenant | safeHtml"></span>
<!--        <app-above-special-covenants></app-above-special-covenants>-->
    </li>
    <li>
        <p><strong>MODE OF DISBURSEMENT/DRAWDOWN (FACILITY WISE)</strong></p>
        <app-above-mode-of-disbursement></app-above-mode-of-disbursement>
    </li>
    <li>
        <p><strong>REPAYMENT MODALITY OF CREDIT FACILITIES (FACILITY WISE)</strong></p>
        <app-above-repayment-modality-of-credit-facilities></app-above-repayment-modality-of-credit-facilities>
    </li>
    <li>
        <p><strong>WAIVERS, DEVIATIONS, DEFERRALS AND REBATES, IF ANY</strong></p>
        <span [innerHTML]="proposalData?.waiverConclusionRecommendation | safeHtml"></span>
<!--        <app-above-waiver-deviations-deferals-rebates></app-above-waiver-deviations-deferals-rebates>-->
    </li>
    <li>
        <p><strong>NRB/STATUTORY AUDITORS/INTERNAL AUDITORS REMARKS AND THEIR STATUS</strong></p>
        <!-- COMPONENT USED FOR ALL THE THREE LOANS i.e. UPTO, ABOVE AND SANA -->
        <app-nrb-statutory-remarks-status [loanDataHolder]="loanDataHolder"></app-nrb-statutory-remarks-status>
    </li>

    <li *ngIf="(loanDataHolder?.loanHolder?.data | jsonParse)?.reviewDate">
        <p><strong>REVIEW OF CREDIT FACILITIES</strong></p>
        <app-above-review-of-credit-facilities [loanDataHolder]="loanDataHolder"></app-above-review-of-credit-facilities>
    </li>
    <li>
        <p><strong>Recommendation: </strong></p>
        <app-retail-recommendation [loanDataHolder]="loanHolder"
                                   [customerAllLoanList]="customerAllLoanList"></app-retail-recommendation>
    </li>
    <li>
        <p><strong>CONCLUSIONS AND RECOMMENDATIONS</strong></p>
        <!-- COMPONENT USED FOR ALL THE THREE LOANS i.e. UPTO, ABOVE AND SANA -->
<!--        <app-conlusion-review-table [isUsedForAboveTenMillion]="isUsedForAboveTenMillion"></app-conlusion-review-table>-->
        <div class="p-2 background-info col-md-12 mb-3">
            <span [innerHTML]="proposalData?.summeryRecommendation | safeHtml"></span>
        </div>
        <app-signature-section [loanDataHolder]="loanDataHolder"
                               [isUsedForAboveTenMillion]="isUsedForAboveTenMillion"></app-signature-section>
    </li>

</ol>
