.heading {
  font-size: 16.5px;
  text-transform: uppercase;
  font-weight: bold;
}

.sub-heading {
  strong {
    font-size: 13px;
  }
}

.above-ten-million-list {
  li {
    margin-top: 1rem;
  }
}
