.heading {
  font-size: 16.5px;
  text-transform: uppercase;
  font-weight: bold;
}

.sub-heading {
  strong {
    font-size: 13px;
  }
}

.above-ten-million-list {
  li {
    margin-top: 1rem;
  }
}
.background-info {
  border: 1px solid black;
  height: 190px;
}
.ck-table {
    display: block !important;
    overflow-x: auto !important;
    table-layout: inherit !important;
    width: 100% !important;
    font-size: 60%;
    font-weight: 500;

}

ol {
  counter-reset: item;
}

ol > li {
  counter-increment: item;
}

ol ol > li {
  display: block;
}

ol  ol > li:before {
  content: counters(item, ".") ".   ";
  margin-left: -20px;
}

