<div class="container nep text-justify" id="">
    <form [formGroup]="form" class="nep" id="loandeedCompany">
        <div class="container nep text-justify">
            <div class="row">
                <div class="col-md-12 viewFull" style="overflow-y: auto; height:100vh;">
                    <div class="nep">
                        <div><br>
                            <p class="text-center" style="font-size:16pt;"><b> विषयः ऋण तमसुक </b></p><br>

                            <p>लिखितम् धनीका नाम काठमाण्डौ जिल्ला काठमाण्डौ महानगरपालिका कमलादि स्थित नविल हाउसमा मुख्य
                                कार्यालय रहि
                                ऐ.<input class="form-field form-control-sm nepaliFont"
                                         name="nameofBranchlocated"
                                         formControlName="nameofBranchlocated"
                                         placeholder="नामको शाखा स्थान"
                                         type="text"/> शाखा कार्यालय रहेको नबिल बैंक लिमिटेड (जसलाई यस उप्रान्त धनी
                                बैंकÞ भनिएको छ)
                                लिखत गरी दिने ऋणीका नाम कम्पनी ऐन <input class="form-field form-control-sm nepaliFont"
                                                                         name="actyearinFigure"
                                                                         formControlName="actyearinFigure"
                                                                         placeholder="कार्य वर्ष"
                                                                         type="text"/>
                                बमोजिम नेपाल सरकार <input class="form-field form-control-sm nepaliFont"
                                                          name="nameofDepartment"
                                                          formControlName="nameofDepartment"
                                                          placeholder="विभाग को नाम"
                                                          type="text"/>
                                मिति <input class="form-field form-control-sm nepaliFont"
                                            name="dateofRegistration"
                                            formControlName="dateofRegistration"
                                            placeholder="वदर्ताको मिति"
                                            type="text"/>मा दर्ता भै
                                द.नं.<input class="form-field form-control-sm nepaliFont"
                                            name="registrationNo"
                                            formControlName="registrationNo"
                                            placeholder="वदर्ता स्ख्या"
                                            type="text"/> कायम
                                भएको श्री <input class="form-field form-control-sm nepaliFont"
                                                 name="nameofCompany "
                                                 formControlName="nameofCompany"
                                                 placeholder="कम्पनीको नाम"
                                                 type="text"/> प्रा.लि. (जसलाई यस उप्रान्त ऋणी कम्पनी भनिएको छ)
                                का तर्फवाट ऐ.का अख्तियारप्राप्त <input class="form-field form-control-sm nepaliFont"
                                                                       name="nameofauthorizePerson "
                                                                       formControlName="nameofauthorizePerson"
                                                                       placeholder="अधिकृत व्यक्तिको नाम"
                                                                       type="text"/> आगे हामी ऋणी कम्पनीको व्यापार
                                व्यवसाय संचालन गर्न यस अघि देखि नैं तपाई धनी बैंकबाट ऋणकर्जा सुविधाहरु प्राप्त
                                गरी उपभोग समेत गरि राखेको ठिक सांचो हो ।हाल हामी ऋणी कम्पनीलाई उक्त ऋणकर्जा तथा बैंकिह्
                                सुविधा नविकरण एवम
                                थप तथा अतिरिक्त ऋणकर्जा सुविधा आवश्यक भई सोको लागि तपाई धनी बैंकसंग अनुरोध गरेकोमा तपाईं
                                धनी
                                बैंकले हामी ऋणी कम्पनीको नाममा जारी गरेकोे मिति <input
                                        class="form-field form-control-sm nepaliFont"
                                        name="sanctionletterIssueddate"
                                        formControlName="sanctionletterIssueddate"
                                        placeholder="स्वीकृति पत्र जारी मिति"
                                        type="text"/> को ऋण स्विकृति
                                पत्रानुसार स्वीकृत देहाय बमोजिमका ऋणकर्जा तथा बैंकिग सुविधाहरु सोही ऋण स्वीकृति पत्रमा
                                उल्लेखित तरिका बमोजिम
                                प्राप्त गर्ने गरी यो ऋणकर्जाको तमसुक गरिदिएको ठीक सांचो हो । तपाई धनी बैंकबाट प्राप्त
                                ऋणकर्जा तथा बैंकिग सुविधाहरुमा
                                लाग्ने ब्याज, कमिशन, शुल्क आदि स्वीकृत ऋणकर्जा तथा बैंकिग सुविधाहरु तल खण्ड खण्डमा
                                उल्लेख भएको दर अनुसार
                                तिरी बुझाई सोही खण्डमा लेखिएको मिति भित्रमा वा स्वीकृत ऋणकर्जा तथा बैंकिग सुविधा नवीकरण
                                भएमा नवीकरण भएको
                                बखत तपाई धनी बैंकले ऋणीका नाममा जारी गर्ने ऋण स्वीकृति पत्रमा तोकिएको मिति भित्रमा तपांई
                                धनी बैंकलाई
                                तिर्नु बुमउनु पर्ने ऋणकर्जाको सम्पूर्ण सांवा ब्याज चुक्ता भुक्तान गर्नेछौं ।
                                स्वीकृत ऋणकर्जा तथा भविष्यमा थप प्राप्त गरेमा सो समेतको सुरक्षण वापत हामी ऋणी कम्पनीको
                                नीजि श्रोत साधनबाट तथा तपाई धनी बैंकबाट प्राप्त गरेको ऋणकर्जा समेतबाट हाल खरिदरआयात
                                गरेको, श्रृृजना गरेको तथा यस उप्रान्त खरिद र आयात गर्ने श्रृजना गर्ने लगायतका सम्पूर्ण
                                चल अचल जायजेथा तथा हामी ऋणी कम्पनीले भुक्तानी प्राप्त गर्न बांकि रकमहरु (Account
                                Receivables समेत यसै लिखतबाट तपाई धनी बैंकको नाममा धितोवन्धक लेखिदिएकाछौं । प्राप्त
                                ऋणकर्जाको तपाई धनी बैंकलाई तिर्र्नु बुझाउनु पर्ने सांवा व्याज आदी यसै लिखत तथा उल्लेखित
                                ऋण स्वीकृति पत्रानुसार तोकिएको शर्त बमोजिम नतिरे नवुझाएमा वा तिर्न बुझाउन आलटाल गरी
                                बांकी राखेमा वा किस्ता खिलाफी गरेमा वा ऋण स्वीकृति पत्र तथा यसै लिखतको कुनै शर्त
                                बन्देजहरु उल्लंघन गरेमा समेत हामी ऋणी कम्पनीको नाउंमा तपाईं धनी बैंकमा खोलेको निक्षेप
                                खातामा रहेको रकमबाट कटृा गरी तथा उपरोक्त बमोजिम धितो लेखिदिएको चल अचल श्रीसम्पत्ति बैंक
                                तथा वित्तीय संस्था सम्बन्धि ऐन २०७३ बमोजिम कव्जा गरी लिलाम विक्री गरी र वा अन्य व्यवस्था
                                गरी तपाई धनी बैंकको सम्पूर्ण लेना रकम असुल उपर गरी लिनु होला ।
                                कथम्कदाचित धितो लेखिदिएको श्रीसम्पत्ति कच्चा नकरा ठहरी लिलाम विक्री हुन नसकेमा वा लिलाम विक्री गर्दा समेत तपाई धनी
                                बैंकको लेना रकम असुल उपर नभई बांकि रहेमा सो समेत हामी ऋणी कम्पनीको घरघराना लगायतका अन्य श्रीसम्पत्तिबाट असुल उपर गरी लिनुहोला ।
                                सो बमोजिम गरी लिएमा पछि कुनै किसिमको उजुर बाजुर गर्ने छैनौ, गरे यसै लिखतले बदर गराई लिनु भनि किनाराका साक्षीहरुको रोहबरमा तपाई
                                धनी बैंकको कार्यालयमा बसी यो लिखतमा ऐ.का अख्तियारप्राप्त<input
                                        class="form-field form-control-sm nepaliFont"
                                        name="nameofAuthorizePerson"
                                        formControlName="nameofAuthorizePerson"
                                        placeholder="अधिकृत व्यक्तिको नाम"
                                        type="text"/> ले हस्ताक्षर
                                गरी यो लिखतमा कम्पनीको छाप लगाई तपाईं धनी बैंकलाई दियौं र यसको दोहरी समेत बुझिलियौं ।

                            <p class="text-center"><b> पस्विकृत ऋणकर्जाको विवरणो </b><br>
                            <table border="1" width="100%">
                                <thead>
                                <tr>
                                    <th>ऋणकर्जा वा बैंकिङ्ग सुविधा</th>
                                    <th>रकम</th>
                                    <th>ब्याज र कमिसन</th>
                                    <th>अन्तिम चुक्ताभुक्तान गर्ने वा बहाल मिति </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input class="form-field form-control-sm nepaliFont disable-print col-6"
                                               name="facilityName"
                                               formControlName="facilityName"
                                               placeholder=""
                                               type="text"/>
                                    </td>
                                    <td>
                                        <input class="form-field form-control-sm nepaliFont disable-print col-6"
                                               name="loanAmount"
                                               formControlName="loanAmount"
                                               placeholder=""
                                               type="text"/>
                                    </td>
                                    <td>
                                        <input class="form-field form-control-sm nepaliFont disable-print col-6"
                                               name="interest"
                                               formControlName="interest"
                                               placeholder=""
                                               type="text"/>
                                    </td>
                                    <td>
                                        <input class="form-field form-control-sm nepaliFont disable-print col-6"
                                               name="expiryDate"
                                               formControlName="expiryDate"
                                               placeholder=""
                                               type="text"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table><br>
                            <P>कुल ऋणकर्जा तथा बैंकिङ्ग सुविधा रु.<input class="form-field form-control-sm outside disable-print col-2"
                                                                         (input)="getNumAmountWord('loanamountinFigure', 'loanamountinWords')"
                                                                         name="loanamountinFigure"
                                                                         formControlName="loanamountinFigure"
                                                                         placeholder="ऋण रकम"
                                                                         type="text"/>। <br>
                                (अक्षरेपी <input class="form-field form-control-sm outside disable-print col-2"
                                                   name="loanamountinWords"
                                                   formControlName="loanamountinWords"
                                                   placeholder="रकम"
                                                   type="text"/>)</P>
                            <p class="text-center"><b> तपसिल  </b><br>
                            <p>उपरोक्त ऋणकर्जा तथा बैंकिग सुविधाको सुरक्षण वापत देहाय बमोजिमको घरजग्गा तपाई धनी बैंकको नाममा
                                धितोबन्धक लेखिदिई सम्बन्धित मालपोत कार्यालयमा रजिष्ट्रेशन समेत पारित गरिदिएको छु ।</p>
                            <table border="1" width="100%">
                                <thead>
                                <tr>
                                    <th>घरजग्गा धनीा</th>
                                    <th>जिल्ला</th>
                                    <th>नगर</th>
                                    <th>वडा नं.</th>
                                    <th>कित्ता नं.</th>
                                    <th>क्षेत्रफल </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input class="form-field form-control-sm nepaliFont disable-print col-6"
                                               name="propertyOwnerName"
                                               formControlName="propertyOwnerName"
                                               placeholder=""
                                               type="text"/>
                                    </td>
                                    <td>
                                        <input class="form-field form-control-sm nepaliFont disable-print col-6"
                                               name="district"
                                               formControlName="district"
                                               placeholder=""
                                               type="text"/>
                                    </td>
                                    <td>
                                        <input class="form-field form-control-sm nepaliFont disable-print col-6"
                                               name="vdc"
                                               formControlName="vdc"
                                               placeholder=""
                                               type="text"/>
                                    </td>
                                    <td>
                                        <input class="form-field form-control-sm nepaliFont disable-print col-9"
                                               name="wardNo"
                                               formControlName="wardNo"
                                               placeholder=""
                                               type="text"/>
                                    </td>
                                    <td>
                                        <input class="form-field form-control-sm nepaliFont disable-print col-6"
                                               name="plotNo"
                                               formControlName="plotNo"
                                               placeholder=""
                                               type="text"/>
                                    </td>
                                    <td>
                                        <input class="form-field form-control-sm nepaliFont disable-print col-6"
                                               name="area"
                                               formControlName="area"
                                               placeholder=""
                                               type="text"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <label> </label>
                            <textarea id="freetext" name="freetext"
                                      rows="5" cols="33">
                                    For Example Vechicle detail/Excess Amount Clause
                            </textarea><br>

                            <p class="text-center"><b> ईति सम्वत्
                                <input class="form-field form-control-sm outside disable-print col-2"
                                                                          name="yearinFigure "
                                                                          formControlName="yearinFigure"
                                                                          placeholder=""
                                                                          type="text"/>
                                साल <input class="form-field form-control-sm outside disable-print col-2"
                                           name="month "
                                           formControlName="month"
                                           placeholder=""
                                           type="text"/><br>
                                महिना <input class="form-field form-control-sm outside disable-print col-2"
                                             name="date"
                                             formControlName="date"
                                             placeholder=""
                                             type="text"/><br>
                                गते रोज <input class="form-field form-control-sm outside disable-print col-2"
                                                                              name="days"
                                                                              formControlName="days"
                                                                              placeholder=""
                                                                              type="text"/> शुभम् </b></p>


                        </div>
                        <br/>
                        <div class="col-md-12 text-right">
                            <button nbButton status="info" class="mb-4 float-right" [disabled]="!initialInfoPrint"
                                    [useExistingCss]="true"
                                    ngxPrint printSectionId="{{offerLetterConst.LOAN_DEED_COMPANY}}Print">
                                Print
                            </button>
                            <button nbButton status="success" (click)="submit()">Save</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<app-loan-deed-company-print *ngIf="initialInfoPrint" [letterData]="initialInfoPrint"
                                      hidden></app-loan-deed-company-print>


