<nb-card accent="primary" class="p-3 shadow-lg" style="height:99%; width: 100vw;">
    <nb-card-header>
        <a (click)="onClose()" aria-label="Close" class="close cursor"
           data-dismiss="modal">
            <span aria-hidden="true">×</span></a>
    </nb-card-header>
    <nb-card-body>
        <div *ngIf="client === clientList.LAXMIBANK">
            <div [ngSwitch]="documentId">
                <app-loan-deed-institutional *ngSwitchCase="cadTemplate.LOAN_DEED_COMPANY" [cadData]="cadData"
                                             [documentId]="documentId"
                                             [customerLoanId]="customerLoanId"></app-loan-deed-institutional>
                <app-personal-guarantee-institutional *ngSwitchCase="cadTemplate.PERSONAL_GUARANTEE_COMPANY"
                                                      [cadData]="cadData" [documentId]="documentId"
                                                      [customerLoanId]="customerLoanId"></app-personal-guarantee-institutional>

                <app-corporate-gurantee *ngSwitchCase="cadTemplate.CORPORATE_GUARANTEE"
                                        [cadData]="cadData" [documentId]="documentId"
                                        [customerLoanId]="customerLoanId"></app-corporate-gurantee>

                <app-personal-guarantee-individual
                        *ngSwitchCase="cadTemplate.PERSONAL_GUARANTEE_PERSON_TO_PERSON" [cadData]="cadData"
                        [documentId]="documentId"
                        [customerLoanId]="customerLoanId"></app-personal-guarantee-individual>
                <app-hypothecation-over-stock-and-receivable-current-assets
                        *ngSwitchCase="cadTemplate.HYPOTHECATION_OVER_STOCK_AND_RECEIVABLE"
                        [cadData]="cadData"
                        [documentId]="documentId"
                        [customerLoanId]="customerLoanId"
                ></app-hypothecation-over-stock-and-receivable-current-assets>
                <app-consent-of-hakwala
                        *ngSwitchCase="cadTemplate.CONSENT_OF_HAKWALA"
                        [cadData]="cadData"
                        [documentId]="documentId"
                        [customerLoanId]="customerLoanId"
                ></app-consent-of-hakwala>
                <app-loan-deed-individual *ngSwitchCase="cadTemplate.LOAN_DEED_SINGLE"
                                          [cadData]="cadData"
                                          [documentId]="documentId"
                                          [customerLoanId]="customerLoanId">
                </app-loan-deed-individual>
                <app-nrb-kyc *ngSwitchCase="cadTemplate.NRB_KYC"
                             [cadData]="cadData"
                             [documentId]="documentId"
                             [customerLoanId]="customerLoanId"></app-nrb-kyc>
                <app-promisory-note-individual
                        *ngSwitchCase="cadTemplate.PROMISSORY_NOTE_SINGLE_BORROWER" [cadData]="cadData"
                        [documentId]="documentId" [customerLoanId]="customerLoanId">
                </app-promisory-note-individual>
                <app-promisory-note-institutional
                        *ngSwitchCase="cadTemplate.PROMISSORY_NOTE"
                        [cadData]="cadData" [documentId]="documentId"
                        [customerLoanId]="customerLoanId"
                ></app-promisory-note-institutional>
                <app-self-declaration *ngSwitchCase="cadTemplate.SELF_DECLARATION"
                                      [cadData]="cadData" [documentId]="documentId"
                                      [customerLoanId]="customerLoanId"></app-self-declaration>
                <app-mortgage-deed-laxmi *ngSwitchCase="cadTemplate.MORTGAGE_DEED"
                                         [cadData]="cadData"
                                         [documentId]="documentId"
                                         [customerLoanId]="customerLoanId"></app-mortgage-deed-laxmi>
                <app-hypothecation-charge-over-fixed-assets
                        *ngSwitchCase="cadTemplate.HYPOTHECATION_CHARGE_OVER_FIXED_ASSETS"
                        [cadData]="cadData"
                        [documentId]="documentId"
                        [customerLoanId]="customerLoanId"></app-hypothecation-charge-over-fixed-assets>
                <app-consent-of-sellers-hakwala
                        *ngSwitchCase="cadTemplate.CONSENT_OF_SELLERS_HAKWALA"
                        [cadData]="cadData"
                        [documentId]="documentId"
                        [customerLoanId]="customerLoanId"></app-consent-of-sellers-hakwala>
                <app-guarantor-acknowledgement
                        *ngSwitchCase="cadTemplate.GUARANTOR_ACKNOWLEDGEMENT"
                        [cadData]="cadData"
                        [documentId]="documentId"
                        [customerLoanId]="customerLoanId"></app-guarantor-acknowledgement>
                <app-consent-for-lein
                        *ngSwitchCase="cadTemplate.CONSENT_FOR_LEIN"
                        [cadData]="cadData"
                        [documentId]="documentId"
                        [customerLoanId]="customerLoanId"></app-consent-for-lein>
                <app-statement-of-position
                        *ngSwitchCase="cadTemplate.STATEMENT_OF_POSITION"
                        [cadData]="cadData"
                        [documentId]="documentId"
                        [customerLoanId]="customerLoanId"></app-statement-of-position>
                <app-anusuchi
                        *ngSwitchCase="cadTemplate.ANUSUCHI"
                        [cadData]="cadData"
                        [documentId]="documentId"
                        [customerLoanId]="customerLoanId"></app-anusuchi>
                <app-remit-loan-self-declaration
                        *ngSwitchCase="cadTemplate.REMIT_LOAN_SELF_DECLARATION"
                        [cadData]="cadData"
                        [documentId]="documentId"
                        [customerLoanId]="customerLoanId"></app-remit-loan-self-declaration>
                <p *ngSwitchDefault>No Template is available for this Document!!! </p>
            </div>
        </div>
        <nb-card-footer>
            <div>

            </div>
        </nb-card-footer>
    </nb-card-body>
</nb-card>



