//@import '../../progressive-legal-docs.component';

.viewFull {
  max-height: 85vh;
  text-align: justify;
}
p{
  line-height: 1.9em;
}

.unicode-size {
  font-size: 16px;
}

.unicode-size24{
  font-size: 24px;
}

.nepali {
  font-size: 16px;
  line-height: 1.5;
  //margin: 10px 50px;
  @extend .text-justify !optional;
}

.margin{
  margin-top: 0.5in;
  margin-left: 0.35in;
}
