@import "src/app/feature/credit-administration/cad-document-template/progressive/progressive-offer-letter/progressive-offer-letter.component";
.fingerXap {
  width: 500px;
  margin: auto;
  text-align: center;
}
.fingerXap .signature-area{
width:100%;
border-style: none
}