<div class="container text-justify">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <h6 class="text-center">भूक्तानी–पत्र<br>
                    (Letter of Disbursement)</h6>
                <p class="text-right"> मिति:
                    <input class="form-field form-control-sm nepaliFont "
                           formControlName=""
                           placeholder=""
                           type="text"/>
                </p>
                <b> प्रोग्रेशिभफाईनान्स लिमिटेड,</b>
                <br>
                <b>बनेपा शाखा ।</b>
                <br>
                <div class="row col-md-12">
                   <p><b>विषय :- रु. <input class="form-field form-control-sm nepaliFont "
                           formControlName=""
                           placeholder=""
                           type="text"/>/–(अक्षरुपीदशलाखमात्र ।)– को ऋण रकमभूक्तानी गरी पाउं ।</b>
                   </p>
                    <br>
                    <br>
                    <p>
                        महोदय,<br>
                        उपरोक्तसम्बन्धमा मेरो÷हाम्रो नाममा त्यस वित्तीय संस्थाबाछ स्वीकृत भएको
                        कर्जा त्यस वित्तीय संस्थामा मेरो/हाम्रो गोपालअधिकारी कोनाममा रहेको चल्ति/बचतखाता नं.
                        <input class="form-field form-control-sm nepaliFont "
                               formControlName=""
                               placeholder=""
                               type="text"/>
                        मा रकमान्तर
                        गरि दिन यो भुक्तानीपत्रमासहिछाप गरि दिएका छु/छौं ।
                    </p>

                </div>
                <br>
               <p class="text-center"><b>भवदीय,</b></p>
                <div id="Sincerely" class="row col-md-12">

                    <br>
                    <p>
                        दस्तखत :- <input class="form-field form-control-sm nepaliFont "
                           formControlName=""
                           placeholder=""
                           type="text"/>
                        <br>
                        <br>
                        दस्तखत गर्नेको नाम :-<input class="form-field form-control-sm nepaliFont "
                           formControlName=""
                           placeholder=""
                           type="text"/>
                        <br>
                        स्थायीठेगाना :-<input class="form-field form-control-sm nepaliFont "
                           formControlName=""
                           placeholder=""
                           type="text"/>
                        <br>
                        हालको ठेगाना :-<input class="form-field form-control-sm nepaliFont "
                           formControlName=""
                           placeholder=""
                           type="text"/>
                        <br>
                        <br>

                        वावु÷आमाको नाम :-<input class="form-field form-control-sm nepaliFont "
                           formControlName=""
                           placeholder=""
                           type="text"/>
                        <br>
                        वाजे÷बजैको नाम :-<input class="form-field form-control-sm nepaliFont "
                           formControlName=""
                           placeholder=""
                           type="text"/>
                        <br>
                        पति÷पत्निको नाम :-<input class="form-field form-control-sm nepaliFont "
                           formControlName=""
                           placeholder=""
                           type="text"/>


                    </p>
                </div>
                <br>
                <div class="row" id="signature">
                    औठा छाप:
                    <table id="fingerXap" class="table  table-bordered">
                        <thead>
                        <tr>
                            <th>दाँ.</th>
                            <th>बाँ.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><textarea  style="background-color: transparent;resize:none" name="" id="" cols="30" rows="10"></textarea></td>
                            <td><textarea style="background-color: transparent;resize:none" name="" id="" cols="30" rows="10"></textarea></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <b class="text-left">साक्षी :</b>
                <br>
                <div class="row col-md-12" id="guaranter">

                    <div id="guaranter1">
                        <p>दस्तखत :<input class="form-field nepaliFont form-control-sm" type="text" formControlName=""></p>

                        <p>१.नाम<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">

                            ठेगानाः <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                           </p>
                    </div>
                    <div id="guaranter2"> <p>दस्तखत :<input class="form-field nepaliFont form-control-sm" type="text" formControlName=""></p>

                        <p>२.नाम<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">

                            ठेगानाः<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                           </p></div>
                </div>
                <div class="row col-md-12">
                    <b>सनाखत साक्षी</b>
                    <br>

                    <p>ऋणीले मेरो सामुन्नेमा सहीछाप गरेको ठीक साँचो हो भनी सहीछाप गर्ने
                        धनीवित्तीय संस्थामाकार्यरत कर्मचारी<input class="form-field form-control-sm nepaliFont "
                           formControlName=""
                           placeholder=""
                           type="text"/> <br>
                        <br>
                        ईतिसम्बत <input class="form-field form-control-sm nepaliFont "
                           formControlName=""
                           placeholder=""
                           type="text"/>
                        साल <input class="form-field form-control-sm nepaliFont "
                           formControlName=""
                           placeholder=""
                           type="text"/>
                        महिना <input class="form-field form-control-sm nepaliFont "
                           formControlName=""
                           placeholder=""
                           type="text"/>
                        गते  <input class="form-field form-control-sm nepaliFont "
                           formControlName=""
                           placeholder=""
                           type="text"/>
                        रोज शुभम्  <input class="form-field form-control-sm nepaliFont "
                           formControlName=""
                           placeholder=""
                           type="text"/> ।</p>


                </div>
            </form>
        </div>
    </div>
</div>

