.nep {
  font-size: 20px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 70px;
}


//span{
//  margin: 0px 10px;
//  font-size: 28px;
//  text-decoration: underline;
//}

li {
  list-style-type: none;
}
.logo-container {
  display: flex;
  width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  margin: 10px 70px;
}
footer {
  font-size: 9px;
  color: red;
  text-align: center;
  margin-top: 20px;
}

@page {
  size: A4;
  margin: 17mm 17mm 17mm 17mm;
}


@media print {
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
  }

}
