<div class="row">
    <div class="col-md-12 mt-3"><strong>Basic Information</strong></div>
    <div class="col-md-12">
        <table class="table table-condensed table-bordered table-sm table-responsive-md text-center sb-small">
            <thead class="text-white sb-bg-dark">
                <th>Applicant Name</th>
                <th>Applicant Address</th>
                <th>Customer’s category</th>
                <th>Distance form Branch Office</th>
                <th>Basel -2 Risk Classification (in %)</th>
                <th>Base of Risk Classification: RRP</th>
                <th>Sector</th>
                <th>Sub-Sector</th>
            </thead>
            <tbody class="text-center">
                <td>{{customerInfo?.customerName || 'NA'}} </td>
                <td>{{individualJsonData?.permanentAddressLine1 || 'NA'}}</td>
                <td>{{individualJsonData?.microCustomerDetail['customerCategory'] || 'NA'}}</td>
                <td>{{individualJsonData?.microCustomerDetail['bankDistance'] || 'NA'}}</td>
                <td>{{individualJsonData?.microCustomerDetail['riskClassificationPercent'] || 'NA'}}</td>
                <td>{{individualJsonData?.microCustomerDetail['riskClassificationBase'] || 'NA'}}</td>
                <td>{{loanDataHolder?.loanHolder['clientType'] || 'NA'}}</td>
                <td>{{loanDataHolder?.loanHolder['subsectorDetail'] || 'NA'}}</td>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><strong>Details of Borrower</strong></p>
    </div>
    <div class="col-md-12">
        <div>
            <table
                    class="table table-condensed table-bordered table-sm table-responsive-md text-center sb-small">
                <thead>
                <tr class="text-white sb-bg-dark">
                    <th>Name</th>
                    <th>Date Of Birth</th>
                    <th>Citizenship Number</th>
                    <th>Mobile Number</th>
                    <th>LandLine Number</th>
                    <th>Occupation</th>
                    <th>Income Source</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center">
                    <td class="pl-1">{{loanDataHolder?.customerInfo?.customerName || 'NA'}}</td>
                    <td class="pl-1">{{(loanDataHolder?.customerInfo?.dob | date) || 'NA'}}</td>
                    <td class="text-right pr-1">{{loanDataHolder?.customerInfo?.citizenshipNumber || 'NA'}}</td>
                    <td class="text-right pr-1">{{loanDataHolder?.customerInfo?.contactNumber || 'NA'}}</td>
                    <td class="text-right pr-1">{{loanDataHolder?.customerInfo?.landLineNumber || 'NA'}}</td>
                    <td class="pl-1">{{(loanDataHolder?.customerInfo?.occupation | jsonParse)?.multipleOccupation || 'NA'}}</td>
                    <td class="pl-1">{{(loanDataHolder?.customerInfo?.incomeSource | jsonParse)?.multipleIncome || 'NA'}}</td>
                </tr>

                </tbody>
            </table>
        </div>

        <div>
            <p><strong>Family Details</strong></p>
            <table
                    class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
                <thead>
                <tr class="text-white sb-bg-dark">
                    <th>Name</th>
                    <th>Relation Name</th>
                    <th>Citizenship no.</th>
                    <th>Citizenship Issued Date</th>

                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let relative of loanDataHolder?.customerInfo?.customerRelatives">
                    <td class="text-center">
                        {{relative.customerRelativeName || 'NA'}}
                    </td>

                    <td class="text-center">
                        {{relative.customerRelation || 'NA'}}
                    </td>
                    <td class="text-center">
                        {{relative.citizenshipNumber || 'NA'}}
                    </td>
                    <td class="text-center">
                        {{(relative.citizenshipIssuedDate | date) || 'NA'}}
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div *ngIf="individualJsonData?.microCustomerDetail['isBlBAgent'] === 'yes'" class="col-md-12">
        <div>
            <p><strong>BLB Agent</strong></p>
        </div>
        <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
            <thead>
            <tr class="text-white sb-bg-dark">
                <th>S.N</th>
                <th>Name of BLB agent</th>
                <th>BC Code</th>
            </tr>
            </thead>
            <tbody>
            <td>1 </td>
            <td>{{individualJsonData?.microCustomerDetail['blbAgentName']}}</td>
            <td>{{individualJsonData?.microCustomerDetail['blbAgentCode']}}</td>
            </tbody>
        </table>
    </div>

    <div *ngIf="individualJsonData?.microCustomerDetail['isDeprive'] === 'yes'" class="col-md-12">
        <div>
            <p><strong> Categorization of customer as per NRB Directive 17.  </strong> </p>
        </div>
        <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
            <thead>
            <tr class="sb-bg-dark text-white">
                <th>Deprive Sector</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{individualJsonData?.microCustomerDetail['depriveSector']}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
            <thead class="sb-bg-dark text-white">
            <th>Background of Customer / Business</th>
            </thead>
            <tbody>
            <td>{{customerInfo?.introduction}}</td>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
            <thead class="sb-bg-dark text-white">
            <th>Purpose of Loan</th>
            </thead>
            <tbody>
            <td>{{otherInformationAndConfirmation?.purposeOfLoan}}</td>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <div>
            <p><strong>Other Information and Confirmation</strong></p>
        </div>
            <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
                <thead class="sb-bg-dark text-white">
                <th>S.N</th>
                <th>Information</th>
                <th>YES / NO</th>
                <th>Remarks</th>
                </thead>
                <tbody>
                <tr>
                    <td>1.</td>
                    <td>Is the loan processing fee as per our standard charges?</td>
                    <td>{{otherInformationAndConfirmation?.loanProcessingFee}}</td>
                    <td>{{otherInformationAndConfirmation?.loanProcessingRemarks}}</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Is the customer eligible for loan from Mega Bank as per prevailing law & NRB guidelines?</td>
                    <td>{{otherInformationAndConfirmation?.customerEligibile}}</td>
                    <td>{{otherInformationAndConfirmation?.customerEligibileRemarks}}</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Has the customer taken consent from its family members for the proposal?</td>
                    <td>{{otherInformationAndConfirmation?.customerTakenConsent}}</td>
                    <td>{{otherInformationAndConfirmation?.customerTakenConsentRemarks}}</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Did you visit the business site? Can it be regularly monitored by the branch office?</td>
                    <td>{{otherInformationAndConfirmation?.businessSite}}</td>
                    <td>{{otherInformationAndConfirmation?.businessSiteRemarks}}</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Has the customer understand all the terms & conditions as per our PPG?</td>
                    <td>{{otherInformationAndConfirmation?.customerUnderstand}}</td>
                    <td>{{otherInformationAndConfirmation?.customerUnderstandRemarks}}</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Did the applicant submit all the required documents as per PPG and verified with true copy?</td>
                    <td>{{otherInformationAndConfirmation?.applicantSubmit}}</td>
                    <td>{{otherInformationAndConfirmation?.applicantSubmitRemarks}}</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Has the customer is experience in the same field more than 1 year</td>
                    <td>{{otherInformationAndConfirmation?.customerExperience}}</td>
                    <td>{{otherInformationAndConfirmation?.customerExperienceRemarks}}</td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>Please check whether followings are in defaulters' black list as published by CIB</td>
                    <td>{{otherInformationAndConfirmation?.checkWhether}}</td>
                    <td>{{otherInformationAndConfirmation?.checkWhetherRemarks}}</td>
                </tr>
                <tr>
                    <td>a.</td>
                    <td>Applicant</td>
                    <td>{{otherInformationAndConfirmation?.applicant}}</td>
                    <td>{{otherInformationAndConfirmation?.applicantRemarks}}</td>
                </tr>
                <tr>
                    <td>b.</td>
                    <td>Undivided family members of applicants</td>
                    <td>{{otherInformationAndConfirmation?.undividedFamily}}</td>
                    <td>{{otherInformationAndConfirmation?.undividedFamilyRemarks}}</td>
                </tr>
                <tr>
                    <td>c.</td>
                    <td>PG providers of applicant</td>
                    <td>{{otherInformationAndConfirmation?.providersApplicant}}</td>
                    <td>{{otherInformationAndConfirmation?.providersApplicantRemarks}}</td>
                </tr>
                </tbody>
            </table>
    </div>
    <div class="col-md-12">
        <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
            <thead class="sb-bg-dark text-white">
                <th>Deviation</th>
            </thead>
            <tbody>
            <td><span [innerHTML]="otherInformationAndConfirmation?.waiverConclusionRecommendation | safeHtml"></span></td>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
            <thead>
            <th class="sb-bg-dark text-white">Overall Justification / Recommendation</th>
            </thead>
            <tbody>
            <td><span [innerHTML]="otherInformationAndConfirmation?.summeryRecommendation | safeHtml"></span></td>
            </tbody>
        </table>
    </div>

    <div *ngIf="loanDataHolder?.customerInfo?.withinLimitRemarks">
        <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
            <tr class="sb-bg-dark text-white">
                <th>Within Limit Remarks (if any)</th>
            </tr>
            <tr>
                <td class="text-left pl-1"> {{loanDataHolder?.customerInfo?.withinLimitRemarks}}</td>
            </tr>
        </table>
    </div>

</div>
