<div class="row">
    <div class="col-md-12">
    <nb-card-header><p *ngIf="!fromProfile" class="float-left"><b>Net Trading Assets</b></p>
        <form [formGroup]="parentForm">
            <div>
                <div>
                    <nb-checkbox #ntaChk (checkedChange)="ntaCheckBox(ntaChk.checked)" formControlName="checkedBox"
                                 [checked]="ntaTrading"><strong>NTA Check Box</strong></nb-checkbox>
                </div>
                <div *ngIf="ntaTrading">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="yearlyWorkingCapital"><b>1. Yearly Working Capital Position</b></label>
                            <!--          <textarea class="form-control" id="ntaRemarks" name="ntaRemarks"  formControlName="ntaRemarks"-->
                            <!--                    placeholder="ntaTrading" rows="5" -->
                            <!--          ></textarea>-->
                            <ckeditor id="yearlyWorkingCapital" formControlName="yearlyWorkingCapital"
                                      [config]="ntaConfig"></ckeditor>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="periodicWorkingCapital"><b>2. Periodic Working Capital Position</b></label>
                            <!--          <textarea class="form-control" id="ntaRemarks" name="ntaRemarks"  formControlName="ntaRemarks"-->
                            <!--                    placeholder="ntaTrading" rows="5" -->
                            <!--          ></textarea>-->
                            <ckeditor  id="periodicWorkingCapital" formControlName="periodicWorkingCapital"
                                      [config]="ntaConfig"></ckeditor>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-floating col-md-12">
                            <label for="justificationField"><b>Justification Field</b></label>
                            <textarea class="form-control" rows="4" id="justificationField"
                                      formControlName="justificationField"></textarea>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="currentAssets"><b>3. Current Assets/Current Liability Verification:</b></label>
                            <ckeditor  id="currentAssets" formControlName="currentAssets"
                                      [config]="ntaConfig"></ckeditor>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-floating col-md-12">
                            <label for="remarks"><b>Remarks</b></label>
                            <textarea class="form-control" rows="4" id="remarks" formControlName="remarks"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button (click)="onSubmit()" nbButton type="button">save</button>
            </div>
        </form>
</nb-card-header>
</div>
</div>
