<nb-card-header>
        <div class="float-right">
            <button nbButton outline status="success" class="mb-4 mt-0" (click)="addInterest()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
</nb-card-header>
<nb-card-body>
    <div class="box-body">
        <table class="table table-bordered table-responsive-md table-hover ">
            <thead>
            <tr>
                <th>S.N</th>
                <th>Created Date</th>
                <th>Base Rate</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let access of listing ; let i = index">
                <div *ngIf="!listing?.length > 0">
                    <p>No Content Found</p>
                </div>
                <td>{{(pageable.number - 1) * pageable.size + i + 1}}</td>
                <td>{{access.createdAt | date:'yyyy-MM-dd'}}</td>
                <td >{{access.rate}}</td>
                <td >
                    <p [className]="access.status=='ACTIVE' ? 'text-success' : 'text-danger'">{{access.status}}</p>
                </td>
            </tr>
            </tbody>
        </table>
        <app-spinner *ngIf="spinner" class="d-flex justify-content-center"></app-spinner>
        <!-- ===================table-pagination==================== -->
        <app-paging *ngIf="!spinner" [pageable]="pageable" (changePage)="changePage($event)"></app-paging>

    </div>
</nb-card-body>




