$color-bank: #aa2e20;
$color-bank-dark: #bb392bd1;

.custom-hr {
  height: 1px;
  background-color: $color-bank;
  border: none;
}

.custom-text-color {
  color: $color-bank;
}

.btn-custom-color {
  background-color: $color-bank-dark;
  color: #ffffff;
}

.div-login {
  background: #ffffff;
  overflow-x: hidden;
}