@import '../../progressive-legal-docs.component';
#detail {
  margin-left: 50px;
}

#fingerXap {
  width: 200px;
  margin-left: 10px;
  text-align: center;
}

#guarantor {
  margin-left: 50px;
}

.tableGuarantor {
  width: 400px;
}

.viewFull {
  max-height: 85vh;
  text-align: justify;
}

.sizefont {
  font-size: 16px;
}

.unicode-size {
  font-size: 24px;
}

span {
  line-height: 1;
}

.sizefont18 {
  font-size: 18px;
}
