<div [nbSpinner]="spinner" class="row" id="print-section-{{cadCheckListEnum.CORPORATE_GUARANTEE}}">
  <div class="col-md-12 viewFull">
    <form (ngSubmit)="submit()" [formGroup]="form" class="text-justify nepali">
      <h4 class="text-center"><b>विषय:— <u>संस्थागत जमानीको लिखत</u></b></h4>
      <p>
        लिखितम् जमानीको लिखत गराई लिनेका नाम प्रचलित कानून बमोजिम संस्थापित तथा सञ्चालित काठमाण्डौ जिल्ला, काठमाण्डौ महानगरपालिका वडा
        नं.१ हात्तिसार स्थित केन्द्रिय कार्यालय भएको <strong>लक्ष्मी बैंक लिमिटेडको</strong> जिल्ला
        <input type="text" class="nepaliFont form-field form-control-sm font-size-normal disable-print"
               formControlName="branch">
        <span class="print-only nepaliFont">{{form.get('branch').value ? form.get('branch').value  : '========='}}</span>
        गा.पा./न.पा.
        <input type="text" class="nepaliFont form-field form-control-sm font-size-normal disable-print"
               formControlName="municipality">
        <span class="print-only nepaliFont">{{form.get('municipality').value ? form.get('municipality').value  : '========='}}</span>
        वडा नं
        <input type="text" class="nepaliFont form-field form-control-sm font-size-normal disable-print"
               formControlName="wardNumber">
        <span class="print-only nepaliFont">{{form.get('wardNumber').value ? form.get('wardNumber').value  : '========='}}</span>
        स्थित शाखा कार्यालय,
        (जसलाई यसपछि
        <strong>धनी बैंक </strong>भनिएको छ)
        जमानतको लिखत गरी दिने तपसिलमा उल्लेखित विवरण बमोजिमका व्यक्ति/संस्था (जसलाई यसपछि <strong>जमानतकर्ता</strong> भनिएको छ) आगे, तपाई धनी बैंकले
        म जमानी बसी दिने शर्तमा तपसिलमा उल्लेखित विवरण बमोजिमका व्यक्ति/संस्था (जसलाई यसपछि <strong>ऋणी</strong> भनिएको छ) लाई मेरो जमानीमा प्रदान गर्ने र
        वा यस अघि समय समयमा प्रदान गरेको र वा गर्दै आएको र साथै भविष्यमा प्रदान गर्ने र/वा गरेको बैंक र ऋणी वीच सम्पन्न कर्जा सम्झौता बमोजिम
        तपसिलमा उल्लेखित विवरण बमोजिमको कर्जा/कर्जा सुविधा तथा विभिन्न नगदी कर्जा, प्रतितपत्र, बैंक जमानत लगायतका कोष वा गैरकोषमा आधारित
        कर्जा/कर्जा सुविधा आदि र/वा अन्य बैंकिङ्ग कारोवार सुविधा र सोमा तपाई धनी बैंक र ऋणीका विच सम्पन्न कर्जा सम्झौता तथा अन्य लिखत कागजात
        तथा उपभोग गरेको कर्जा/कर्जा सुविधा समय समयमा नविकरण भएमा, पुनरसंचना वा पुनरतालिकिकरण वा कर्जाको शिर्षक परिवर्तन भएको खण्डमा
        समेत ऋणीले तपाई धनी बैंकलाई तिर्न वुझाउन पर्ने सांवा, व्याज, कमिशन, फी, मार्जिन, कर्जा असुली खर्च, कानूनी खर्चहरु आदि अन्य रकम कलम वापत
        जमानत बसी दिन मेरो मन्जुरी भएकोले तपाई धनी बैंकलाई ऋणीले तिर्न बुझाउनु पर्ने उल्लेखित कर्जा तथा बैंकिङ्ग कारोवार रकम कलम धनी बैंकको शर्त
        सम्झौता बमोजिम नबुझाएमा वा बुझाउन आलटाल गरेमा वा धनी बैंकसंगको कर्जा सम्झौता उल्लंघन गरेमा वा कर्जा अनियमित गरी कर्जा नतिरेमा
        तपाई धनी बैंकले ऋणीबाट असुल गर्नुपर्ने लेना रकम म जमानतकर्ताबाट माग गरेमा तपसिलको शर्तबन्देजको अधिनमा रही म आफैले तिर्न बुझाउन
        मन्जुर गरी यो जमानीको लिखत गरि दिएको छु । तपाई धनी बैंकले माग गरेका वखत उलेखित रकम कलम नतिरे, नबुझाएमा वा बुझाउन आलटाल
        गरेमा तपाई धनी बैंकले मेरो घर घरानाको विभिन्न चल, अचल जायजेथाबाट असुल उपर गरी लिएमा समेत मेरो मन्जुरी छ । म जमानत बसेको रकम
        माग गर्ने क्रममा वा कर्जा असुलीको क्रममा म जमानतकर्ताको तीनपुस्ते विवरण, पूर्ण परिचय तथा फोटो समेत राखि पत्र पत्रिकामा सूचना प्रकाशित गर्न
        पाउने अधिकार धनी बैंकलाई यसै लिखतबाट प्रदान गरेको छु । <strong><em>साथै नेपाल राष्ट्र बैंकले बैंक तथा वित्तीय संस्थाहरुलाई जारी गरेको कालो सूचि सम्वन्धि
        निर्देशिकाको ब्यवस्था वा प्रचलित कानून बमोजिम मेरो नाम कर्जा सूचना केन्द्रको कालो सूचिमा समावेश गरेमा समेत मेरो पूर्ण मञ्जुरी छ ।</em></strong> पछि एकाले
        लिए, खाएको ऋण मैले तिर्न वुझाउनु पर्ने होइन भनि वा अन्य कुनै व्यहोराले उजुर वाजुर गर्ने छैन, गरे यसै लिखतले बदर गराई लिनु भनी आफनो
        मनोमान राजिखुशीले साक्षीहरुको रोहबरमा धनी बैंकको कार्यालयमा उपस्थित भई र विदेशमा रहे भएको अवस्थामा नेपाली राजदुतावास/नियोगमा
        उपस्थित भई लिखत प्रमाणित गराई ऋणीले लिए खाएको कर्जा वापत जमानीको दायित्व वहन गर्न मन्जुर भई यो जमानीको लिखत गरी तपाई धनी
        बैंकलाई दिंए ।
      </p>
      <h4 class="text-center"><strong>तपसील</strong></h4>
    <div>
      <ol class="conditions-list order-list">
        <li>
          ऋणीले धनी बैंकलाई तिर्न वुझाउनु पर्ने ऋण कर्जा तथा बैकिङ्ग सुविधाहरुको रकम, कलम तिर्ने, बुझाउने सम्बन्धमा मेरो दायित्व मूल ऋणी सरह
          हुनेछ । ऋणीले धनी बैंकलाई वुझाउनु पर्ने ऋणको रकम कलम नवुझाएमा वा वुझाउन नसकेमा मेरो दायित्व तत्कालै सिर्जना हुनेछ र ऋणी सो
          दायित्ववाट मुक्त नभएसम्म अनवरत रुपमा रही रहनेछ ।
        </li>
        <li>
          ऋणीले तिर्न बुझाउन बाँकी ऋण कर्जा तथा बैंकिङ्ग सुविधाहरुको रकम कलम ऋणीले नवुझाएमा वा शर्त कवुलियत उल्लंघन गरेमा धनी बैंकले सोझै
          म सँग माग गर्न सक्ने र त्यसरी माग गरेको रकम, कलम मैले तपाई धनी बैंकलाई ऋणी (Principal Debtor) सरह प्राथमिक दायित्व (Primary Liability)
          को रुपमा तिर्न बुझाउन पर्ने र ऋणीले लिएको ऋण कर्जाको सम्पूर्ण रकम कलम चुक्ता भुक्तान नभएसम्म सो प्रति मेरो दायित्व निरन्तर रही रहने
          कुरामा मेरो मन्जुरी छ ।
        </li>
        <li>
          ऋणीले लिएको ऋण कर्जा तथा बैंकिङ्ग कारोवार सुविधाको तिर्न वुझाउनु पर्ने रकम कलम नतिरी नवुझाई शर्त कवुलियतको उल्लंघन गर्नासाथ सो
          रकम कलम धनी बैंकले मवाट असुल उपर गर्न आवश्यक कारवाही सुरु गरेमा मेरो मन्जुरी छ । ऋणीले शर्त कवुलियत उल्लंघन गरेकोले मैले तिर्नु
          वुझाउनु पर्ने हुन आएको दायित्वको रकम कलम मैले जमानी दिएको रकमको हदसम्म धनी बैंकले माग गरेको मितिले ७ (सात) दिन भित्र तिर्न
          बुझाउन मेरो मन्जुरी छ ।
        </li>
        <li>
          ऋणीले धनी बैंकलाई तिर्न, बुझाउन पर्ने सावाँ, व्याज, कमिशन, फि, मार्जिन आदि रकम कलमको समय समयमा किस्ता भुक्तान गरेको वा आंशिक
          चुक्ता गरेको वा सो मध्ये केही पूर्ण चुक्ता गरेको आधारमा मैले माथिको प्रकरण बमोजिम बहन गर्न स्विकार तथा मन्जुर गरेको प्राथमिक दायित्वको
          कुरामा कुनै प्रतिकूल प्रभाव परेको मानिने छैन । यस जमानीपत्रमा उल्लेखित अन्य प्रावधानहरुको सर्वसामान्यतामा प्रतिकूल वा विपरित प्रभाव नपर्ने
          गरी मैले जमानी दिएको रकमको हदसम्मको रकम, कलम तिर्न बुझाउन मेरो मन्जुरी छ ।
        </li>
        <li>
          धनी बैंकले ऋणीसँग उल्लेखित ऋण कर्जा तथा बैंकिङ्ग कारोवार सुविधाको सुरक्षणका लागि अन्य चल, अचल जायजेथा सुरक्षणको रुपमा ग्रहण गरेको
          वा धित्तोबन्धकी लेखाई लिएको वा अन्य तेश्रो व्यक्ति समेत सँग जमानत लिएको वा त्यसरी लिएको सुरक्षण फुकुवा गरी दिएको वा जमानतबाट
          छुटकारा दिएको वा ऋणी वा तेश्रो व्यक्तिसँग ऋण कर्जा चुक्ता भुक्तान गर्ने सम्बन्धमा सम्झौता मिलापत्र गरी म्याद थप गरिदिएको वा छुट मिन्हा
          दिएको वा अन्य शर्त कबुलियत गरेको, शर्त कबुलियतमा परिवर्तन वा संशोधन गरेको वा ऋण कर्जा नविकरण गरेको वा थप ऋण कर्जा दिएको भन्ने
          आदि कुनै पनि आधारमा मैले यस लिखत बमोजिम प्राथमिक रुपमा व्यहोर्न मन्जुर गरेको दायित्वमा कुनै प्रतिकूल वा विपरित प्रभाव परेको मानिने छैन ।
          मैले स्वीकार तथा मन्जुर गरेको दायित्व प्राथमिक दायित्वको रुपमा मैले निर्वाह तथा बहन गर्नुपर्ने मेरो कर्तव्य यथावत रही रहने छ र मैले धनी
          बैंकको पक्षमा गरिदिएको यस जमानीको लिखत बमोजिमको मेरो दायित्व व्यक्तिगत हुने भन्ने कुरामा मेरो मन्जुरी छ । जस अनुसार तपाई धनी बैंकले
          आफ्नो तजविजमा ऋण कर्जाको सुरक्षण वापत अन्य चल, अचल सम्पत्ति रहेको र वा अन्यले जमानत गरि दिएको अवस्थामा समेत यस लिखत
          बमोजिम जमानी गरिदिएको हद सम्मको रकम कलम सोझै म सँग व्यक्तिगत रुपमा असुल उपर गरी लिन सक्ने कुरामा मेरो मन्जुरी छ । साथै, यस
          जमानीको लिखत मैले दिएको अरु जमानीको लिखत भन्दा छुट्टै हुनेछ र यस जमानीको लिखतले मैले गरेको अन्य जमानी एवं अरु सम्पूर्ण लिखत
          बमोजिम व्यहोर्नु पर्ने दायित्वमा असर पारेको मानिने छैन ।
        </li>
        <li>
          कथंकदाचित ऋणीले धनी बैंकलाई तिर्न बुझाउन पर्ने सम्पूर्ण रकम कलम मेरो शेष पछि पनि चुक्ता भुक्तान हुन वांकी रहेमा, म बाट अंश/अपुताली
          प्राप्त गर्ने अंशियार वा उत्तराधिकारीहरु (Heir and Successors) ले यस लिखत बमोजिमको दायित्व बहन गर्नुपर्ने र धनी बैंकले ऋणीबाट प्राप्त
          गर्नुपर्ने सम्पूर्ण रकम कलम चुक्ता भुक्तान नभएसम्म मेरा निज अंशियार वा उत्तराधिकारीले सो दायित्व बमोजिमको रकम, कलम चुक्ता भुक्तान गर्नु
          पर्ने जवाफदेही र जिम्मेवारी रहने कुरामा मेरो मन्जुरी छ ।
        </li>
        <li>
          कथंकदाचित ऋणी टाट पल्टेमा वा ऋणी कानुन अन्तर्गत स्थापना भएको संगठित संस्था भएमा र कानुन बमोजिम खारेजी भएमा वा अन्य कुनै
          कारणले ऋणीको उद्योग/व्यवसाय बन्द भएमा, मैले धनी बैंकलाई यस जमानीको लिखत बमोजिम तिर्न बुझाउन मन्जुर गरेको दायित्वमा कुनै
          प्रतिकुल प्रभाव परेको मानिने छैन र यस जमानीको लिखत वमोजिम धनी बैंक प्रति मैले तिर्न बुझाउन पर्ने दायित्वको स्थितिमा कुनै परिवर्तन भएको
          मानिने छैन र यस्तो दायित्व चुक्ता भुक्तान नभएसम्म यथावत कायम रही रहने छ ।
        </li>
        <li>
          ऋणी कानुन बमोजिम स्थापित संगठित संघ/संस्था/फर्म/कम्पनी भएको स्थितिमा ऋणीको संगठन वा संरचना वा व्यवस्थापनमा भएको कुनै
          परिवर्तन वा विद्यमान शेयरधनीहरुबाट आंशिक वा पूर्ण रुपमा शेयर हक हस्तान्तरण भएको वा स्वामित्व परिवर्तन भएको वा ऋणीको विधान, नियम,
          विनियम, प्रबन्धपत्र, नियमावली, सम्झौतामा कुनै संशोधन/परिवर्तन भएको वा ऋणी अन्य कम्पनी, फर्म वा संस्थामा विलिन भएमा वा ऋणीमा अन्य
          कम्पनी, फर्म वा संस्था सम्माहित (Merge) भएको लगायतको कुनै पनि आधारमा मेरो धनी बैंक प्रति यस लिखत बमोजिम तिर्न, बुझाउन पर्ने ऋण
          दायित्वको स्थितिमा कुनै परिवर्तन भएको मानिने छैन र त्यस्तो दायित्व यस लिखत अनुसार कर्जा चुक्ता नभएसम्म वा बैंकले लिखित रुपमा
          जमानतको दायित्वबाट मुक्त नगरेसम्म यथावत कायम रही रहने छ ।
        </li>
        <li>
          धनी बैंकलाई अदालतको फैसलाद्वारा ऋणीले तिर्नु पर्ने भनी ठहर गरी दिएको रकम कलम वा धनी बैंकले ऋणीलाई लिखित सूचना दिई माग गरेको
          तिर्न बुझाउन बाँकी रकम कलम वा धनी बैंकको खातावही, स्टेटमेण्ट इत्यादिबाट ऋणीले तिर्न बुझाउन बाँकी देखिएको रकम कलम नै ऋणीले धनी
          बैंकलाई तिर्न बुझाउन पर्ने वास्तविक दायित्वको रुपमा मानिने र सोही आधारमा धनी बैंकले लिखित सूचना दिई म सँग रकम कलम तिर्न बुझाउन
          माग गरेमा सोही सूचनालाई अन्तिम तथा अकाट्य प्रमाणको रुपमा स्वीकार गरी सो उल्लेखित रकम कलम तिर्न बुझाउन मेरो मन्जुरी छ । सो
          सम्बन्धमा कंही कतै कुनै उजुर वाजुर गर्ने छैन ।
        </li>
        <li>
          यो जमानीको लिखत वमोजिम मैले धनी बैंक प्रति वहन गर्नु पर्ने दायित्व यसै लिखतमा लेखिए वमोजिम ऋणीले लिएको ऋण कर्जा तथा बैंकिङ्ग
          सुविधाको धनी बैंकलाई वुझाउनु पर्ने रकम कलम धनी  बैंकलाई चुक्ता नवुझाए सम्म रही रहने छ । ऋणीले लेखिए वमोजिम लिएको खाएको ऋण
          सुविधा वा सो ऋण कर्जा सुविधा नविकरण भएको अवस्थामा समेत धनी बैंकले नविकरण गरेमा समेत सो वमोजिम नविकरण भएको कर्जा सुविधामा
          समेत मेरो दायित्व यथावत कायम रहनेछ र धनी बैंकको सम्पूर्ण लेना रकम चुक्ता नभएसम्म यो जमानीको लिखत कायम रही रहने कुरामा मेरो पूर्ण
          मन्जुरी छ ।
        </li>
       <li>
         कथंकदाचित ऋणी कानून बमोजिम अशक्त वा असक्षम व्यक्ति भई कानुनतः ऋण कर्जाको दायित्वबाट मुक्त भएमा वा त्यस्तो दायित्व निजले कानुनतः
         व्यहोर्नु नपर्ने भएमा समेत यस लिखत बमोजिम मैले धनी बैंकलाई तिर्न बुझाउन मन्जुर गरेको दायित्वबाट म मुक्त भएको मानिने छैन र धनी बैंक
         प्रति मेरोे यस लिखत बमोजिमको दायित्व यथावत कायम रही रहनेछ । धनी बैंकले माग गरेको अवस्थामा उपरोक्त दायित्व अन्तर्गत तिर्न बुझाउन
         पर्ने रकम कलम तिर्न बुझाउन मेरोे मन्जुरी छ ।
       </li>
        <li>
          यो जमानीको लिखत वमोजिम म जमानी वसेको रकमको हद सम्म म एक्लै वा संयुक्त रुपमा (Joint and Several) दायित्व वहन गर्न मेरो मन्जुरी
          रहेको छ । पछि संयुक्त रुपमा जमानीको लिखतमा सही छाप गरेको हुनाले दामासाहीले दायित्व व्यहोर्नु पर्ने हो भन्ने लगायतका कुनै किसिमको
          उजुरवाजुर गर्ने छैन । गरे यसै लिखतले वदर गरेमा समेत मेरो मन्जुरी रहेको छ ।
        </li>
        <li>
          म र ऋणीका बिचमा लेनदेन कारोवार भई ऋणीले मलाई रकम कलम तिर्न, बुझाउनु पर्ने अवस्थामा समेत ऋणीले तपाई धनी बैंकलाई तिर्न बुझाउन
          पर्ने रकम कलम तिरी बुझाई फछ्र्यौट नभएसम्म मैले ऋणीसँग लेनदेन कारोवार अन्तर्गत प्राप्त गर्नु पर्ने रकम प्राप्त गर्नका लागि कुनै किसिमको
          दावा गर्ने वा कानुनी कारवाही चलाउने छैन ।
        </li>
        <li>
          यस लिखत बमोजिम धनी बैंकले रकम कलम माग गरी मलाई लिखित सूचना दिनु पर्ने भएमा वा धनी बैंकले मलाई जुनसुकै किसिमको सूचना दिनु
          पर्ने भएमा यस लिखतमा लेखिएको ठेगानामा वा धनी बैकलाई मैले अन्तिम पटक उपलब्ध गराएको घर ठेगानामा व्यक्ति वा हुलाक वा विद्युतीय
          माध्यम मार्फत सूचना दिन सकिनेछ । त्यसरी व्यक्ति मार्फत दिएको सूचनाको हकमा बुझाएको मिति, हुलाक मार्फत पठाएकोमा सूचना रजिष्ट्रर्ड
          गरेको मितिले १५ दिन भित्र र विद्युतीय माध्यम मार्फत पठाएकोमा, पठाए उप्रान्त मैले प्राप्त गरेको मानिनेछ । साथै धनी बैंकको कुनै पनि अधिकृत
          कर्मचारीले हुलाक मार्फत रजिष्ट्रर्ड गरी यो मितिमा सूचना पठाएको भनि लिखित रुपमा प्रमाणित गरी दिएमा सो कुरा अन्यथा प्रमाणित नभएसम्म
          त्यस्तो सूचना पठाएको कुराको अकाट्य तथा अन्तिम प्रमाणको रुपमा हुने कुरामा समेत मेरो मन्जुरी छ ।
        </li>
      </ol>
    </div>
      <p>
        <strong>जमानतकर्ताको स्व घोषणा :</strong> यस लिखतमा माथी उल्लेखित धनी बैंक र ऋणी वीच सम्पन्न कर्जा सम्झौता (कर्जा
        स्वीकृती/कर्जा प्रस्ताव पत्र) तथा सोमा उल्लेखित शर्त बन्देजहरु, ऋणीले उपभोग गर्ने वा गरेको कर्जा लगायतका
        विषयहरुका सम्बन्धमा पूर्ण जानकार भई यस लिखतमा लेखिएको सम्पूर्ण व्यहोरा पढि बुझि सोको मतलव र परिणाम
        सम्झी बुझि मैले सहि छाप गरी यो जमानीको लिखत गरिदिएको छु । यसमा लेखिएको व्यहोरा ठिक छ, झुठा ठहरेमा
        कानून बमोजिम सहुंला बुझाँउला ।
      </p>
      <div class="col-md-12 viewFull">
        <strong><u>साक्षी</u></strong>
        <div>
          १.
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="witnessDistrict1">
          <span class="print-only nepaliFont">{{form.get('witnessDistrict1').value ? form.get('witnessDistrict1').value  : '========='}}</span> जिल्ला
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="witnessMunicipality1">
          <span class="print-only nepaliFont">{{form.get('witnessMunicipality1').value ? form.get('witnessMunicipality1').value  : '========='}}</span> गा.पा./न.पा.
          वडा नं
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="witnessWardNum1">
          <span class="print-only nepaliFont">{{form.get('witnessWardNum1').value ? form.get('witnessWardNum1').value  : '========='}}</span>
          बस्ने बर्ष
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="witnessAge1">
          <span class="print-only nepaliFont">{{form.get('witnessAge1').value ? form.get('witnessAge1').value  : '========='}}</span>
          को
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="witnessName1">
          <span class="print-only nepaliFont">{{form.get('witnessName1').value ? form.get('witnessName1').value  : '========='}}</span>
        </div>
        <div>
          २.
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="witnessDistrict2">
          <span class="print-only nepaliFont">{{form.get('witnessDistrict2').value ? form.get('witnessDistrict2').value  : '========='}}</span> जिल्ला
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="witnessMunicipality2">
          <span class="print-only nepaliFont">{{form.get('witnessMunicipality2').value ? form.get('witnessMunicipality2').value  : '========='}}</span> गा.पा./न.पा.
          वडा नं
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="witnessWardNum2">
          <span class="print-only nepaliFont">{{form.get('witnessWardNum2').value ? form.get('witnessWardNum2').value  : '========='}}</span>
          बस्ने बर्ष
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="witnessAge2">
          <span class="print-only nepaliFont">{{form.get('witnessAge2').value ? form.get('witnessAge2').value  : '========='}}</span>
          को
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="witnessName2">
          <span class="print-only nepaliFont">{{form.get('witnessName2').value ? form.get('witnessName2').value  : '========='}}</span>
        </div>
        <div>
        <strong> सनाखत साक्षी :</strong> कारणीलाई म राम्ररी चिन्दछु निजले मेरो सामुन्नेमा सही छाप गरेको ठीक साँचो हो भनी सही गर्ने <br>
          धनी बैंकमा
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="shanakhatWitnessPosition">
          <span class="print-only nepaliFont">{{form.get('shanakhatWitnessPosition').value ? form.get('shanakhatWitnessPosition').value  : '========='}}</span>पदमा कार्यरत
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="shanakhatWitnessName">
          <span class="print-only nepaliFont">{{form.get('shanakhatWitnessName').value ? form.get('shanakhatWitnessName').value  : '========='}}</span>
          <br>
          ईति सम्वत २०
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="year">
          <span class="print-only nepaliFont">{{form.get('year').value ? form.get('year').value  : '========='}}</span> साल
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="month">
          <span class="print-only nepaliFont">{{form.get('month').value ? form.get('month').value  : '========='}}</span> महिना
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="day">
          <span class="print-only nepaliFont">{{form.get('day').value ? form.get('day').value  : '========='}}</span> गते रोज
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="roj">
          <span class="print-only nepaliFont">{{form.get('roj').value ? form.get('roj').value  : '========='}}</span> शुभम्
          <input type="text" class="form-field form-control-sm nepaliFont disable-print"
                 formControlName="shuvam">
          <span class="print-only nepaliFont">{{form.get('shuvam').value ? form.get('shuvam').value  : '========='}}</span>।

        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary float-right disable-print" nbButton status="success">
          Save
        </button>
      </div>
    </form>
    <button class="btn btn-primary d-print-none"
            [useExistingCss]="true"
            [disabled]="!initialInfoPrint"
            printSectionId="print-section-{{cadCheckListEnum.CORPORATE_GUARANTEE}}"
            ngxPrint>print
    </button>
  </div>
</div>
