<form [formGroup]="formGroup" class="ml-1" (change)="calc()">
    <nb-card>
        <nb-card-body>
            <div class="row">
                <div class="col-md-12 mt-3 mb-2">
                    <strong>Revaluation Done: </strong>
                    <nb-radio-group
                            formControlName="isReValuated"
                            class="ml-1 d-inline-flex ">
                        <nb-radio (click)="revaluate(true, index)" [value]="true" value="true">Yes</nb-radio>
                        <nb-radio (click)="revaluate(false, index)" [value]="false" value="false">No</nb-radio>
                    </nb-radio-group>
                </div>
                <ng-container *ngIf="formControls.isReValuated.value">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="title" for="reValuationDate">Valuated Date</label>
                            <input *ngIf="calendarType === 'AD'" class="form-control rounded"
                                   formControlName="reValuationDate"
                                   id="reValuationDate"
                                   name="reValuationDate" placeholder="Valuated Date"
                                   [nbDatepicker]="valuatedDate"
                                   type="text"/>
                            <app-calendar
                                    (messageToEmit)="formGroup.get('reValuationDate').patchValue($event?.eDate)"
                                    *ngIf="calendarType === 'BS'"
                                    [ePreDate]="formGroup.get('reValuationDate').value"></app-calendar>
                            <nb-datepicker #valuatedDate></nb-datepicker>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Valuator Name</label>
                            <ng-select
                                    [multiple]="false"
                                    bindLabel="name"
                                    formControlName="newValuator"
                                    placeholder="">
                                <ng-option [value]="null">--Select Valuator Name--</ng-option>
                                <ng-option
                                        *ngFor="let valuator of valuators"
                                        [value]="valuator">{{valuator.name}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="reValuatedConsideredValue">Considered Value as per Revaluation</label>
                            <input (change)="revaluate(this.formGroup.get('isReValuated').value, index)"
                                   class="form-control" formControlName="reValuatedConsideredValue"
                                   id="reValuatedConsideredValue" name="total" placeholder="Considered Value as per Revaluation">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="title" for="reValuatedFmv">FMV as per Revaluation</label>
                            <input (change)="revaluate(this.formGroup.get('isReValuated').value, index)"
                                   class="form-control rounded" formControlName="reValuatedFmv"
                                   id="reValuatedFmv"
                                   name="reValuatedFmv" placeholder="FMV as per Revaluation"
                                   type="text"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="title" for="reValuatedDv">DV as per Revaluation</label>
                            <input (change)="revaluate(this.formGroup.get('isReValuated').value, index)"
                                   class="form-control rounded" formControlName="reValuatedDv"
                                   id="reValuatedDv"
                                   name="reValuatedDv"
                                   placeholder="DV as per Revaluation"
                                   type="text"/>
                        </div>
                    </div>
                </ng-container>
            </div>
        </nb-card-body>
    </nb-card>
    <nb-card *ngIf="formControls.isReValuated.value">
        <nb-card-body>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="changeInConsideredValue">Change in Considered Value</label>
                        <input [readOnly]="true" class="form-control" formControlName="changeInConsideredValue"
                               id="changeInConsideredValue" name="total" placeholder="Change in Considered Value">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="title" for="changeInDv">Change in DV</label>
                        <input [readOnly]="true" class="form-control rounded" formControlName="changeInDv"
                               id="changeInDv"
                               name="changeInDv"
                               placeholder="Change in DV"
                               type="text"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="title" for="changeInFmv">Change in FMV</label>
                        <input class="form-control rounded" formControlName="changeInFmv"
                               id="changeInFmv"
                               [readOnly]="true"
                               name="changeInFmv" placeholder="Change in FMV"
                               type="text"/>
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>

</form>
