@import '../../progressive-legal-docs.component';
*{
//margin-left:20px;
//margin-right:10px;
  margin-top: 7%;
}
.viewFull {
  max-height: 85vh;
  text-align: justify;
  line-height:normal;
}

p {
  text-align: justify;
  line-height: 1.9em;
}

span {
  font-size: 24px;
  line-height: 1.1;
}

.unicode-size {
  font-size: 16px;
}

