@import '../../progressive-legal-docs.component';

.viewFull {
  max-height: 85vh;
  text-align: justify;
  line-height:normal;
}

p {
  text-align: justify;
  line-height: 1.6;
}

span {
  font-size: 24px;
  line-height: 1;
}

.unicode-size {
  font-size: 16px;
}

.unicode-size24 {
  font-size: 24px;
}
