.bodyConfig {
  font-size: 18px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
  margin: 50px 70px;
}

.signatureTable {
  margin-top: 30px;
  height: 30%;
  width: 48%;
}

table {
  font-size: 18px;
  line-height: 1.8;
}

.loanWords {
  font-size: 16px;
}
span {
  font-size: 21px;
}

li {
  padding: 10px;
}

.logo-container {
  display: flex;
  width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  margin: 10px 70px;
}
footer {
  font-size: 9px;
  color: red;
  text-align: center;
  margin-top: 20px;
}
@page {
  size: A4;
  margin: 17mm 17mm 17mm 17mm;
}

@media print {
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
