<div class="row mt-1">
    <div class="col-md-12 sb-small">
        <ul>
            <li class="sb-medium"><i class="fas fa-check-circle"></i> = Approved
                <i class="fas fa-times-circle"></i> = Not Approved,
                <i class="text-round">N</i>ew Loan
                <i class="text-round">R</i>enewed Loan
                <i class="text-round">E</i>nhanced Loan
                <i class="text-round">C</i>losure Loan
                <i class="text-round">P</i>artial Settlement Loan
                <i class="text-round">F</i>ull Settlement Loan
                <i class="text-round">R/E</i>new With Enhancement
            </li>
            <li class="sb-medium"><span><sup>*</sup>  IR : Interest Rate ,<sup>*</sup> BR : Base Rate ,<sup>*</sup> PR : Premium Rate ,<sup>*</sup> COM : Commission ,<sup>*</sup> CM : Cash margin</span>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table
                class="table table-bordered table-responsive-md table-sm sb-small text-center">
            <thead>
            <tr class="sb-bg-dark text-white">
                <th rowspan="2">Loan Facility(Created Date)</th>
                <th colspan="4">Existing</th>
                <th colspan="4">Proposed</th>
            </tr>
            <tr class="sb-bg-dark text-white">
                <th>Limit</th>
                <th>Date of Expiry(AD/BS)</th>
                <th>O/S</th>
                <th>Pricing</th>
                <!--                <th>Overdue Principal</th>-->
                <!--                <th>Overdue Interest</th>-->
                <th>Limit</th>
                <th>Limit Expiry/Tenure (AD/BS)</th>
                <th>Change</th>
                <th>Pricing</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ex of existingExposure; let ei = index;">
                <td class="text-left pl-1">
                    <ng-container
                            *ngTemplateOutlet="tickCross; context: { $implicit: ex?.docStatus}"></ng-container>
                    &nbsp;|&nbsp;
                    <ng-container
                            *ngTemplateOutlet="loanTypeLetter; context: { $implicit: ex?.loanType }"></ng-container>
                    &nbsp;|&nbsp;
                    {{ ex?.loanConfig?.name }}
                </td>
                <td class="text-right pr-1">
                    <span *ngIf="(ex?.proposalData | jsonParse)?.existingLimit">
                        Rs. {{(ex?.proposalData | jsonParse)?.existingLimit | currencyFormatter}}
                    </span>
                    <span *ngIf="!(ex?.proposalData | jsonParse)?.existingLimit">-</span>
                </td>
                <td class="text-left pl-1">
                    <span *ngIf="(ex?.proposalData | jsonParse)?.existingDateOfExpiry">
                        {{(ex?.proposalData | jsonParse)?.existingDateOfExpiry ? ((ex?.proposalData | jsonParse)?.existingDateOfExpiry | date) : 'NA'}}
                        ({{(ex?.proposalData | jsonParse)?.existingDateOfExpiry ? ((ex?.proposalData | jsonParse)?.existingDateOfExpiry | engNepDate : false) : 'NA'}})
                    </span>
                    <span class="float-right pr-1" *ngIf="!(ex?.proposalData | jsonParse)?.existingDateOfExpiry">-</span>
                </td>
                <td class="text-right pl-1">
                    <span *ngIf="(ex?.proposalData | jsonParse)?.outStandingLimit">
                        Rs. {{(ex?.proposalData | jsonParse)?.outStandingLimit | currencyFormatter}}
                    </span>
                    <span *ngIf="!(ex?.proposalData | jsonParse)?.outStandingLimit">-</span>
                </td>
                <td class="text-right pr-1">
                    <span *ngIf="(ex?.loanConfig?.isFundable) && ((ex?.proposalData | jsonParse)?.existInterestRate) > 0">
                        IR: {{(ex?.proposalData | jsonParse)?.existInterestRate}} %
                    </span>
                    <span *ngIf="(!ex?.loanConfig?.isFundable && ex?.loanConfig?.loanNature !== null)">
                        <span *ngIf="(ex?.proposalData | jsonParse)?.existCashMargin > 0">
                            CM: {{ ((ex?.proposalData | jsonParse)?.existCashMargin || 0)}} %,</span>
                        <span *ngIf="(ex?.proposalData | jsonParse)?.existCommissionPercentage > 0">
                            COM:{{(ex?.proposalData | jsonParse)?.existCommissionPercentage || '0'}} %
                        </span>
                    </span>
                    <span *ngIf="((ex?.proposalData | jsonParse)?.existInterestRate === null)
                    && ((ex?.proposalData | jsonParse)?.existCashMargin === null)
                    && ((ex?.proposalData | jsonParse)?.existCommissionPercentage === null)">-</span>
                </td>
                <td class="text-right pr-1">Rs. {{(ex?.proposalData | jsonParse)?.proposedLimit | currencyFormatter}}</td>
                <td class="text-left pl-1">{{(ex?.proposalData | jsonParse)?.tenureDurationInMonths}} months</td>
                <td class="text-right pr-1">Rs. {{calculateChangeInAmount((ex?.proposalData | jsonParse)?.proposedLimit,
                    (ex?.proposalData | jsonParse)?.existingLimit)}}</td>
                <td class="pr-1 pl-1">
                    <span *ngIf="ex?.loanConfig?.isFundable && ex?.loanConfig?.loanNature !== null">
                        IR : {{(ex?.proposalData | jsonParse)?.interestRate}} %,
                    </span>
                    <span *ngIf="(ex?.loanConfig?.isFundable && ex?.loanConfig.loanNature !== null && ex?.loanConfig?.isFundable !== null)
                    || ex?.loanConfig?.loanTag === 'VEHICLE' || ex?.loanConfig?.loanTag === 'SHARE SECURITY'
                    || ex?.loanConfig?.loanTag === 'GENERAL' || ex?.loanConfig?.loanTag === 'HOME LOAN'">
                        BR : {{ (ex?.proposalData | jsonParse)?.baseRate}} %,
                        PR : {{ (ex?.proposalData | jsonParse)?.premiumRateOnBaseRate}} %,
                    </span>
                    <span *ngIf="!ex?.loanConfig?.isFundable && ex?.loanConfig?.loanNature !== null">
                        CM: {{ ((ex?.proposalData | jsonParse)?.cashMargin)}} %,
                        COM:{{(ex?.proposalData | jsonParse)?.commissionPercentage}} %
                    </span>
                    <span *ngIf="!(ex?.proposalData | jsonParse)?.interestRate
                        && !(ex?.proposalData | jsonParse)?.baseRate
                        && !(ex?.proposalData | jsonParse)?.cashMargin
                        && !(ex?.proposalData | jsonParse)?.commissionPercentage"> - </span>
                </td>
            </tr>
            <tr *ngFor="let loan of customerAllLoanList; let i = index;"
                [class.font-weight-bold]="proposalData?.id === loan?.proposal?.id">
                <td class="text-left pl-1">
                    <ng-container
                            *ngTemplateOutlet="tickCross; context: { $implicit: loan?.documentStatus}"></ng-container>
                    &nbsp;|&nbsp;
                    <ng-container
                            *ngTemplateOutlet="loanTypeLetter; context: { $implicit: loan?.loanType }"></ng-container>
                    &nbsp;|&nbsp;
                    {{ loan?.loan?.name }} ({{ loan?.createdAt | date}} ({{ loan?.createdAt | engNepDate: false }}))
                </td>
                <td class="text-right pr-1">
                    <span *ngIf="(loan?.proposal?.data | jsonParse)?.existingLimit">
                        Rs. {{(loan?.proposal?.data | jsonParse)?.existingLimit | currencyFormatter}}
                    </span>
                    <span *ngIf="!(loan?.proposal?.data | jsonParse)?.existingLimit">-</span>
                </td>
                <td class="text-left pl-1">
                    <span *ngIf="(loan?.proposal?.data | jsonParse)?.existingDateOfExpiry">
                        {{(loan?.proposal?.data | jsonParse)?.existingDateOfExpiry ? ((loan?.proposal?.data | jsonParse)?.existingDateOfExpiry | date) : 'NA'}}
                        ({{(loan?.proposal?.data | jsonParse)?.existingDateOfExpiry ? ((loan?.proposal?.data | jsonParse)?.existingDateOfExpiry | engNepDate : false) : 'NA'}})
                    </span>
                    <span *ngIf="!(loan?.proposal?.data | jsonParse)?.existingDateOfExpiry">-</span>
                </td>
                <td class="text-right pl-1">
                    <span *ngIf="(LoanType[loan?.loanType] !== LoanType?.NEW_LOAN) && (loan?.proposal?.data | jsonParse)?.outStandingLimit">
                        Rs. {{(loan?.proposal?.data | jsonParse)?.outStandingLimit | currencyFormatter}}
                    </span>
                    <span *ngIf="!(loan?.proposal?.data | jsonParse)?.outStandingLimit">-</span>
                </td>
                <td class="text-right pr-1">
                    <span *ngIf="(loan?.loan?.isFundable) && ((loan?.proposal?.data | jsonParse)?.existInterestRate) > 0 && loan.loanType !== LoanType.NEW_LOAN ">
                        IR: {{(loan?.proposal?.data | jsonParse)?.existInterestRate}} %
                    </span>
                    <span *ngIf="(!array[i]?.isFundable && array[i]?.fundableNonFundableSelcted)
                            && (LoanType[loan?.loanType] !== LoanType?.NEW_LOAN)">
                        <span *ngIf="((loan?.proposal?.data | jsonParse)?.existCashMarginMethod == 'FLAT') && ((loan?.proposal?.data | jsonParse)?.existCashMargin > 0)">
                            CM: Rs. {{(loan?.proposal?.data | jsonParse)?.existCashMargin || 0 | currencyFormatter}}
                            ,</span>
                        <span *ngIf="((loan?.proposal?.data | jsonParse)?.existCashMarginMethod == 'PERCENT') && ((loan?.proposal?.data | jsonParse)?.existCashMargin > 0)">
                            CM: {{ ((loan?.proposal?.data | jsonParse)?.existCashMargin || 0)}} %,</span>
                        <span *ngIf="(loan?.proposal?.data | jsonParse)?.existCommissionPercentage > 0">
                            COM:{{(loan?.proposal?.data | jsonParse)?.existCommissionPercentage || '0'}} %
                        </span>
                    </span>
                    <!--                    <span *ngIf="((array[i]?.isFundable && (array[i]?.loanNature === 'Terminating' || array[i]?.loanNature === 'Revolving')-->
                    <!--                    && array[i]?.loanNatureSelected && array[i]?.fundableNonFundableSelcted) || array[i]?.isVehicle || array[i]?.isShare ||-->
                    <!--                    array[i]?.isGeneral) && LoanType[loan?.loanType] !== LoanType?.NEW_LOAN">-->
                    <!--                        <span *ngIf="(loan?.proposal?.data | jsonParse)?.serviceChargeMethod === 'FLAT' && (loan?.proposal?.data | jsonParse)?.existingServiceCharge !== null">-->
                    <!--                            SC: Rs. {{(loan?.proposal?.data | jsonParse)?.existingServiceCharge}}</span>-->
                    <!--                        <span *ngIf="(loan?.proposal?.data | jsonParse)?.serviceChargeMethod === 'PERCENT' && (loan?.proposal?.data | jsonParse)?.existingServiceCharge !== null">-->
                    <!--                            SC: {{(loan?.proposal?.data | jsonParse)?.existingServiceCharge}} %</span>-->
                    <!--                    </span>-->
                    <span *ngIf="((loan?.proposal?.data | jsonParse)?.existInterestRate === null)
                    && ((loan?.proposal?.data | jsonParse)?.existCashMargin === null)
                    && ((loan?.proposal?.data | jsonParse)?.existCommissionPercentage === null)">-</span>
                </td>
                <td class="text-right pr-1">Rs. {{loan?.proposal?.proposedLimit | currencyFormatter}}</td>
                <td width="150px" class="text-left pl-1">
                    <span *ngIf="(loan?.proposal?.data | jsonParse)?.limitExpiryMethod === 'ABSOLUTE'">{{(loan?.proposal?.data | jsonParse)?.dateOfExpiry | date}}
                        ({{(loan?.proposal?.data | jsonParse)?.dateOfExpiry | engNepDate: false}})</span>
                    <span *ngIf="(loan?.proposal?.data | jsonParse)?.limitExpiryMethod === 'CUSTOM'">{{loan.proposal?.duration}} {{loan.proposal?.frequency}} {{loan.proposal?.condition}}</span>
                </td>
                <td class="text-right pr-1">Rs. {{calculateChangeInAmount((loan?.proposal?.data | jsonParse)?.proposedLimit,
                    (loan?.proposal?.data | jsonParse)?.existingLimit)}}</td>
                <td class="pr-1 pl-1">
                    <span *ngIf="(array[i]?.isFundable && (array[i]?.loanNature === 'Terminating' || array[i]?.loanNature === 'Revolving'))
                    || array[i]?.isFixedDeposit || array[i]?.isVehicle || array[i]?.isShare || array[i]?.isGeneral || array[i]?.isHome">
                        IR : {{(loan?.proposal?.data | jsonParse)?.interestRate}} %,
                    </span>
                    <span *ngIf="(array[i]?.isFundable && (array[i]?.loanNature === 'Terminating' || array[i]?.loanNature === 'Revolving')
                    && array[i]?.loanNatureSelected && array[i]?.fundableNonFundableSelcted) || array[i]?.isVehicle || array[i]?.isShare || array[i]?.isGeneral || array[i]?.isHome">
                        BR : {{ (loan?.proposal?.data | jsonParse)?.baseRate}} %,
                        PR : {{ (loan?.proposal?.data | jsonParse)?.premiumRateOnBaseRate}} %,
                    </span>
                    <span *ngIf="!array[i]?.isFundable && array[i]?.fundableNonFundableSelcted">
                        <span *ngIf="(loan?.proposal?.data | jsonParse)?.cashMarginMethod == 'FLAT'">
                            CM: Rs.  {{ ((loan?.proposal?.data | jsonParse)?.cashMargin || 0) | currencyFormatter}}
                            ,</span>
                        <span *ngIf="(loan?.proposal?.data | jsonParse)?.cashMarginMethod == 'PERCENT'">
                            CM: {{ ((loan?.proposal?.data | jsonParse)?.cashMargin)}} %,</span>
                        COM:{{(loan?.proposal?.data | jsonParse)?.commissionPercentage}} %
                    </span>
                    <span *ngIf="!(loan?.proposal?.data | jsonParse)?.interestRate
                        && !(loan?.proposal?.data | jsonParse)?.baseRate
                        && !(loan?.proposal?.data | jsonParse)?.cashMargin
                        && !(loan?.proposal?.data | jsonParse)?.commissionPercentage"> - </span>
                </td>
            </tr>
            <tr class="sb-bg-secondary text-white">
                <td class="text-left pl-1"><strong>Funded</strong></td>
                <td class="text-right pr-1">
                    Rs. {{ (getTotalFundable('existingLimit', true, customerAllLoanList)) | currencyFormatter }}</td>
                <td>-</td>
                <td class="text-right pr-1">
                    <span>
                        Rs. {{ getTotalFundable('outStandingLimit', true, customerAllLoanList) | currencyFormatter }}
                    </span>
                </td>
                <td></td>
                <td class="text-right pr-1">
                    Rs. {{ getTotalFundable('proposedLimit', true, customerAllLoanList) | currencyFormatter }}</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr class="sb-bg-secondary text-white">
                <td class="text-left pl-1"><strong>Non-Funded</strong></td>
                <td class="text-right pr-1">
                    Rs. {{ (getTotalFundable('existingLimit', false, customerAllLoanList) | currencyFormatter)}}</td>
                <td>-</td>
                <td class="text-right pr-1">
                    <span>
                        Rs. {{ getTotalFundable('outStandingLimit', false, customerAllLoanList) | currencyFormatter }}
                    </span>
                </td>
                <td></td>
                <td class="text-right pr-1">
                    Rs. {{ getTotalFundable('proposedLimit', false, customerAllLoanList) | currencyFormatter }}</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr class="sb-bg-secondary text-white">
                <td class="text-left pl-1"><strong>Total</strong></td>

                <td class="text-right pr-1">Rs. {{ getTotal('existingLimit') | currencyFormatter }}</td>
                <td>-</td>
                <td class="text-right pr-1">
                    <span>Rs. {{ getTotal('outStandingLimit') | currencyFormatter }}</span>
                </td>
                <td></td>
                <td class="text-right pr-1">Rs. {{ getTotal('proposedLimit') | currencyFormatter }}</td>
                <td>-</td>
                <td class="text-right pr-1">Rs. {{calculateTotalChangeAmount(customerAllLoanList, customerLoanDtoList)}}</td>
                <td>-</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #setNullEmpty>
    <span class="text-right pr-1"></span>
</ng-template>

<ng-template #tickCross let-status>
    <i *ngIf="status === DocStatus[DocStatus.APPROVED]" class="fas fa-check-circle"></i>
    <i *ngIf="status !== DocStatus[DocStatus.APPROVED]" class="fas fa-times-circle"></i>
</ng-template>
<ng-template #loanTypeLetter let-loanType>
    <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.NEW_LOAN)" class="text-round">N</i>
    <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.RENEWED_LOAN)"
       class="text-round">R</i>
    <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.ENHANCED_LOAN)"
       class="text-round">E</i>
    <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.CLOSURE_LOAN)"
       class="text-round">C</i>
    <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.PARTIAL_SETTLEMENT_LOAN)"
       class="text-round">P</i>
    <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.FULL_SETTLEMENT_LOAN)"
       class="text-round">F</i>
    <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.RENEW_WITH_ENHANCEMENT)"
       class="text-round">R/E</i>
</ng-template>

<div class="row">
    <div class="col-md-12 sb-medium">
        <strong>Total Proposed Limit (in words):</strong>
        {{ getTotal('proposedLimit') | currencyFormatter}}
        (Rs. {{ getTotal('proposedLimit') | inWords | titlecase }} Only /-)
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table
                class="table table-sm table-condensed table-bordered table-responsive-md text-center table-sm sb-small ">

            <tr class="text-white sb-bg-dark">
                <th *ngIf="isFixedDeposit">Coupon Rate</th>
                <th *ngIf="isFixedDeposit">Premium On Coupon Rate</th>
                <th *ngIf="((loanNatureSelected && fundableNonFundableSelcted && isFundable && isTerminating) || isVehicle || isShare || isGeneral || isHome)">
                    Prepayment Charge
                </th>
                <th>Collateral requirement (in%)</th>
            </tr>
            <tr>
                <th *ngIf="isFixedDeposit" class="text-right pr-1">{{proposalAllData?.couponRate}}</th>
                <th *ngIf="isFixedDeposit" class="text-right pr-1">{{proposalAllData?.premiumOnCouponRate}}</th>
                <td *ngIf="((loanNatureSelected && fundableNonFundableSelcted && isFundable && isTerminating) || isVehicle || isShare || isGeneral || isHome)"
                    class="text-right pr-1">{{proposalAllData?.prepaymentCharge}}%
                </td>
                <td class="text-right pr-1">{{proposalAllData?.collateralRequirement}}%</td>
            </tr>
        </table>
        <table
                class="table table-sm table-condensed table-bordered table-responsive-md text-center table-sm sb-small ">
            <tr class="text-white sb-bg-dark">
                <th *ngIf="(loanNatureSelected && fundableNonFundableSelcted && isFundable && isTerminating) || isVehicle || isShare || isGeneral || isHome">
                    Tenure Duration in Month
                </th>
                <th *ngIf="((loanNatureSelected && fundableNonFundableSelcted &&  isFundable &&  isTerminating) || isVehicle || isShare || isGeneral || isHome)">
                    Repayment Mode
                </th>
                <th *ngIf="showInstallmentAmount  && ((loanNatureSelected && fundableNonFundableSelcted &&  isFundable &&  isTerminating) || isVehicle || isShare || isGeneral || isHome)">
                    Installment Amount
                </th>
                <th *ngIf="!showInstallmentAmount && ((loanNatureSelected && isFundable && fundableNonFundableSelcted
            && isTerminating) || (isVehicle || isShare || isGeneral || isHome))">Interest Amount
                </th>
                <th *ngIf="showRepaymentMode && ((loanNatureSelected && isFundable && fundableNonFundableSelcted && isTerminating) || (isVehicle || isShare || isGeneral || isHome))">
                    Interest Payment
                </th>
                <th *ngIf="showRepaymentMode && ((loanNatureSelected && isFundable && fundableNonFundableSelcted && isTerminating) || (isVehicle || isShare || isGeneral || isHome))">
                    Principal Payment
                </th>
                <th *ngIf="showRepaymentMode && ((loanNatureSelected && isFundable && fundableNonFundableSelcted &&
            isTerminating) || (isVehicle || isShare || isGeneral || isHome))">Principal Amount
                </th>
                <th *ngIf="showPrincipalAmount && ((loanNatureSelected && isFundable && fundableNonFundableSelcted &&
            isTerminating) || (isVehicle || isShare || isGeneral || isHome))">Principal Amount
                </th>
                <th *ngIf="(loanNatureSelected && fundableNonFundableSelcted && isFundable && isTerminating) || isVehicle || isGeneral || isHome">
                    Moratorium Period (Month)
                </th>
                <th *ngIf="((loanNatureSelected && fundableNonFundableSelcted && isFundable && (isTerminating || isRevolving)) || isVehicle || isShare || isGeneral || isHome)">
                    Commitment Fee
                </th>
            </tr>
            <tr>
                <td *ngIf="(loanNatureSelected && fundableNonFundableSelcted && isFundable && isTerminating) || isVehicle || isShare || isGeneral || isHome"
                    class="text-right pr-1">{{proposalAllData?.tenureDurationInMonths || 'N/A'}}</td>
                <td *ngIf="((loanNatureSelected && fundableNonFundableSelcted &&  isFundable &&  isTerminating) || isVehicle || isShare || isGeneral || isHome)"
                    class="text-left pl-1">{{proposalAllData?.repaymentMode || 'N/A'}}</td>
                <td *ngIf="showInstallmentAmount  && ((loanNatureSelected && fundableNonFundableSelcted && isTerminating  && isFundable) || ( isVehicle || isShare || isGeneral || isHome))"
                    class="text-right pr-1">Rs. {{proposalAllData?.installmentAmount | currencyFormatter}}</td>
                <td *ngIf="!showInstallmentAmount && ((loanNatureSelected && isFundable && fundableNonFundableSelcted && isTerminating) || (isVehicle || isShare || isGeneral || isHome))"
                    class="text-right pr-1">Rs. {{proposalAllData?.interestAmount | currencyFormatter}}</td>
                <td *ngIf="showRepaymentMode && ((loanNatureSelected && isFundable && fundableNonFundableSelcted && isTerminating) || (isVehicle || isShare || isGeneral || isHome))"
                    class="text-left pl-1">{{proposalAllData?.repaymentModeInterest}}</td>
                <td *ngIf="showRepaymentMode && ((loanNatureSelected && isFundable && fundableNonFundableSelcted && isTerminating) || (isVehicle || isShare || isGeneral || isHome))"
                    class="text-left pl-1">{{proposalAllData?.repaymentModePrincipal}}</td>
                <td *ngIf="showRepaymentMode && ((loanNatureSelected && isFundable && fundableNonFundableSelcted && isTerminating) || (isVehicle || isShare || isGeneral || isHome))"
                    class="text-right pr-1">Rs.{{proposalAllData?.principalAmount}}</td>
                <td *ngIf="showPrincipalAmount && ((loanNatureSelected && isFundable && fundableNonFundableSelcted && isTerminating) || (isVehicle || isShare || isGeneral || isHome))"
                    class="text-right pr-1">Rs.{{proposalAllData?.principalAmount}}</td>
                <td *ngIf="(loanNatureSelected && fundableNonFundableSelcted && isFundable && isTerminating) || isVehicle || isGeneral || isHome"
                    class="text-right pr-1">{{proposalAllData?.moratoriumPeriod}}</td>
                <td *ngIf="((loanNatureSelected && fundableNonFundableSelcted && isFundable && (isTerminating || isRevolving)) || isVehicle || isShare || isGeneral || isHome)"
                    class="text-right pr-1">{{proposalAllData?.commitmentFee || 0}} %
                </td>
            </tr>
        </table>
    </div>
</div>
