.text-round {
  background-color: #000000;
  padding: 3px;
  color: #ffffff;
  border-radius: 100%;
  text-align: center;
  margin: 1px;
  font-style: normal;
}
th, td {
  vertical-align: middle!important;
}
.sn {
  width: 1px;
}
.pl{
  padding-left: 10px;
}
.pr{
  padding-left: 10px;
}
