<div class="row mt-1">
  <div class="col-md-12 sb-small">
    <p><strong>Facility Schedule: </strong> <em class="text-danger sb-small"> &nbsp;Bold row indicates
      current loan proposal</em></p>
    <ul>
      <li class="sb-medium"><i class="fas fa-check-circle"></i> = Approved
        <i class="fas fa-times-circle"></i> = Not Approved,
        <i class="text-round">N</i>ew Loan
        <i class="text-round">R</i>enewed Loan
        <i class="text-round">E</i>nhanced Loan
        <i class="text-round">C</i>losure Loan
        <i class="text-round">P</i>artial Settlement Loan
        <i class="text-round">F</i>ull Settlement Loan
        <i class="text-round">R/E</i>new With Enhancement
      </li>
      <li class="sb-medium"><span><sup>*</sup>  IR : Interest Rate ,<sup>*</sup> BR : Base Rate ,<sup>*</sup> PR : Premium Rate
        <span *ngIf="!consumerFinance">,<sup>*</sup> COM : Commission ,<sup>*</sup> CM : Cash margin</span></span>
      </li>
    </ul>
  </div>
</div>
<div class="col-md-12">
  <div class="row">

  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table
            class="table table-bordered table-responsive-md table-sm sb-small text-center">
      <thead>
      <tr class="sb-bg-dark text-white">
        <th>Loan Facility(Created Date(AD/BS))</th>
        <th>Existing Limit</th>
        <th *ngIf="!isRemit">Outstanding</th>
        <th *ngIf="!isRemit">Enhance</th>
        <th *ngIf="!isRemit">Settlement</th>
        <th>Proposed Limit</th>

        <!--        <th>Existing INT/COM/CM</th>-->
        <!--        for non funded commision and cash margin combination to be view-->
        <th *ngIf="!isRemit">{{consumerFinance?'Existing INT':'Existing INT/COM/CM'}}</th>
        <th *ngIf="!isRemit">{{consumerFinance?'Proposed INT':'Proposed INT/COM/CM'}}</th>

        <th>Loan Administration Fee </th>
        <th>Limit Expiry/Tenure(AD/BS)</th>
        <th>Repayment Mode</th>
        <th>Other Details</th>
        <th>Purpose of Loan</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let loan of customerAllLoanList, let i = index"
          [class.font-weight-bold]="proposalData?.id === loan?.proposal?.id">
        <td class="text-left pl-1">
          <ng-container
                  *ngTemplateOutlet="tickCross; context: { $implicit: loan?.documentStatus}"></ng-container>
          &nbsp;|&nbsp;
          <ng-container
                  *ngTemplateOutlet="loanTypeLetter; context: { $implicit: loan?.loanType }"></ng-container>
          &nbsp;|&nbsp;
          {{ loan?.loan?.name }} ({{ loan?.createdAt | date}} ({{ loan?.createdAt | engNepDate: false }}))
        </td>
        <td class="text-right pr-1">
          <span *ngIf="(loan?.proposal?.data | jsonParse)?.existingLimit">
            Rs. {{(loan?.proposal?.data | jsonParse)?.existingLimit | currencyFormatter}}
          </span>
          <span *ngIf="!(loan?.proposal?.data | jsonParse)?.existingLimit">-</span></td>
        <td class="text-right pr-1" *ngIf="!isRemit">
          <span *ngIf="(loan?.proposal?.data | jsonParse)?.outStandingLimit">
            Rs. {{(loan?.proposal?.data | jsonParse)?.outStandingLimit | currencyFormatter}}</span>
          <span *ngIf="!(loan?.proposal?.data | jsonParse)?.outStandingLimit">-</span>
        </td>
        <td class="text-right pr-1" *ngIf="!isRemit">
          <span *ngIf="(loan?.proposal?.data | jsonParse)?.enhanceLimitAmount">
            Rs. {{(loan?.proposal?.data | jsonParse)?.enhanceLimitAmount | currencyFormatter}}
          </span>
          <span *ngIf="!(loan?.proposal?.data | jsonParse)?.enhanceLimitAmount">-</span>
        </td>
        <td class="text-right pr-1" *ngIf="!isRemit">
          <span *ngIf="(loan?.proposal?.data | jsonParse)?.settlementAmount">
            Rs. {{(loan?.proposal?.data | jsonParse)?.settlementAmount | currencyFormatter}}
          </span>
          <span *ngIf="!(loan?.proposal?.data | jsonParse)?.settlementAmount">-</span></td>

        <td class="text-right pr-1">Rs. {{loan?.proposal?.proposedLimit | currencyFormatter}}</td>
        <!--                Existing INT/COM/CM-->
        <!--        <td>-</td>-->
        <td *ngIf="!isRemit">
                    <span *ngIf="loan?.loan?.isFundable">
                        IR: {{(loan?.proposal?.data | jsonParse)?.existInterestRate}}%
                    </span>
          <span *ngIf="!loan?.loan?.isFundable">
                        <span
                                *ngIf="(loan?.proposal?.data | jsonParse)?.existCashMarginMethod == 'FLAT'">
                            CM: Rs. {{ ((loan?.proposal?.data | jsonParse)?.existCashMargin || 0)|currencyFormatter}} ,</span>
                        <span *ngIf="(loan?.proposal?.data | jsonParse)?.existCashMarginMethod == 'PERCENT'">
                            CM: {{ ((loan?.proposal?.data | jsonParse)?.existCashMargin || 0)}}%,</span>
                        COM:{{(loan?.proposal?.data | jsonParse)?.existCommissionPercentage || '0'}} %
                    </span>
        </td>
        <td>
          <span *ngIf="loan?.loan?.isFundable">
            BR : {{ (loan?.proposal?.data | jsonParse)?.baseRate}} %,
            PR : {{ (loan?.proposal?.data | jsonParse)?.premiumRateOnBaseRate}} %,
            IR : {{(loan?.proposal?.data | jsonParse)?.interestRate}} %
          </span>
          <span *ngIf="!loan?.loan?.isFundable">
            <span *ngIf="(loan?.proposal?.data | jsonParse)?.cashMarginMethod == 'FLAT'">
              CM: Rs.  {{ ((loan?.proposal?.data | jsonParse)?.cashMargin || 0) | currencyFormatter}} ,</span>
            <span *ngIf="(loan?.proposal?.data | jsonParse)?.cashMarginMethod == 'PERCENT'">
              CM: {{ ((loan?.proposal?.data | jsonParse)?.cashMargin)}} %,</span>
            COM:{{(loan?.proposal?.data | jsonParse)?.commissionPercentage}} %</span>
        </td>
        <td class="text-right pr-1">
          <div *ngIf="(loan?.proposal?.data | jsonParse)?.serviceChargeMethod === 'FLAT'; else percentage">
            Rs. {{(loan?.proposal?.data | jsonParse)?.serviceCharge | currencyFormatter}}</div>
          <ng-template #percentage>{{(loan?.proposal?.data | jsonParse)?.serviceCharge}} %</ng-template>
        </td>
        <td>{{(loan?.proposal?.data | jsonParse)?.tenureDurationInMonths}} month

<!--        <td width="150px" class="text-left pl-1">-->
<!--          <span *ngIf="!loan.proposal.limitExpiryMethod">-</span>-->
<!--          <span *ngIf="loan.proposal.limitExpiryMethod === 'ABSOLUTE'">{{loan.proposal?.dateOfExpiry | date}} ({{loan.proposal?.dateOfExpiry | engNepDate: false}})</span>-->
<!--          <span *ngIf="loan.proposal.limitExpiryMethod === 'CUSTOM'">{{loan.proposal?.duration}} {{loan.proposal?.frequency}} {{loan.proposal?.condition}}</span>-->
<!--        </td>-->
        <td>
          <ng-container>
            <table>
              <tr class="text-white sb-bg-dark">
                <th *ngIf="(loanDatas[i]?.loanNatureSelected && loanDatas[i]?.fundableNonFundableSelcted &&   loanDatas[i]?.isFundable &&   loanDatas[i]?.isTerminating) ||  loanDatas[i]?.isVehicle ||  loanDatas[i]?.isShare ||  loanDatas[i]?.isGeneral">Repayment Mode</th>
                <th *ngIf=" loanDatas[i]?.showInstallmentAmount  && ((loanDatas[i]?.loanNatureSelected && loanDatas[i]?.fundableNonFundableSelcted &&  loanDatas[i]?.isFundable &&  loanDatas[i]?.isTerminating) || loanDatas[i]?.isVehicle || loanDatas[i]?.isShare || loanDatas[i]?.isGeneral)">EMI Amount</th>
                <th *ngIf="! loanDatas[i]?.showInstallmentAmount &&  ((loanDatas[i]?.loanNatureSelected && loanDatas[i]?.isFundable && loanDatas[i]?.fundableNonFundableSelcted && loanDatas[i]?.isTerminating) || (loanDatas[i]?.isVehicle || loanDatas[i]?.isShare || loanDatas[i]?.isGeneral))">Interest Amount</th>
                <th *ngIf=" loanDatas[i]?.showRepaymentMode && ((loanDatas[i]?.loanNatureSelected && loanDatas[i]?.isFundable && loanDatas[i]?.fundableNonFundableSelcted && loanDatas[i]?.isTerminating) || (loanDatas[i]?.isVehicle || loanDatas[i]?.isShare || loanDatas[i]?.isGeneral))">Interest Payment</th>
                <th *ngIf=" loanDatas[i]?.showRepaymentMode && ((loanDatas[i]?.loanNatureSelected && loanDatas[i]?.isFundable && loanDatas[i]?.fundableNonFundableSelcted && loanDatas[i]?.isTerminating) || (loanDatas[i]?.isVehicle || loanDatas[i]?.isShare || loanDatas[i]?.isGeneral))">Principal Payment</th>
                <th *ngIf=" loanDatas[i]?.showRepaymentMode && ((loanDatas[i]?.loanNatureSelected && loanDatas[i]?.isFundable && loanDatas[i]?.fundableNonFundableSelcted && loanDatas[i]?.isTerminating) || (loanDatas[i]?.isVehicle || loanDatas[i]?.isShare || loanDatas[i]?.isGeneral))">Principal Amount</th>
                <th *ngIf=" loanDatas[i]?.showPrincipalAmount && ((loanDatas[i]?.loanNatureSelected && loanDatas[i]?.isFundable && loanDatas[i]?.fundableNonFundableSelcted && loanDatas[i]?.isTerminating) || (loanDatas[i]?.isVehicle || loanDatas[i]?.isShare || loanDatas[i]?.isGeneral))">Principal Amount</th>
              </tr>
              <tr>
                <td *ngIf="(loanDatas[i]?.loanNatureSelected &&  loanDatas[i]?.fundableNonFundableSelcted &&   loanDatas[i]?.isFundable &&   loanDatas[i]?.isTerminating) ||  loanDatas[i]?.isVehicle ||  loanDatas[i]?.isShare ||  loanDatas[i]?.isGeneral" class="pl-1">{{(loan?.proposal?.data | jsonParse)?.repaymentMode}}</td>
                <td *ngIf=" loanDatas[i]?.showInstallmentAmount  && ((loanDatas[i]?.loanNatureSelected &&  loanDatas[i]?.fundableNonFundableSelcted &&  loanDatas[i]?.isTerminating  &&  loanDatas[i]?.isFundable) || (  loanDatas[i]?.isVehicle ||  loanDatas[i]?.isShare ||  loanDatas[i]?.isGeneral))" class=" pr-1">Rs. {{(loan?.proposal?.data | jsonParse)?.installmentAmount | currencyFormatter}}</td>
                <td *ngIf="! loanDatas[i]?.showInstallmentAmount &&  ((loanDatas[i]?.loanNatureSelected &&  loanDatas[i]?.isFundable &&  loanDatas[i]?.fundableNonFundableSelcted &&  loanDatas[i]?.isTerminating) || ( loanDatas[i]?.isVehicle ||  loanDatas[i]?.isShare ||  loanDatas[i]?.isGeneral))" class=" pr-1">Rs. {{(loan?.proposal?.data | jsonParse)?.interestAmount | currencyFormatter}}</td>
                <td *ngIf=" loanDatas[i]?.showRepaymentMode && ((loanDatas[i]?.loanNatureSelected &&  loanDatas[i]?.isFundable &&  loanDatas[i]?.fundableNonFundableSelcted &&  loanDatas[i]?.isTerminating) || ( loanDatas[i]?.isVehicle ||  loanDatas[i]?.isShare ||  loanDatas[i]?.isGeneral))" class=" pl-1">{{(loan?.proposal?.data | jsonParse)?.repaymentModeInterest}}</td>
                <td *ngIf=" loanDatas[i]?.showRepaymentMode && ((loanDatas[i]?.loanNatureSelected &&  loanDatas[i]?.isFundable &&  loanDatas[i]?.fundableNonFundableSelcted &&  loanDatas[i]?.isTerminating) || ( loanDatas[i]?.isVehicle ||  loanDatas[i]?.isShare ||  loanDatas[i]?.isGeneral))" class=" pl-1">{{(loan?.proposal?.data | jsonParse)?.repaymentModePrincipal}}</td>
                <td *ngIf=" loanDatas[i]?.showRepaymentMode && ((loanDatas[i]?.loanNatureSelected &&  loanDatas[i]?.isFundable &&  loanDatas[i]?.fundableNonFundableSelcted &&  loanDatas[i]?.isTerminating) || ( loanDatas[i]?.isVehicle ||  loanDatas[i]?.isShare ||  loanDatas[i]?.isGeneral))" class=" pr-1">Rs.{{(loan?.proposal?.data | jsonParse)?.principalAmount}}</td>
                <td *ngIf=" loanDatas[i]?.showPrincipalAmount && ((loanDatas[i]?.loanNatureSelected &&  loanDatas[i]?.isFundable &&  loanDatas[i]?.fundableNonFundableSelcted &&  loanDatas[i]?.isTerminating) || ( loanDatas[i]?.isVehicle ||  loanDatas[i]?.isShare ||  loanDatas[i]?.isGeneral))" class=" pr-1">Rs.{{(loan?.proposal?.data | jsonParse)?.principalAmount}}</td>
              </tr>
            </table>
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="(loan?.proposal?.data | jsonParse)?.serviceCharge" class="pr-1">
            <span >Loan Administration: </span>
            <div *ngIf="(loan.proposal?.data | jsonParse)?.serviceChargeMethod === 'FLAT'; else percentage">
              Rs. {{(loan?.proposal?.data | jsonParse)?.serviceCharge | currencyFormatter}}</div>
            <ng-template #percentage>{{(loan?.proposal?.data | jsonParse)?.serviceCharge}} % </ng-template>
          </ng-container>
          <ng-container *ngIf="(loan?.proposal?.data | jsonParse)?.commitmentFee">
            <span >Commitment Fee :</span>
            <span>{{(loan?.proposal?.data | jsonParse)?.commitmentFee || 'N/A'}}</span>
          </ng-container>
          <ng-container *ngIf="loan?.proposal?.prepaymentCharge">
            <span >Prepayment Fee: </span>
            <span>{{loan?.proposal?.prepaymentCharge || 'N/A'}}</span>
          </ng-container>
          <ng-container *ngIf="(loan?.proposal?.data | jsonParse)?.swapCharge">
            <span >Swap Fee: </span>
            <span>{{(loan?.proposal?.data | jsonParse)?.swapCharge || 'N/A'}}</span>

          </ng-container>
        </td>
        <td>
                    <span *ngIf="(loan?.proposal?.data | jsonParse)?.purposeOfLoan">
                        {{(loan?.proposal?.data | jsonParse)?.purposeOfLoan}}
                    </span>
        </td>
      </tr>
      <tr *ngFor="let loanDto of customerLoanDtoList"
          [class.font-weight-bold]="proposalData?.id === loanDto?.proposal?.id">
        <td class="text-left pl-1">
          <ng-container
                  *ngTemplateOutlet="tickCross; context: { $implicit: loanDto?.documentStatus}"></ng-container>
          &nbsp;|&nbsp;
          <ng-container
                  *ngTemplateOutlet="loanTypeLetter; context: { $implicit: loanDto?.loanType }"></ng-container>
          &nbsp;|&nbsp;
          {{ loanDto?.name }} ({{ loanDto?.createdAt | date}} ({{ loanDto?.createdAt | engNepDate: false }}))
        </td>
        <td class="text-right pr-1">
                    <span *ngIf="(loanDto?.proposal?.data | jsonParse)?.existingLimit">
                        Rs. {{(loanDto?.proposal?.data | jsonParse)?.existingLimit | currencyFormatter}}
                    </span>
          <span *ngIf="!(loanDto?.proposal?.data | jsonParse)?.existingLimit">-</span></td>
        <td class="text-right pr-1">
                    <span *ngIf="(loanDto?.proposal?.data | jsonParse)?.outStandingLimit">
                        Rs. {{(loanDto?.proposal?.data | jsonParse)?.outStandingLimit | currencyFormatter}}
                    </span>
          <span *ngIf="!(loanDto?.proposal?.data | jsonParse)?.outStandingLimit">-</span>
        </td>
        <td class="text-right pr-1">
                    <span *ngIf="(loanDto?.proposal?.data | jsonParse)?.enhanceLimitAmount">
                        Rs. {{(loanDto?.proposal?.data | jsonParse)?.enhanceLimitAmount | currencyFormatter}}
                    </span>
          <span *ngIf="!(loanDto?.proposal?.data | jsonParse)?.enhanceLimitAmount">-</span>
        </td>
        <td class="text-right pr-1">
                    <span *ngIf="(loanDto?.proposal?.data | jsonParse)?.settlementAmount">
                        Rs. {{(loanDto?.proposal?.data | jsonParse)?.settlementAmount | currencyFormatter}}
                    </span>
          <span *ngIf="!(loanDto?.proposal?.data | jsonParse)?.settlementAmount">-</span>
        </td>

        <td class="text-right pr-1">Rs. {{loanDto?.proposal?.proposedLimit | currencyFormatter}}</td>

        <td class="text-right pr-1">
                    <span *ngIf="(loanDto.isFundable) && ((loanDto?.proposal?.data | jsonParse)?.existInterestRate) > 0 ">
                        IR: {{(loanDto?.proposal?.data | jsonParse)?.existInterestRate}} %
                    </span>
          <span *ngIf="!loanDto.isFundable">
                        <span *ngIf="((loanDto?.proposal?.data | jsonParse)?.existCashMarginMethod == 'FLAT') && ((loanDto?.proposal?.data | jsonParse)?.existCashMargin > 0)">
                            CM: Rs. {{(loanDto?.proposal?.data | jsonParse)?.existCashMargin || 0 | currencyFormatter}} ,</span>
                        <span *ngIf="((loanDto?.proposal?.data | jsonParse)?.existCashMarginMethod == 'PERCENT') && ((loanDto?.proposal?.data | jsonParse)?.existCashMargin > 0)">
                            CM: {{ ((loanDto?.proposal?.data | jsonParse)?.existCashMargin || 0)}} %,</span>
                        <span *ngIf="(loanDto?.proposal?.data | jsonParse)?.existCommissionPercentage > 0">
                            COM:{{(loanDto?.proposal?.data | jsonParse)?.existCommissionPercentage || '0'}} %
                        </span>
                    </span>
          <span *ngIf="(loanDto?.proposal?.data | jsonParse)?.serviceChargeMethod === 'FLAT' && (loanDto?.proposal?.data | jsonParse)?.existingServiceCharge !== null">
                       SC: {{client === clientName?.SHINE_RESUNGA ? '' : 'Rs. '}} {{(loanDto?.proposal?.data | jsonParse)?.existingServiceCharge}}</span>
          <span *ngIf="(loanDto?.proposal?.data | jsonParse)?.serviceChargeMethod === 'PERCENT' && (loanDto?.proposal?.data | jsonParse)?.existingServiceCharge !== null">
                            SC: {{(loanDto?.proposal?.data | jsonParse)?.existingServiceCharge}} {{client === clientName?.SHINE_RESUNGA ? '' : ' %'}}</span>
          <span *ngIf="((loanDto?.proposal?.data | jsonParse)?.existInterestRate === null)
                    && ((loanDto?.proposal?.data | jsonParse)?.existCashMargin === null)
                    && ((loanDto?.proposal?.data | jsonParse)?.existingServiceCharge === null)
                    && ((loanDto?.proposal?.data | jsonParse)?.existCommissionPercentage === null)">-</span>
        </td>

        <td>
                    <span *ngIf="loanDto.isFundable">
                        BR : {{ (loanDto?.proposal?.data | jsonParse)?.baseRate}} %,
                        PR : {{ (loanDto?.proposal?.data | jsonParse)?.premiumRateOnBaseRate}} %,
                        IR : {{(loanDto?.proposal?.data | jsonParse)?.interestRate}} %
                    </span>
          <span *ngIf="!loanDto.isFundable">
                        <span *ngIf="(loanDto?.proposal?.data | jsonParse)?.cashMarginMethod == 'FLAT'">
                            CM: Rs.  {{ ((loanDto?.proposal?.data | jsonParse)?.cashMargin || 0) | currencyFormatter}}
                          ,</span>
                        <span *ngIf="(loanDto?.proposal?.data | jsonParse)?.cashMarginMethod == 'PERCENT'">
                            CM: {{ ((loanDto?.proposal?.data | jsonParse)?.cashMargin)}} %,</span>
                        COM:{{(loanDto?.proposal?.data | jsonParse)?.commissionPercentage}} %</span>
        </td>

        <td class="text-right pr-1">
                    <span *ngIf="(loanDto?.proposal?.data | jsonParse)?.serviceChargeMethod === 'FLAT' && (loanDto?.proposal?.data | jsonParse)?.serviceCharge !== ''">
                        SC: {{client === clientName?.SHINE_RESUNGA ? '' : 'Rs. '}}{{(loanDto?.proposal?.data | jsonParse)?.serviceCharge}}</span>
          <span *ngIf="(loanDto?.proposal?.data | jsonParse)?.serviceChargeMethod === 'PERCENT' && (loanDto?.proposal?.data | jsonParse)?.serviceCharge !== ''">
                        SC: {{(loanDto?.proposal?.data | jsonParse)?.serviceCharge}} {{client === clientName?.SHINE_RESUNGA ? '' : ' %'}}</span>
          <span *ngIf="(loanDto?.proposal?.data | jsonParse)?.serviceCharge === '' || (loanDto?.proposal?.data | jsonParse)?.serviceCharge === null">-</span>
        </td>

        <!--        <td>{{(loan?.proposal?.data | jsonParse)?.tenureDurationInMonths}} month</td>-->
        <!--        <td>{{(loan?.proposal?.data | jsonParse)?.repaymentMode}}</td>-->
        <!--        <td>Rs. {{(loan?.proposal?.data | jsonParse)?.installmentAmount | currencyFormatter}}</td>-->
        <!--        <td>Rs. {{(loan?.proposal?.data | jsonParse)?.interestAmount | currencyFormatter}}</td>-->
        <!--        <td>{{(loan?.proposal?.data | jsonParse)?.moratoriumPeriod }} months</td>-->
        <!--        <td>Rs. {{(loan?.proposal?.data | jsonParse)?.prepaymentCharge | currencyFormatter}}</td>-->
        <td width="150px" class="text-left pl-1">
          <span *ngIf="!loanDto.proposal.limitExpiryMethod">-</span>
          <span *ngIf="loanDto.proposal.limitExpiryMethod === 'ABSOLUTE'">{{loanDto.proposal?.dateOfExpiry | date}}
            ({{loanDto.proposal?.dateOfExpiry | engNepDate: false}})</span>
          <span *ngIf="loanDto.proposal.limitExpiryMethod === 'CUSTOM'">{{loanDto.proposal?.duration}} {{loanDto.proposal?.frequency}} {{loanDto.proposal?.condition}}</span>
        </td>
      </tr>
      <tr class="sb-bg-secondary text-white">
        <td class="text-left pl-1"><strong>Funded</strong></td>
        <td class="text-right pr-1">Rs. {{ (getTotalFundable('existingLimit', true, customerAllLoanList)) | currencyFormatter }}</td>
        <td class="text-right pr-1" *ngIf="!isRemit">
          <span>
            Rs. {{ getTotalFundable('outStandingLimit', true, customerAllLoanList) | currencyFormatter }}
          </span>
        </td>
        <td class="text-right pr-1" *ngIf="!isRemit">
          <span>
            Rs. {{ getTotalFundable('enhanceLimitAmount', true, customerAllLoanList) | currencyFormatter }}
          </span>
        </td>
        <td class="text-right pr-1" *ngIf="!isRemit">
          <span>
            Rs. {{ getTotalFundable('settlementAmount', true, customerAllLoanList) | currencyFormatter }}
          </span>
        </td>
        <td class="text-right pr-1">Rs. {{ getTotalFundable('proposedLimit', true, customerAllLoanList) | currencyFormatter }}</td>
        <ng-container *ngIf="isRemit;else gap;">
          <td >-</td>
          <td>-</td>
          <td>-</td>
        </ng-container>
        <ng-template #gap>
          <td >-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </ng-template>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="sb-bg-secondary text-white">
        <td class="text-left pl-1"><strong>Non-Funded</strong></td>
        <td class="text-right pr-1">Rs. {{ (getTotalFundable('existingLimit', false, customerAllLoanList) | currencyFormatter)}}</td>
        <td class="text-right pr-1" *ngIf="!isRemit">
          <span>
            Rs. {{ getTotalFundable('outStandingLimit', false, customerAllLoanList) | currencyFormatter }}
          </span>
        </td>
        <td class="text-right pr-1" *ngIf="!isRemit">
          <span>
            Rs. {{ getTotalFundable('enhanceLimitAmount', false, customerAllLoanList) | currencyFormatter }}
          </span>
        </td>
        <td class="text-right pr-1" *ngIf="!isRemit">
          <span>
            Rs. {{ getTotalFundable('settlementAmount', false, customerAllLoanList) | currencyFormatter }}
          </span>
        </td>
        <td class="text-right pr-1">Rs. {{ getTotalFundable('proposedLimit', false, customerAllLoanList) | currencyFormatter }}</td>
        <ng-container *ngIf="isRemit;else gaps;">
          <td >-</td>
          <td>-</td>
          <td>-</td>
        </ng-container>
        <ng-template #gaps>
          <td >-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </ng-template>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="sb-bg-secondary text-white">
        <td class="text-left pl-1"><strong>Total</strong></td>

        <td class="text-right pr-1">Rs. {{ getTotal('existingLimit') | currencyFormatter }}</td>
        <td class="text-right pr-1" *ngIf="!isRemit">
          <span>
            Rs. {{ getTotal('outStandingLimit') | currencyFormatter }}
          </span>
        </td>
        <td class="text-right pr-1" *ngIf="!isRemit">
          <span>
            Rs. {{ getTotal('enhanceLimitAmount') | currencyFormatter }}
          </span>
        </td>
        <td class="text-right pr-1" *ngIf="!isRemit">
          <span>
            Rs. {{ getTotal('settlementAmount') | currencyFormatter }}
          </span>
        </td>
        <td class="text-right pr-1">Rs. {{ getTotal('proposedLimit') | currencyFormatter }}</td>
        <ng-container *ngIf="isRemit;else gapss;">
          <td >-</td>
          <td>-</td>
          <td>-</td>
        </ng-container>
        <ng-template #gapss>
          <td >-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </ng-template>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #tickCross let-status>
  <i *ngIf="status === DocStatus[DocStatus.APPROVED]" class="fas fa-check-circle"></i>
  <i *ngIf="status !== DocStatus[DocStatus.APPROVED]" class="fas fa-times-circle"></i>
</ng-template>
<ng-template #loanTypeLetter let-loanType>
  <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.NEW_LOAN)" class="text-round">N</i>
  <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.RENEWED_LOAN)"
     class="text-round">R</i>
  <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.ENHANCED_LOAN)"
     class="text-round">E</i>
  <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.CLOSURE_LOAN)"
     class="text-round">C</i>
  <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.PARTIAL_SETTLEMENT_LOAN)"
     class="text-round">P</i>
  <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.FULL_SETTLEMENT_LOAN)"
     class="text-round">F</i>
  <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.RENEW_WITH_ENHANCEMENT)"
     class="text-round">R/E</i>
</ng-template>

<div class="row">
  <div class="col-md-12 sb-medium">
    <strong>Total Proposed Limit (in words):</strong>
    {{ getTotal('proposedLimit') | currencyFormatter}}
    (Rs. {{ getTotal('proposedLimit') | inWords | titlecase }} Only /-)
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table
            class="table table-sm table-condensed table-bordered table-responsive-md text-center table-sm sb-small ">

      <tr class="text-white sb-bg-dark">
        <th *ngIf="isFixedDeposit">Coupon Rate</th>
        <th *ngIf="isFixedDeposit">Premium On Coupon Rate</th>
        <th *ngIf="loanNatureSelected && fundableNonFundableSelcted && isFundable && isRevolving">Tenure of each deal</th>
        <th *ngIf="((client === clientName?.ICFC) && (proposalAllData?.prepaymentCharge > 0)) && ((loanNatureSelected && fundableNonFundableSelcted && isFundable && isTerminating) || isVehicle || isShare || isGeneral)">Prepayment Charge</th>
        <th *ngIf="((client !== clientName?.SHINE_RESUNGA) && (client !== clientName?.ICFC)) && ((loanNatureSelected && fundableNonFundableSelcted && isFundable && isTerminating) || isVehicle || isShare || isGeneral)">Prepayment Charge</th>
        <th>Collateral requirement (in%)</th>
      </tr>
      <tr>
        <th *ngIf="isFixedDeposit" class="text-right pr-1">{{proposalAllData?.couponRate}}</th>
        <th *ngIf="isFixedDeposit" class="text-right pr-1">{{proposalAllData?.premiumOnCouponRate}}</th>
        <td *ngIf="loanNatureSelected && fundableNonFundableSelcted && isFundable && isRevolving" class="text-right pr-1">{{proposalAllData?.tenorOfEachDeal || 'N/A'}}</td>
        <td *ngIf="((client === clientName?.ICFC) && (proposalAllData?.prepaymentCharge > 0)) && ((loanNatureSelected && fundableNonFundableSelcted && isFundable && isTerminating) || isVehicle || isShare || isGeneral)" class="text-right pr-1">{{proposalAllData?.prepaymentCharge}}%</td>
        <td *ngIf="((client !== clientName?.SHINE_RESUNGA) && (client !== clientName?.ICFC)) && ((loanNatureSelected && fundableNonFundableSelcted && isFundable && isTerminating) || isVehicle || isShare || isGeneral)" class="text-right pr-1">{{proposalAllData?.prepaymentCharge}}%</td>
        <td class="text-right pr-1">{{proposalAllData?.collateralRequirement}}%</td>
      </tr>
    </table>
    <table
            class="table table-sm table-condensed table-bordered table-responsive-md text-center table-sm sb-small ">
      <tr class="text-white sb-bg-dark">
        <th *ngIf="(loanNatureSelected && fundableNonFundableSelcted && isFundable && isTerminating) || isVehicle || isShare || isGeneral">Tenure Duration in Month</th>
        <th *ngIf="(client !== clientName?.ICFC || !showInterestAmount) && ((loanNatureSelected && fundableNonFundableSelcted &&  isFundable &&  isTerminating) || isVehicle || isShare || isGeneral)">Repayment Mode</th>
        <th *ngIf="showInstallmentAmount  && ((loanNatureSelected && fundableNonFundableSelcted &&  isFundable &&  isTerminating) || isVehicle || isShare || isGeneral)">Installment Amount</th>
        <th *ngIf="!showInstallmentAmount && (client !== clientName?.ICFC || !showInterestAmount) && ((loanNatureSelected && isFundable && fundableNonFundableSelcted
            && isTerminating) || (isVehicle || isShare || isGeneral))">Interest Amount</th>
        <th *ngIf="showRepaymentMode && ((loanNatureSelected && isFundable && fundableNonFundableSelcted && isTerminating) || (isVehicle || isShare || isGeneral))">Interest Payment</th>
        <th *ngIf="showRepaymentMode && ((loanNatureSelected && isFundable && fundableNonFundableSelcted && isTerminating) || (isVehicle || isShare || isGeneral))">Principal Payment</th>
        <th *ngIf="showRepaymentMode && (client !== clientName?.ICFC || !showInterestAmount) && ((loanNatureSelected && isFundable && fundableNonFundableSelcted &&
            isTerminating) || (isVehicle || isShare || isGeneral))">Principal Amount</th>
        <th *ngIf="showPrincipalAmount && (client !== clientName?.ICFC || !showInterestAmount) && ((loanNatureSelected && isFundable && fundableNonFundableSelcted &&
            isTerminating) || (isVehicle || isShare || isGeneral))">Principal Amount</th>
        <th *ngIf="(loanNatureSelected && fundableNonFundableSelcted && isFundable && isTerminating) || isVehicle || isGeneral">Moratorium Period (Month)</th>
<!--        <th *ngIf="(client !== clientName?.SHINE_RESUNGA) && ((loanNatureSelected && fundableNonFundableSelcted && isFundable && (isTerminating || isRevolving)) || isVehicle || isShare || isGeneral)">Commitment Fee</th>-->
        <th *ngIf="(client !== clientName?.SHINE_RESUNGA) && (client !== clientName?.LAXMIBANK) &&(checkedData?.swapChargeChecked)">Swap Charge</th>
        <th *ngIf="(client !== clientName?.LAXMIBANK) && checkedData?.subsidizedLoanChecked">Subsidy Rate(%)</th>
        <th *ngIf="checkedData?.subsidizedLoanChecked && (client !== clientName?.LAXMIBANK)">Subsidized Loan Type</th>
        <th *ngIf="checkedData?.subsidizedLoanChecked && (client !== clientName?.LAXMIBANK) && proposalAllData?.others !== null">Others</th>
      </tr>
      <tr>
        <td *ngIf="(loanNatureSelected && fundableNonFundableSelcted && isFundable && isTerminating) || isVehicle || isShare || isGeneral" class="text-right pr-1">{{proposalAllData?.tenureDurationInMonths || 'N/A'}}</td>
        <td *ngIf="(client !== clientName?.ICFC || !showInterestAmount) && ((loanNatureSelected && fundableNonFundableSelcted &&  isFundable &&  isTerminating) || isVehicle || isShare || isGeneral)" class="text-left pl-1">{{proposalAllData?.repaymentMode || 'N/A'}}</td>
        <td *ngIf="showInstallmentAmount  && ((loanNatureSelected && fundableNonFundableSelcted && isTerminating  && isFundable) || ( isVehicle || isShare || isGeneral))" class="text-right pr-1">Rs. {{proposalAllData?.installmentAmount | currencyFormatter}}</td>
        <td *ngIf="!showInstallmentAmount && (client !== clientName?.ICFC || !showInterestAmount) && ((loanNatureSelected && isFundable && fundableNonFundableSelcted && isTerminating) || (isVehicle || isShare || isGeneral))" class="text-right pr-1">Rs. {{proposalAllData?.interestAmount | currencyFormatter}}</td>
        <td *ngIf="showRepaymentMode && ((loanNatureSelected && isFundable && fundableNonFundableSelcted && isTerminating) || (isVehicle || isShare || isGeneral))" class="text-left pl-1">{{proposalAllData?.repaymentModeInterest}}</td>
        <td *ngIf="showRepaymentMode && ((loanNatureSelected && isFundable && fundableNonFundableSelcted && isTerminating) || (isVehicle || isShare || isGeneral))" class="text-left pl-1">{{proposalAllData?.repaymentModePrincipal}}</td>
        <td *ngIf="showRepaymentMode && (client !== clientName?.ICFC || !showInterestAmount) && ((loanNatureSelected && isFundable && fundableNonFundableSelcted && isTerminating) || (isVehicle || isShare || isGeneral))" class="text-right pr-1">Rs.{{proposalAllData?.principalAmount}}</td>
        <td *ngIf="showPrincipalAmount && (client !== clientName?.ICFC || !showInterestAmount) && ((loanNatureSelected && isFundable && fundableNonFundableSelcted && isTerminating) || (isVehicle || isShare || isGeneral))" class="text-right pr-1">Rs.{{proposalAllData?.principalAmount}}</td>
        <td *ngIf="(loanNatureSelected && fundableNonFundableSelcted && isFundable && isTerminating) || isVehicle || isGeneral" class="text-right pr-1">{{proposalAllData?.moratoriumPeriod}}</td>
<!--        <td *ngIf="(client !== clientName?.SHINE_RESUNGA) && ((loanNatureSelected && fundableNonFundableSelcted && isFundable && (isTerminating || isRevolving)) || isVehicle || isShare || isGeneral)" class="text-right pr-1">{{proposalAllData?.commitmentFee || 0}} %</td>-->
        <td *ngIf="(client !== clientName?.SHINE_RESUNGA) && (client !== clientName?.LAXMIBANK) &&(checkedData?.swapChargeChecked)">
          <div *ngIf="proposalAllData.swapChargeMethod === 'FLAT'; else percentage" class="text-right pr-1">Rs. {{proposalAllData.swapCharge | currencyFormatter}}</div>
          <ng-template #percentage>
            <div class="text-right pr-1">{{proposalAllData.swapCharge}} %</div>
          </ng-template></td>
        <td *ngIf="checkedData?.subsidizedLoanChecked">
          <div class="text-right pr-1" *ngIf="client === clientName?.ICFC; else otherBank">{{calculateInterestRate()}} %</div>
          <ng-template #otherBank>
            <div class="text-right pr-1" *ngIf="((client !== clientName?.ICFC) && (client !== clientName?.LAXMIBANK))">{{proposalAllData?.subsidizedLoan}} %</div>
          </ng-template>
        </td>
        <td class="text-left pl-1" *ngIf="checkedData?.subsidizedLoanChecked && (client !== clientName?.LAXMIBANK)">{{proposalAllData?.subsidyLoanType}}</td>
        <td class="text-left pl-1" *ngIf="checkedData?.subsidizedLoanChecked && (client !== clientName?.LAXMIBANK) && proposalAllData?.others !== null">{{proposalAllData?.others}}</td>
      </tr>




      <tr *ngIf="(loanDataHolder?.loanHolder?.cicl?.cibCharge | currencyFormatter) || loanDataHolder?.loanHolder?.cicl?.cibRemark">
        <td class="sb-bg-dark text-white">CIB Charge</td>
        <td>{{loanDataHolder?.loanHolder?.cicl?.cibCharge ?  loanDataHolder?.loanHolder?.cicl?.cibCharge  :  loanDataHolder?.loanHolder?.cicl?.cibRemark ? (loanDataHolder?.loanHolder?.cicl?.cibRemark | jsonParse)?.value:'N/A'}}</td>
      </tr>
      <tr>
        <td class="sb-bg-dark text-white">Loan Administration Fee</td>
        <td class="pr-1">
          <div *ngIf="(loanDataHolder.proposal?.data | jsonParse)?.serviceChargeMethod === 'FLAT'; else percentage">
            Rs. {{(loanDataHolder?.proposal?.data | jsonParse)?.serviceCharge | currencyFormatter}}</div>
          <ng-template #percentage>{{(loanDataHolder?.proposal?.data | jsonParse)?.serviceCharge}} % </ng-template>
        </td>
      </tr>
      <tr *ngIf="(loanDataHolder?.proposal?.data | jsonParse)?.commitmentFee">
        <td class="sb-bg-dark text-white">Commitment Fee</td>
        <td>{{(loanDataHolder?.proposal?.data | jsonParse)?.commitmentFee || 'N/A'}}</td>
      </tr>
      <tr *ngIf="loanDataHolder?.proposal?.prepaymentCharge">
        <td class="sb-bg-dark text-white">Prepayment Fee</td>
        <td>{{loanDataHolder?.proposal?.prepaymentCharge || 'N/A'}}</td>
      </tr>
      <tr *ngIf="(loanDataHolder?.proposal?.data | jsonParse)?.swapCharge">
        <td class="sb-bg-dark text-white">Swap Fee</td>
        <td>{{(loanDataHolder?.proposal?.data | jsonParse)?.swapCharge || 'N/A'}}</td>

      </tr>
    </table>
    <table *ngIf="productUtils.CBS_ENABLE"
           class="table table-sm table-condensed table-bordered table-responsive-md text-center table-sm sb-small ">
        <tr class="text-white sb-bg-dark">
          <th>Disbursement Criteria </th>
        </tr>
        <tr>
          <td class="text-left pl-1" [innerHTML]="proposalAllData?.disbursementCriteria | safeHtml"></td>
        </tr>
        <tr class="text-white sb-bg-dark">
          <th>Repayment</th>
        </tr>
        <tr>
          <td class="text-left pl-1" [innerHTML]="proposalAllData?.repayment || 'N/A' | safeHtml"></td>
        </tr>
        <tr class="text-white sb-bg-dark">
          <th *ngIf="client !== clientName?.LAXMIBANK">Loan Background</th>
          <th *ngIf="client === clientName?.LAXMIBANK">Justification of limit</th>
        </tr>
        <tr>
          <td class="text-left pl-1"><span [innerHTML]="proposalAllData?.borrowerInformation || 'N/A' | safeHtml"></span> </td>
        </tr>
    </table>

    <table class="table table-sm table-condensed table-bordered table-responsive-md text-center table-sm sb-small ">
      <tr class="text-white sb-bg-dark" *ngIf="client !== clientName?.LAXMIBANK">
        <th>
          <div *ngIf="(loanNatureSelected && fundableNonFundableSelcted && isFundable && isTerminating) || isVehicle || isShare || isGeneral; else commitmentDescription">
            Prepayment/Commitment/Swap Charge Description</div>
          <ng-template #commitmentDescription>
            <div *ngIf="(loanNatureSelected && fundableNonFundableSelcted && isFundable && (isTerminating || isRevolving)) || isVehicle || isShare || isGeneral; else swapChargeDescription">
              Commitment/Swap Charge Description</div>
          </ng-template>
          <ng-template #swapChargeDescription>
            Swap Charge Description
          </ng-template>
        </th>
      </tr>
      <tr *ngIf="client !== clientName?.LAXMIBANK">
        <td class="text-left pl-1"><span [innerHTML]="proposalAllData?.prepaymentSwapCommitment || 'N/A' | safeHtml"></span> </td>
      </tr>
      <tr class="text-white sb-bg-dark">
        <th>Summery & Recommendation</th>
      </tr>
      <tr>
        <td class="text-left pl-1"><span [innerHTML]="proposalAllData?.summeryRecommendation || 'N/A' | safeHtml"></span> </td>
      </tr>
      <tr class="text-white sb-bg-dark">
        <th>Remarks</th>
      </tr>
      <tr>
        <td class="text-left pl-1" [innerHTML]="proposalAllData?.remark || 'N/A' | safeHtml"></td>
      </tr>
      <ng-template #otherLoan>
        <tr class="text-white sb-bg-dark">
          <th>Purpose of Loan</th>
        </tr>
        <tr>
          <td class="text-left pl-1"  [innerHTML]="proposalAllData?.purposeOfLoan || 'N/A' | safeHtml"></td>
        </tr>
      </ng-template>
<!--      <ng-container *ngIf="checkedData?.waiverChecked && loanDataHolder?.loanHolder?.clientType!=='CONSUMER_FINANCE'">-->
<!--        <tr class="text-white sb-bg-dark">-->
<!--          <th>Waiver</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td class="text-left pl-1"><span [innerHTML]="proposalAllData?.waiverConclusionRecommendation || 'N/A' | safeHtml"></span></td>-->
<!--        </tr>-->
<!--      </ng-container>-->
<!--      <ng-container *ngIf="checkedData?.deviationChecked && loanDataHolder?.loanHolder?.clientType!=='CONSUMER_FINANCE'">-->
<!--        <tr class="text-white sb-bg-dark">-->
<!--          <th>Deviation</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td class="text-left pl-1"><span [innerHTML]="proposalAllData?.deviationConclusionRecommendation || 'N/A' | safeHtml"></span></td>-->
<!--        </tr>-->
<!--      </ng-container>-->
      <ng-container *ngIf="checkedData?.solChecked">
        <tr class="text-white sb-bg-dark">
          <th>Single Obligor Limit</th>
        </tr>
        <tr>
          <td class="text-left pl-1"><span [innerHTML]="proposalAllData?.solConclusionRecommendation || 'N/A' | safeHtml"></span></td>
        </tr>
      </ng-container>
      <ng-container *ngIf="checkedData?.riskChecked">
        <tr class="text-white sb-bg-dark">
          <th>Risk &
            Mitigation</th>
        </tr>
        <tr>
          <td class="text-left pl-1"><span [innerHTML]="proposalAllData?.riskConclusionRecommendation || 'N/A' | safeHtml"></span></td>
        </tr>
      </ng-container>
    </table>

    <table *ngIf="client === clientName?.SHINE_RESUNGA && checkedData?.solChecked"
           class="table table-condensed table-bordered table-sm table-responsive-md text-center sb-small" >
      <thead>
      <tr class="sb-bg-dark text-white">
        <th colspan="9">Single Obligor Limit Details</th>
      </tr>
      </thead>
      <tbody>
      <tr class="sb-bg-dark text-white">
        <th class="sn">S.N</th>
        <th>Client Name</th>
        <th>Facility Type</th>
        <th>Loan Limit(NPR)</th>
        <th>O/S limit (NPR)</th>
        <th>Proposed Limit(NPR)</th>
        <th>FMV/DV</th>
        <th>Exposure(%)</th>
        <th>Remarks</th>
      </tr>
      <tr *ngFor="let groupExposure of proposalAllData?.groupExposure; let i = index">
        <td>{{i + 1}}</td>
        <td class="text-left pl-1">{{groupExposure?.clientName}}</td>
        <td class="text-left pl-1">{{groupExposure?.facilityType}}</td>
        <td class="text-right pr-1">{{groupExposure?.loanLimit}}</td>
        <td class="text-right pr-1">{{groupExposure?.osLimit}}</td>
        <td class="text-right pr-1">{{groupExposure?.proposedLimit}}</td>
        <td class="text-right pr-1">{{groupExposure?.fmvDv}}</td>
        <td class="text-right pr-1">{{groupExposure?.exposure}}</td>
        <td class="text-left pl-1">{{groupExposure?.remarks}}</td>
      </tr>
      </tbody>
    </table>
    <table *ngIf="client === clientName?.SHINE_RESUNGA && checkedData?.solChecked"
           class="table table-condensed table-bordered table-sm table-responsive-md text-center sb-small" >
      <ng-container *ngIf="checkedData?.solChecked">
        <tr class="text-white sb-bg-dark">
          <th>Single Obligor Limit</th>
        </tr>
        <tr>
          <td class="text-left pl-1"><span [innerHTML]="proposalAllData?.solConclusionRecommendation || 'N/A' | safeHtml"></span></td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
