@import "../../progressive-offer-letter.component";

.nepaliConfig {
  font-size: 17px;
  line-height: 1.6;
  margin: 6px 20px;
  @extend .text-justify;
}

* {
  margin-top: 23px;
}

.bodyParagraphTable {
  text-align: justify;
  line-height: 1.5;
}

p {
  text-align: justify;
  line-height: 1.6;
}

span {
  font-size: 25px;
}

.unicode-size{
  font-size: 12pt;
}

.unicode-size2{
  font-size: 23px;
}

.unicode-size3{
  font-size: 21px;
}

.unicode-size4{
  font-size: 20px;
}

.unicode-size5{
  font-size: 17px;
}

.unicode-size6{
  font-size: 18px;
}
