<div class="container-fluid">
    <div class="row sb-small">
        <h6>Justification of 5 Pillars</h6>
        <div class="col-md-12">
           <table class="table table-responsive">
               <thead class="sb-bg-dark text-white">
               <tr>
                   <th>S.N</th>
                   <th>Five Pillars</th>
                   <th>Justification</th>
                   <th>Rating</th>
               </tr>
               </thead>
               <tbody>
               <tr>
                   <td>1.</td>
                   <td>Industry Environment</td>
                   <td>{{this.synopsisCreditworthiness?.industryEnvironmentPillar}}</td>
                   <td class="font-weight-bold">{{this.synopsisCreditworthiness?.industryEnvironment}}</td>
               </tr>
               <tr>
                   <td>2.</td>
                   <td>Financial Condition</td>
                   <td>{{this.synopsisCreditworthiness?.financialConditionPillar}}</td>
                   <td class="font-weight-bold">{{this.synopsisCreditworthiness?.financialCondition}}</td>
               </tr>
               <tr>
                   <td>3.</td>
                   <td>Management Quality</td>
                   <td>{{this.synopsisCreditworthiness?.managementQualityPillar}}</td>
                   <td class="font-weight-bold">{{this.synopsisCreditworthiness?.managementQuality}}</td>
               </tr>
               <tr>
                   <td>4.</td>
                   <td>Operational Strength</td>
                   <td>{{this.synopsisCreditworthiness?.operationStrengthPillar}}</td>
                   <td class="font-weight-bold">{{this.synopsisCreditworthiness?.technicalStrength}}</td>
               </tr>
               <tr>
                   <td>5.</td>
                   <td>Security Realization</td>
                   <td>{{this.synopsisCreditworthiness?.securityRealizationPillar}}</td>
                   <td class="font-weight-bold">{{this.synopsisCreditworthiness?.securityRealization}}</td>
               </tr>
               <tr>
                   <td>6.</td>
                   <td colspan="2" class="font-weight-bold">Overall Rating</td>
                   <td class="font-weight-bold">{{this.synopsisCreditworthiness?.overallRating}}</td>
               </tr>
               </tbody>
           </table>
        </div>
    </div>
</div>
<hr class="bg-dark">
