@import "src/app/feature/credit-administration/cad-document-template/progressive/progressive-offer-letter/progressive-offer-letter.component";

#detail {
  margin-left: 50px;
}

#fingerXap {
  width: 500px;
  margin-left: 10px;
  text-align: center;
}

#guarantor {
  margin-left: 50px;
}
