@import '../../progressive-legal-docs.component';

//*{
//margin-left:20px;
//margin-right:10px;
//
//}
@media print {
  .page-break { page-break-before: always; }
}
.tableGuarantor {
  width: 400px;
}

#fingerXap {
  width: 500px;
  margin-left: 10px;
  text-align: center;
}
.sizeFont{
  font-size: 16px;
}
table {
  width: 100%;
  text-align: center;
}

.viewFull {
  max-height: 85vh;
  text-align: justify;
}

span {
  line-height: 1;
}

.unicode-size24{
  font-size: 24px;
}
