<nb-card-header>
    <h6 class="text-center">Blacklisted Customers Details</h6><br>
    <div class="float-right">
        <button nbButton outline status="success" class="mb-4 mt-0" (click)="addExcelFile()">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <div class=row>
        <div class="col-md-6">
            <form (ngSubmit)="onSearch()">
                <div class="row">
                    <div class="col-md-8">
                        <input [(ngModel)]="search.name"
                               fullWidth name="name"
                               nbInput
                               placeholder="Name" type="text">
                    </div>
                    <div class="col-md-2">
                        <button nbButton status="info" size="small" type="submit" class="mr-2">Search</button>
                    </div>
                    <div class="col-md-2">
                        <button (click)="clearSearch()" class="mr-2" nbButton status="danger" size="small">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nb-card-header>
<nb-card-body>
    <table class="table table-bordered table-hover table-sm sb-small text-center" id="add-branch-table">
        <thead>
        <tr class="text-white sb-bg-dark">
            <th>S.N</th>
            <th>Name</th>
            <th>Number</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of blackList;let i=index">
            <div *ngIf="!blackList?.length > 0">
                <p>No Content Found</p>
            </div>
            <td>{{(pageable.number - 1) * pageable.size + i + 1}}.</td>
            <td>{{customer.name}}</td>
            <td>{{customer.ref}}</td>
            <td>{{getDocType(customer.docType | uppercase)}}</td>
            <td>
                <button nbButton size="small" (click)="remove(customer, confirmation)">Remove
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <app-spinner *ngIf="spinner" class="d-flex justify-content-center"></app-spinner>
    <!-- ===================table-pagination==================== -->
    <app-paging (changePage)="changePage($event)" *ngIf="!spinner"
                [pageable]="pageable"></app-paging>
    <!-- ===================table-pagination==================== -->
</nb-card-body>

<ng-template #confirmation>
    <div class="modal-content">
        <div class="modal-header">
            <h4>Remove ?</h4>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-header">
                    Please, Confirm the details before removal !
                </div>
                <div class="card-body">
                    <p><strong>Name</strong>: {{toBlacklist.name}}</p>
                    <p><strong>{{this.getDocType(
                        toBlacklist.docType | uppercase)}}</strong>: {{toBlacklist.ref}}</p>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button type="submit" class="btn btn-danger  btn-flat"
                        (click)="removeBlackList(true)">
                    YES
                </button>
                <button type="submit" class="btn btn-success  btn-flat ml-4"
                        (click)="removeBlackList(false)">
                    NO
                </button>
            </div>
        </div>
    </div>
</ng-template>
