<nb-card>
    <nb-card-header>
        <app-loan-action
                *ngIf="loanDataHolder && loanSummaryActive"
                [actionsList]="actionsList"
                [branchId]="loanDataHolder?.branch?.id"
                [catalogueStatus]="catalogueStatus"
                [combinedLoanId]="loanDataHolder?.combinedLoan?.id"
                [customerLoanHolder]="loanDataHolder"
                [customerType]="loanDataHolder?.loanCategory"
                [hasDeferredDocs]="hasMissingDeferredDocs"
                [id]="customerId"
                [loanCategory]="loanCategory"
                [loanConfigId]="loanConfigId"
                [loanFlags]="loanDataHolder?.loanHolder?.loanFlags"
        ></app-loan-action>

        <button *ngIf="loanDataHolder && approvalSheetActive"
                [useExistingCss]="true" class="btn-sm btn-warning float-right"
                ngxPrint printSectionId="print-block" styleSheetFile="assets/css/printStyles.scss">
            PRINT<i class="col-md-1 fa fa-print"></i>
        </button>

    </nb-card-header>
    <nb-card-body>
        <ng-container *ngIf="loanSummaryActive && loanDataHolder?.id">
            <!-- Micro Summary-->
            <app-micro-loan-summary
                    *ngIf="loanConfig.loanTag === 'MICRO_LOAN'"
                    (changeToApprovalSheetActive)="activeApprovalSheet()"
                    [loanConfig]="loanConfig"
                    [loanData]="loanDataHolder"
                    [nepaliDate]="nepaliDate"></app-micro-loan-summary>

            <!-- Normal Summary-->
            <app-loan-summary *ngIf="loanConfig.loanTag !== 'MICRO_LOAN' && (summaryType === summaryTypeName?.GENERAL || summaryType === summaryTypeName?.ALPHA)"
                              (changeToApprovalSheetActive)="activeApprovalSheet()"
                              [loanConfig]="loanConfig"
                              [loanData]="loanDataHolder"
                              [nepaliDate]="nepaliDate"></app-loan-summary>

            <!-- Gamma Summary-->
            <app-gamma-loan-summary *ngIf="summaryType === summaryTypeName?.GAMMA"
                                    (changeToApprovalSheetActive)="activeApprovalSheet()"
                                    [loanConfig]="loanConfig"
                                    [loanData]="loanDataHolder"
                                    [nepaliDate]="nepaliDate"></app-gamma-loan-summary>
        </ng-container>

        <app-approval-sheet (changeToLoanSummaryActive)="activeLoanSummary()"
                            *ngIf="approvalSheetActive && loanDataHolder?.id"
                            [loanConfig]="loanConfig"
                            [loanData]="loanDataHolder"
                            [nepaliDate]="nepaliDate">
        </app-approval-sheet>

    </nb-card-body>
</nb-card>
