
<div *ngIf="guarantorData" class="row mt-2">
  <div class="col-md-12">
    <p><strong>{{loanCategory === 'INDIVIDUAL'}}Guarantor Details</strong></p>
    <table
           class="table table-condensed table-bordered table-responsive-md table-sm text-center sb-small">
      <thead>
      <tr class="text-white sb-bg-dark">
        <th>S.N</th>
        <th>Name</th>
        <th>citizenNumber</th>
        <th>Address</th>
        <th>Contact Number</th>
        <th>Address as per Legal Document</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let guarantor of guarantorData; let i= index">
        <td>{{i + 1}}</td>
        <td class="text-left pl-1">{{guarantor?.name}}</td>
        <td class="text-right pr-1">{{guarantor?.citizenNumber}}</td>
        <td class="text-left pl-1">{{guarantor?.issuedPlace }},{{guarantor?.province?.name}},{{guarantor?.district?.name}}</td>
        <td class="text-right pr-1">{{guarantor?.contactNumber}}</td>
        <td class="text-left pl-1">{{guarantor?.guarantorLegalDocumentAddress}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
