@import '../sme-loan-summary/sme-loan-summary.component';

@media print {
  .print-padding {
    //padding: 40px;
    //margin: 40px;
    padding-bottom: 135px;
    margin-left: 110px;
  }
  .noprint{
    visibility: hidden;
  }
  hr.print-line {
    border-top: 2px solid black;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}
