<nb-card class="p-3">
    <div class="box-header with-border">
        <h2 class="box-title title">Insurance Policy Security</h2>
    </div>
    <hr>
    <div [formGroup]="insurancePolicyForm">
        <div *ngFor="let insurancePolicy of insurancePolicyForm.get('insurancePolicy')['controls']; let i = index"
             class="font-weight-bold"
             formArrayName="insurancePolicy">
            <div [formGroupName]="i">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="title">Insured Amount</label>
                            <input class="form-control rounded" formControlName="insuredAmount"
                                   placeholder="Insured Amount"
                                   type="number" required/>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="insuranceCompanyName"><strong>Insurance Company</strong></label>
                            <select class="form-control" formControlName="insuranceCompanyName"
                                    id="insuranceCompanyName">
                                <option [ngValue]="null">Select Insurance Company</option>
                                <option *ngFor="let insuranceCompany of insuranceCompanyList"
                                        [ngValue]="insuranceCompany.id">{{insuranceCompany.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="title">Insurance Policy Start </label>
                            <input class="form-control rounded" formControlName="policyStartDate"
                                   name="policyStartDate" placeholder="Insurance Policy Start date"
                                   [nbDatepicker]="insurancePolicyDate"
                                   *ngIf="calendarType === 'AD'">
                            <app-calendar
                                    (messageToEmit)="insurancePolicyForm.get(['insurancePolicy',i,'policyStartDate']).patchValue($event?.eDate)"
                                    *ngIf="calendarType === 'BS'"
                                    [ePreDate]="insurancePolicyForm.get(['insurancePolicy',i,'policyStartDate']).value"></app-calendar>
                            <nb-datepicker #insurancePolicyDate></nb-datepicker>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="title">Maturity Date</label>
                            <input class="form-control rounded" formControlName="maturityDate"
                                   name="policyStartDate" placeholder="Maturity Date" [nbDatepicker]="maturityDate"
                                   *ngIf="calendarType === 'AD'">
                            <app-calendar
                                    (messageToEmit)="insurancePolicyForm.get(['insurancePolicy',i,'maturityDate']).patchValue($event?.eDate)"
                                    *ngIf="calendarType === 'BS'"
                                    [ePreDate]="insurancePolicyForm.get(['insurancePolicy',i,'maturityDate']).value"></app-calendar>
                            <nb-datepicker #maturityDate></nb-datepicker>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="title">Insurance Policy Type</label>
                            <input class="form-control rounded" formControlName="insurancePolicyType"
                                   placeholder="Insurance Policy Type"
                                   type="text"/>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="title">Surrender Value</label>
                            <input class="form-control rounded" formControlName="surrenderValue"
                                   placeholder="Surrender Value"
                                   type="number"/>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="title">Earliest Surrender Date</label>
                            <input class="form-control rounded" formControlName="earlySurrenderDate"
                                   name="earlySurrenderDate" placeholder="Earliest Surrender Date"
                                   [nbDatepicker]="earlySurrenderDate"
                                   *ngIf="calendarType === 'AD'">
                            <app-calendar
                                    (messageToEmit)="insurancePolicyForm.get(['insurancePolicy',i,'earlySurrenderDate']).patchValue($event?.eDate)"
                                    *ngIf="calendarType === 'BS'"
                                    [ePreDate]="insurancePolicyForm.get(['insurancePolicy',i,'earlySurrenderDate']).value"></app-calendar>
                            <nb-datepicker #earlySurrenderDate></nb-datepicker>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="title">Considered Value</label>
                            <input class="form-control rounded" formControlName="consideredValue"
                                   placeholder="Considered Value"
                                   type="number"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="title">Yearly Cash Back Amount <em class="sb-medium">(if any)</em></label>
                            <input class="form-control rounded" formControlName="cashBackAmount"
                                   placeholder="Cash Back Amount"
                                   type="number"/>
                        </div>
                    </div>
                </div>
                <div *ngIf="insurancePolicyForm.get('insurancePolicy') ['length'] > 1" class="text-right">
                    <input (click)="removeInsuranceForm(i)"
                           class="align-self-end btn btn-sm btn-danger btn-primary"
                           type="button" value="Delete"/>
                </div>
                <br>
            </div>
            <div class="text-right">
                <input (click)="addInsurancePolicyForm()" class="btn btn-sm btn-flat btn-primary" type="button"
                       value="Add More Insurance Policy"/>
            </div>

        </div>
    </div>
    <hr>
</nb-card>
