p {
  font-size: 19px !important;
  line-height: 1.9em !important;
}
.outside {
 font-weight: bold !important;
}
.table-bordered-all {
  border: 1px solid black !important;
  margin-top: -17px;
}
.inside {
  font-weight: normal !important;
}
