<div class="modal-document">
  <div class="modal-content">
    <div class="modal-header sb-bg-dark " style="display:block">
      <a (click)="onClose()" aria-label="Close" class="close cursor"
         data-dismiss="modal">
        <span aria-hidden="true" class="text-white">×</span></a>
      <h4 class="modal-title pull-left text-white">{{task}} Nepse</h4>
    </div>
    <div *ngIf="task == 'Edit'" class="modal-body">
      <form #nepseForm="ngForm" (ngSubmit)="nepseForm.form.valid && onSubmit()" name="form">
        <div class="row form-group">
          <div class="col-md-6">
            <label for="name">Company Name</label>
            <input [(ngModel)]="model.id" class="form-control" name="id" placeholder="id"
                   type="hidden">
            <input #companyVal="ngModel" [(ngModel)]="model.companyName" [ngClass]="{'is-invalid': nepseForm.submitted && companyVal.invalid}" class="form-control"
                   id="name" name="name" placeholder="Name" required
                   type="text"/>
            <div *ngIf="companyVal.invalid && nepseForm.submitted" class="invalid-feedback">
              Name is required
            </div>
          </div>
          <div class="col-md-6">
            <label for="amount">Share Amount per unit</label>
            <input #amountVal="ngModel" [(ngModel)]="model.amountPerUnit" [ngClass]="{'is-invalid': nepseForm.submitted && amountVal.invalid}" appDecimalNumber
                   class="form-control" id="amount" name="amount" placeholder="amount"
                   required
                   type="text"/>
            <div *ngIf="amountVal.invalid && nepseForm.submitted" class="invalid-feedback">
              Amount is required
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-primary">Bulk Upload</button>-->
          <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i></button>
        </div>
      </form>
    </div>
    <div *ngIf="task == 'Add'" class="modal-body">
      <div class="row form-group">
        <ng-container [formGroup]="nepsePriceInfoForm">

          <div class="col-md-5">
            <div class="form-group">
              <label for="amount">Share Price Date</label>
              <input [ngClass]="{'is-invalid': nepsePriceForm.sharePriceDate.invalid}" class="form-control form-control-error rounded"
                     formControlName="sharePriceDate"
                     id="priceDate"
                     name="priceDate"
                     placeholder="Share Price Date" type="date"/>
              <div *ngIf="nepsePriceForm.sharePriceDate.invalid" class="invalid-feedback">
                Invalid Share Price Date
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <label for="amount">Average Day's for Share Price</label>
              <input [ngClass]="{'is-invalid': nepsePriceForm.avgDaysForPrice.invalid}"
                     class="form-control"
                     formControlName="avgDaysForPrice"
                     id="avgDaysForPrice" name="avgDaysForPrice"/>
              <div *ngIf="nepsePriceForm.avgDaysForPrice.invalid" class="invalid-feedback">
                Invalid Average Day's for Share Price
              </div>
            </div>
          </div>
        </ng-container>
        <form>
          <div class="col-md-12">
            <input #nepseFile name="uploadNepse" type="file">
            <br>
            <div class="card" style="width: 29rem">
              <div class="card-header">
                <b>Upload Format</b>
              </div>
              <div class="modal-footer">
                <input (click)="excelUpload(nepseFile)" class="btn btn-primary" type="submit">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
