@media print {
  .summary {
    * {
      font-family: Cambria !important;
      font-size: 10pt !important;
    }
    .header {
      font-family: Cambria !important;
      font-size: 12pt !important;
      padding-top: 32px !important;
    }
    .p .header{
      font-family: Cambria !important;
      font-size: 12pt !important;
      padding-top: 32px !important;
    }
    .sub-header {
      font-family: Cambria !important;
      font-size: 10pt !important;
      margin-top: 10px;
      font-weight: bold;
    }
  }
}
