*{
  font-size: 19px;
  line-height: 1.9em;
}
.nep {
  font-size: 16px;
  line-height: 1.7;
  text-align: justify;
  text-justify: inter-word;
}
.form-field {
  background: yellow;
  margin: 0px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
  font-size: 16px;
  &:focus {
    outline: none;
  }
  .table-row{
    width:32px;
  }
  .container-name div {
    display: inline-block;
    width: 100vh;
    min-height: 50px;
    background-color: #eee;
    height: auto;
  }
}
p {
  line-height: 1.9;
}
@media screen {
  .print-only {
    display: none;
  }

  .disable-print {
    display: inline;

  }
}

.text-justify {
  text-align: justify !important;
}


@media print {
  .print-only {
    display: inline;
  }
  div.align {
    font-size: 16px;
    line-height: 1.9;
    text-align: justify;
    text-justify: inter-word;
    margin: 10px 70px;
  }

}

ol.conditions-list {
  list-style: devanagari;
  padding-left: 20px;
  line-height: 40px !important;
  padding-bottom: 5px;
  text-align: justify !important;
}

textarea::placeholder {
  font-size: 19px;
}
