@media screen {
  .print-only {
    display: none;
  }


  .disable-print {
    display: inline;

  }
}
.report-header {
  text-align: center;

  .report-header-heading {
    font-size: 16pt;
    font-weight: bold;
  }

  .report-header-sub-heading {
    font-size: 14pt;
    line-height: 1.9em;
  }
}

@media print {
  .print-only {
    display: block;
  }
  .noprint {
    visibility: hidden;
  }
  hr.print-line {
    border-top: 2px solid black;
  }

  .heading-list {
    li {
      margin-top: 2rem;
    }

    li:first-child {
      margin-top: 0;
    }

    ol > li {
      font-weight: bold;
    }

    .libold {
      font-weight: bold !important;
    }
  }
  ol {
    counter-reset: item;
  }

  ol > li {
    counter-increment: item;
  }

  ol ol > li {
    display: block;
  }

  ol ol > li:before {
    content: counters(item, ".") ".   ";
    margin-left: -20px;
  }
  .page-break {
    page-break-before: always !important;
  }
}
