@media screen {
  .print-only {
    display: none;
  }

  .disable-print {
    display: inline;

  }
  table, th, td {
    border: 1px solid black !important;
  }

  hr.print-line {
    border-top: .5px solid black !important;
  }
}
@page {
  size: A4;
  margin: 17mm 17mm 17mm 17mm;
}

@media print {
  .page-break { page-break-before: always; } /* page-break-after works, as well */

  table, th, td {
    border: 1px solid black !important;
  }

  hr.print-line {
    border-top: .5px solid black !important;
  }
}
@media print {
  .print-only {
    display: block;
  }
  .summary {
    * {
      font-family: Cambria !important;
      font-size: 18pt !important;
    }
    .header {
      font-family: Cambria !important;
      font-size: 20pt !important;
      padding-top: 32px !important;
    }
    .sub-header {
      font-family: Cambria !important;
      font-size: 18pt !important;
      margin-top: 10px;
      font-weight: bold;
    }
  }
}
