<p><strong>NRB/Statutory Auditors/Internal Auditors Remarks and their Status</strong></p>
<table class="table table-condensed table-bordered table-responsive-md table-sm sb-small">
    <thead>
    <tr class="sb-bg-dark text-white">
        <th>
            Type
        </th>
        <th>
            Comments
        </th>
        <th>
            Current Status
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            Internal
        </td>
        <td>
            <ol>
                <li>

                </li>
                <li>

                </li>
            </ol>
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            External
        </td>
        <td>
            <ol>
                <li>

                </li>
                <li>

                </li>
            </ol>
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            NRB
        </td>
        <td>
            <ol>
                <li>

                </li>
                <li>

                </li>
            </ol>
        </td>
        <td>

        </td>
    </tr>
    </tbody>
</table>
