#fingerXap{
  width: 500px;
  margin-left: 10px;
  text-align: center;
}

#signature{
  margin: auto;
  width: auto;
  height: auto;
}

#officeDetail{
  margin-left: 100px;
}

input{
  background-color: yellow;
}
