.desc-td-width {
  width: 280px;
}

tr td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 2rem !important;
  margin-bottom: 0 !important;
}

ul li {
  text-align: left !important;
}
