.photoFrame{
  width: 40% !important;
}
.nep {
  font-size: 20px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 70px;
}

span{
  margin: 0px 10px;
  font-size: 28px;
  text-decoration: underline;
}

li {
  list-style-type: none;
}
