.viewFull {
  max-height: 85vh;
  text-align: justify;
}
*{
margin-left:20px;
margin-right:10px;
  justify-content: center;

}
@media print {
  .page-break { page-break-before: always; }
}

.fingerXap {
  width: 500px;
  margin: auto;
  text-align: center;
}


table {
margin-left:20px;
  width: 100%;
}
