@import '../../progressive-legal-docs.component';
.viewFull {
  max-height: 85vh;
  text-align: justify;
}

.fingerXap {
  width: 250px;
  margin: auto;
  text-align: center;
}
.uniFont{
  font-size: 16px;
}

.unicode-size {
  font-size: 24px;
}

.margin{
  margin: 1.5in 0.44in 1in 1.28in ;
}



