.nep {
  font-size: 16px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
}
.form-field {
  background: yellow;
  margin: 0px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
  font-size: 20px;
  &:focus {
    outline: none;
  }
}
