.mt-large {
  margin-top: 80px;
}

.mt-medium {
  margin-top: 47px;
}

.mt-small {
  margin-top: 44px;
}

.mt-small-2 {
  margin-top: 44px;
}

input, select {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.customcolor{
  color: black !important;
}
