//@import '../../progressive-legal-docs.component';

@page {
  margin-top: 1in;
  margin-left: 1in;
}

.viewFull {
  max-height: 85vh;
  text-align: justify;
}

.unicode-size {
  font-size: 24px;
}

.nepali {
  font-size: 16px;
  line-height: 1.5;
  @extend .text-justify !optional;
}
