<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="sb-small cursor" [ngStyle]="{'color': isSelected ? 'red' : ''}" for="province"><strong>Province</strong><sup class="text-danger"
                                                                *ngIf="required">*</sup></label>
            <select
                    (change)="getDistrictList($event)"
                    class="form-control form-control-sm"
                    id="province"
                    name="province">
                <option [value]="null" hidden>Select Province</option>
                <option *ngFor="let provinceVal of provinceList" [ngValue]="provinceVal"
                >
                    <span>{{provinceVal.name}}</span>
            </select>

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="sb-small cursor" [ngStyle]="{'color': isSelected ? 'red' : ''}" for="district"><strong>District</strong><sup class="text-danger"
                                                                *ngIf="required">*</sup></label>
            <select
                    class="form-control form-control-sm"
                    (change)="getMunicipalities($event)"
                    id="district"
                    name="district">
                <option [ngValue]="null" hidden>Select District</option>
                <option *ngFor="let districtVal of districtList" [ngValue]="districtVal"
                        [selected]="districtVal.id === district?.id">
                    {{districtVal.name}}
                </option>
            </select>

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="sb-small cursor" [ngStyle]="{'color': isSelected ? 'red' : ''}" for="municipality"><strong>Municipalities or VDC</strong><sup class="text-danger"
                                                                                 *ngIf="required">*</sup></label>
            <select

                    class="form-control form-control-sm"
                    id="municipality"
                    name="municipality">
                <option [ngValue]="null" hidden>Select Municipality</option>
                <option *ngFor="let municipalityVal of municipalitiesList"
                        [ngValue]="municipalityVal"
                        [selected]="municipalityVal.id === municipality?.id">
                    {{municipalityVal.name}}
                </option>
            </select>

        </div>
    </div>
</div>

