<div class="container nep text-justify" xmlns="http://www.w3.org/1999/html">
    <form [formGroup]="letterVehicleIndividual"  class="nep" id="letterOfSetOffPrint">
        <div class="row">
            <div class="col-md-12 viewFull" style="overflow-y: auto; height: 100vh;">
                <div class="nep">
                    <div>
                        <p class="text-right"> मितिः
                            <input class="form-field form-control-sm nepaliFont disable-print"
                                   formControlName="date"
                                   placeholder=""
                                   type="text"/>

                        <p>
                            श्री नबिल बैंक लिमिटेड
                            <input class="form-field form-control-sm nepaliFont disable-print"
                                   formControlName="nameOfBranchLocated"
                                   placeholder=""
                                   type="text"/>

                            शाखा <br>
                            <br>नेपाल । <br>
                            <br><span style="font-weight: bold">विषयः सवारी साधनको नामसारी गर्ने अख्तियारी र मन्जुरी दिएको बारेमा । </span><br>
                        <p>
                            महोदय,<br>
                            <br><input class="form-field form-control-sm nepaliFont disable-print "
                                       formControlName="nameOfGrandFather"
                                       placeholder=""
                                       type="text"/>

                            को नाति/नातिनी/बुहारी <input class="form-field form-control-sm nepaliFont disable-print"
                                                         formControlName="name"
                                                         placeholder=""
                                                         type="text"/>

                            को छोरा/छोरी/श्रीमती<input class="form-field form-control-sm nepaliFont disable-print"
                                                       formControlName="district"
                                                       placeholder=""
                                                       type="text"/>

                            जिल्ला <input class="form-field form-control-sm nepaliFont disable-print"
                                          formControlName="vdcMuncipality"
                                          placeholder=""
                                          type="text"/>

                            गा.वि.स./नगर वडा
                            नं<input class="form-field form-control-sm nepaliFont disable-print"
                                     formControlName="wardNo"
                                     placeholder=""
                                     type="text"/>

                            बस्ने श्री <input class="form-field form-control-sm nepaliFont disable-print"
                                              formControlName="nameOfBorrower"
                                              placeholder=""
                                              type="text"/>

                            ले त्यस बैंकबाट मिति<input class="form-field form-control-sm nepaliFont disable-print"
                                                       formControlName="sanctionLetterIssuedDate"
                                                       placeholder=""
                                                       type="text"/>

                            मा जारी ऋण स्विकृती पत्रानुसार सवारी साधन ऋणकर्जा लिई तपसिलमा उल्लिखित सवारी साधन खरिद गरी उपयोग गरेकोमा पछि भविष्यमा
                            त्यस बैंकले सो ऋणकर्जा असुली प्रक्रिया अन्तर्गत जमानतकर्ता लगायत अन्य कुनै पनि तेस्रो पक्षको नाममा उक्त सवारी साधन नामसारी गरी दिनु पर्ने अवस्थामा सम्बन्धित यातायात व्यवस्था कार्यालयमा मेरो र हाम्रो तर्फबाट पुरा गर्नुपर्ने कुनै पनि प्रक्रिया
                            पुरा गर्नको लागि सम्पुर्ण अख्तियारी तपाईं श्री नबिल बैंक वा नबिल बैंकले तोकेको जुनसुकै कर्मचारीरव्यक्तिलाई प्रदान गरी यो मन्जुरीनामा लेखी दिएको छु र छौं  । यस अख्तियारनामाको प्रयोग गरी उक्त सवारी साधन नामसारी भई गएको खण्डमा
                            पछि कुनै किसिमको उजुर बाजुर गर्ने छैन । यदी उजुर गरेकोमा यहि कागजलाई आधार मानी उक्त दावी खारेज गरी दिएको खण्डमा मलाई र हामीलाई पुर्ण मन्जुरी हुनेछ ।
                            <br></p>
                        <p class="text-right"><br>भवदीय,<br>
                            <br>(................................)
                        </p>

                        <p>
                            <span style="font-weight: bold">सवारी साधनको विवरणः</span><br>
                            <br>
                            १. सवारी साधनको किसिमः<input class="form-field form-control-sm nepaliFont disable-print"
                                                         formControlName="modelTypeOfVehicle"
                                                         placeholder=""
                                                         type="text"/>

                            <br>
                            २. रजिष्टे्रशन नम्बरः <input class="form-field form-control-sm nepaliFont disable-print"
                                                        formControlName="vehicleRegistrationNumber"
                                                        placeholder=""
                                                        type="text"/>

                            <br>
                            ३. इन्जीन नम्बरः <input class="form-field form-control-sm nepaliFont disable-print"
                                                    formControlName="engineNumber"
                                                    placeholder=""
                                                    type="text"/>

                            <br>
                            ४. च्यासीस नम्बरः <input class="form-field form-control-sm nepaliFont disable-print"
                                                     formControlName="chasisNumber"
                                                     placeholder=""
                                                     type="text"/>

                            <br>
                            <br>
                            <span style="font-weight: bold">बोधार्थस् <br>
                                श्री सम्बन्धित यातायात व्यवस्था कार्यालय</span> स् मेरो र हाम्रो उपर्युक्त अख्तियारनामा अनुसार गरी दिनुहनु अनुरोध गर्दछु र छौं ।
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row" style="float: right">
        <div class="col-md-12 text-right disable-print">
            <button  nbButton status="info" class="mb-4 float-right disable-print" [useExistingCss]="true"
                     ngxPrint printSectionId="{{offerLetterConst.LETTER_VEHICLE_INDIVIDUAL}}Print">Print
            </button>
            <button nbButton status="success" class="disable-print" (click)="submit()">Save</button>
        </div>
    </div>

</div>

<app-letter-vehicle-individual-print  *ngIf="initialInfoPrint" [letterData]="initialInfoPrint" hidden></app-letter-vehicle-individual-print>
