<div ngDraggable [ngResizable]="true" [nbSpinner]="spinner" nbSpinnerSize="giant">
    <nb-card>
        <nb-card-header>
            <strong>{{popUpTitle}}</strong>
            <button (click)="nbDialogRef.close()" aria-label="Close"
                    class="close cursor d-inline-flex justify-content-end" nbButton
                    size="tiny"
                    status="primary">
                <span aria-hidden="true">×</span></button>
        </nb-card-header>
        <nb-card-body>
            <ng-container *ngIf="combinedLoan?.loans?.length > 0">
                <div  class="row">
                    <div class="col-md-12">
                        <form [formGroup]="combinedType.form">
                            <div class="col-md-12 mb-1 mt-1">
                                <nb-checkbox class="cursor" (change)="dualApproval($event?.target?.checked, false)" [disabled]="combinedHSOV" [checked]="preSelectedSolUser[0]?.dualApproval"
                                             formControlName="dualApproval">Dual Approval?
                                </nb-checkbox>
                                &nbsp;
                                <nb-checkbox class="cursor" [disabled]="combinedDual" (change)="hsov($event?.target?.checked, false)" [checked]="preSelectedSolUser[0]?.isHsov"
                                             formControlName="isHsov"> HSOV?
                                </nb-checkbox>
                            </div>

                            <div class="row mt-1">
                                <div class="col-md-12">
                                    <p *ngIf="additionalDetails?.hasDeferredDocs" class="text-danger">
                                        This loan contains deferred documents that are not uploaded.
                                    </p>
                                    <p>This loan is combined. All combined loans are mentioned below:</p>
                                    <table class="table table-bordered table-hover table-sm sb-small text-center">
                                        <thead>
                                        <tr class="sb-bg-dark text-white">
                                            <th scope="col">S.N</th>
                                            <th scope="col">Branch</th>
                                            <th scope="col">Loan Facility</th>
                                            <th scope="col">Proposed Amount</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Created On</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let model of combinedLoan?.loans; let i = index">
                                            <td>{{i + 1}}</td>
                                            <td>{{model?.branch?.name}}</td>
                                            <td>{{model?.loan?.name}}</td>
                                            <td class="text-right">{{(model?.proposal?.proposedLimit | number) || 0}}</td>
                                            <td>{{LoanType[model?.loanType] || model?.loanType}}</td>
                                            <td>{{model?.documentStatus}}</td>
                                            <td>{{model?.createdAt | date}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div *ngIf="popUpTitle === 'Send Forward' || documentStatus === docStatus.HSOV_PENDING || documentStatus === docStatus.DUAL_APPROVAL_PENDING" class="row">
                                <div class="col-md-12 form-group">
                                    <label class="toRole" for="toRole">TO</label>
                                    <select (change)="getCombinedUserList(combinedType?.form.get('toRole').value)"
                                            class="custom-select"
                                            formControlName="toRole"
                                            id="toRole"
                                            name="toRole">
                                        <option [value]="null" hidden>Select To</option>
                                        <option *ngFor="let forwardBackward of sendForwardBackwardList"
                                                [ngValue]="forwardBackward?.role">
                                            {{forwardBackward?.role?.roleName}}
                                        </option>
                                    </select>
                                    <div *ngIf="isUserNotPresentForCombine" class="sb-small text-danger">
                                        No User Present In this Role For this Branch
                                    </div>
                                </div>

                            </div>

                            <div *ngIf="combinedType?.userList?.length > 1 && showUserList" class="row">
                                <div class="col-md-12 form-group">
                                    <label class="toUser" for="toUser">To User</label>
                                    <select class="custom-select" formControlName="toUser" id="toUser"
                                            name="toUser">
                                        <option *ngFor="let user of combinedType?.userList"
                                                [ngValue]="user">
                                            {{user.username}} | {{user?.name}}
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="comment">Comment:</label>
                                    <ckeditor
                                            [ngClass]="{ 'is-invalid': combinedType?.submitted && combinedType?.form.controls['comment'].errors }"
                                            id="comment" formControlName="comment" [config]="ckeConfig"></ckeditor>
                                    <div
                                            *ngIf="combinedType?.submitted && combinedType?.form.controls['comment'].hasError('required')"
                                            class="error-message"
                                            style="color: red;">comment is required
                                    </div>
                                </div>
                            </div>

                            <!--//sol-->

<!--                            <div>-->
<!--                                <div class="col-md-12 row" *ngIf="showHideCombineSolUser">-->
<!--                                    <div class="col-md-6">-->
<!--                                        <label class="toRole" for="toRole">Approval Role</label>-->
<!--                                        <select style="width: 100%"-->
<!--                                                [compareWith]="compareFn"-->
<!--                                                (change)="getCombinedSolUserList(combinedType?.form.get('selectedRoleForSol').value)"-->
<!--                                                class="form-control form-control-sm"-->
<!--                                                formControlName="selectedRoleForSol"-->
<!--                                                name="solUser">-->
<!--                                            <option [value]="null" hidden>Select To</option>-->
<!--                                            <option *ngFor="let forwardBackward of sendForwardBackwardList"-->
<!--                                                    [ngValue]="forwardBackward.role"-->
<!--                                            >-->
<!--                                                {{forwardBackward.role?.roleName}}-->
<!--                                            </option>-->
<!--                                        </select>-->
<!--                                        <div class="sb-small text-danger" *ngIf="!isSolUserPresentForCombine">-->
<!--                                            No User Present in this Role For this Branch-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    <div class="col-md-6" *ngIf="combinedType?.solUserList?.length > 1">-->
<!--                                        <div style="width:100%">-->
<!--                                            <label class="solUser" for="solUser">Approval User</label>-->
<!--                                            <select class="form-control form-control-sm" formControlName="solUser"-->
<!--                                                    id="solUser"-->
<!--                                                    name="solUser"-->
<!--                                                    [compareWith]="compareFn">-->
<!--                                                <option *ngFor="let user of combinedType?.solUserList"-->
<!--                                                        [ngValue]="user"-->
<!--                                                >-->
<!--                                                    {{user.username}}</option>-->
<!--                                            </select>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->


<!--                            </div>-->

                        </form>
                    </div>
                </div>
            </ng-container>

        </nb-card-body>
        <nb-card-footer>
            <button
                    (click)="onSubmit()"
                    [disabled]="combinedType?.form?.invalid"
                    nbButton type="button">
                <em class="fa fa-save"></em>
            </button>
        </nb-card-footer>
    </nb-card>
</div>

