.heading {
  h2 {
    font-size: 16px !important;
    span {
      font-size: 14px;
      font-weight: lighter;
    }
  }
  p {
    font-size: 14px;
  }
}

.sub-heading {
    font-size: 15px !important;
}

th {
  text-align: center;
}
