* {
  line-height: 1.6;
  font-size: 19px;
}

.dev-list {
  list-style-type: devanagari !important;
}
.dev-list li {
  line-height: 1.6 !important;
  padding-left: 1em !important;
  text-align: justify;
}
