<nb-card [nbSpinner]="spinner" >
    <nb-card-header>
        <h3>Edit Education Loan Data </h3>
        <div class="row d-flex justify-content-end px-2 cursor text-dark font-weight-bold">
            <a (click)="close()" style="margin-top:-2em">x</a>
        </div>
    </nb-card-header>
    <nb-card-body>
        <app-guarantor-information-tagging #guarantorInformationTaggingComponent
                                           [cadData]="customerApprovedDoc"></app-guarantor-information-tagging>
    <form [formGroup]="form">
        <div class="row p-2">
            <div class="col-md-4">
                <label><strong>Select Country</strong></label>
                <nb-select
                        fullWidth
                        placeholder="Country"
                        formControlName="selectedCountry"
                        (selectedChange)="transferValue()"
                        status="info">
                    <nb-option value="AUSTRALIA">Australia</nb-option>
                    <nb-option value="OTHER_COUNTRIES">Other Countries</nb-option>
                </nb-select>
            </div>
            <div class="col-md-4"
                 *ngIf="form.get('selectedCountry').value !== 'AUSTRALIA'">
                <label><strong>Name Of Embassy</strong></label>
                <input
                        class="form-control rounded"
                        formControlName="embassyName"
                        id="nameOfEmbassy"
                        name="embassyName"
                        placeholder="Name Of Embassy"
                        type="text">
            </div>
            <div class="col-md-4"
                 *ngIf="form.get('selectedCountry').value !== 'AUSTRALIA'">
                <label><strong>Correct Translation</strong></label>
                    <input class="form-control rounded"
                           id="embassyNameTransVal"
                           name="embassyNameTransVal"
                           formControlName="embassyNameTransVal"
                           type="text"/>
            </div>
            <div class="col-md-4">
                <label><strong>Security Type</strong></label>
                <nb-select
                        fullWidth
                        placeholder="Select Security Type"
                        formControlName="selectedSecurity"
                        (selectedChange)="transferValue()"
                        status="info">
                    <nb-option value="FIXED_DEPOSIT">Fixed Deposit</nb-option>
                    <nb-option value="LAND">Land</nb-option>
                    <nb-option value="LAND_AND_BUILDING">Land and Building</nb-option>
                </nb-select>
            </div>
        </div>
        <div class="row pt-3 pl-2">
            <div class="col-md-12 pt-3 pl-2">
                <nb-checkbox #limitCheck (input)="loanChecked(limitCheck.checked)" [checked]="loanLimit">
                    <i>Customer has total loan amount above One Crore</i></nb-checkbox>
            </div>
        </div>

        <div class="row mt-5">
            <table
                    *ngIf="fieldFlag"
                    class="table table-borderless text-center sb-small table-sm">
                <tr>
                    <th></th>
                    <th>Loan Data</th>
                    <th>Nepali Translation</th>
                    <th>Correct Translation</th>
                <tr>
                    <td>Date Of Approval</td>
                    <td>
                        <div class="row" style="margin-left: 5px; margin-top: -8px;">
                            <nb-radio-group name="dataOfApproval" formControlName="dateOfApprovalType">
                                <nb-radio (click)="setDateTypeBS()" value="BS"><span style="margin-left:-60px">BS</span>
                                </nb-radio>
                                <nb-radio (click)="setDateTypeAD()" value="AD" style="margin-left: 60px;margin-top: -35px;">
                                    AD
                                </nb-radio>
                            </nb-radio-group>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <nepali-patro *ngIf="dateTypeBS" formControlName="dateOfApprovalNepali" [responseType]="2"
                                      [displayNepali]="true">
                        </nepali-patro>
                        <input [nbDatepicker]="doa"
                               *ngIf="dateTypeAD"
                               class="form-control form-control-sm-error rounded"
                               formControlName="dateOfApproval"
                               id="dateOfApproval"
                               name="dateOfApproval"
                               placeholder="Date of Approval"
                               type="text">
                        <nb-datepicker #doa></nb-datepicker>
                    </td>
                </tr>
<!--                <tr>-->
<!--                    <td>Reference Number</td>-->
<!--                    <td><input type="number" class="form-control" formControlName="referenceNumber"-->
<!--                               (input)="translateNumber('referenceNumber', 'referenceNumberTransVal')"/></td>-->
<!--                    <td class="abc">{{translatedData ? translatedData?.referenceNumber : initialInformation?.referenceNumber.ct}}</td>-->
<!--                    <td>-->
<!--                        <input type="text" class="form-control"-->
<!--                               [ngClass]="{ 'is-invalid':submitted && Form.referenceNumberTransVal.errors }"-->
<!--                               formControlName="referenceNumberTransVal"/>-->
<!--                        <div *ngIf="submitted && Form.referenceNumberTransVal.errors"-->
<!--                             class="invalid-feedback">-->
<!--                            <div *ngIf="Form.referenceNumberTransVal.errors.required">Reference number is-->
<!--                                required-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
                <tr style="padding: 12px">
                    <td>Date Of Application</td>
                    <td>
                        <div class="row" style="margin-left: 5px; margin-top: -8px;">
                            <nb-radio-group name="dataOfApplication" formControlName="dateOfApplicationType">
                                <nb-radio (click)="setDateTypeBS1()" value="BS"><span style="margin-left:-60px">BS</span>
                                </nb-radio>
                                <nb-radio (click)="setDateTypeAD1()" value="AD" style="margin-left: 60px;margin-top: -35px;">
                                    AD
                                </nb-radio>
                            </nb-radio-group>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <nepali-patro *ngIf="dateTypeBS1" formControlName="dateOfApplicationNepali" [responseType]="2"
                                      [displayNepali]="true">
                        </nepali-patro>
                        <input [nbDatepicker]="doap"
                               *ngIf="dateTypeAD1"
                               class="form-control form-control-sm-error rounded"
                               formControlName="dateOfApplication"
                               id="dateOfApplication"
                               name="dateOfApplication"
                               placeholder="Date of Application"
                               type="text">
                        <nb-datepicker #doap></nb-datepicker>
                    </td>
                </tr>
                <tr>
                    <td>Purpose Of Loan</td>
                    <td><input type="text" class="form-control" formControlName="purposeOfLoan"/></td>
                    <td class="abc">{{translatedData ? translatedData?.purposeOfLoan : initialInformation?.purposeOfLoan?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               [ngClass]="{ 'is-invalid':submitted && Form.purposeOfLoanTransVal.errors }"
                               formControlName="purposeOfLoanTransVal"/>
                        <div *ngIf="submitted && Form.purposeOfLoanTransVal.errors"
                             class="invalid-feedback">
                            <div *ngIf="Form.purposeOfLoanTransVal.errors.required">Purpose of loan is required
                            </div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="selectedSecurityVal !== 'FIXED_DEPOSIT'">
                    <td>Drawing Power(%of Distress Value)</td>
                    <td><input type="number" class="form-control" formControlName="distressValue"
                               (input)="translateNumber('distressValue', 'distressValueTransVal')"/></td>
                    <td class="abc">{{translatedData ? translatedData?.distressValue : initialInformation?.distressValue?.ct}}</td>
                    <td>
                        <input type="text" class="form-control" formControlName="distressValueTransVal"/>
                    </td>
                </tr>
                <tr>
                    <td>Base Rate</td>
                    <td><input type="number" class="form-control" formControlName="baseRate"
                               (input)="calInterestRate()"/></td>
                    <td class="abc">{{translatedData ? translatedData?.baseRate : initialInformation?.baseRate?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               [ngClass]="{ 'is-invalid':submitted && Form.baseRateTransVal.errors }"
                               formControlName="baseRateTransVal"/>
                        <div *ngIf="submitted && Form.baseRateTransVal.errors"
                             class="invalid-feedback">
                            <div *ngIf="Form.baseRateTransVal.errors.required">Base rate is required</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Premium Rate</td>
                    <td><input type="number" class="form-control" formControlName="premiumRate"
                               (input)="calInterestRate()"/></td>
                    <td class="abc">{{translatedData ? translatedData?.premiumRate : initialInformation?.premiumRate?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               [ngClass]="{ 'is-invalid':submitted && Form.premiumRateTransVal.errors }"
                               formControlName="premiumRateTransVal"/>
                        <div *ngIf="submitted && Form.premiumRateTransVal.errors"
                             class="invalid-feedback">
                            <div *ngIf="Form.premiumRateTransVal.errors.required">Premium rate is required</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Interest Rate</td>
                    <td><input type="number" class="form-control" formControlName="interestRate"/></td>
                    <td class="abc">{{translatedData ? translatedData?.interestRate : initialInformation?.interestRate?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               [ngClass]="{ 'is-invalid':submitted && Form.interestRateTransVal.errors }"
                               formControlName="interestRateTransVal"/>
                        <div *ngIf="submitted && Form.interestRateTransVal.errors"
                             class="invalid-feedback">
                            <div *ngIf="Form.interestRateTransVal.errors.required">Interest rate is required</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Loan Admin Fee</td>
                    <td><input type="number" class="form-control"
                               formControlName="loanAdminFeeFigure"
                               (input)="getNumAmountWord('loanAdminFeeFigure', 'loanAdminFeeWords')"/></td>
                    <td class="abc">{{translatedData ? translatedData?.loanAdminFeeFigure : initialInformation?.loanAdminFeeFigure?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               [ngClass]="{ 'is-invalid':submitted && Form.loanAdminFeeFigureTransVal.errors }"
                               formControlName="loanAdminFeeFigureTransVal"/>
                        <div *ngIf="submitted && Form.loanAdminFeeFigureTransVal.errors"
                             class="invalid-feedback">
                            <div *ngIf="Form.loanAdminFeeFigureTransVal.errors.required">Loan admin fee is
                                required
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Loan Admin Fee Words</td>
                    <td><input type="text" class="form-control" formControlName="loanAdminFeeWords"/></td>
                    <td class="abc">{{translatedData ? translatedData?.loanAdminFeeWords : initialInformation?.loanAdminFeeWords?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               [ngClass]="{ 'is-invalid':submitted && Form.loanAdminFeeWordsTransVal.errors }"
                               formControlName="loanAdminFeeWordsTransVal"/>
                        <div *ngIf="submitted && Form.loanAdminFeeWordsTransVal.errors"
                             class="invalid-feedback">
                            <div *ngIf="Form.loanAdminFeeWordsTransVal.errors.required">Loan admin fee is
                                required
                            </div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="selectedSecurityVal !== 'FIXED_DEPOSIT'">
                    <td>Emi Amount Figure</td>
                    <td><input type="text" class="form-control"
                               formControlName="emiAmountFigure"
                               (input)="getNumAmountWord('emiAmountFigure', 'emiAmountWords')"/></td>
                    <td class="abc">{{translatedData ? translatedData?.emiAmountFigure : initialInformation?.emiAmountFigure?.ct}}</td>
                    <td>
                        <input type="text" class="form-control" formControlName="emiAmountFigureTransVal"/>
                    </td>
                </tr>
                <tr *ngIf="selectedSecurityVal === 'LAND' || selectedSecurityVal === 'LAND_AND_BUILDING'">
                    <td>Emi Amount Words</td>
                    <td><input type="text" class="form-control" formControlName="emiAmountWords"/></td>
                    <td class="abc">{{translatedData ? translatedData?.emiAmountWords : initialInformation?.emiAmountWords?.ct}}</td>
                    <td>
                        <input type="text" class="form-control" formControlName="emiAmountWordsTransVal"/>
                    </td>
                </tr>
                <tr *ngIf="selectedSecurityVal === 'LAND' || selectedSecurityVal === 'LAND_AND_BUILDING'">
                    <td>Loan Period In Months</td>
                    <td><input type="number" class="form-control" formControlName="loanPeriodInMonths"
                               (input)="translateNumber('loanPeriodInMonths', 'loanPeriodInMonthsTransVal')"/>
                    </td>
                    <td class="abc">{{translatedData ? translatedData?.loanPeriodInMonths : initialInformation?.loanPeriodInMonths?.ct}}</td>
                    <td>
                        <input type="text" class="form-control" formControlName="loanPeriodInMonthsTransVal"/>
                    </td>
                <tr *ngIf="selectedSecurityVal === 'LAND' || selectedSecurityVal === 'LAND_AND_BUILDING'">
                    <td>Moratorium Period In Months</td>
                    <td><input type="number" class="form-control" formControlName="moratoriumPeriodInMonths"
                               (input)="translateNumber('moratoriumPeriodInMonths', 'moratoriumPeriodInMonthsTransVal')"/>
                    </td>
                    <td class="abc">{{translatedData ? translatedData?.moratoriumPeriodInMonths : initialInformation?.moratoriumPeriodInMonths?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               formControlName="moratoriumPeriodInMonthsTransVal"/>
                    </td>
                </tr>

                <tr>
                    <td>Loan Commitment Fee In Percentage</td>
                    <td><input type="number" class="form-control"
                               formControlName="loanCommitmentFeeInPercentage"
                               (input)="translateNumber('loanCommitmentFeeInPercentage', 'loanCommitmentFeeInPercentageTransVal')"/>
                    </td>
                    <td class="abc">{{translatedData ? translatedData?.loanCommitmentFeeInPercentage : initialInformation?.loanCommitmentFeeInPercentage?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               [ngClass]="{ 'is-invalid':submitted && Form.loanCommitmentFeeInPercentageTransVal.errors }"
                               formControlName="loanCommitmentFeeInPercentageTransVal"/>
                        <div *ngIf="submitted && Form.loanCommitmentFeeInPercentageTransVal.errors"
                             class="invalid-feedback">
                            <div *ngIf="Form.loanCommitmentFeeInPercentageTransVal.errors.required">Loan
                                commitment fee is required
                            </div>
                        </div>
                    </td>
                </tr>

                <tr *ngIf="selectedSecurityVal === 'FIXED_DEPOSIT'">
                    <td>Fixed Deposit Holder Name</td>
                    <td><input type="text" class="form-control" formControlName="fixedDepositHolderName"/>
                    </td>
                    <td class="abc">{{translatedData ? translatedData?.fixedDepositHolderName : initialInformation?.fixedDepositHolderName?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               [ngClass]="{ 'is-invalid':submitted && Form.fixedDepositHolderNameTransVal.errors }"
                               formControlName="fixedDepositHolderNameTransVal"/>
                        <div *ngIf="submitted && Form.fixedDepositHolderNameTransVal.errors"
                             class="invalid-feedback">
                            <div *ngIf="Form.fixedDepositHolderNameTransVal.errors.required">Fixed deposit holder
                                name is required
                            </div>
                        </div>
                    </td>
                </tr>

                <tr *ngIf="selectedSecurityVal === 'FIXED_DEPOSIT'">
                    <td>Fixed Deposit Amount Figure</td>
                    <td><input type="number" class="form-control" formControlName="fixedDepositAmountFigure"
                               (input)="getNumAmountWord('fixedDepositAmountFigure', 'fixedDepositReceiptAmountWords')"/>
                    </td>
                    <td class="abc">{{translatedData ? translatedData?.fixedDepositAmountFigure : initialInformation?.fixedDepositAmountFigure?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               [ngClass]="{ 'is-invalid':submitted && Form.fixedDepositAmountFigureTransVal.errors }"
                               formControlName="fixedDepositAmountFigureTransVal"/>
                        <div *ngIf="submitted && Form.fixedDepositAmountFigureTransVal.errors"
                             class="invalid-feedback">
                            <div *ngIf="Form.fixedDepositAmountFigureTransVal.errors.required">Fixed deposit
                                amount figure is required
                            </div>
                        </div>
                    </td>
                </tr>

                <tr *ngIf="selectedSecurityVal === 'FIXED_DEPOSIT'">
                    <td>Fixed Deposit Amount In Words</td>
                    <td><input type="text" class="form-control"
                               formControlName="fixedDepositReceiptAmountWords"/></td>
                    <td class="abc">{{translatedData ? translatedData?.fixedDepositReceiptAmountWords : initialInformation?.fixedDepositReceiptAmountWords?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               [ngClass]="{ 'is-invalid':submitted && Form.fixedDepositReceiptAmountWordsTransVal.errors }"
                               formControlName="fixedDepositReceiptAmountWordsTransVal"/>
                        <div *ngIf="submitted && Form.fixedDepositReceiptAmountWordsTransVal.errors"
                             class="invalid-feedback">
                            <div *ngIf="Form.fixedDepositReceiptAmountWordsTransVal.errors.required">Fixed deposit
                                amount is required
                            </div>
                        </div>
                    </td>
                </tr>

                <tr *ngIf="selectedSecurityVal === 'FIXED_DEPOSIT'">
                    <td>Tenure Of Fixed Deposit</td>
                    <td><input type="number" class="form-control" formControlName="tenureFixedDeposit"
                               (input)="translateNumber('tenureFixedDeposit', 'tenureFixedDepositTransVal')"/>
                    </td>
                    <td class="abc">{{translatedData ? translatedData?.tenureFixedDeposit : initialInformation?.tenureFixedDeposit?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               [ngClass]="{ 'is-invalid':submitted && Form.tenureFixedDepositTransVal.errors }"
                               formControlName="tenureFixedDepositTransVal"/>
                        <div *ngIf="submitted && Form.tenureFixedDepositTransVal.errors"
                             class="invalid-feedback">
                            <div *ngIf="Form.tenureFixedDepositTransVal.errors.required">Tenure of fixed deposit
                                is required
                            </div>
                        </div>
                    </td>
                </tr>

                <tr *ngIf="selectedSecurityVal === 'FIXED_DEPOSIT'">
                    <td>Fixed Deposit Receipt Number</td>
                    <td><input type="number" class="form-control" formControlName="tenureDepositReceiptNumber"
                               (input)="translateNumber('tenureDepositReceiptNumber', 'tenureDepositReceiptNumberTransVal')"/>
                    </td>
                    <td class="abc">{{translatedData ? translatedData?.tenureDepositReceiptNumber : initialInformation?.tenureDepositReceiptNumber.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               [ngClass]="{ 'is-invalid':submitted && Form.tenureDepositReceiptNumberTransVal.errors }"
                               formControlName="tenureDepositReceiptNumberTransVal"/>
                        <div *ngIf="submitted && Form.tenureDepositReceiptNumberTransVal.errors"
                             class="invalid-feedback">
                            <div *ngIf="Form.tenureDepositReceiptNumberTransVal.errors.required">Fixed deposit
                                receipt is required
                            </div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="selectedSecurityVal === 'FIXED_DEPOSIT'">
                    <td>Account Number</td>
                    <td><input type="text" class="form-control" formControlName="accountNumber"/>
                    </td>
                    <td class="abc">{{translatedData? translatedData?.accountNumber : initialInformation?.accountNumber?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               [ngClass]="{ 'is-invalid':submitted && Form.accountNumberTransVal.errors }"
                               formControlName="accountNumberTransVal"/>
                        <div *ngIf="submitted && Form.accountNumberTransVal.errors"
                             class="invalid-feedback">
                            <div *ngIf="Form.accountNumberTransVal.errors.required">
                                Account number is required
                            </div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="selectedSecurityVal === 'FIXED_DEPOSIT'">
                    <td>Bank Name</td>
                    <td><input type="text" class="form-control" formControlName="bankName"/>
                    </td>
                    <td class="abc">{{translatedData? translatedData?.bankName : initialInformation?.bankName?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               [ngClass]="{ 'is-invalid':submitted && Form.bankNameTransVal.errors }"
                               formControlName="bankNameTransVal"/>
                        <div *ngIf="submitted && Form.bankNameTransVal.errors"
                             class="invalid-feedback">
                            <div *ngIf="Form.bankNameTransVal.errors.required">
                                Bank name is required
                            </div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="selectedSecurityVal !== 'FIXED_DEPOSIT'">
                    <td>Pledge Amount Figure</td>
                    <td><input type="text" class="form-control" formControlName="pledgeAmountFigure"
                               (input)="translateNumber('pledgeAmountFigure', 'pledgeAmountFigureTransVal')"/>
                    </td>
                    <td class="abc">{{translatedData ? translatedData?.pledgeAmountFigure : initialInformation?.pledgeAmountFigure?.ct}}</td>
                    <td>
                        <input type="text" class="form-control" formControlName="pledgeAmountFigureTransVal"/>
                    </td>
                </tr>

                <tr *ngIf="selectedSecurityVal === 'LAND_AND_BUILDING'">
                    <td>Insurance Amount Figure</td>
                    <td><input type="text" class="form-control" formControlName="insuranceAmountFigure"
                               (input)="translateNumber('insuranceAmountFigure', 'insuranceAmountFigureTransVal')"/>
                    </td>
                    <td class="abc">{{translatedData ? translatedData?.insuranceAmountFigure : initialInformation?.insuranceAmountFigure?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               formControlName="insuranceAmountFigureTransVal"/>
                    </td>
                </tr>

                <tr>
                    <td>Relationship Officer Name</td>
                    <td><input type="text" class="form-control" formControlName="relationshipOfficerName"/>
                    </td>
                    <td class="abc">{{translatedData ? translatedData?.relationshipOfficerName: initialInformation?.relationshipOfficerName?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               [ngClass]="{ 'is-invalid':submitted && Form.relationshipOfficerNameTransVal.errors }"
                               formControlName="relationshipOfficerNameTransVal"/>
                        <div *ngIf="submitted && Form.relationshipOfficerNameTransVal.errors"
                             class="invalid-feedback">
                            <div *ngIf="Form.relationshipOfficerNameTransVal.errors.required">Relationship officer
                                name is required
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Branch Manager</td>
                    <td><input type="text" class="form-control" formControlName="branchManager"/></td>
                    <td class="abc">{{translatedData ? translatedData?.branchManager : initialInformation?.branchManager?.ct}}</td>
                    <td>
                        <input type="text" class="form-control"
                               [ngClass]="{ 'is-invalid':submitted && Form.branchManagerTransVal.errors }"
                               formControlName="branchManagerTransVal"/>
                        <div *ngIf="submitted && Form.branchManagerTransVal.errors"
                             class="invalid-feedback">
                            <div *ngIf="Form.branchManagerTransVal.errors.required">Branch manager is required
                            </div>
                        </div>
                    </td>
                </tr>

                <tr *ngIf="selectedSecurityVal === 'FIXED_DEPOSIT'" style="padding: 12px">
                    <td>Fixed Deposit Expiry Date</td>
                    <td>
                        <div class="row" style="margin-left: 5px; margin-top: -8px;">
                            <nb-radio-group name="dateofExpiry" formControlName="dateOfExpiryType">
                                <nb-radio (click)="setDateTypeBS2()" value="BS"><span style="margin-left:-60px">BS</span>
                                </nb-radio>
                                <nb-radio (click)="setDateTypeAD2()" value="AD" style="margin-left: 60px;margin-top: -35px;">
                                    AD
                                </nb-radio>
                            </nb-radio-group>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="selectedSecurityVal === 'FIXED_DEPOSIT'">
                    <td>
                    </td>
                    <td>
                        <nepali-patro *ngIf="dateTypeBS2" formControlName="dateofExpiryNepali" [responseType]="2"
                                      [displayNepali]="true">
                        </nepali-patro>
                        <input [nbDatepicker]="doe"
                               *ngIf="dateTypeAD2"
                               class="form-control form-control-sm-error rounded"
                               formControlName="dateofExpiry"
                               id="dateofExpiry"
                               name="dateofExpiry"
                               placeholder="Fixed Deposit Expiry Date"
                               type="text">
                        <nb-datepicker #doe></nb-datepicker>
                    </td>
                </tr>
            </table>
        </div>
        <div class="securities-sections" *ngIf="form.get('selectedSecurity').value && form.get('selectedSecurity').value !== 'FIXED_DEPOSIT'">
            <div class="row security pt-3 pl-2">
                <div class="col-md-12">
                    <h6>Security Details</h6>
                </div>
            </div>
            <div class="row pt-3 pl-2">
                <div class="col-md-12">
                    <button nbButton status="primary" class="float-right" size="tiny" (click)="addDefaultSecurity()">Add
                        Securities
                    </button>
                </div>
            </div>
            <div class="row pt-3 pl-2">
                <div class="col-sm-12">
                    <table class="table table-borderless text-center sb-small table-sm"
                           *ngFor="let security of form.get('securities')['controls']; let i = index" formArrayName="securities">
                        <tbody [formGroupName]="i">
                        <tr>
                            <td>
                                <label class="title">
                                    <strong>
                                        {{i + 1}}. Security Details
                                    </strong>
                                </label>
                            </td>
                        </tr>
                        <tr *ngIf="selectedSecurityVal !== 'FIXED_DEPOSIT'">
                            <td colspan="2">Property Owners Name (धनीको नाम थर)</td>
                            <td><input type="text" class="form-control" formControlName="securityOwnersName"
                                       (change)="onChangeSecurityOwnersName('securities', 'securityOwnersName', i, 'securityOwnersNameTransVal')" /></td>
                            <td>
                                <input type="text" readonly class="form-control" formControlName="securityOwnersNameTransVal"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" formControlName="securityOwnersNameCT"/>
                            </td>
                        </tr>

                        <tr *ngIf="selectedSecurityVal !== 'FIXED_DEPOSIT'">
                            <td colspan="2">District (जिल्ला)</td>
                            <td>
                                <select (change)="getMunicipalityByDistrict(form.get(['securities', i, 'securityOwnersDistrict'])?.value?.id, $event, i);
                                 setDefaultNepaliResponse('securities', 'securityOwnersDistrict', i, 'securityOwnersDistrictTransVal')"
                                        formControlName="securityOwnersDistrict" class="custom-select" id="securityOwnersDistrict{{i}}" name="securityOwnersDistrict{{i}}"
                                        [compareWith]="compareFn">
                                    <option [ngValue]="null" hidden>District</option>
                                    <option *ngFor="let district of allDistrictList"
                                            [ngValue]="district">{{district.name}} || {{district.nepaliName}}</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" readonly class="form-control" formControlName="securityOwnersDistrictTransVal"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" formControlName="securityOwnersDistrictCT"/>
                            </td>
                        </tr>
                        <br>
                        <tr *ngIf="selectedSecurityVal !== 'FIXED_DEPOSIT'">
                            <td colspan="2"></td>
                            <td>
<!--                                <nb-radio-group name="securityOwnersMunicipalityOrVdc" formControlName="securityOwnersMunicipalityOrVdc"-->
<!--                                                class="d-inline-flex">-->
<!--                                    <nb-radio *ngFor="let option of vdcOption" [value]="vdcOption.values()">{{option.label}}</nb-radio>-->
<!--                                </nb-radio-group>-->
                                <select class="form-control" name="securityOwnersMunicipalityOrVdc" formControlName="securityOwnersMunicipalityOrVdc">
                                    <option value="null" hidden>Municipality or VDC</option>
                                    <option value="Municipality">Municipality</option>
                                    <option value="VDC">VDC</option>
                                    <option value="Rural">Rural</option>
                                </select>

                            </td>
                        </tr>

                        <tr *ngIf="selectedSecurityVal !== 'FIXED_DEPOSIT'">
                            <td colspan="2">Municipality (नगर/गा.वि.स.)</td>
                            <td>
                                <select class="custom-select" (change)="setDefaultNepaliResponse('securities', 'securityOwnersMunicipality', i, 'securityOwnersMunicipalityTransVal')"
                                        formControlName="securityOwnersMunicipality"
                                        id="securityOwnersMunicipality{{i}}"
                                        name="securityOwnersMunicipality{{i}}"
                                [compareWith]="compareFn">
                                    <option [ngValue]="null" hidden>Municipality</option>
                                    <option *ngFor="let municipalityVal of municipalityListForSecurities[i]"
                                            [ngValue]="municipalityVal">
                                        {{municipalityVal.name}} || {{municipalityVal.nepaliName}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="text" readonly class="form-control" formControlName="securityOwnersMunicipalityTransVal" />
                            </td>
                            <td>
                                <input type="text" class="form-control" formControlName="securityOwnersMunicipalityCT"/>
                            </td>
                        </tr>

                        <tr *ngIf="selectedSecurityVal !== 'FIXED_DEPOSIT'">
                            <td colspan="2">Ward No (वडा नं.)</td>
                            <td><input type="text" class="form-control" formControlName="securityOwnersWardNo"
                                       (input)="translateSecuritiDetailsNumberFields('securities', 'securityOwnersWardNo', i, 'securityOwnersWardNoTransVal')"/></td>
                            <td>
                                <input type="text" readonly class="form-control" formControlName="securityOwnersWardNoTransVal" />
                            </td>
                            <td>
                                <input type="text" class="form-control" formControlName="securityOwnersWardNoCT"/>
                            </td>
                        </tr>

                        <tr *ngIf="selectedSecurityVal !== 'FIXED_DEPOSIT'">
                            <td colspan="2">Sheet No (सिट नं.)</td>
                            <td><input type="text" class="form-control" formControlName="securityOwnersSeatNo"
                                       (input)="translateSecuritiDetailsNumberFields('securities', 'securityOwnersSeatNo', i, 'securityOwnersSeatNoTransVal')"/></td>
                            <td>
                                <input type="text" readonly class="form-control" formControlName="securityOwnersSeatNoTransVal" />
                            </td>
                            <td>
                                <input type="text" class="form-control" formControlName="securityOwnersSeatNoCT"/>
                            </td>
                        </tr>

                        <tr *ngIf="selectedSecurityVal !== 'FIXED_DEPOSIT'">
                            <td colspan="2">Kitta No (कित्ता नं.)</td>
                            <td><input type="text" class="form-control" formControlName="securityOwnersKittaNo"
                                       (input)="translateSecuritiDetailsNumberFields('securities', 'securityOwnersKittaNo', i, 'securityOwnersKittaNoTransVal')"/></td>
                            <td>
                                <input type="text" readonly class="form-control" formControlName="securityOwnersKittaNoTransVal"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" formControlName="securityOwnersKittaNoCT"/>
                            </td>
                        </tr>

                        <tr *ngIf="selectedSecurityVal !== 'FIXED_DEPOSIT'">
                            <td colspan="2">Land Area (क्षेत्रफल)</td>
                            <td><input type="text" class="form-control" formControlName="securityOwnersLandArea"
                                       (input)="translateSecuritiDetailsNumberFields('securities', 'securityOwnersLandArea', i, 'securityOwnersLandAreaTransVal')" /></td>
                            <td>
                                <input type="text" readonly class="form-control" formControlName="securityOwnersLandAreaTransVal"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" formControlName="securityOwnersLandAreaCT"/>
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td *ngIf="form.get('securities')['length'] > 1" colspan="2"
                                class="text-left">
                                <button nbButton status="danger" size="tiny" (click)="removeIndividualSecurities(i)"
                                        style="position: static">
                                    <em class="fa fa-trash" style="color: white;"></em>
                                </button>
                            </td>
                        </tr>
                        <br>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>

</nb-card-body>
    <nb-card-footer>
        <button [disabled]="previewBtn"
                class="float-right" nbButton
                (click)="openModel()"
                size="tiny"
                status="primary">
            Preview
        </button>
        <button nbButton status="info" (click)="submit()" size="tiny" type="submit" class="float-right">Save
        </button>
        <button nbButton size="tiny" class="float-right" (click)="translate()" [disabled]="!fieldFlag">
            Translate
        </button>
    </nb-card-footer>
</nb-card>
