<nb-card>
    <nb-card-header>
        <strong>All Securities</strong>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="securityForm">
            <div class="col-md-12">
                <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
                    <thead>
                        <tr class="text-white sb-bg-dark">
                            <th>S.N</th>
                            <th>Fair Market Value</th>
                            <th>Distress Value</th>
                            <th>Consider Value</th>
                            <th>Amount to Use</th>
                            <th>Free Limit</th>
                            <th>Coverage(%)</th>
                            <th>Security Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="securityDetails">
                        <ng-container *ngFor="let security of securityControls.controls; let i=index;">
                            <tr>
                                <ng-container [formGroupName]="i.toString()">
                                    <td>{{i + 1}}</td>
                                    <td>{{security.get('fairMarketValue')?.value || '0'}}</td>
                                    <td>{{security.get('distressValue')?.value || '0'}}</td>
                                    <td>{{security.get('considerValue')?.value || '0'}}</td>
                                    <td>
                                        <input type="number" formControlName="usedAmount" class="form-control"
                                               (input)="calcFreeLimit(i,toggleArray[i]?.freeLimit, security.get('usedAmount').value,
                                                                       'securityDetails')"
                                               [readOnly]="proposedLimit === undefined || proposedLimit <= 0">
                                        <span *ngIf="isUsedAmount[i]" class="text-danger">Amount is required!!</span>
                                    </td>
                                    <td>{{security.get('freeLimit')?.value || '0'}}</td>
                                    <td>{{security.get('coverage')?.value || '0'}}</td>
                                    <td>{{security.get('securityType')?.value || 'N/A'}}</td>
                                    <td>
                                        <a class="px-2 cursor" *ngIf="securityPresent[i]"
                                           (click)="toggleArray[i].toggled = !this.toggleArray[i].toggled"
                                           nbTooltip="click to view detail security">
                                            <em class="fa fa-eye"></em>
                                        </a>
                                        <button nbButton size="small"
                                                (click)="tagSecurity(security, 'plantDetails', i)"
                                                [disabled]="limitExceed[i]">
                                            <i class="fa fa-plus"></i></button>
                                    </td>
                                </ng-container>
                            </tr>
                            <tr>
                                <td colspan="9">
                                    <ng-container *ngIf="toggleArray[i].toggled">
                                        <app-security-tagged-component
                                                [tagged]="toggleArray[i]?.security"></app-security-tagged-component>
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </form>
        <table *ngIf="securityList.length > 0" class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
            <thead>
            <tr class="text-white sb-bg-dark">
                <th>S.N</th>
                <th>Fair Market Value</th>
                <th>Distress Value</th>
                <th>Consider Value</th>
                <th>Used Amount</th>
                <th>Free Limit</th>
                <th>Coverage(%)</th>
                <th>Security Type</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let security of securityList; let i=index;">
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{security?.fairMarketValue || '0'}}</td>
                    <td>{{security?.distressValue || '0'}}</td>
                    <td>{{security?.considerValue || '0'}}</td>
                    <td>{{security?.usedAmount || '0'}}</td>
                    <td>{{security?.freeLimit || '0'}}</td>
                    <td>{{security?.coverage || '0'}}</td>
                    <td>{{security?.securityType}}</td>
                    <td>
                        <button (click)="removeSecurity(i, security?.securityLoanReferenceId)"
                                class="btn btn-sm btn-flat btn-danger">
                            <em class="fa fa-trash bg-transparent"></em>
                        </button>
                    </td>
                </tr>
            </ng-container>
            </tbody>
        </table>
        <div class="text-right">
            <strong>Coverage:</strong> {{coverage}} %
        </div>
    </nb-card-body>
</nb-card>
