@import "src/app/feature/credit-administration/cad-document-template/progressive/progressive-offer-letter/progressive-offer-letter.component";

.viewFull {
  max-height: 85vh;
  text-align: justify;
}

#lastDiv {
  height: 100%;
  width: 100%;
  margin: auto;
}
