@import '../../progressive-legal-docs.component';
*{
  line-height: 1.9em;
  overflow: visible;
}
body{
  overflow-y:visible;
}
.viewFull {
  max-height: 85vh;
  text-align: justify;
}

#lastDiv {
  height: 100%;
  width: 100%;
  margin: auto;
}

@media print {
  .pages-break { page-break-before: always; }
}
p{
  word-wrap: break-word;
}

.signature-area2 {
  display: block;
  background-color: transparent;
  border: 1px solid #3c3c3c;
  max-width: 291px;
  width: 180px;
  height: 186px;
  max-height: 186px;
}

.span-paragraph {
  line-height: 1.9em;
}

.unicode-size {
  font-size: 12pt;
}

.unicode-size2{
  font-size: 24px;
}

@media print {

  @page {size: A4 landscape; }

}

tr {
  page-break-inside: initial;
}

span{
  line-height: 1;
}
