*{
  line-height: 1.9em !important;
  font-size: 19px !important;
  text-align: justify !important;
}

.form-field {
  background: yellow;
  margin: 0px 5px;
  border: 0;
  border-radius: 0px;
  border-bottom: 1px solid black;
  font-size: 19px;
  &:focus {
    outline: none;
  }
  .table-row{
    width:32px;
  }
  .container-name div {
    display: inline-block;
    width: 100vh;
    min-height: 50px;
    background-color: #eee;
    height: auto;
  }
}

@media screen {
  .print-only {
    display: none;
  }
  .disable-print {
    display: inline;
  }
}

@media print {
  .print-only {
    display: inline;
  }
  div.align {
    font-size: 19px;
    line-height: 1.9;
    text-align: justify;
    text-justify: inter-word;
    margin: 10px 70px;
  }
}
ol li, ul li {
  padding-left: 1em;
}
