@import '../../progressive-legal-docs.component';

* {
  margin-top: 23px;
}

.bodyParagraphTable {
  text-align: justify;
  line-height: 1.5;
}

p {
  text-align: justify;
  line-height: 1.6;
}

span {
  font-size: 25px;
  line-height: 1.5;
}

table {
  line-height: 1.1;
}
