@import '../../progressive-legal-docs.component';

/*
* {
  margin-top: 23px;
}
*/

.bodyParagraphTable {
  text-align: justify;
  line-height: 1.5;
}

p {
  text-align: justify;
  line-height: 1.6;
}

span {
  line-height: 1;
}

table {
  line-height: 1.1;
}

.unicode-size16{
  font-size: 16px;
}

.unicode-size24{
  font-size: 24px;
}

.unicode-size22{
  font-size: 22px;
}
.unicode-size20{
  font-size: 20px;
}
