@import '../../progressive-legal-docs.component';

* {
  margin-top: 23px;
}

.bodyParagraphTable {
  text-align: justify;
  line-height: 1.5;
}

p {
  text-align: justify;
  line-height: 1.6;
}

span {
  font-size: 25px;
  line-height: 1.5;
}

table {
  line-height: 1.1;
}

.margin {
  margin-top: 1in;
  margin-left: 1in;
}

.unicode-size16{
  font-size: 16px;
}

.unicode-size24{
  font-size: 24px;
}

.unicode-size22{
  font-size: 22px;
}
