@import '../../progressive-legal-docs.component';

.fingerXap {
  width: 500px;
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}

.unicode-size{
  font-size: 12pt;
}
.unicode-size2{
 font-size: 24px;
}
