@media print {
  .report-header {
    text-align: center;
    line-height: 1;
  }

  .report-header .report-header-heading {
    font-size: 16pt;
    font-weight: bold;
    color: black !important;
  }

  .report-header .report-header-sub-heading {
    font-size: 14pt;
    color: black !important;
  }

  .report-logo {
    width: 100px;
  }

  #signatureDiv {
    page-break-before: auto;
    page-break-inside: avoid;
    color: black !important;
  }

  .signature-height {
    height: 50px;
  }
  .signature-width{
    width: 50px;
  }
  .signature-block {
    padding: 0.5rem;
    border: 1px solid black;
    margin-top: 0.2rem;
    page-break-before: auto;
    page-break-inside: avoid;

  }
  .signature-block .text-white{color: black !important;}

  .signature-block .signature-detail {
    border-top: 1px dashed;
    padding-top: 0.5rem;
    color: black !important;
  }


  .signature-detail p {
    margin-bottom: 0;
    color: black !important;
  }

  .signature-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .print-span{
    color: black !important;
  }

  .padding-0-125 {
    padding-left: 0.125rem !important;
    padding-right: 0.125rem !important;
  }

  .cmt-height {
    max-height: 36px;
    overflow: hidden;
  }

  .cmt-width {
    width: 70%;
    color: black !important;
  }

  .read-margin {
    margin-top: 5px;
  }

  span.badge {
    border: none;
    color: black;
    font-weight: normal;

  }

  hr.print-line {
    border-top: 2px solid black;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  div {
    font-size: 14pt;
    color: black !important;
    //line-height: 1.5;
  }

  div p {
    font-size: 14pt;
    margin-bottom: 5px;
    color: black !important;
  }

  .print-only {
    display: block;
    color: black !important;
  }

  #print-document {
    display: none;
  }

  .table th, .table td {
    font-size: 12pt;
    padding: 0.1rem;
    color: black !important;
  }

  #print-borrower-table tbody td {
    width: 400px;
    color: black !important;
  }

  #print-company-table tbody td {
    width: 500px;
    color: black !important;
  }

  #print-block {
    margin-top: -6rem;
    margin-left: 2rem;
    margin-right: -1rem;
    padding-top: 3rem;
    color: black !important;

    .mt-3 {
      margin-top: 0 !important;
    }

    table {
      margin-bottom: .2rem;
      color: black !important;
    }

    p {
      margin-bottom: 0.2rem;
      color: black !important;
    }

  }

  table {
    page-break-inside: auto;
    color: black !important;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto
  }
  thead {
    display: table-header-group
  }
  tfoot {
    display: table-footer-group
  }




}
