<p class="font-weight-bold">Repayment:</p>
<ol style="list-style-type: lower-alpha">
    <li>……… equal monthly installments commencing from the 10th of every Gregorian calendar from the next month of initial drawdown. The client shall serve interest on the loan outstanding during the first month, calculated on a daily debit outstanding from the date of disbursement.</li>
    <li>The above mentioned loan when repaid in part or full shall not be reinstated by the extent of the amount repaid/settled.</li>
</ol>
<p class="font-weight-bold mt-2">Mode of Disbursement:</p>
<p>The loan shall be disbursed as under:</p>
<ul>
    <li>We shall disburse loan amount of NPR ……….. Mio or ……….% of FMV of the real estate collateral whichever is lower by crediting the current account of Mr. …………….. maintained at ……………. Branch or issued Managers Cheque in the name of Seller or as per request of the applicant upon completion of security documents</li>
    <li>Execution of all the security documents including mortgaged of proposed collateral.</li>
    <li>Letter of undertaking to the seller shall be issued at the request of buyer.</li>
    <li>Completion of security documentations</li>
</ul>
