<div class="row" *ngIf="mergedChecked?.netChecked">
    <hr class="print-line">
    <div class="col-md-12">
        <p  class="header text-left"><strong class="header">Net Worth</strong></p>
        <table class="table table-condensed table-bordered table-sm table-responsive-md sb-small">
            <thead>
            <tr class="sb-bg-gray">
                <th>Assets</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody class="text-left">
            <tr>
                <td colspan="2"><b>Deposit</b></td>
            </tr>
            <tr *ngFor="let data of individualJsonData?.deposit">
                <ng-container >
                    <td class="text-left">{{data?.assets}}</td>
                    <td class="text-right">{{data?.amount}}</td>
                </ng-container>
            </tr>
            <tr>
                <div *ngIf="individualJsonData?.shares.length > 0" >
                    <td colspan="2"><b>Shares & Securities</b></td>
                </div>
            </tr>
            <tr *ngFor="let data of individualJsonData?.shares">
                <ng-container >
                    <td class="text-left">{{data?.assets}}</td>
                    <td class="text-right">{{data?.amount}}</td>
                </ng-container>
            </tr>
            <tr >
                <div  *ngIf="individualJsonData?.realState.length > 0">
                    <td colspan="2"><b>Real Estate (Land and Building)</b></td>
                </div>
            </tr>
            <tr *ngFor="let data of individualJsonData?.realState">
                <ng-container >
                    <td class="text-left">{{data?.assets}}</td>
                    <td class="text-right">{{data?.amount}}</td>
                </ng-container>
            </tr>
            <tr >
                <div *ngIf="individualJsonData?.vehicle.length > 0">
                    <td colspan="2"><b>Vehicles</b></td>
                </div>
            </tr>
            <tr *ngFor="let data of individualJsonData?.vehicle">
                <ng-container >
                    <td class="text-left">{{data?.assets}}</td>
                    <td class="text-right">{{data?.amount}}</td>
                </ng-container>
            </tr>
            <tr>
                <td class="text-left"><b>Total:</b></td>
                <td class="text-right">{{individualJsonData?.total}}</td>
            </tr>
            <tr>
                <td class="text-left"><b>Net Worth (Total Assets - Banking Relationship Exposure):</b></td>
                <td class="text-right">{{individualJsonData?.totals}}</td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
