<div class="row">
    <div class="col-md-12">
        <div class="disable-print">
            <div class="row">
                <div class="col-md-12  justify-content-center" align="center" >
                    <nb-card>
                        <nb-card-body >
                                <button routerLinkActive="active" routerLink="/home/credit-memo/inbox"
                                        class="btn-sm btn-primary">
                                    <em class="fa fa-envelope-open-text"></em> Inbox
                                </button>
                                <button routerLink="/home/credit-memo/approved"
                                        class="btn-sm btn-success">
                                    <em class="fa fa-check"></em> Approved
                                </button>
                                <button routerLinkActive="active"routerLink="/home/credit-memo/rejected"
                                        class="btn-sm btn-danger">
                                    <em class="fa fa-times"></em> Rejected
                                </button>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
