.nep {
  font-size: 20px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 70px;
}

span{
  margin: 0px 10px;
  font-size: 28px;
  text-decoration: underline;
}

li {
  list-style-type: none;
}
.logo-container {
  display: flex;
  align-items: center;
  width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  margin: 10px 70px;
}
