<p class="mt-4 header"><strong class="header">Credit Risk Grading</strong></p>
<table class="table table-condensed table-bordered table-sm
        table-responsive-md text-center table-sm sb-small">
    <thead>
<!--    <tr>-->
<!--        <th colspan="3" class="text-center">Credit Risk Grading (Gamma)</th>-->
<!--    </tr>-->
    <tr class="sb-bg-gray">
        <th class="sn">S.N</th>
        <th>Types Of Risk</th>
        <th *ngIf="previousCrgGammaData">Previous Score</th>
        <th>Current Score</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of crgGammaData?.groupObject[0]; let i = index">
        <td>{{i+1}}</td>
        <td>{{data?.groupName}}</td>
        <td *ngIf="previousCrgGammaData">{{previousCrgGammaData?.groupObject[0][i]?.groupTotal}}</td>
        <td>{{data?.groupTotal}}</td>
    </tr>
    <tr>
        <td colspan="2" class="sb-bg-gray  text-left pl-1"><strong>Total Score :</strong></td>
        <td *ngIf="previousCrgGammaData" colspan="1" class="sb-bg-gray  text-right pr-1"><strong>{{ previousCrgGammaData?.totalPoint }}</strong></td>
        <td colspan="1" class="sb-bg-gray  text-right pr-1"><strong>{{ crgGammaData?.totalPoint }}</strong></td>
    </tr>
    <tr>
        <td colspan="2" class="sb-bg-gray  text-left pl-1"><strong>Grade :</strong></td>
        <td *ngIf="previousCrgGammaData" colspan="1" class="sb-bg-gray  text-left pl-1"><strong>{{ previousCrgGammaData?.grade }}</strong></td>
        <td colspan="1" class="sb-bg-gray  text-left pl-1"><strong>{{ crgGammaData?.grade }}</strong></td>
    </tr>
    </tbody>
</table>
<table class="table table-condensed table-bordered table-responsive-md table-sm sb-small company-detail summary">
    <tr  class="sb-bg-gray">
        <th>Remarks</th>
    </tr>
    <tr >
        <td class="text-left pl-1"><span [innerHTML]="crgGammaData?.remarks || 'N/A' | safeHtml"></span></td>
    </tr>
</table>
