.dev-list {
  list-style-type: devanagari !important;
}
.dev-list li {
  line-height: 1.9em !important;
  padding-left: 1em !important;
  text-align: justify;
  font-size: 19px;
}
.form-field {
  background: yellow;
  margin: 0px 5px 5px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
  font-size: 19px;
  &:focus {
    outline: none;
  }
}
p {
  font-size: 19px;
  line-height: 1.9em;
}
