.disc-list {
  list-style-type: disc;
}
.disc-list li{
  line-height: 1.9em !important;
  padding-left: 1em !important;
  text-align: justify;
}
.all, ol li, p, ul li {
  font-size: 19px;
  line-height: 1.9em;
}
