<!--Security Documents-->
<div style="line-height: 1.9em">
    SECTION 10
    <div class="col-md-12">
        <div class="row mt-2">
            <p class="m-0">
                <strong>
                    कागजपत्रहरु
                </strong>
            </p>
        </div>
        <div class="row mt-2">
            <p class="m-0">
                ऋणीले बैंकको
                <span><strong>{{this.branchName ? this.branchName : ''}}</strong></span>
                शाखामा सम्पर्क राखी देहाय बमोजिमका कर्जा सम्बन्धी कागजपत्रहरु सहीछाप
                गर्नु पर्नेछ । साथै माथि उल्लिखित कर्जा सुविधाहरु प्रवाह गर्नको लागि आवश्यक निवेदन तथा अन्य कागजातहरु
                बैंकमा
                पेश गर्नुपर्नेछ ।
            </p>
        </div>
        <div class="row mt-3">
            <ul class="disc-list">
                <li>
                    रु.
                    <span><strong>{{proposedAmount ? proposedAmount : ''}}</strong></span>
                    /-
                    को प्रतिज्ञा पत्र । (Promissory Note)
                </li>
                <li>
                    रु.
                    <span><strong>{{proposedAmount ? proposedAmount : ''}}</strong></span>
                    /-
                    को ऋणतमसुक (Loan Deed)
                </li>
                <li>
                    कित्ता नं
                    <span><strong>{{plotNumber ? plotNumber : ''}}</strong></span>> को घर÷ जग्गाको धितोबन्धक तमसुक (Mortgaged Deed)
                </li>
                <li>
                    निरन्तरताको लिखत (Letter of Continuity)
                </li>
                <li>रु.
                    <span><strong>{{proposedAmount ? proposedAmount : ''}}</strong></span>
                    /-
                    को श्री-सम्पत्ति धितो/सुरक्षण लेखीदिएको गोश्वारा-पत्र (General Letter of Hypothecation) सहित पूरक
                    सम्झौता (Supplementary Agreement)
                </li>
                <li>
                    रु.
                    <span><strong>{{proposedAmount ? proposedAmount : ''}}</strong></span>
                    /-
                    को भुक्तानी प्राप्त गर्न बांकी रकम संकलन गर्ने अख्तियारनामा (Assignment of Receivables) सहित
                    वारेसनामा (Power of Attorney)
                </li>
                <li>
                    बहु बैंकिङ्ग घोषणापत्र (Multiple Banking Declaration)
                </li>
                <li>
                    रु.
                    <span><strong>{{proposedAmount ? proposedAmount : ''}}</strong></span>
                    /-
                    बराबरको
                    <span><strong>{{finalName ? finalName : ''}}</strong></span>
                    ले बैंकको पक्षमा लेखिदिनुपर्ने ब्यक्तिगत जमानीपत्र (Personal Guarantee)
                </li>
                <li>
                    जमानीकर्ताको सम्पत्ति विवरण (Wealth Statement of Guarantor)
                </li>
                <li>
                    आवश्यक जोखिमहरुबाट सुरक्षित गरीएको "बैंकिङ्ग शर्त" (Bankers Clause) सहितको बैंकको पक्षमा
                    धितोबन्धक/दृष्टिबन्धकमा रहेका सम्पूर्ण सामान मौज्दातहरु/सम्पत्तिहरुका लागि
                    <strong>
                        पर्याप्त मुल्य
                    </strong>
                    बराबरको बैंकको पक्षमा बिमालेख ।
                </li>
                <li>
                    आवश्यक जस्ता जोखिमहरुबाट हुने क्षतीहरुबाट सुरक्षित गरीएको "बैंकिङ्ग शर्त" (Bankers Clause) सहितको
                    बैंकको पक्षमा धितोबन्धक रहेको घरको बजार मुल्य बराबरको बैंकको पक्षमा बिमालेख ।
                </li>
                <li>
                    विमा सम्बन्धी घोषणा (Insurance declaration statement)
                </li>
                <li>
                    विमा नगरिएका जोखिमहरुबाट बैंकको पक्षमा धितोबन्धक/दृष्टिबन्धकमा रहेका सामान मौज्दात/सम्पत्तिहरुमा
                    कुनै
                    पनि हानीनोक्सानी तथा क्षती भएको अवस्थामा सम्पुर्ण नोक्सानी ऋणी स्वयमले ब्यहोर्न प्रतिबद्धता पत्र
                    (Undertaking Letter)
                </li>
                <li>
                    ऋणी फर्मले यस बैञक लगायत अन्य बैञक तथा वित्तिय संस्थाबाट समेत गरी कुल जम्मा रु.१
                    करोड भन्दा बढी कर्जा उपभोग नागरेको उद्घोष पत्र । (Declaration letter)
                </li>
                <li>
                    पट्टा सम्झौता पत्र  ( Lease Agreement)
                </li>
                <li>
                    धितोबन्धक रहेको घर÷जग्गा धनी श्री
                    <span><strong>{{this.nameOfPropertyOwner ? this.nameOfPropertyOwner : ''}}</strong></span>  को धितो निरन्तरताको
                    मन्जुरीनामा (Letter of Consent from Mortgage property owner for continuation of existing
                    mortgage)
                </li>
                <li>
                    सम्बन्धीत सरकारी निकायद्वारा जारी गरिएकँ भवन निर्माण सम्पन्न प्रमाणपत्र बैंकमा बुझाउनु
                    पर्नेछ । (Building Construction complete certificate)
                </li>
                <li>
                    हायर पर्चेज सम्झौता (Hire Purchase Agreement)
                </li>
                <li>
                    तेश्रो पक्ष दायित्व सहित बैंकिé शर्त सहितको सवारी साधनको विस्तृत बिमालेख । (Comprehensive Insurance)
                </li>
                <li>
                    तेश्रो पक्षको स्वामित्व हस्तान्तरण (यदि चुक्ताभुक्तानी नभएको अवस्थामा) का लागि ऋणीको
                    मञ्जुरीनामा । (Consent for third Party Transfer in case of Default)
                </li>
                <li>
                    बैंकको नाममा सवारी साधन नामसारी भएको ब्लु बुक (Blue Book)
                </li>
                <li>
                    ऋणकर्जाको चुक्ताभुक्तानी दोश्रो प्राथमिकतामा राख्ने सम्झौता (Loan Subordination Agreement)
                </li>
                <li>
                    पारिपासु सम्झौता (Pari-pasu Deed)
                </li>
                <li>
                    साझेदारी फम (Partnership Deed)
                </li>
                <li>
                    मोजरा पत्र (Letter of set off)
                </li>
                <li *ngIf="freeText?.section10 !== ''">
                    <span
                            class="nepaliFont"
                            style="font-size: 24px;">
                           {{ freeText?.section10 }}
                    </span>
                </li>
            </ul>
        </div>
        <!--    Only for existing case-->
        <div class="row mt-2">
            <div class="col-md-12">
                <strong>
                    यस अघि विभिन्न मितिका ऋणस्वीकृति पत्रमा उल्लिखित ऋणकर्जा सुविधा सम्बन्धमा बैंकको पक्षमा गरिदिएका
                    सम्पूर्ण सुरक्षण कागजपत्रहरु तथा सोमा उल्लिखित शर्त बन्देजहरु मान्य र बैध रहनेछन् ।
                </strong>
            </div>
        </div>
    </div>
</div>
