@media screen {
  .print-only {
    display: none;
  }

  .disable-print {
    display: inline;

  }
}

@media print {
  .print-only {
    display: inline;
  }
  div.align {
    font-size: 20px;
    line-height: 1.9;
    margin: 10px 70px;
  }

}
.outside {
  font-size: 16px !important;
}
