<h1>Financial Parser Component</h1>
<form [formGroup]="form">
    <div class="col-md-12">
        <div class ="row">
            <div class="form-group col-md-4">
                <label for="particulars">Select Fiscial Year</label>
                <ng-select formControlName="fiscalYear"  id ="particulars"(change)="getColumnIndex($event)">
                    <ng-option *ngFor="let data of financialJson.column; let i = index;"   [value]="i">{{data}}</ng-option>
                </ng-select>
            </div>

            <div class="form-group col-md-4">
                <label for="values">Select Particulars</label>
                <ng-select  formControlName="schema"  id="values" (change)="getSchemaIndex($event)" >
                    <ng-option *ngFor="let data of financialJson.schema; let i = index;"   [value]="i">{{data}}</ng-option>
                </ng-select>
            </div>
            <div class="col-md-4">
                <label for="value">Selected Value</label>
                <input type="text" disabled  formControlName="value" class="form-control" id="value">
            </div>
        </div>
    </div>
</form>
<table border="1" class="table-sm table-responsive">
    <thead>
    <tr>
        <td><strong>Particular</strong></td>
        <td *ngFor="let header of financialJson.column"><strong>{{header}}</strong></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let schema of financialJson.schema; let i = index">
        <td><strong>{{schema}}</strong></td>
        <ng-container *ngFor="let data of financialJson.data[i]">
            <td>{{data === 0.00 ? '' : data.toFixed(2)}}</td>
        </ng-container>
    </tr>
    </tbody>
</table>
