
<nb-card class="col-md-6" [nbSpinner]="spinner" ngDraggable [ngResizable]="true">
        <nb-card-header>
            <strong>{{popUpTitle}}</strong>
            <button (click)="nbDialogRef.close()" aria-label="Close"
                    class="close cursor d-inline-flex justify-content-end" nbButton
                    size="tiny"
                    status="primary">
                <span aria-hidden="true">×</span></button>
        </nb-card-header>
        <nb-card-body>
            <form [formGroup]="formAction" role="form">

                <p *ngIf="additionalDetails?.hasDeferredDocs" class="text-danger">
                    This loan contains deferred documents that are not uploaded.
                </p>

                <div *ngIf="popUpTitle === 'Send Forward'" class="row">

                    <div class="col-md-12 form-group">
                        <label class="toRole">TO</label>
                        <select (change)="getUserList(this.formAction.get('toRole').value)"
                                class="form-control form-control-sm"
                                formControlName="toRole"
                                id="toRole"
                                name="toRole"
                               >
                            <option [value]="null" hidden>Select To</option>
                            <option *ngFor="let forwardBackward of sendForwardBackwardList"
                                    [ngValue]="forwardBackward.role">
                                {{forwardBackward.role?.roleName}}
                            </option>
                        </select>
                        <div class="sb-small text-danger" *ngIf="isEmptyUser">No User Present in this Role For this
                            branch
                        </div>
                    </div>
                </div>

                <div *ngIf="userList?.length > 1 && showUserList" class="row">
                    <div class="col-md-12 form-group">
                        <label class="toUser" for="toUser">To User</label>
                        <select class="form-control form-control-sm" formControlName="toUser" id="toUser"
                                name="toUser">
                            <option *ngFor="let user of userList"
                                    [ngValue]="user">
                                {{user.username}}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label for="comment">Comment:</label>
                        <ckeditor [ngClass]="{ 'is-invalid': submitted && formAction.controls['comment'].errors }"
                                  formControlName="comment" id="comment" [config]="ckeConfig"></ckeditor>
                        <div *ngIf="submitted && formAction.controls['comment'].hasError('required')"
                             class="error-message" style="color: red;">comment is required
                        </div>
                        <div *ngIf="submitted && formAction.controls['comment'].hasError('required')"
                             class="error-message"
                             style="color: red;">comment is required
                        </div>
                    </div>
                </div>

                <div *ngIf="isMaker">
                    <div class="col-md-12">
                        <nb-checkbox class="cursor" (checkedChange)="isSolChecked($event)"
                                     [checked]="customerLoanHolder.isSol">is SOL?
                        </nb-checkbox>
                    </div>
                    <div *ngIf="isNoUserSelectedSol" class="sb-small text-danger">{{solNoUserSelectedMessage}}</div>
                    <div class="col-md-12 row" *ngIf="showHideSolUser">
                        <div class="col-md-6">
                            <label class="toRole" for="toRole">Approval Role</label>
                            <select style="width: 100%"
                                    (change)="getSOlUSerList(this.formAction.get('selectedRoleForSol').value)"
                                    class="form-control form-control-sm"
                                    formControlName="selectedRoleForSol"
                                    name="toRole">
                                <option [value]="null" hidden>Select To</option>
                                <option *ngFor="let forwardBackward of sendForwardBackwardList"
                                        [ngValue]="forwardBackward.role"
                                        [selected]="forwardBackward.role.id === customerLoanHolder?.solUser?.role.id">
                                    {{forwardBackward.role?.roleName}}
                                </option>
                            </select>
                            <div *ngIf="isNoUserSol" class="sb-small text-danger">{{solNoUserMessage}}</div>
                        </div>

                        <div class="col-md-6" *ngIf="solUserList?.length > 1">
                            <div style="width:100%">
                                <label class="solUser" for="solUser">Approval User</label>
                                <select class="form-control form-control-sm" formControlName="solUser" id="solUser"
                                        name="solUser">
                                    <option *ngFor="let user of solUserList"
                                            [ngValue]="user"
                                            [selected]="user.id === customerLoanHolder?.solUser?.id">
                                        {{user.username}}</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </div>
            </form>
        </nb-card-body>
        <nb-card-footer>
            <button (click)="onSubmit()" [disabled]="formAction.invalid || spinner"   nbButton type="button">
                <em class="fa fa-save"></em>
            </button>
        </nb-card-footer>
    </nb-card>


