@media print {
  body{
    visibility: hidden;
  }
  .formId{
    visibility: visible;
  }
  hr{
    border-top: 1px solid;
  }
  h4{
    font-size: 1.17em ;
  }

  h5{
    font-size: 1.09em;
  }

  h1{
    font-size: 1.5em;
  }

}
