<p><strong>Name:</strong> M/S …………………………….. (Chairman: Mr/Ms…….., mobile……)
    All amounts in NPR million (unless otherwise indicated)</p>
<table class="table table-condensed table-bordered table-responsive-md sb-small">
    <tr>
        <td>Legal status</td>
        <td></td>
        <td>Customer ID:</td>
        <td></td>
        <td>Next review</td>
        <td>dd/mm/yyyy</td>
    </tr>
    <tr>
        <td>Group</td>
        <td></td>
        <td>VAT /PAN No.</td>
        <td></td>
        <td colspan="2">Banking with CCBL since</td>
    </tr>
    <tr>
        <td>Firm/Com. Reg. No.</td>
        <td></td>
        <td>Reg. Date</td>
        <td>dd/mm/yyyy</td>
        <td>Group</td>
        <td>Customer</td>
    </tr>
    <tr>
        <td>Firm renewed</td>
        <td>For FY …..</td>
        <td>A/C strategy </td>
        <td></td>
        <td>mm/yyyy	mm/yyyy</td>
    </tr>
    <tr>
        <td>Line of business</td>
        <td colspan="2">………………………</td>
        <td>Banking Arrangement</td>
        <td colspan="2">Multiple Banking /Sole</td>
    </tr>
    <tr>
        <td>CIC Report</td>
        <td colspan="2">Date: dd/mm/yyyy; Status: Clean/Overdue</td>
        <td colspan="3">Main Promoters/Partners/Proprietor</td>
    </tr>
    <tr>
        <td colspan="3">Rating/NRB Classification/risk weight</td>
        <td>i</td>
        <td></td>
        <td>..%</td>
    </tr>
    <tr>
        <td>CCBL</td>
        <td>External (name)</td>
        <td>NRB</td>
        <td>ii</td>
        <td></td>
        <td>..%</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>iii</td>
        <td></td>
        <td>..%</td>
    </tr>
    <tr>
        <td colspan="3">Address: Office: tole/street, …..Municipality, …(district)</td>
        <td>iv</td>
        <td></td>
        <td>..%</td>
    </tr>
    <tr>
        <td colspan="3">Factory/Business: tole/street, .Municipality, …(district)</td>
        <td>v</td>
        <td></td>
        <td>..%</td>
    </tr>
    <tr>
        <td colspan="3">Main Person(s): tole/street, .Municipality, …(district)</td>
        <td></td>
        <td>Total</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">CCBL Counterparty Risk Rating:</td>
        <td colspan="3">Outcome of CCBL Counterparty Risk Rating:</td>
    </tr>
</table>
