.box {
  border-style: solid;

}

.nepali {
  font-size: 16px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 50px;
}

.form-fields {
  background: yellow;
  margin: 0px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;

  &:focus {
    outline: none;
  }
}

nb-card {
  max-height: 900px;
}

.nepaliFont {
  font-size: 22px;
  font-family: Preeti;
}
