<nb-card accent="primary">
  <nb-card-header>
    Customer Loan Information
  </nb-card-header>
  <nb-card-body>
    <div class="row">

      <div class="col-md-4" *ngIf="customerInfo?.siteVisit">
        <div class="row">
          <nb-card class="col-md-11 py-2" #siteVisit>
          <a class="cursor info-label" (click)="openModel(itemSiteVisitTemplate)">
            <div class="row">
              <div class="col-md-8">
                <p class="custom-font">SITE VISIT</p>
              </div>
              <div class="col-md-4 d-flex justify-content-end">
              <span style="color: green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
              </div>
            </div>
          </a>
        </nb-card>
        </div>
        <ng-template #itemSiteVisitTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              SITE VISIT
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-site-visit-view
                  [siteVisit]="customerInfo?.siteVisit">

              </app-site-visit-view>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4" *ngIf="customerInfo?.cicl">
        <div class="row">
          <nb-card class="col-md-11 py-2" #itemCicl>
            <a class="cursor info-label" (click)="openModel(ciclComponentTemplate)">
              <div class="row">
                <div class="col-md-8">
                  <p class="custom-font">CICL</p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span style="color: green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #ciclComponentTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              CICL
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-cicl-view
                  [ciclValue]="customerInfo?.cicl"></app-cicl-view>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>

      <div class="col-md-4" *ngIf="isIndividual && customerInfo?.financial">
        <div class="row">
          <nb-card class="col-md-11 py-2" #itemFinancial>
            <a class="cursor info-label" (click)="openModel(itemFinancialTemplate)">
              <div class="row">
                <div class="col-md-8">
                  <p class="custom-font">FINANCIAL</p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span style="color: green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemFinancialTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              FINANCIAL
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-financial-view
                  [formData]="customerInfo?.financial"
                  [customerType]="customerInfo?.customerType"
              ></app-financial-view>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>

      <div class="col-md-4" *ngIf="!isIndividual && customerInfo?.financial">
        <div class="row">
          <nb-card class="col-md-11 py-2" #itemFinancial>
            <a class="cursor info-label" (click)="openModel(itemFinancialTemplate)">
              <div class="row">
                <div class="col-md-8">
                  <p class="custom-font">FINANCIAL</p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span style="color: green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemFinancialTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              FINANCIAL
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-financial-upload-view [customerInfo]="customerInfo"
                                         [customerInfoId]="customerInfoId"
                                         [fromProfile]="true"></app-financial-upload-view>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>

      <div class="col-md-4" *ngIf="customerInfo?.incomeFromAccount">
        <div class="row">
          <nb-card class="col-md-11 py-2" #incomeFromAccount>
            <a class="cursor info-label" (click)="openModel(itemIncomeFromAccountTemplate)">
              <div class="row">
                <div class="col-md-10">
                  <p class="custom-font">EARNING, PROFITABILITY AND PRICING</p>
                </div>
                <div class="col-md-2 d-flex justify-content-end">
              <span style="color: green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemIncomeFromAccountTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              EARNING, PROFITABILITY AND PRICING
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-income-from-account-summery
                  [formData]="customerInfo?.incomeFromAccount">
              </app-income-from-account-summery>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>

      <div class="col-md-4" *ngIf="customerInfo?.customerType === 'INSTITUTION' && customerInfo?.netTradingAssets || isMicroCustomer && customerInfo?.netTradingAssets">
        <div class="row">
          <nb-card class="col-md-11 py-2" #NetTrading>
            <a class="cursor info-label" (click)="openModel(itemNetTrading)">
              <div class="row">
                <div class="col-md-10">
                  <p class="custom-font">NET TRADING ASSETS(NTA)</p>
                </div>
                <div class="col-md-2 d-flex justify-content-end">
              <span style="color: green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemNetTrading let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              NET TRADING ASSETS (NTA)
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-nta-summary
                      [fiscalYears]="fiscalYearArray"
                      [netTradingAssetsData]="customerInfo?.netTradingAssets"></app-nta-summary>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4" *ngIf="customerInfo?.securities.length > 0">
       <div class="row">
         <nb-card class="col-md-11 py-2" #security>
           <a class="cursor info-label" (click)="openModel(securityComponentTemplate)">
             <div class="row">
               <div class="col-md-8">
                 <p class="custom-font">SECURITY</p>
               </div>
               <div class="col-md-4 d-flex justify-content-end">
              <span style="color: green" title="Status : Saved">
                <em [ngClass]="customerInfo?.securities.length > 0 ? 'fas fa-check-circle px-2':'fas fa-times-circle px-2'"></em>
              </span>
               </div>
             </div>
           </a>
         </nb-card>
       </div>
        <ng-template #securityComponentTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              SECURITY
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body >
              <h6 *ngIf=" customerInfo?.securities.length === 0" class="text-danger">Note: This customer has no current security.</h6>
            <app-security-summary [securities]="customerInfo?.securities"></app-security-summary>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
    <div class="col-md-4" *ngIf="customerInfo?.guarantors">
      <div class="row">
        <nb-card class="col-md-11 py-2" #guarantor>
          <a class="cursor info-label" (click)="openModel(guarantorComponentTemplate)">
            <div class="row">
              <div class="col-md-8">
                <p class="custom-font">SHAREHOLDER/GUARANTOR</p>
              </div>
              <div class="col-md-4 d-flex justify-content-end">
              <span style="color: green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
              </div>
            </div>
          </a>
        </nb-card>
      </div>
      <ng-template #guarantorComponentTemplate let-data let-ref="dialogRef">
        <nb-card class="template-css">
          <nb-card-header>
            SHAREHOLDER/GUARANTOR
            <a aria-label="Close" class="close cursor"
               data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
          </nb-card-header>
          <nb-card-body>
            <app-guarantor-view
                [guarantorData]="customerInfo?.guarantors.guarantorList"></app-guarantor-view>
          </nb-card-body>
        </nb-card>
      </ng-template>
    </div>
      <div class="col-md-4" *ngIf="customerInfo?.insurance?.length>0">
        <div class="row">
          <nb-card class="col-md-11 py-2" #itemInsurance>
            <a class="cursor info-label" (click)="openModel(insuranceComponentTemplate)">
              <div class="row">
                <div class="col-md-8">
                  <p class="custom-font">INSURANCE</p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span style="color: green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #insuranceComponentTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              INSURANCE
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-insurance-view [insurance]="customerInfo?.insurance"></app-insurance-view>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4" *ngIf="customerInfo?.creditChecklist">
        <div class="row">
          <nb-card class="col-md-11 py-2" #creditCheckList>
            <a class="cursor info-label" (click)="openModel(itemCreditCheckListTemplate)">
              <div class="row">
                <div class="col-md-8">
                  <p class="custom-font">CREDIT CHECKLIST</p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span style="color: green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemCreditCheckListTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              CREDIT CHECKLIST
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-credit-checklist-view
                  [formData]="customerInfo?.creditChecklist">
              </app-credit-checklist-view>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>

      <div class="col-md-4" *ngIf="customerInfo?.reportingInfoLevels.length>0">
        <div class="row">
          <nb-card class="col-md-11 py-2" #customerReporting>
            <a class="cursor info-label" (click)="openModel(customerComponentTemplate)">
              <div class="row">
                <div class="col-md-10">
                  <p class="custom-font">CUSTOMER REPORTING INFORMATION</p>
                </div>
                <div class="col-md-2 d-flex justify-content-end">
              <span style="color: green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #customerComponentTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              Customer Reporting Information
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-report-summary
                  [reportingInfoLevels]="customerInfo?.reportingInfoLevels">
              </app-report-summary>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>

      <div class="col-md-4" *ngIf="customerInfo?.multiBanking">
        <div class="row">
          <nb-card class="col-md-11 py-2" #multiBanking>
            <a class="cursor info-label" (click)="openModel(multiBankingTemplate)">
              <div class="row">
                <div class="col-md-10">
                  <p class="custom-font">MULTI BAKING/CONSORTIUM FINANCING</p>
                </div>
                <div class="col-md-2 d-flex justify-content-end">
              <span style="color: green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #multiBankingTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              MULTI BAKING/CONSORTIUM FINANCING
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-multi-banking-summary [formData]="customerInfo?.multiBanking"></app-multi-banking-summary>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>

      <div class="col-md-4" *ngIf="companyInfo">
        <div class="row">
          <nb-card class="col-md-11 py-2" #comment>
            <a class="cursor info-label" (click)="openModel(commentTemplate)">
              <div class="row">
                <div class="col-md-10">
                  <p class="custom-font">COMMENT</p>
                </div>
                <div class="col-md-2 d-flex justify-content-end">
              <span style="color: green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #commentTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              COMMENT
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-comments [commentData]="customerInfo?.data"
                            [view]="true"
                            [fromProfile]="true"></app-comments>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>

    </div>
<!--    <nb-accordion>-->
    <!--<nb-accordion-item #itemCrgAlpha *ngIf="customerInfo?.creditRiskGradingAlpha">
        <nb-accordion-item-header>
          <div class="row">
            <div class="col-md-8">
              <span>CREDIT RISK GRADING (ALPHA)</span>
            </div>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <app-credit-risk-grading-alpha
              *ngIf="itemCrgAlpha.expanded"
              [creditRiskGradingAlpha]="customerInfo?.creditRiskGradingAlpha"
              [financial]="customerInfo?.financial"
              [companyInfo]="companyInfo"
              [fromProfile]="false"></app-credit-risk-grading-alpha>
        </nb-accordion-item-body>
      </nb-accordion-item>-->

      <!--      <nb-accordion-item #itemCrg>-->
      <!--        <nb-accordion-item-header>-->
      <!--          <div class="row">-->
      <!--            <div class="col-md-8">-->
      <!--              <span>CREDIT RISK GRADING</span>-->
      <!--            </div>-->
      <!---->
      <!--          </div>-->
      <!--        </nb-accordion-item-header>-->
      <!--        <nb-accordion-item-body>-->
      <!--          <app-credit-grading #CrgComponent-->
      <!--                              *ngIf="itemCrg.expanded"-->
      <!--                              [formData]="customerInfo?.creditRiskGrading"-->
      <!--                              [fromProfile]="false"></app-credit-grading>-->
      <!--        </nb-accordion-item-body>-->
      <!--      </nb-accordion-item>-->
<!--    </nb-accordion>-->
  </nb-card-body>
</nb-card>
