<nb-card [nbSpinner]="spinner">
    <nb-card-header *ngIf="isEdit">
        <h3>Edit Combined Loan Data</h3>
        <span class="font-weight-bold cursor float-right" style="margin-top: -2em"
            (click)="nbDialogRef.close()">x</span>
    </nb-card-header>
    <nb-card-body>
        <app-sme-global-content #smeGlobalContent [offerDocumentList]="customerApprovedDoc.offerDocumentList"
            [isEdit]="isEdit"></app-sme-global-content>
        <!-- Type of sme loan start here-->
        <ng-container *ngIf="isIrrevocableLetter">
            <app-irrevocable-letter-of-credit-facility [offerDocumentList]="customerApprovedDoc.offerDocumentList"
                #irrevocableLetterOfCreditFacility [loanName]="loanExtraDetails"
                [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan">
            </app-irrevocable-letter-of-credit-facility>
        </ng-container>
        <ng-container *ngIf="isCustomerAcceptance">
            <app-customer-acceptance-for-time-letter-of-credit
                [offerDocumentList]="customerApprovedDoc.offerDocumentList" #customerAcceptanceLetterOfCredit
                [loanName]="loanExtraDetails"
                [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan"></app-customer-acceptance-for-time-letter-of-credit>
        </ng-container>
        <ng-container *ngIf="isBillDiscounting">
            <app-import-bills-discounting [offerDocumentList]="customerApprovedDoc.offerDocumentList"
                #importBillsDiscounting [loanName]="loanExtraDetails"
                [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan"></app-import-bills-discounting>
        </ng-container>
        <ng-container *ngIf="isLoanTrustReceiptLoan">
            <app-import-loan-trust-receipt-loan [offerDocumentList]="customerApprovedDoc.offerDocumentList"
                #importLoanTrustReceiptLoan [loanName]="loanExtraDetails"
                [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan"></app-import-loan-trust-receipt-loan>
        </ng-container>
        <ng-container *ngIf="isRevolvingShortTermLoan">
            <app-revolving-short-term-loan [offerDocumentList]="customerApprovedDoc.offerDocumentList"
                #revolvingShortTermLoan [loanName]="loanExtraDetails"
                [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan"></app-revolving-short-term-loan>
        </ng-container>
        <ng-container *ngIf="isDemandLoanWorkingCapital">
            <app-demand-loan-for-working-capital [offerDocumentList]="customerApprovedDoc.offerDocumentList"
                #demandLoanForWorkingCapital [loanName]="loanExtraDetails"
                [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan"></app-demand-loan-for-working-capital>
        </ng-container>
        <ng-container *ngIf="isPreExportLoan">
            <app-pre-export-loan [offerDocumentList]="customerApprovedDoc.offerDocumentList"
                [customerApprovedDoc]="customerApprovedDoc" #preExportLoan [loanName]="loanExtraDetails"
                                 [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan">
            </app-pre-export-loan>
        </ng-container>
        <ng-container *ngIf="isDocumentaryBillPurchase">
            <app-documentary-bill-purchase-negotiation [offerDocumentList]="customerApprovedDoc.offerDocumentList"
                #documentaryBillPurchaseNegotiation [loanName]="loanExtraDetails"
                                                       [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan">
            </app-documentary-bill-purchase-negotiation>
        </ng-container>
        <ng-container *ngIf="isOverdraftLoanWorkingCapital">
            <app-overdraft-loan-for-working-capital-requirement
                [offerDocumentList]="customerApprovedDoc.offerDocumentList" #overdraftLoanForWorkingCapitalRequirement
                [loanName]="loanExtraDetails"
                [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan"></app-overdraft-loan-for-working-capital-requirement>
        </ng-container>
        <ng-container *ngIf="isEquityMortgageOverdraft">
            <app-equity-mortgaged-overdraft [offerDocumentList]="customerApprovedDoc.offerDocumentList"
                #equityMortgagedOverdraft [loanName]="loanExtraDetails"
                                            [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan"></app-equity-mortgaged-overdraft>
        </ng-container>
        <ng-container *ngIf="isOverDraftFacilityFixedDeposit">
            <app-overdraft-facility-against-fixed-deposit [offerDocumentList]="customerApprovedDoc.offerDocumentList"
                [customerApprovedDoc]="customerApprovedDoc" #overdraftFacilityAgainstFixedDeposit
                [loanName]="loanExtraDetails"
                [isEdit]="isEdit"
                [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan"></app-overdraft-facility-against-fixed-deposit>
        </ng-container>
        <ng-container *ngIf="isOverdraftFacilityAgainstBond">
            <app-overdraft-facility-against-bond [offerDocumentList]="customerApprovedDoc.offerDocumentList"
                [customerApprovedDoc]="customerApprovedDoc" #overdraftFacilityAgainstBond [loanName]="loanExtraDetails"
                [isEdit]="isEdit"
                [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan"></app-overdraft-facility-against-bond>
        </ng-container>
        <ng-container *ngIf="isBridgeGapLoan">
            <app-bridge-gap-loan [offerDocumentList]="customerApprovedDoc.offerDocumentList"
                [customerApprovedDoc]="customerApprovedDoc" #bridgeGapLoan [loanName]="loanExtraDetails"
                                 [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan">
            </app-bridge-gap-loan>
        </ng-container>
        <ng-container *ngIf="isTermLoanToOrFor">
            <app-term-loan-to-or-for #termLoanToOrFor [loanName]="loanExtraDetails"
                [customerApprovedDoc]="customerApprovedDoc" [offerDocumentList]="customerApprovedDoc.offerDocumentList"
                [isEdit]="isEdit"
                                     [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan"></app-term-loan-to-or-for>
        </ng-container>
        <ng-container *ngIf="isEquityMortgageTermLoan">
            <app-mortgage-or-equity-mortgage-term-loan [offerDocumentList]="customerApprovedDoc.offerDocumentList"
                #mortgageOrEquityMortgageTermLoanComponent [loanName]="loanExtraDetails"
                                                       [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan">
            </app-mortgage-or-equity-mortgage-term-loan>
        </ng-container>
        <ng-container *ngIf="isAutoLoanMaster">
            <app-auto-loan-master [offerDocumentList]="customerApprovedDoc.offerDocumentList" #autoLoanMasterComponent
                [loanName]="loanExtraDetails"
                                  [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan"></app-auto-loan-master>
        </ng-container>
        <ng-container *ngIf="isBankGuarantee">
            <app-bank-guarantee [offerDocumentList]="customerApprovedDoc.offerDocumentList" #bankGuaranteeComponent
                [loanName]="loanExtraDetails"
                                [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan"></app-bank-guarantee>
        </ng-container>
        <ng-container *ngIf="isBillPurchase">
            <app-bill-purchase [offerDocumentList]="customerApprovedDoc.offerDocumentList" #billPurchaseComponent
                [loanName]="loanExtraDetails"
                               [cadDocAssignedLoan]="customerApprovedDoc.assignedLoan"></app-bill-purchase>
        </ng-container>
        <!-- Type of sme loan end here-->
        <app-sme-security [offerDocumentList]="customerApprovedDoc.offerDocumentList" #masterSecurity
            [offerDocumentList]="customerApprovedDoc.offerDocumentList" [isEdit]="isEdit"></app-sme-security>
    </nb-card-body>
    <nb-card-footer>
        <!-- Required Document Section -->
        <app-required-legal-document-section #requiredLegalDocumentSectionComponent
            [initialInformation]="initialInformation"></app-required-legal-document-section>
        <div class="row">
            <div class="col-md-12">
                <button class="float-right" *ngIf="!isEdit" nbButton size="small" (click)="openCloseTemplate(confirm)"
                    status="info" style="margin-right: 0.5em" [disabled]="!disableBtn">Close</button>
                <button class="d-flex float-right" nbButton status="success" size="small"
                    (click)="openCombinedOfferLetter()" [disabled]="!disableBtn">Preview</button>
                <button class="d-flex float-right ml-1" nbButton status="primary" size="small" (click)="onSubmit()"
                    [disabled]="disableBtn">Save</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>


<ng-template #confirm>
    <div class="modal-header" style="padding-left: 90%">
        <a (click)="dismiss(confirm)" aria-label="Close" class="close pull-right cursor">
            <span aria-hidden="true">&times;</span>
        </a>
    </div>
    <div class="modal-body" style="text-align:center; font-size: 18px">
        Are you sure you want to close ?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="decline(confirm)">No</button>
        <button type="button" class="btn btn-primary" (click)="accept()">Yes</button>
    </div>
</ng-template>
