@import "src/app/feature/credit-administration/cad-document-template/progressive/progressive-offer-letter/progressive-offer-letter.component";
* {
  line-height: 1.9em;
}
#Sincerely {
  margin-left: 100px;
  width: 70%;
}

#fingerXap {
  width: 500px;
  margin-left: 10px;
  text-align: center;
}

#guaranter {
  display: flex;
  flex-wrap: initial;
  flex-direction: row;
}

#guaranter1 {
  width: 50%;
}

#guaranter2 {
  width: 50%;
  margin-left: 100px;
}

.unicode-size{
  font-size:12pt;
}


