<div>
    <div class="row summary">
        <form class="col-md-12" [formGroup]="facilityUtilizatoinForm">
            <div *ngIf="fromProfile">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="overdraftUtilization"><b>Overdraft utilization</b></label>
                    <ckeditor id="overdraftUtilization" formControlName="overdraftUtilization"
                              [config]="facilityConfig"></ckeditor>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="remarks"><b>Remarks</b></label>
                    <ckeditor id="remarks" formControlName="remarks"
                              [config]="facilityConfig"></ckeditor>
                 </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="otherFacilityUtilization"><b>Other Facility Utilization</b></label>
                    <ckeditor id="otherFacilityUtilization" formControlName="otherFacilityUtilization"
                              [config]="facilityConfig"></ckeditor>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="remarks1"><b>Remarks</b></label>
                    <ckeditor id="remarks1" formControlName="remarks1"
                              [config]="facilityConfig"></ckeditor>
                 </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="letterOfCreditIssued"><b>Letter of Credit issued</b></label>
                    <ckeditor id="letterOfCreditIssued" formControlName="letterOfCreditIssued"
                              [config]="facilityConfig"></ckeditor>
               </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="remarks2"><b>Remarks</b></label>
                    <ckeditor id="remarks2" formControlName="remarks2"
                              [config]="facilityConfig"></ckeditor>
               </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="bankGuaranteeIssued"><b>Bank Guarantee issued</b></label>
                    <ckeditor id="bankGuaranteeIssued" formControlName="bankGuaranteeIssued"
                              [config]="facilityConfig"></ckeditor>
               </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="remarks3"><b>Remarks</b></label>
                    <ckeditor id="remarks3" formControlName="remarks3"
                              [config]="facilityConfig"></ckeditor>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="oneOffLoansApproved"><b>One off loans approved</b></label>
                    <ckeditor id="oneOffLoansApproved" formControlName="oneOffLoansApproved"
                              [config]="facilityConfig"></ckeditor>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="remarks4"><b>Remarks</b></label><br/>
                    <ckeditor id="remarks4" formControlName="remarks4"
                              [config]="facilityConfig"></ckeditor>
                </div>
            </div>
                <app-banking-relation #bankingRelationComponent [formValue]="customerInfo?.bankingRelationship"></app-banking-relation>
            </div>
            <div *ngIf="!fromProfile" class="viewFull">
                <p><strong class="header text-left">Facility Utilization</strong></p>
                <table class="table table-bordered table-responsive-md table-sm sb-small table-hover summary">
                    <tr *ngIf="parsedData?.overdraftUtilization" class="sb-bg-gray">
                        <td>Overdraft utilization</td>
                    </tr>
                    <tr *ngIf="parsedData?.overdraftUtilization">
                        <table
                                class="col-md-12
                                 table-sm table-bordered
                                  table-responsive-sm border-dark"
                                style="width: 100%; border: white"
                                [innerHTML]="parsedData?.overdraftUtilization | safeHtml"></table>
                    </tr>

                    <tr *ngIf="parsedData?.remarks" class="sb-bg-gray">
                        <td>Remarks</td>
                    </tr>
                    <tr *ngIf="parsedData?.remarks">
                        <td [innerHTML]="parsedData?.remarks | safeHtml"></td>
                    </tr>

                    <tr class="sb-bg-gray" *ngIf="parsedData?.otherFacilityUtilization">
                        <td>Other Facility Utilization</td>
                    </tr>
                    <tr *ngIf="parsedData?.otherFacilityUtilization">
                        <td [innerHTML]="parsedData?.otherFacilityUtilization | safeHtml"></td>
                    </tr>
                    <tr *ngIf="parsedData?.remarks1" class="sb-bg-gray">
                        <td>Remarks</td>
                    </tr>
                    <tr *ngIf="parsedData?.remarks1">
                        <td [innerHTML]="parsedData?.remarks1 | safeHtml"></td>
                    </tr>
                    <tr class="sb-bg-gray" *ngIf="parsedData?.letterOfCreditIssued" >
                        <td>Letter of Credit issued</td>
                    </tr>
                    <tr *ngIf="parsedData?.letterOfCreditIssued" >
                        <table class="col-md-12
                          table-sm table-bordered table-responsive-sm border-dark"
                               style="width: 100%; border: white;" [innerHTML]="parsedData?.letterOfCreditIssued | safeHtml"></table>
                    </tr>
                    <tr *ngIf="parsedData?.remarks2"  class="sb-bg-gray">
                        <td>Remarks</td>
                    </tr>
                    <tr *ngIf="parsedData?.remarks2" >
                        <td [innerHTML]="parsedData?.remarks2 | safeHtml"></td>
                    </tr>
                    <tr *ngIf="parsedData?.bankGuaranteeIssued"  class="sb-bg-gray">
                        <td>Bank Guarantee issued</td>
                    </tr>
                    <tr *ngIf="parsedData?.bankGuaranteeIssued" >
                        <td [innerHTML]="parsedData?.bankGuaranteeIssued | safeHtml"></td>
                    </tr>
                    <tr *ngIf="parsedData?.remarks3"  class="sb-bg-gray">
                        <td>Remarks</td>
                    </tr>
                    <tr *ngIf="parsedData?.remarks3" >
                        <td [innerHTML]="parsedData?.remarks3 | safeHtml"></td>
                    </tr>
                    <tr class="sb-bg-gray" *ngIf="parsedData?.oneOffLoansApproved" >
                        <td>One off loans approved</td>
                    </tr>
                    <tr *ngIf="parsedData?.oneOffLoansApproved" >
                        <td [innerHTML]="parsedData?.oneOffLoansApproved | safeHtml"></td>
                    </tr>
                    <tr *ngIf="parsedData?.remarks4" class="sb-bg-gray">
                        <td>Remarks</td>
                    </tr>
                    <tr *ngIf="parsedData?.remarks4">
                        <td [innerHTML]="parsedData?.remarks4 | safeHtml"></td>
                    </tr>

                </table>
<!--                <p><strong class="header">Facility Utilization</strong></p>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <p class="text-left"><strong class="header">Overdraft utilization</strong><br/>-->
<!--                        <span [innerHTML]="parsedData?.overdraftUtilization ? parsedData?.overdraftUtilization : 'N/A' | safeHtml"></span>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <p class="text-left"><strong class="header">Remarks</strong><br/>-->
<!--                        <span [innerHTML]="parsedData?.remarks ? parsedData?.remarks : 'N/A' | safeHtml"></span>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <p class="text-left"><strong class="header">Other Facility Utilization</strong><br/>-->
<!--                        <span [innerHTML]="parsedData?.otherFacilityUtilization ? parsedData?.otherFacilityUtilization : 'N/A' | safeHtml"></span>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <p class="text-left"><strong class="header">Remarks</strong><br/>-->
<!--                        <span [innerHTML]="parsedData?.remarks1 ? parsedData?.remarks1 : 'N/A' | safeHtml"></span>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <p class="text-left"><strong class="header">Letter of Credit issued</strong><br/>-->
<!--                        <span [innerHTML]="parsedData?.letterOfCreditIssued ? parsedData?.letterOfCreditIssued : 'N/A' | safeHtml"></span>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <p class="text-left header"><strong class="header">Remarks</strong><br/>-->
<!--                        <span [innerHTML]="parsedData?.remarks2 ? parsedData?.remarks2 : 'N/A' | safeHtml"></span>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <p class="text-left"><strong class="header">Bank Guarantee issued</strong><br/>-->
<!--                        <span [innerHTML]="parsedData?.bankGuaranteeIssued ? parsedData?.bankGuaranteeIssued : 'N/A' | safeHtml"></span>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <p class="text-left"><strong class="header">Remarks</strong><br/>-->
<!--                        <span [innerHTML]="parsedData?.remarks3 ? parsedData?.remarks3 : 'N/A' | safeHtml"></span>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <p class="text-left"><strong class="header">One off loans approved</strong><br/>-->
<!--                        <span [innerHTML]="parsedData?.oneOffLoansApproved ? parsedData?.oneOffLoansApproved : 'N/A' | safeHtml"></span>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <p class="text-left"><strong class="header">Remarks</strong><br/>-->
<!--                        <span [innerHTML]="parsedData?.remarks4 ? parsedData?.remarks4 : 'N/A' | safeHtml"></span>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <button (click)="saveFacilityUtilization()" *ngIf="fromProfile" class="float-right"  nbButton>Save</button>
        </form>
    </div>
</div>
