<nb-card accent="primary" class="m-0"
         [nbSpinner]="spinner"
         nbSpinnerStatus="primary"
         nbSpinnerSize="giant">
  <nb-card-header>
    <a (click)="closeModal()" aria-label="Close" class="close cursor"
       data-dismiss="modal">
      <span aria-hidden="true">×</span></a>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="userConfigForm">
      <nb-tabset (changeTab)="onChangeTab($event)">
        <nb-tab tabId="0" tabTitle="Client Details" #personal>
          <hr>
          <table class="table table-borderless table-4 mb-5">
            <tr>
              <td>
                <label class="title" for="clientType">Client Type</label>
              </td>
              <td>
                <select class="form-control" formControlName="clientType" id="clientType">
                  <option [value]="null" hidden>Select Client Type</option>
                  <option value="0">INDIVIDUAL</option>
                  <option value="1">INSTITUTION</option>
                </select>
              </td>
              <td>{{translatedValues?.clientType}}</td>
              <td></td>
            </tr>
            <tbody *ngIf="configForm?.clientType?.value != null">
            <tr>
              <td>
                <label class="title">Customer Code</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="customerCode"
                       [ngClass]="{'is-invalid': submitted && configForm.customerCode.errors}"
                       name="customerCode" placeholder="Customer Code"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.customerCode}}
              </td>
              <td></td>
            </tr>
            <tr>
              <td><label class="title" for="name">Client Name</label></td>
              <td><input class="form-control "
                         formControlName="name"
                         id="name"
                         [ngClass]="{'is-invalid': submitted && configForm.name.errors}"
                         name="name" placeholder="Client Name"
                         type="text"/>
              </td>
              <td>{{translatedValues?.name}}</td>
              <td></td>
            </tr>
            <tr>
              <td><label class="title" for="email">Email</label></td>
              <td><input class="form-control "
                         formControlName="email"
                         id="email"
                         [ngClass]="{'is-invalid': submitted && configForm.email.errors}"
                         name="email" placeholder="Email"
                         type="text"/>
              </td>
              <td>
                {{translatedValues?.email}}</td>
              <td></td>
            </tr>
            <tr>
              <td><label class="title" for="contactNo">Contact No</label></td>
              <td><input class="form-control "
                         formControlName="contactNo"
                         id="contactNo"
                         [ngClass]="{'is-invalid': submitted && configForm.contactNo.errors}"
                         name="contactNo" placeholder="Contact No"
                         type="text"/>
              </td>
              <td>
                {{translatedValues?.contactNo}}</td>
              <td></td>
            </tr>

            <tr *ngIf="configForm?.clientType?.value == 0">
              <td>
                <label class="title" for="name">Age</label>
              </td>
              <td>

                <input class="form-control "
                       formControlName="age" id="age"
                       [ngClass]="{'is-invalid': submitted && configForm.age.errors}"
                       name="age" placeholder="Age"
                       type="text"/>
              </td>
              <td>  {{translatedValues?.age}}</td>
              <td></td>
            </tr>
            <tr *ngIf="configForm?.clientType?.value == 0">

              <td><label class="title" for="gender">Gender</label></td>
              <td><select class="form-control" formControlName="gender" id="gender"
                          [ngClass]="{'is-invalid': submitted && configForm.gender.errors}">
                <option [value]="null" hidden>Select Gender</option>
                <option value="0">Male</option>
                <option value="1">Female</option>
              </select>
              </td>
              <td>{{translatedValues?.gender}}</td>
              <td></td>
            </tr>

            <tr *ngIf="configForm?.gender?.value == 1">
              <td>
                <label class="relationMedium" for="relationMedium">Relation Medium</label>
              </td>
              <td>
                <select class="form-control" formControlName="relationMedium"
                        id="relationMedium"
                        [ngClass]="{'is-invalid': submitted && configForm.relationMedium.errors}">
                  <option [value]="null" hidden>Select Relation Medium</option>
                  <option value="0">Husband Relation</option>
                  <option value="1">Father Relation</option>
                </select>
              </td>
              <td>{{translatedValues?.relationMedium}}</td>
              <td></td>
            </tr>
            <tr
                [hidden]="configForm?.clientType?.value == 1 && !(configForm?.gender?.value == 1) && configForm?.relationMedium?.value == 0">
              <td>
                <label class="title" for="name">Father Name</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="fatherName"
                       [ngClass]="{'is-invalid': submitted && configForm.fatherName.errors}"
                       id="fatherName"
                       name="fatherName" placeholder="Father Name"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.fatherName}}
              </td>
              <td></td>
            </tr>
            <tr
                [hidden]="configForm?.clientType?.value == 0 && !(configForm?.gender?.value == 1) && configForm?.relationMedium?.value == 0">
              <td>
                <label class="title" for="grandFatherName">Grand Father Name</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="grandFatherName"
                       [ngClass]="{'is-invalid': submitted && configForm.grandFatherName.errors}"
                       id="grandFatherName"
                       name="grandFatherName" placeholder="Grand Father Name"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.grandFatherName}}
              </td>
              <td></td>
            </tr>
            <tr *ngIf="configForm?.clientType?.value == 0"
                [hidden]="configForm?.gender?.value == 1 || configForm?.relationMedium?.value == 0">

              <td><label class="title" for="husbandName">Husband Name</label></td>
              <td><input class="form-control "
                         formControlName="husbandName"
                         [ngClass]="{'is-invalid': submitted && configForm.husbandName.errors}"
                         id="husbandName"
                         name="husbandName" placeholder="Husband Name"
                         type="text"/></td>
              <td>                {{translatedValues?.husbandName}}</td>
              <td></td>
              <td></td>

            </tr>
            <tr *ngIf="configForm?.clientType?.value == 0"
                [hidden]="configForm?.gender?.value == 1 || configForm?.relationMedium?.value == 0">

              <td><label class="title" for="fatherInLawName">Father In Law Name</label></td>
              <td><input class="form-control "
                         formControlName="fatherInLawName"
                         [ngClass]="{'is-invalid': submitted && configForm.fatherInLawName.errors}"
                         id="fatherInLawName"
                         name="fatherInLawName" placeholder="Father In Law Name"
                         type="text"/></td>
              <td>                {{translatedValues?.fatherInLawName}}</td>
              <td></td>
              <td></td>

            </tr>
            <tr *ngIf="configForm?.clientType?.value == 0">
              <td><label class="title" for="citizenshipNo">Citizenship No</label></td>
              <td>
                <input class="form-control "
                       formControlName="citizenshipNo"
                       id="citizenshipNo"
                       [ngClass]="{'is-invalid': submitted && configForm.citizenshipNo.errors}"
                       name="citizenshipNo" placeholder="Citizenship No"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.citizenshipNo}}
              </td>
              <td></td>
            </tr>
            <tr *ngIf="configForm?.clientType?.value == 1">
              <td>
                <label class="title" for="registrationNo">Registration No</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="registrationNo"
                       id="registrationNo"
                       [ngClass]="{'is-invalid': submitted && configForm.registrationNo.errors}"
                       name="registrationNo" placeholder="Registration No"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.registrationNo}}
              </td>
              <td></td>
            </tr>
            <tr *ngIf="configForm?.clientType?.value == 0">
              <td>
                <label class="title" for="citizenshipIssueDate">Citizenship Issue Date</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="citizenshipIssueDate"
                       id="citizenshipIssueDate"
                       [ngClass]="{'is-invalid': submitted && configForm.citizenshipIssueDate.errors}"
                       name="citizenshipIssueDate" placeholder="Citizenship Issue Date"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.citizenshipIssueDate}}
              </td>
              <td></td>
            </tr>
            <tr *ngIf="configForm?.clientType?.value == 1">
              <td>
                <label class="title" for="registrationDate">Registration Date</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="registrationDate"
                       id="registrationDate"
                       [ngClass]="{'is-invalid': submitted && configForm.registrationDate.errors}"
                       name="registrationDate" placeholder="Registration Date"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.registrationDate}}
              </td>
              <td></td>
            </tr>
            <tr *ngIf="configForm?.clientType?.value == 0">
              <td>
                <label class="title" for="citizenshipNo">Citizenship Issue District</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="citizenshipIssueDistrict"
                       id="citizenshipIssueDistrict"
                       [ngClass]="{'is-invalid': submitted && configForm.citizenshipIssueDistrict.errors}"
                       name="name" placeholder="Citizenship Issue District"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.citizenshipIssueDistrict}}
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <label class="title" for="panNo">PAN No</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="panNo" id="panNo"
                       [ngClass]="{'is-invalid': submitted && configForm.panNo.errors}"
                       name="panNo" placeholder="PAN No" type="text"/>
              </td>
              <td>
                {{translatedValues?.panNo}}
              </td>
              <td></td>
            </tr>
            <tr *ngIf="configForm?.clientType?.value == 0">
              <td>
                <strong>Permanent Address</strong>
              </td>
              <td>
                <select class="form-control" formControlName="permanentMunType"
                        id="permanentMunType"
                        [ngClass]="{'is-invalid': submitted && configForm.permanentMunType.errors}">
                  <option value="0">Municipality</option>
                  <option value="1">VDC</option>
                </select>
              </td>
              <td>{{translatedValues?.permanentMunType}}</td>
              <td></td>
            </tr>
            <tr>
              <td><label class="title" for="permanentProvince">Province</label></td>
              <td>
                <input class="form-control "
                       formControlName="permanentProvince"
                       [ngClass]="{'is-invalid': submitted && configForm.permanentProvince.errors}"
                       id="permanentProvince"
                       name="permanentProvince" placeholder="Province"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.permanentProvince}}
              </td>
              <td></td>
            </tr>
            <tr>
              <td><label class="title" for="permanentDistrict">District</label></td>
              <td><input class="form-control "
                         formControlName="permanentDistrict"
                         [ngClass]="{'is-invalid': submitted && configForm.permanentDistrict.errors}"
                         id="permanentDistrict"
                         name="permanentDistrict" placeholder="District"
                         type="text"/>
              </td>
              <td>
                {{translatedValues?.permanentDistrict}}
              </td>
              <td></td>
            </tr>
            <tr>
              <td><label class="title"
                         for="permanentMunicipality">{{configForm.permanentMunType.value == 0
                  ? 'Municipality' : 'VDC'}}</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="permanentMunicipality"
                       [ngClass]="{'is-invalid': submitted && configForm.permanentMunicipality.errors}"
                       id="permanentMunicipality"
                       name="permanentMunicipality"
                       placeholder="{{configForm.permanentMunType.value == 0 ? 'Municipality' : 'VDC'}}"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.permanentMunicipality}}
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <label class="title" for="permanentWard">Ward No</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="permanentWard"
                       [ngClass]="{'is-invalid': submitted && configForm.permanentWard.errors}"
                       id="permanentWard"
                       name="permanentMunicipality" placeholder="Ward No"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.permanentWard}}
              </td>
              <td></td>

            </tr>
            <tr *ngIf="configForm?.clientType?.value == 0">
              <td>
                <strong>Temporary Address</strong>
              </td>
              <td>
                <select class="form-control" formControlName="temporaryMunType"
                        id="temporaryMunType"
                        [ngClass]="{'is-invalid': submitted && configForm.temporaryMunType.errors}">
                  <option value="0">Municipality</option>
                  <option value="1">VDC</option>
                </select>
              </td>
              <td>{{translatedValues?.temporaryMunType}}</td>
              <td></td>
            </tr>
            <tr>
              <td><label class="title" for="temporaryProvince">Province</label></td>
              <td>
                <input class="form-control "
                       formControlName="temporaryProvince"
                       [ngClass]="{'is-invalid': submitted && configForm.temporaryProvince.errors}"
                       id="temporaryProvince"
                       name="temporaryProvince" placeholder="Province"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.temporaryProvince}}
              </td>
              <td></td>
            </tr>
            <tr>
              <td><label class="title" for="temporaryDistrict">District</label></td>
              <td>
                <input class="form-control "
                       formControlName="temporaryDistrict"
                       [ngClass]="{'is-invalid': submitted && configForm.temporaryDistrict.errors}"
                       id="temporaryDistrict"
                       name="temporaryDistrict" placeholder="District"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.temporaryDistrict}}
              </td>
              <td></td>
            </tr>
            <tr>
              <td><label class="title" for="temporaryMunicipality">

                {{configForm.temporaryMunType.value == 0 ? 'Municipality' : 'VDC'}}
              </label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="temporaryMunicipality"
                       [ngClass]="{'is-invalid': submitted && configForm.temporaryMunicipality.errors}"
                       id="temporaryMunicipality"
                       name="temporaryMunicipality"
                       placeholder="{{configForm.temporaryMunType.value == 0 ? 'Municipality' : 'VDC'}}"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.temporaryMunicipality}}
              </td>
              <td></td>
            </tr>
            <tr>
              <td><label class="title" for="temporaryWard">Ward No</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="temporaryWard"
                       [ngClass]="{'is-invalid': submitted && configForm.permanentWard.errors}"
                       id="temporaryWard"
                       name="temporaryWard" placeholder="Ward No"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.temporaryWard}}
              </td>
              <td></td>
            </tr>
            </tbody>
            <tbody *ngIf="configForm?.clientType?.value == 1">
            <tr>
              <td>
                <strong>Registered Address</strong>
              </td>
              <td>
                <select class="form-control" formControlName="registeredMunType"
                        id="registeredMunType"
                        [ngClass]="{'is-invalid': submitted && configForm.registeredMunType.errors}">
                  <option value="0">Municipality</option>
                  <option value="1">VDC</option>
                </select>

              </td>
              <td>{{translatedValues?.registeredMunType}}</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <label class="title" for="registeredProvince">Province</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="registeredProvince"
                       [ngClass]="{'is-invalid': submitted && configForm.registeredProvince.errors}"
                       id="registeredProvince"
                       name="registeredProvince" placeholder="Province"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.registeredProvince}}
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <label class="title" for="registeredDistrict">District</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="registeredDistrict"
                       [ngClass]="{'is-invalid': submitted && configForm.registeredDistrict.errors}"
                       id="registeredDistrict"
                       name="registeredDistrict" placeholder="District"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.registeredDistrict}}
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <label class="title"
                       for="registeredMunicipality">{{configForm.registeredMunType.value == 0
                    ? 'Municipality' : 'VDC'}}</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="registeredMunicipality"
                       [ngClass]="{'is-invalid': submitted && configForm.registeredMunicipality.errors}"
                       id="registeredMunicipality"
                       name="registeredMunicipality"
                       placeholder="{{configForm.registeredMunType.value == 0 ? 'Municipality' : 'VDC'}}"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.registeredMunicipality}}
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <label class="title" for="registeredWard">Ward No</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="permanentWard"
                       [ngClass]="{'is-invalid': submitted && configForm.registeredWard.errors}"
                       id="registeredWard"
                       name="registeredMunicipality" placeholder="Ward No"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.registeredWard}}
              </td>
              <td></td>
            </tr>
            </tbody>
            <tbody *ngIf="configForm?.clientType?.value == 1">
            <tr>
              <td>
                <strong>Current Address</strong>
              </td>
              <td class="offset-10 col-md-2">
                <select class="form-control" formControlName="currentMunType"
                        id="currentMunType"
                        [ngClass]="{'is-invalid': submitted && configForm.currentMunType.errors}">
                  <option value="0">Municipality</option>
                  <option value="1">VDC</option>
                </select>
              </td>
              <td>{{translatedValues?.currentMunType}}</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <label class="title" for="currentProvince">Province</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="currentProvince"
                       [ngClass]="{'is-invalid': submitted && configForm.currentProvince.errors}"
                       id="currentProvince"
                       name="currentProvince" placeholder="Province"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.currentProvince}}
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <label class="title" for="currentDistrict">District</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="currentDistrict"
                       [ngClass]="{'is-invalid': submitted && configForm.currentDistrict.errors}"
                       id="currentDistrict"
                       name="currentDistrict" placeholder="District"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.currentDistrict}}
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <label class="title" for="currentMunicipality">
                  {{configForm.currentMunType.value == 0 ? 'Municipality' : 'VDC'}}
                </label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="currentMunicipality"
                       [ngClass]="{'is-invalid': submitted && configForm.currentMunicipality.errors}"
                       id="currentMunicipality"
                       name="currentMunicipality"
                       placeholder="{{configForm.currentMunType.value == 0 ? 'Municipality' : 'VDC'}}"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.currentMunicipality}}
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <label class="title" for="currentWard">Ward No</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="currentWard"
                       [ngClass]="{'is-invalid': submitted && configForm.currentWard.errors}"
                       id="currentWard"
                       name="currentWard" placeholder="Ward No"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.currentWard}}
              </td>
              <td></td>
            </tr>
            </tbody>
          </table>


          <h4>Guarantors</h4>
          <table
              *ngFor="let guarantor of userConfigForm.get('guarantorDetails')['controls']; let i = index;"
              class="table table-borderless table-4" formArrayName="guarantorDetails"
              style="border: 1px solid rgba(255,255,255, 0.1)">
            <tbody [formGroupName]="i">
            <tr>
              <td>
                <label class="title">{{i + 1 | nepaliNumber}}. ग्यारेन्टरको नाम</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="name"
                       id="guarantorName"
                       autocomplete="off"
                       name="name" placeholder="ग्यारेन्टरको नाम"
                       type="text"/>
              </td>
              <td>{{translatedValues?.guarantorName}}</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <label class="title">नगरिकता नम्बर</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="citizenNumber"
                       id="guarantorCitizenshipNum"
                       autocomplete="off"
                       name="name" placeholder="नगरिकता नम्बर"
                       type="text"/>
              </td>
              <td>{{translatedValues?.citizenNumber}}</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <label class="title" for="guarantorIssueDate">जारी मिति</label>
              </td>
              <td>
                <input
                    class="form-control "
                    formControlName="issuedYear"
                    id="guarantorIssueDate"
                    autocomplete="off"
                    name="name" placeholder="जारी मिति"
                    type="text"/>
              </td>
              <td>{{translatedValues?.issuedYear}}</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <label class="title" for="guarantorIssueDistrict">जारी जिल्ला</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="issuedPlace"
                       id="guarantorIssueDistrict"
                       autocomplete="off"
                       name="name" placeholder="जारी जिल्ला"
                       type="text"/>
              </td>
              <td>{{translatedValues?.issuedPlace}}</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <label class="title" for="guarantorAddress">ठेगाना</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="guarantorLegalDocumentAddress"
                       id="guarantorAddress"
                       autocomplete="off"
                       name="name" placeholder="ठेगाना"
                       type="text"/>
              </td>
              <td>{{translatedValues?.guarantorLegalDocumentAddress}}</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <label class="relationMedium" for="guarantorRelationship">सम्बन्धको
                  माध्यम</label>
              </td>
              <td>
                <select class="form-control" formControlName="relationship"
                        id="guarantorRelationship">
                  <option *ngFor="let relationship of relationshipList"
                          [value]="relationship.value">{{relationship?.value}}</option>
                </select>
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="2">
                <button class="btn btn-danger float-right" (click)="removeAtIndex(i)"
                        style="position: static">
                  <em class="fa fa-trash" style="color: white;"></em>
                </button>
              </td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
          </table>
          <hr>
          <button class="btn tbn-sm btn-flat btn-primary" (click)="addGuarantor()">Add
            Guarantor
          </button>
        </nb-tab>
        <nb-tab tabId="2" tabTitle="प्रस्तावित रकम">

          <table class="table table-borderless small table-4">
            <tr>
              <th colspan="2">Loan Data</th>
              <th>Translated Data</th>
              <th>Correct Translation</th>
            </tr>
            <tr>
              <td>loanType</td>
              <td>
                <select class="custom-select" formControlName="loanType">
                  <option [value]="null" selected hidden>Select Loan Type</option>
                  <option [value]="null">All Loan Types</option>
                  <option *ngFor="let loanType of loanTypeList"
                          [value]="loanType.id">{{loanType.name}}
                  </option>
                </select>
              </td>
              <td>{{translatedValues?.loanType}}</td>
              <td><input type="text" class="form-control" formControlName="loanType"></td>
            </tr>
            <tr>
              <td>proposedAmount</td>
              <td><input type="text" class="form-control" formControlName="proposedAmount"></td>
              <td>{{translatedValues?.proposedAmount}}</td>
              <td><input type="text" class="form-control" formControlName="proposedAmount"></td>
            </tr>
            <tr>
              <td>status</td>
              <td><input type="text" class="form-control" formControlName="status"></td>
              <td>{{translatedValues?.status}}</td>
              <td><input type="text" class="form-control" formControlName="status"></td>
            </tr>
            <tr>
              <td>createdOn</td>
              <td><input type="text" class="form-control" formControlName="createdOn"></td>
              <td>{{translatedValues?.createdOn}}</td>
              <td><input type="text" class="form-control" formControlName="createdOn"></td>
            </tr>
            <tr>
              <td>comments</td>
              <td><input type="text" class="form-control" formControlName="comments"></td>
              <td>{{translatedValues?.comments}}</td>
              <td><input type="text" class="form-control" formControlName="comments"></td>
            </tr>
          </table>


        </nb-tab>
        <nb-tab tabId="3" tabTitle="टेम्प्लेट डाटा">
          <app-template-data [cadData]="cadData"></app-template-data>
        </nb-tab>
      </nb-tabset>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div *ngIf="!hideSaveBtn">
      <div class="col-md-12">
        <button class="float-right" nbButton (click)="submit()">save</button>
        <button class="float-right" nbButton status="info" (click)="translate()">Translate</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
