nb-card{
  min-width: 70rem;
  max-height: 99%;
}
.nepaliFont {
  font-size: 22px;
  font-family: Preeti;
}
input, select {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
