nb-card{
  min-width: 70rem;
  max-height: 99%;
}
.nepaliFont {
  font-size: 17px;
  font-family: Preeti;
}
.font-size{
  font-size: 14px;
}
input, select {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
hr.print-line {
  border-top: .5px solid black !important;
}
