<nb-card accent="primary" class="m-0"
         [nbSpinner]="spinner"
         nbSpinnerStatus="primary"
         nbSpinnerSize="giant">
  <nb-card-header>
    <a (click)="closeModal()" aria-label="Close" class="close cursor"
       data-dismiss="modal">
      <span aria-hidden="true">×</span></a>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="userConfigForm">
      <nb-tabset (changeTab)="onChangeTab($event)">
        <nb-tab tabId="0" [active]="activeCustomerTab" tabTitle="Client Details"
                [disabled]="!activeCustomerTab"
                [nbSpinner]="spinner"
                #personal>
          <h4>Provide detail of {{ this.customerType }} customer.</h4>
          <hr>
          <table class="table table-borderless table-4 mb-5">
            <tr>
              <td colspan="2" class="text-center">
                <b>
                  Customer Details
                </b>
              </td>
              <td class="text-center">
                <b>
                  Translated Value
                </b>
              </td>
              <td class="text-center">
                <b>
                  Correction Data
                </b>
              </td>
            </tr>
            <tr>
              <td>
                <label class="title" for="branch">Branch</label>
              </td>
              <td>
                <select class="form-control" formControlName="branch" id="branch">
                  <option [value]="null" hidden>Select Branch</option>
                  <option *ngFor="let branch of branchList" [value]="branch.id">{{branch.name}}
                  </option>
                </select>
              </td>
              <td>{{translatedValues?.branch}}</td>
              <td>
                <input class="form-control nepaliFont" formControlName="branch" type="text"/>
              </td>
            </tr>
            <tr [hidden]="true">
              <td>
                <label class="title" for="clientType">Client Type</label>
              </td>
              <td>
                <select class="form-control" formControlName="clientType" id="clientType">
                  <option value="INDIVIDUAL">INDIVIDUAL</option>
                  <option value="INSTITUTION">INSTITUTION</option>
                </select>
              </td>
              <td>{{translatedValues?.clientType}}</td>
              <td>
                <input class="form-control nepaliFont" formControlName="clientType" type="text"/>
              </td>
            </tr>
            <tbody *ngIf="configForm?.clientType?.value != null">
            <tr>
              <td>
                <label class="title">Customer Code</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="customerCode"
                       [ngClass]="{'is-invalid': submitted && configForm.customerCode.errors}"
                       name="customerCode" placeholder="Customer Code"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.customerCode}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="customerCode" type="text"/>
              </td>
            </tr>
            <tr>
              <td><label class="title" for="name">Client Name</label></td>
              <td><input class="form-control "
                         formControlName="name"
                         id="name"
                         [ngClass]="{'is-invalid': submitted && configForm.name.errors}"
                         name="name" placeholder="Client Name"
                         type="text"/>
              </td>
              <td>{{translatedValues?.name}}</td>
              <td>
                <input class="form-control nepaliFont" formControlName="name" type="text"/>
              </td>
            </tr>
            <tr>
              <td><label class="title" for="email">Email</label></td>
              <td><input class="form-control "
                         formControlName="email"
                         id="email"
                         [ngClass]="{'is-invalid': submitted && configForm.email.errors}"
                         name="email" placeholder="Email"
                         type="text"/>
              </td>
              <td>
                {{translatedValues?.email}}</td>
              <td></td>
            </tr>

            <tr>
              <td><label class="title" for="contactNo">Contact No</label></td>
              <td><input class="form-control "
                         formControlName="contactNo"
                         id="contactNo"
                         [ngClass]="{'is-invalid': submitted && configForm.contactNo.errors}"
                         name="contactNo" placeholder="Contact No"
                         type="text"/>
              </td>
              <td>
                {{translatedValues?.contactNo}}</td>
              <td>
                <input class="form-control nepaliFont" formControlName="contactNo" type="text"/>
              </td>
            </tr>

            <!--            <tr *ngIf="configForm?.clientType?.value == 'INDIVIDUAL'">-->
            <!--              <td>-->
            <!--                <label class="title" for="name">DOB</label>-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                <input *ngIf="calendarType === 'AD'" [nbDatepicker]="dob"-->
            <!--                       class="table-input form-control"-->
            <!--                       formControlName="dob">-->
            <!--                &lt;!&ndash;                <app-calendar (messageToEmit)="userConfigForm.get('dob').patchValue($event?.eDate)"&ndash;&gt;-->
            <!--                &lt;!&ndash;                              *ngIf="calendarType === 'BS'"&ndash;&gt;-->
            <!--                &lt;!&ndash;                              [ePreDate]="userConfigForm.get('dob').value"></app-calendar>&ndash;&gt;-->
            <!--                <nb-datepicker format="yyyy-MM-dd" #dob></nb-datepicker>-->

            <!--              </td>-->
            <!--              <td>  {{translatedValues?.dob}}</td>-->
            <!--              <td>
                <input class="form-control nepaliFont" formControlName="dob" type="text"/>
              </td>-->
            <!--            </tr>-->
            <tr *ngIf="configForm?.clientType?.value == 'INDIVIDUAL'">

              <td><label class="title" for="gender">Gender</label></td>
              <td><select class="form-control" formControlName="gender" id="gender"
                          [ngClass]="{'is-invalid': submitted && configForm.gender.errors}">
                <option [value]="null" hidden>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>
              </select>
              </td>
              <td>{{translatedValues?.gender}}</td>
              <td>
                <input class="form-control nepaliFont" formControlName="gender" type="text"/>
              </td>
            </tr>

            <!--            <tr *ngIf="configForm?.gender?.value == 1">-->
            <!--              <td>-->
            <!--                <label class="relationMedium" for="relationMedium">Relation Medium</label>-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                <select class="form-control" formControlName="relationMedium"-->
            <!--                        id="relationMedium"-->
            <!--                        [ngClass]="{'is-invalid': submitted && configForm.relationMedium.errors}">-->
            <!--                  <option [value]="null" hidden>Select Relation Medium</option>-->
            <!--                  <option value="0">Husband Relation</option>-->
            <!--                  <option value="1">Father Relation</option>-->
            <!--                </select>-->
            <!--              </td>-->
            <!--              <td>{{translatedValues?.relationMedium}}</td>-->
            <!--              <td></td>-->
            <!--            </tr>-->
            <!--            <tr-->
            <!--                *ngIf="configForm?.clientType?.value == 'INSTITUTION' && !(configForm?.gender?.value == 1) && configForm?.relationMedium?.value == 0">-->
            <!--              <td>-->
            <!--                <label class="title" for="name">Father Name</label>-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                <input class="form-control "-->
            <!--                       formControlName="fatherName"-->
            <!--                       [ngClass]="{'is-invalid': submitted && configForm.fatherName.errors}"-->
            <!--                       id="fatherName"-->
            <!--                       name="fatherName" placeholder="Father Name"-->
            <!--                       type="text"/>-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                {{translatedValues?.fatherName}}-->
            <!--              </td>-->
            <!--              <td></td>-->
            <!--            </tr>-->
            <!--            <tr-->
            <!--                *ngIf="configForm?.clientType?.value == 'INDIVIDUAL' && !(configForm?.gender?.value == 1) && configForm?.relationMedium?.value == 0">-->
            <!--              <td>-->
            <!--                <label class="title" for="grandFatherName">Grand Father Name</label>-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                <input class="form-control "-->
            <!--                       formControlName="grandFatherName"-->
            <!--                       [ngClass]="{'is-invalid': submitted && configForm.grandFatherName.errors}"-->
            <!--                       id="grandFatherName"-->
            <!--                       name="grandFatherName" placeholder="Grand Father Name"-->
            <!--                       type="text"/>-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                {{translatedValues?.grandFatherName}}-->
            <!--              </td>-->
            <!--              <td></td>-->
            <!--            </tr>-->
            <!--            <tr *ngIf="configForm?.clientType?.value == 'INDIVIDUAL' && (configForm?.gender?.value == 1 || configForm?.relationMedium?.value == 0)">-->

            <!--              <td><label class="title" for="husbandName">Husband Name</label></td>-->
            <!--              <td><input class="form-control "-->
            <!--                         formControlName="husbandName"-->
            <!--                         [ngClass]="{'is-invalid': submitted && configForm.husbandName.errors}"-->
            <!--                         id="husbandName"-->
            <!--                         name="husbandName" placeholder="Husband Name"-->
            <!--                         type="text"/></td>-->
            <!--              <td>                {{translatedValues?.husbandName}}</td>-->
            <!--              <td></td>-->
            <!--              <td></td>-->

            <!--            </tr>-->
            <!--            <tr *ngIf="configForm?.clientType?.value == 'INDIVIDUAL' && (configForm?.gender?.value == 1 || configForm?.relationMedium?.value !== 0)">-->

            <!--              <td><label class="title" for="fatherInLawName">Father In Law Name</label></td>-->
            <!--              <td><input class="form-control "-->
            <!--                         formControlName="fatherInLawName"-->
            <!--                         [ngClass]="{'is-invalid': submitted && configForm.fatherInLawName.errors}"-->
            <!--                         id="fatherInLawName"-->
            <!--                         name="fatherInLawName" placeholder="Father In Law Name"-->
            <!--                         type="text"/></td>-->
            <!--              <td>                {{translatedValues?.fatherInLawName}}</td>-->
            <!--              <td></td>-->
            <!--              <td></td>-->

            <!--            </tr>-->
            <tr *ngIf="configForm?.clientType?.value == 'INDIVIDUAL'">
              <td><label class="title" for="citizenshipNo">Citizenship No</label></td>
              <td>
                <input class="form-control "
                       formControlName="citizenshipNo"
                       id="citizenshipNo"
                       [ngClass]="{'is-invalid': submitted && configForm.citizenshipNo.errors}"
                       name="citizenshipNo" placeholder="Citizenship No"
                       type="text"/>

              </td>
              <td>
                {{translatedValues?.citizenshipNo}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="citizenshipNo" type="text"/>
              </td>
            </tr>
            <tr *ngIf="configForm?.clientType?.value == 'INSTITUTION'">
              <td>
                <label class="title" for="registrationNo">Registration No</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="registrationNo"
                       id="registrationNo"
                       [ngClass]="{'is-invalid': submitted && configForm.registrationNo.errors}"
                       name="registrationNo" placeholder="Registration No"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.registrationNo}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="registrationNo"
                       type="text"/>
              </td>
            </tr>
            <!--            <tr *ngIf="configForm?.clientType?.value == 'INDIVIDUAL'">-->
            <!--              <td>-->
            <!--                <label class="title" for="citizenshipIssueDate">Citizenship Issue Date</label>-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                <input *ngIf="calendarType === 'AD'" [nbDatepicker]="citizenshipIssueDate"-->
            <!--                       class="form-control "-->
            <!--                       formControlName="citizenshipIssueDate"-->
            <!--                       id="citizenshipIssueDate"-->
            <!--                       [ngClass]="{'is-invalid': submitted && configForm.citizenshipIssueDate.errors}"-->
            <!--                       name="citizenshipIssueDate" placeholder="Citizenship Issue Date"-->
            <!--                       type="text"/>-->

            <!--                &lt;!&ndash;                <app-calendar (messageToEmit)="userConfigForm.get('dob').patchValue($event?.eDate)"&ndash;&gt;-->
            <!--                &lt;!&ndash;                              *ngIf="calendarType === 'BS'"&ndash;&gt;-->
            <!--                &lt;!&ndash;                              [ePreDate]="userConfigForm.get('dob').value"></app-calendar>&ndash;&gt;-->
            <!--                <nb-datepicker format="yyyy-MM-dd" #citizenshipIssueDate></nb-datepicker>-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                {{translatedValues?.citizenshipIssueDate}}-->
            <!--              </td>-->
            <!--              <td>
                <input class="form-control nepaliFont" formControlName="citizenshipIssueDate" type="text"/>
              </td>-->
            <!--            </tr>-->
            <!--            <tr *ngIf="configForm?.clientType?.value == 'INSTITUTION'">-->
            <!--              <td>-->
            <!--                <label class="title" for="registrationDate">Registration Date</label>-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                <input *ngIf="calendarType === 'AD'" [nbDatepicker]="registrationDate"-->
            <!--                       class="form-control "-->
            <!--                       formControlName="registrationDate"-->
            <!--                       id="registrationDate"-->
            <!--                       [ngClass]="{'is-invalid': submitted && configForm.registrationDate.errors}"-->
            <!--                       name="registrationDate" placeholder="Registration Date"-->
            <!--                       type="text"/>-->
            <!--                &lt;!&ndash;                <app-calendar (messageToEmit)="userConfigForm.get('dob').patchValue($event?.eDate)"&ndash;&gt;-->
            <!--                &lt;!&ndash;                              *ngIf="calendarType === 'BS'"&ndash;&gt;-->
            <!--                &lt;!&ndash;                              [ePreDate]="userConfigForm.get('dob').value"></app-calendar>&ndash;&gt;-->
            <!--                <nb-datepicker format="yyyy-MM-dd" #registrationDate></nb-datepicker>-->
            <!--              </td>-->
            <!--              <td>-->
            <!--                {{translatedValues?.registrationDate}}-->
            <!--              </td>-->
            <!--              <td>
                <input class="form-control nepaliFont" formControlName="registrationDate" type="text"/>
              </td>-->
            <!--            </tr>-->
            <tr *ngIf="configForm?.clientType?.value == 'INDIVIDUAL'">
              <td>
                <label class="title" for="citizenshipNo">Citizenship Issue District</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="citizenshipIssueDistrict"
                       id="citizenshipIssueDistrict"
                       [ngClass]="{'is-invalid': submitted && configForm.citizenshipIssueDistrict.errors}"
                       name="name" placeholder="Citizenship Issue District"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.citizenshipIssueDistrict}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="citizenshipIssueDistrict"
                       type="text"/>
              </td>
            </tr>
            <tr>
              <td>
                <label class="title" for="panNo">PAN No</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="panNo" id="panNo"
                       [ngClass]="{'is-invalid': submitted && configForm.panNo.errors}"
                       name="panNo" placeholder="PAN No" type="text"/>
              </td>
              <td>
                {{translatedValues?.panNo}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="panNo" type="text"/>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="configForm?.clientType?.value == 'INDIVIDUAL'">
            <tr>
              <td>
                <strong>Permanent Address</strong>
              </td>
              <td>
                <select class="form-control" formControlName="permanentMunType"
                        id="permanentMunType"
                        [ngClass]="{'is-invalid': submitted && configForm.permanentMunType.errors}">
                  <option value="0">Municipality</option>
                  <option value="1">VDC</option>
                </select>
              </td>
              <td>{{translatedValues?.permanentMunType}}</td>
              <td></td>
            </tr>
            <tr>
              <td><label class="title" for="permanentProvince">Province</label></td>
              <td>
                <input class="form-control "
                       formControlName="permanentProvince"
                       [ngClass]="{'is-invalid': submitted && configForm.permanentProvince.errors}"
                       id="permanentProvince"
                       name="permanentProvince" placeholder="Province"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.permanentProvince}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="permanentProvince"
                       type="text"/>
              </td>
            </tr>
            <tr>
              <td><label class="title" for="permanentDistrict">District</label></td>
              <td><input class="form-control "
                         formControlName="permanentDistrict"
                         [ngClass]="{'is-invalid': submitted && configForm.permanentDistrict.errors}"
                         id="permanentDistrict"
                         name="permanentDistrict" placeholder="District"
                         type="text"/>
              </td>
              <td>
                {{translatedValues?.permanentDistrict}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="permanentDistrict"
                       type="text"/>
              </td>
            </tr>
            <tr>
              <td><label class="title"
                         for="permanentMunicipality">{{configForm.permanentMunType.value == 0
                  ? 'Municipality' : 'VDC'}}</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="permanentMunicipality"
                       [ngClass]="{'is-invalid': submitted && configForm.permanentMunicipality.errors}"
                       id="permanentMunicipality"
                       name="permanentMunicipality"
                       placeholder="{{configForm.permanentMunType.value == 0 ? 'Municipality' : 'VDC'}}"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.permanentMunicipality}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="permanentMunicipality"
                       type="text"/>
              </td>
            </tr>
            <tr>
              <td>
                <label class="title" for="permanentWard">Ward No</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="permanentWard"
                       [ngClass]="{'is-invalid': submitted && configForm.permanentWard.errors}"
                       id="permanentWard"
                       name="permanentMunicipality" placeholder="Ward No"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.permanentWard}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="permanentWard" type="text"/>
              </td>

            </tr>
            </tbody>
            <tbody *ngIf="configForm?.clientType?.value == 'INDIVIDUAL'">
            <tr>
              <td>
                <strong>Temporary Address</strong>
              </td>
              <td>
                <select class="form-control" formControlName="temporaryMunType"
                        id="temporaryMunType"
                        [ngClass]="{'is-invalid': submitted && configForm.temporaryMunType.errors}">
                  <option value="0">Municipality</option>
                  <option value="1">VDC</option>
                </select>
              </td>
              <td>{{translatedValues?.temporaryMunType}}</td>
              <td></td>
            </tr>
            <tr>
              <td><label class="title" for="temporaryProvince">Province</label></td>
              <td>
                <input class="form-control "
                       formControlName="temporaryProvince"
                       [ngClass]="{'is-invalid': submitted && configForm.temporaryProvince.errors}"
                       id="temporaryProvince"
                       name="temporaryProvince" placeholder="Province"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.temporaryProvince}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="temporaryProvince"
                       type="text"/>
              </td>
            </tr>
            <tr>
              <td><label class="title" for="temporaryDistrict">District</label></td>
              <td>
                <input class="form-control "
                       formControlName="temporaryDistrict"
                       [ngClass]="{'is-invalid': submitted && configForm.temporaryDistrict.errors}"
                       id="temporaryDistrict"
                       name="temporaryDistrict" placeholder="District"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.temporaryDistrict}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="temporaryDistrict"
                       type="text"/>
              </td>
            </tr>
            <tr>
              <td><label class="title" for="temporaryMunicipality">

                {{configForm.temporaryMunType.value == 0 ? 'Municipality' : 'VDC'}}
              </label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="temporaryMunicipality"
                       [ngClass]="{'is-invalid': submitted && configForm.temporaryMunicipality.errors}"
                       id="temporaryMunicipality"
                       name="temporaryMunicipality"
                       placeholder="{{configForm.temporaryMunType.value == 0 ? 'Municipality' : 'VDC'}}"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.temporaryMunicipality}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="temporaryMunicipality"
                       type="text"/>
              </td>
            </tr>
            <tr>
              <td><label class="title" for="temporaryWard">Ward No</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="temporaryWard"
                       [ngClass]="{'is-invalid': submitted && configForm.permanentWard.errors}"
                       id="temporaryWard"
                       name="temporaryWard" placeholder="Ward No"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.temporaryWard}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="temporaryWard" type="text"/>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="configForm?.clientType?.value == 'INSTITUTION'">
            <tr>
              <td>
                <strong>Registered Address</strong>
              </td>
              <td>
                <select class="form-control" formControlName="registeredMunType"
                        id="registeredMunType"
                        [ngClass]="{'is-invalid': submitted && configForm.registeredMunType.errors}">
                  <option value="0">Municipality</option>
                  <option value="1">VDC</option>
                </select>

              </td>
              <td>{{translatedValues?.registeredMunType}}</td>
              <td>
                <input class="form-control nepaliFont" formControlName="registeredMunType"
                       type="text"/>
              </td>
            </tr>
            <tr>
              <td>
                <label class="title" for="registeredProvince">Province</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="registeredProvince"
                       [ngClass]="{'is-invalid': submitted && configForm.registeredProvince.errors}"
                       id="registeredProvince"
                       name="registeredProvince" placeholder="Province"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.registeredProvince}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="registeredProvince"
                       type="text"/>
              </td>
            </tr>
            <tr>
              <td>
                <label class="title" for="registeredDistrict">District</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="registeredDistrict"
                       [ngClass]="{'is-invalid': submitted && configForm.registeredDistrict.errors}"
                       id="registeredDistrict"
                       name="registeredDistrict" placeholder="District"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.registeredDistrict}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="registeredDistrict"
                       type="text"/>
              </td>
            </tr>
            <tr>
              <td>
                <label class="title"
                       for="registeredMunicipality">{{configForm.registeredMunType.value == 0
                    ? 'Municipality' : 'VDC'}}</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="registeredMunicipality"
                       [ngClass]="{'is-invalid': submitted && configForm.registeredMunicipality.errors}"
                       id="registeredMunicipality"
                       name="registeredMunicipality"
                       placeholder="{{configForm.registeredMunType.value == 0 ? 'Municipality' : 'VDC'}}"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.registeredMunicipality}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="registeredMunicipality"
                       type="text"/>
              </td>
            </tr>
            <tr>
              <td>
                <label class="title" for="registeredWard">Ward No</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="permanentWard"
                       [ngClass]="{'is-invalid': submitted && configForm.registeredWard.errors}"
                       id="registeredWard"
                       name="registeredMunicipality" placeholder="Ward No"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.registeredWard}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="permanentWard" type="text"/>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="configForm?.clientType?.value == 'INSTITUTION'">
            <tr>
              <td>
                <strong>Current Address</strong>
              </td>
              <td class="offset-10 col-md-2">
                <select class="form-control" formControlName="currentMunType"
                        id="currentMunType"
                        [ngClass]="{'is-invalid': submitted && configForm.currentMunType.errors}">
                  <option value="0">Municipality</option>
                  <option value="1">VDC</option>
                </select>
              </td>
              <td>{{translatedValues?.currentMunType}}</td>
              <td>
                <input class="form-control nepaliFont" formControlName="currentMunType"
                       type="text"/>
              </td>
            </tr>
            <tr>
              <td>
                <label class="title" for="currentProvince">Province</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="currentProvince"
                       [ngClass]="{'is-invalid': submitted && configForm.currentProvince.errors}"
                       id="currentProvince"
                       name="currentProvince" placeholder="Province"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.currentProvince}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="currentProvince"
                       type="text"/>
              </td>
            </tr>
            <tr>
              <td>
                <label class="title" for="currentDistrict">District</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="currentDistrict"
                       [ngClass]="{'is-invalid': submitted && configForm.currentDistrict.errors}"
                       id="currentDistrict"
                       name="currentDistrict" placeholder="District"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.currentDistrict}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="currentDistrict"
                       type="text"/>
              </td>
            </tr>
            <tr>
              <td>
                <label class="title" for="currentMunicipality">
                  {{configForm.currentMunType.value == 0 ? 'Municipality' : 'VDC'}}
                </label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="currentMunicipality"
                       [ngClass]="{'is-invalid': submitted && configForm.currentMunicipality.errors}"
                       id="currentMunicipality"
                       name="currentMunicipality"
                       placeholder="{{configForm.currentMunType.value == 0 ? 'Municipality' : 'VDC'}}"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.currentMunicipality}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="currentMunicipality"
                       type="text"/>
              </td>
            </tr>
            <tr>
              <td>
                <label class="title" for="currentWard">Ward No</label>
              </td>
              <td>
                <input class="form-control "
                       formControlName="currentWard"
                       [ngClass]="{'is-invalid': submitted && configForm.currentWard.errors}"
                       id="currentWard"
                       name="currentWard" placeholder="Ward No"
                       type="text"/>
              </td>
              <td>
                {{translatedValues?.currentWard}}
              </td>
              <td>
                <input class="form-control nepaliFont" formControlName="currentWard" type="text"/>
              </td>
            </tr>
            </tbody>
          </table>


          <h4>Guarantors
            <button nbButton status="primary" size="tiny" (click)="addGuarantor()">Add
              Guarantor
            </button>
          </h4>

          <div
              *ngFor="let guarantor of userConfigForm.get('guarantorDetails')['controls']; let i = index;"
              class="table table-borderless table-4" formArrayName="guarantorDetails"
              style="border: 1px solid rgba(255,255,255, 0.1)">
            <table [formGroupName]="i">
              <tr>
                <td>
                  <label class="title">{{i + 1}}. Guarantor Name</label>
                </td>
                <td>
                  <input class="form-control "
                         formControlName="guarantorName"
                         id="guarantorName"
                         autocomplete="off"
                         name="name" placeholder="Guarantor Name"
                         type="text"/>
                </td>
                <td>{{translatedValues?.guarantorName}}</td>
                <td>
                  <input class="form-control nepaliFont" type="text"
                         formControlName="guarantorName"/>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="title">Citizenship No</label>
                </td>
                <td>
                  <input class="form-control "
                         formControlName="citizenNumber"
                         id="guarantorCitizenshipNum"
                         autocomplete="off"
                         name="name" placeholder="Citizenship No"
                         type="text"/>
                </td>
                <td>{{translatedValues?.citizenNumber}}</td>
                <td>
                  <input class="form-control nepaliFont" type="text"
                         formControlName="citizenNumber"/>
                </td>
              </tr>
              <!--              <tr>-->
              <!--                <td>-->
              <!--                  <label class="title" for="guarantorIssueDate">Citizenship Issue Date</label>-->
              <!--                </td>-->
              <!--                <td>-->
              <!--                  <input-->
              <!--                      *ngIf="calendarType === 'AD'" [nbDatepicker]="issuedYear"-->
              <!--                      class="form-control "-->
              <!--                      formControlName="issuedYear"-->
              <!--                      id="guarantorIssueDate"-->
              <!--                      autocomplete="off"-->
              <!--                      name="name" placeholder="Citizenship Issue Date"-->
              <!--                      type="text"/>-->
              <!--                  &lt;!&ndash;                <app-calendar (messageToEmit)="userConfigForm.get('dob').patchValue($event?.eDate)"&ndash;&gt;-->
              <!--                  &lt;!&ndash;                              *ngIf="calendarType === 'BS'"&ndash;&gt;-->
              <!--                  &lt;!&ndash;                              [ePreDate]="userConfigForm.get('dob').value"></app-calendar>&ndash;&gt;-->
              <!--                  <nb-datepicker format="yyyy-MM-dd" #issuedYear></nb-datepicker>-->
              <!--                </td>-->
              <!--                <td>{{translatedValues?.issuedYear}}</td>-->
              <!--                <td>
                  <input class="form-control nepaliFont" type="text" formControlName="issuedYear" />
                </td>-->
              <!--              </tr>-->
              <tr>
                <td>
                  <label class="title" for="guarantorIssueDistrict">Citizenship Issue
                    District</label>
                </td>
                <td>
                  <input class="form-control "
                         formControlName="issuedPlace"
                         id="guarantorIssueDistrict"
                         autocomplete="off"
                         name="name" placeholder="Citizenship Issue District"
                         type="text"/>
                </td>
                <td>{{translatedValues?.issuedPlace}}</td>
                <td>
                  <input class="form-control nepaliFont" type="text" formControlName="issuedPlace"/>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="title" for="guarantorAddress">Guarantor Address</label>
                </td>
                <td>
                  <input class="form-control "
                         formControlName="guarantorLegalDocumentAddress"
                         id="guarantorAddress"
                         autocomplete="off"
                         name="name" placeholder="Guarantor Address"
                         type="text"/>
                </td>
                <td>{{translatedValues?.guarantorLegalDocumentAddress}}</td>
                <td>
                  <input class="form-control nepaliFont" type="text"
                         formControlName="guarantorLegalDocumentAddress"/>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="relationMedium" for="guarantorRelationship">Guarantor
                    Relation</label>
                </td>
                <td>
                  <select class="form-control" formControlName="relationship"
                          id="guarantorRelationship">
                    <option *ngFor="let relationship of relationshipList"
                            [value]="relationship.value">{{relationship?.value}}</option>
                  </select>
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="4" class="text-left">
                  <button nbButton status="danger" size="medium" (click)="removeAtIndex(i)"
                          style="position: static">
                    <em class="fa fa-trash" style="color: white;"></em>
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <button class="float-right" nbButton (click)="saveCustomer()" [disabled]="disableSave">
            save
          </button>
          <button class="float-right" nbButton status="info" (click)="translate()">
            Translate
          </button>
        </nb-tab>
        <nb-tab tabId="2" tabTitle="Loan Details" [active]="activeLoanTab"
                [disabled]="!activeLoanTab">
          <app-loan-create [data]="responseData" *ngIf="responseData"
                           [customerType]="customerType"></app-loan-create>
        </nb-tab>
        <nb-tab tabId="3" tabTitle="टेम्प्लेट डाटा" [active]="activeTemplateDataTab"
                [disabled]="!activeTemplateDataTab">
          <app-template-data [cadData]="cadData"></app-template-data>
        </nb-tab>
      </nb-tabset>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div *ngIf="!hideSaveBtn">
      <div class="col-md-12">
        <!--<button class="float-right" nbButton (click)="save()">save</button>-->
        <!--        <button class="float-right" nbButton status="info" (click)="translate()">Translate</button>-->
      </div>
    </div>
  </nb-card-footer>
</nb-card>
