@import "src/app/feature/credit-administration/cad-document-template/progressive/progressive-offer-letter/progressive-offer-letter.component";
*{
  line-height: 1.9em;
}
#fingerXap {
  width: 500px;
  text-align: center;
}

.fingerXap {
  width: 500px;
  text-align: center;
}

#lastDiv {
  height: 100%;
  width: 100%;
  margin: auto;
}

@media print {

  @page {size: A4 landscape; }

  /* use width if in portrait (use the smaller size to try
     and prevent image from overflowing page... */
  img { height: 90%; margin: 0; padding: 0; }
}

