<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <div class=row>
                    <div class="col-md-3">
                        <form (ngSubmit)="onSearch()">
                            <div class="row">
                                <div class="col-md-8">
                                    <input (input)="onSearchChange($event.target.value)" [(ngModel)]="search"
                                           nbInput fullWidth
                                           name="name" placeholder="search...."
                                           type="text">
                                </div>
                                <div class="col-md-4">
                                    <button nbButton outline status="primary" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <h3 class="box-title">Hover Data Table</h3> -->
                    <div class="col-md-9">
                        <div class="float-right">
                            <button (click)="add()"
                                    data-toggle="modal">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <table class="table  table-bordered table-hover">

                    <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Memo Type Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let type of types;let i=index">
                        <div *ngIf="!types?.length > 0">
                            <p>No Content Found</p>
                        </div>
                        <td>{{i + 1}}</td>
                        <td>{{type.name}}</td>
                        <td>{{type.status}}</td>
                        <td>
                            <a (click)="update(type)" class="btn btn-primary btn-sm"
                               data-placement="top"
                               data-toggle="tooltip" title="Edit">
                                <i class="fa fa-edit" style="color:white"></i>
                            </a>
                            <a (click)="delete(type)" class="btn btn-danger btn-sm"
                               data-placement="top"
                               data-toggle="tooltip" style="margin-left:10px" title="Delete">
                                <i class="fa fa-trash" style="color:white;"></i>
                            </a>
                        </td>
                        <!--</span>-->
                    </tr>
                    </tbody>
                </table>


                <app-spinner *ngIf="spinner" class="d-flex justify-content-center"></app-spinner>
                <!-- ===================table-pagination==================== -->
                <app-paging *ngIf="!spinner" [pageable]="pageable" (changePage)="changePage($event)"></app-paging>
                <!-- ===================table-pagination==================== -->
                <!-- /.box-body -->
            </nb-card-body>
        </nb-card>
    </div>
</div>

