<div class="row" id="print-section-{{offerLetterConst.DPNOTEBORROWER}}">
    <div class="col-md-12 viewFull">
        <form class="nepali">
            <div class="nep">
                <div>
                    <p class="text-right">फर्म नं.स् इडिविएलरएलडिएफ–२३</p>
                    <p class="text-center"><b> प्रतिज्ञापत्र (१) </b></p>
                    <p class="text-center"><b>(Demand Promissory Note)</b></p>


                    <p class="text-left"> स्थानः
                        <span class="nepaliFont">{{printDocForm?.address}}</span>
                    </p>
                    <p class="text-right"> मिति:
                        <span class="nepaliFont">{{printDocForm?.date}}</span>
                    </p>
                    <p>
                        रु
                        <span class="nepaliFont">{{printDocForm?.amount}}</span>
                        /- (अक्षेरुपी
                        <span class="nepaliFont font-size-normal">{{printDocForm?.amountinWord}}</span>
                        मात्र ।)
                    </p>


                    मैले/हामीले रकम बुझिलिए बापत उल्लेखित मिति पश्चातः माग गर्नासाथ तपाई श्री एक्सेल डेभलपमेन्ट बैंक
                    लिमिटेड, <p>

                    <span class="nepaliFont">{{printDocForm?.branch}}</span>

                </p> शाखा÷कार्यालय वा तपाईले निर्देशन गरेको वा अ¥हाएको व्यक्ति÷संस्थालाई <p> रु
                    <span class="nepaliFont">{{printDocForm?.amount}}</span>/- (अक्षेरुपी
                    रुपैयाँ <span class="nepaliFont font-size-normal">{{printDocForm?.amountinWord}}</span>)
                    <p> र सोमा मिति

                        <span class="nepaliFont">{{printDocForm?.date2}}</span>

                    </p>को ऋण स्वीकृतिपत्र÷नविकरण÷थप र÷वा यस पछि त्यसमा हुने संशोधन वा परिवर्तन पत्रमा उल्लेखित दर
                    अनुसार लागेको ब्याज तथा अन्य शुल्क समेत भुक्तानी दिने प्रतिज्ञा गर्दछु÷छौं ।


                    अधिकारप्राप्त दस्तखतः

                    अधिकारप्राप्त ब्यक्तिको नामः
                    <span class="nepaliFont">{{printDocForm?.name}}</span>

                    कम्पनी/फर्मको छापः
                </div>

            </div>
        </form>

    </div>
</div>



