<div class="col-md-12" >
    <p><strong class="float-left">Security Arrangement</strong></p>
    <br>
    <hr>
    <p [hidden]="!hasAuto"><b>Vehicle Security</b></p>
    <table [hidden]="!hasAuto" *ngFor="let vehicle of iniitialForm?.vehicleDetails; let i = index" class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
        <tbody>
        <tr>
            <td class = "sb-bg-dark text-white">S.N</td>
            <td>{{i+1}}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Model</td>
            <td>{{vehicle?.model || 'N/A'}}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Manufactured Year</td>
            <td>{{(vehicle?.manufactureYear | date) || 'N/A'}}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Is New?</td>
            <td>{{(vehicle?.isNew?'Yes':'No' )}}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Engine Number</td>
            <td>{{vehicle?.engineNo || 'N/A' }}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Chasis Number</td>
            <td>{{vehicle?.chasisNo || 'N/A' }}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Quotation Amount</td>
            <td>{{vehicle?.quotationAmount || 'N/A' }}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Considered Amount</td>
            <td>{{(vehicle?.considerValue | nepaliCurrencyFormatter) || 'N/A' }}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Used Amount Amount</td>
            <td>{{(vehicle?.usedAmount ) || 'N/A' }}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Valuator Name</td>
            <td>{{(vehicle?.vehicalValuator?.name ) || 'N/A' }}</td>
        </tr>
        </tbody>
    </table>
    <br> <hr>
    <p  [hidden]="!hasLandBuilding"><b>Land & Building Security</b></p>
    <table [hidden]="!hasLandBuilding" *ngFor="let lb of iniitialForm?.landBuilding; let i = index;" class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
        <tr>
            <td class = "sb-bg-dark text-white">S.N</td>
            <td>{{i + 1}}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Owner</td>
            <td>{{lb?.owner || 'N/A'}}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Plot Number</td>
            <td>{{lb?.plotNumber || 'N/A'}}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Registered Office</td>
            <td>{{lb?.registerOffice || 'N/A'}}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">District</td>
            <td>{{lb?.district?.name || 'N/A'}}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Municipality/VDC</td>
            <td>{{lb?.municipalityVdc?.name || 'N/A'}}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Government Rate</td>
            <td>{{(lb?.governmentRate | nepaliCurrencyFormatter) || 'N/A'}}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Market Value</td>
            <td>{{(lb?.fairMarketValue | nepaliCurrencyFormatter) || 'N/A'}}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Location Coordinates</td>
            <td>{{(lb?.geoLocation) || 'N/A'}}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Market Value</td>
            <td>{{(lb?.considerValue) || 'N/A'}}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Coverage</td>
            <td>{{(lb?.coverage) || 'N/A'}}</td>
        </tr>
        <tr>
            <td class = "sb-bg-dark text-white">Used Amount</td>
            <td>{{(lb?.usedAmount) || 'N/A'}}</td>
        </tr>
    </table>
</div>
