
<div class="box box-primary dashboard-box collapsed-box">
    <div class="box-header with-border">
      <h3 class="box-title">{{title}} <span class="badge badge-info"></span></h3>
  
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool"
                data-widget="collapse"><i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <ul class="checkbox" >
        <div *ngFor="let document of documentList">
        <li class="list-group-item" >

            <input type="checkbox" id="document.id" value="document.id" /><label for="document.id">{{document.name}}</label>
        </li>
        </div>
      </ul>
    </div>
    <!-- /.box-body -->
    <div class="box-footer text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <!-- /.box-footer -->
  </div>
  