@import '../../progressive-legal-docs.component';
*{
//margin-left:20px;
//margin-right:10px;
  margin-top: 20px;
  line-height: 1.9em;
}
.viewFull {
  max-height: 85vh;
  text-align: justify;
}
.uniCodeFont{
  font-size: 22px;
}
.nepaliFont{
  font-size: 20px;
}
