@import '../../progressive-legal-docs.component';
*{
  line-height: 1.9em;
}
.viewFull {
  max-height: 85vh;
  text-align: justify;
}
.uniCodeFont{
  font-size: 22px;
}
.nepaliFont{
  font-size: 20px;
}

.unicode-size{
  font-size: 24px;
}

.sizeFont {
  font-size: 16px;
}

.margin{
  margin: 1.5in 0.5in 1in 1.5in;
}
