.nepaliFont {
  font-size: 26px;
  font-family: Preeti;
}
.timesNewRoman {
  font-family: 'Times New Roman'
}
.form-field {
  background: yellow;
  margin: 0px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
}

li {
  list-style-type: none;
}
.nep {
  font-size: 16px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 50px;
}
@media screen {
  .print-only {
    display: none;
  }

  .disable-print {
    display: inline;
  }
}

@media print {
  .print-only {
    display: inline;
  }
  div.align {
    font-size: 20px;
    line-height: 1.9;
    text-align: justify;
    text-justify: inter-word;
    margin: 10px 70px;
  }
  ol.conditional-list li {
    list-style: devanagari;
    line-height: 1.9 !important;
  }
}
ol.conditional-list li {
  list-style: devanagari;
  line-height: 1.9 !important;
}
