<section class="enable-print">
    <nb-card>
        <nb-card-header class="disable-print">
            <app-loan-action [loanConfigId]="loanConfigId" [id]="customerId" [loanCategory]="loanCategory"
                             [actionsList]="actionsList"
                             *ngIf="showAction"></app-loan-action>
        </nb-card-header>
        <nb-card-body id="print-block">
            <div class="col-md-12  text-success cursor disable-print"
            >
                <a class="d-flex justify-content-start" *ngIf="loanDataHolder?.childId !=null"
                   (click)="renewedOrCloseFrom(loanDataHolder?.childId)">{{loanType[loanDataHolder.loanType]}} to <i
                        class="p-1 fa fa-edit"></i></a>
                <a class="d-flex justify-content-end" *ngIf="loanDataHolder?.parentId !=null"
                   (click)="renewedOrCloseFrom(loanDataHolder?.parentId)">{{loanType[loanDataHolder.loanType]}} From <i
                        class="p-1 fa fa-edit"></i></a></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">

                            <div>
                                Priority:
                                <span class="badge badge-danger"
                                      style="font-size: 11px">{{loanDataHolder?.dmsLoanFile?.priority?.toString() || loanDataHolder?.priority?.toString() | lowercase}}</span>
                            </div>
                            <div>
                                Loan Status:
                                <span class="badge badge-info"
                                      style="font-size: 11px">{{loanDataHolder.documentStatus?.toString() | lowercase}}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="report-header">
                                <div class="report-header-heading">{{client}}</div>
                                <div class="report-header-sub-heading">
                                    Credit Appraisal Form of {{loanConfig?.name}}
                                    <br/>
                                    for
                                </div>
                                <div class="report-header-sub-heading">{{dmsLoanFile?.customer.customerName || loanDataHolder?.customerInfo?.customerName}}</div>
                                <div class="report-header-sub-heading">{{loanDataHolder?.branch?.name}} Branch</div>
                            </div>
                        </div>
                        <div class="col-md-3 text-right">
                            <img class="report-log img-thumbnail border-0"
                                 src="../../../../../assets/img/logo.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-6 text-left">
                    <span><b>Pending Under: </b>{{loanDataHolder?.currentStage?.toUser?.name}}
                        ({{loanDataHolder?.currentStage?.toRole?.roleName}})</span>
                </div>
                <div class="col-md-6 text-right" *ngIf="currentDocAction === 'FORWARD'">
                    <span><b>Forwarded By: </b>{{loanDataHolder?.currentStage?.fromUser?.name}}
                        ({{loanDataHolder?.currentStage?.fromRole?.roleName}})</span>
                </div>
                <div class="col-md-6 text-right" *ngIf="currentDocAction === 'BACKWARD'">
                    <span><b>Backward By: </b>{{loanDataHolder?.currentStage?.fromUser?.name}}
                        ({{loanDataHolder?.currentStage?.fromRole?.roleName}})</span>
                </div>
                <!--<div class="col-md-6">
                    <div class="text-right">
                        <span><b>Branch: </b>{{loanDataHolder?.branch?.name}}</span>
                    </div>
                </div>-->
            </div>
            <hr class="print-line">
            <div class="row">
                <div class="col-md-5">
                    <span><b>Ref. No: </b>{{dmsLoanFile?.id}}</span>
                </div>
                <div class="col-md-6">
                    <p class="text-right"><b>Date: </b>{{loanDataHolder?.createdAt | date}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><b>Details of Borrower</b></p>
                </div>
                <div class="col-md-5 d-flex justify-content-end">
                    {{currentNepDate}}
                </div>
                <div class="col-md-12">
                    <table class="table table-condensed table-bordered table-responsive-md disable-print">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date Of Birth</th>
                            <th>Citizenship Number</th>
                            <th>Contact Number</th>
                            <th>Occupation</th>
                            <th>Income Source</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{dmsLoanFile?.customer?.customerName || loanDataHolder?.customerInfo?.customerName}}</td>
                            <td>{{dmsLoanFile?.customer?.dob || loanDataHolder?.customerInfo?.dob}}</td>
                            <td>{{dmsLoanFile?.customer?.citizenshipNumber || loanDataHolder?.customerInfo?.citizenshipNumber}}</td>
                            <td>{{dmsLoanFile?.customer?.contactNumber || loanDataHolder?.customerInfo?.contactNumber}}</td>
                            <td>{{dmsLoanFile?.customer?.occupation || loanDataHolder?.customerInfo?.occupation}}</td>
                            <td>{{dmsLoanFile?.customer?.incomeSource || loanDataHolder?.customerInfo?.incomeSource}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="print-only table table-bordered" id="print-borrower-table">
                        <tbody>
                        <tr>
                            <td>
                                <b>Name: </b>
                                {{dmsLoanFile?.customer.customerName || loanDataHolder?.customerInfo?.customerName}}
                            </td>
                            <td>
                                <b>Citizenship Number: </b>
                                {{dmsLoanFile?.customer.citizenshipNumber || loanDataHolder?.customerInfo?.citizenshipNumber}}
                            </td>
                            <td class="column-size-50">
                                <b>Contact Number: </b>
                                {{dmsLoanFile?.customer.contactNumber || loanDataHolder?.customerInfo?.contactNumber}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p><b>Detail of Present Proposal of the Facility</b></p>
                    <table class="table table-condensed table-bordered table-responsive-md">
                        <thead>
                        <tr>
                            <th>Credit Facility</th>
                            <th>Proposed Limit</th>
                            <th>Interest Rate</th>
                            <th>Service Charge</th>
                            <th>Tenure Duration In Month</th>
                            <th>Total FMV</th>
                            <th>Funding Percentage</th>
                            <th>Total Loan Limit</th>
                            <th>Group Exposure</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{loanDataHolder?.loan?.name}}</td>
                            <td>{{dmsLoanFile?.proposedAmount || loanDataHolder?.proposal?.proposedLimit}}</td>
                            <td>{{dmsLoanFile?.interestRate || loanDataHolder?.proposal?.interestRate}}</td>
                            <td>{{dmsLoanFile?.serviceChargeType === 'Flat' ? ' NRs. ' : ''}}
                                {{dmsLoanFile?.serviceChargeAmount || loanDataHolder?.proposal?.serviceCharge}}
                                {{dmsLoanFile?.serviceChargeType === 'Percentage' ? ' %' : ''}}</td>
                            <td>{{(dmsLoanFile?.tenureDuration || loanDataHolder?.proposal?.tenureDurationInMonths)}}</td>
                            <td>{{dmsLoanFile?.fmvTotal}}</td>
                            <td>{{dmsLoanFile?.fmvFundingPercent}}</td>
                            <td>{{dmsLoanFile?.totalLoanLimit}}</td>
                            <td>{{dmsLoanFile?.groupExpo}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <b>Propose Amount:</b>
                    Rs. {{dmsLoanFile?.proposedAmountWord || loanDataHolder?.proposal?.proposedAmountInWords}} Only /-
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <p><b>Security Offered</b></p>
                    <p><label *ngFor="let security of securities; let i = index">{{i + 1}}. {{Security[security]}}&nbsp;&nbsp;</label>
                    </p>
                </div>
            </div>

            <!--<div class="row mt-3">
                <div class="col-md-6">
                    <p style="font-size: 15px"><b>Service Charge Type</b></p>
                    <table class="table table-condensed table-bordered">
                        <tbody>
                        <tr>
                            <td>{{dmsLoanFile?.serviceChargeType}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <p style="font-size: 15px"><b>Service Charge Amount</b></p>
                    <table class="table table-condensed table-bordered">
                        <tbody>
                        <tr>
                            <td>{{dmsLoanFile?.serviceChargeAmount}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>-->

            <div class="row mt-3" [hidden]="dmsLoanFile.recommendationConclusion == ''">
                <div class="col-md-12">
                    <p><b>Recommendation and Conclusion</b></p>
                    <p class="border text-justify p-1">
                        {{dmsLoanFile?.recommendationConclusion}}
                    </p>
                </div>
            </div>

            <div class="row mt-3" [hidden]="dmsLoanFile.waiver == ''">
                <div class="col-md-12">
                    <p><b>Waiver</b></p>
                    <p class="border text-justify p-1">
                        {{dmsLoanFile?.waiver}}
                    </p>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <p><b>Authority Section</b></p>
                    <table class="table table-condensed table-bordered table-responsive-md text-justify">
                        <thead>
                        <tr>
                            <th>S.N</th>
                            <th class="print-only">Date</th>
                            <th class="text-center">From User</th>
                            <th class="disable-print">From Position</th>
                            <th class="text-center disable-print">To User</th>
                            <th class="disable-print">To Position</th>
                            <th>Status</th>
                            <th class="cmt-width">Comment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let previousList of loanDataHolder?.previousList ; let i = index">
                            <td>{{i + 1}}</td>
                            <td class="print-only">{{previousList?.lastModifiedAt}}</td>
                            <td class="text-center">
                                {{previousList?.fromUser?.name}}
<!--                                <span class="print-only">-->
<!--                                    <br/>-->
<!--                                    ( {{previousList?.fromRole?.roleName}} )-->
<!--                                </span>-->
                            </td>

                            <td class="disable-print">{{previousList?.fromRole?.roleName}}</td>
                            <td class="text-center disable-print">{{previousList?.toUser?.name}}
<!--                                <span class="print-only">-->
<!--                                    <br/>-->
<!--                                    ( {{previousList?.toRole?.roleName}} )-->
<!--                                </span>-->
                            </td>
                            <td class="disable-print">{{previousList?.toRole?.roleName}}</td>
                            <td>{{previousList?.docAction}}</td>
                            <td class="disable-print">
                                <div>{{previousList?.comment}}</div>
                                <a class="d-flex justify-content-end read-margin disable-print"
                                   (click)="open(previousList.comment)">read more ....</a>
                            </td>
                            <td class="print-only">
                                <div>{{previousList?.comment}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>{{currentIndex + 1}}</td>
                            <td class="print-only">{{loanDataHolder?.currentStage?.lastModifiedAt}}</td>
                            <td class="text-center">
                                {{loanDataHolder?.currentStage?.fromUser?.name}}
<!--                                <span class="print-only">-->
<!--                                    ({{loanDataHolder?.currentStage?.fromRole?.roleName}})-->
<!--                                </span>-->
                            </td>

                            <td class="disable-print">{{loanDataHolder?.currentStage?.fromRole?.roleName}}</td>
                            <td class="text-center disable-print">
                                {{loanDataHolder?.currentStage?.toUser?.name}}
<!--                                <span class="print-only">-->
<!--                                    ({{loanDataHolder?.currentStage?.toRole?.roleName}})-->
<!--                                </span>-->
                            </td>
                            <td class="disable-print">{{loanDataHolder?.currentStage?.toRole?.roleName}}</td>
                            <td>{{loanDataHolder?.currentStage?.docAction}}</td>
                            <td class="disable-print">
                                {{loanDataHolder?.currentStage?.comment}}
                                <a class="d-flex justify-content-end read-margin disable-print"
                                   (click)="open(loanDataHolder.currentStage.comment)">read more ....</a>
                            </td>
                            <td class="print-only">
                                {{loanDataHolder?.currentStage?.comment}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row disable-print" *ngIf="documentNames.length>0">
                <div class="col-md-12">
                    <p><b>Required Documents</b></p>
                    <table class="table table-condensed table-bordered table-responsive-md">
                        <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Document</th>
                            <th>Download</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let document of documentNames; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{document}}</td>
                            <td><i class="fa fa-download" (click)="download(i)" aria-hidden="true"
                                   style="cursor: pointer"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row d-flex justify-content-between px-3">
                <div *ngFor="let previous of signatureList; let i=index;"
                     class="col-md-3 padding-0-125">
                    <div class="signature-block">
                        <div class="text-center p-2 bg-light mb-2 ">
                            <span>{{loanHandler(i, signatureList.length)}}</span>
                        </div>
                        <hr class="border-dark m-0">
                        <div class="row justify-content-center signature mx-auto">
                            <img class="img-thumbnail border-0 signature-height"
                                 src="{{previous.toUser?.signatureImage === null ? '' : RootUrl + '/' + previous.toUser?.signatureImage}}"
                                 align="middle"/>
                        </div>
                        <div class="text-center signature-detail">
                            <p class="m-0">{{previous?.toUser?.name}}</p>
                            <p class="m-0">({{previous?.toUser?.role.roleName}})</p>
                            <p class="m-0">{{previous?.lastModifiedAt}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</section>
