<div class="row" id="print-section-{{offerLetterConst.LETTER_OF_INDEMNITY}}">

    <div class="col-md-12 viewFull">
        <form>
            <h6 class="text-center">क्षतिपूर्र्ती लिखतर<br>
                (Indemnity Deed)</h6>
            <p class="text-right"> मिति:
                <span class="nepaliFont">{{printDocForm?.date}}</span>
            </p>
            <b> श्री प्रोग्रेशिभ फाइनान्स लि.</b>
            <br>
            <b> <span class="nepaliFont">{{printDocForm?.branchName}}</span> शाखा ।</b>
            <br>
            <div class="row col-md-12" >
                <p>महोदय,</p>
                <p>
                    त्यस वित्तीय संस्थाले एकल वा संयुक्त रुपमा
                    <span class="nepaliFont">{{printDocForm?.customerName}}</span>
                    लाई यस संलग्न/समर्थन गरिएको लिखत बमोजिम र मैले/हामीले पहिचानको निमित्त हस्ताक्षर गरेको) निर्णयानुसार क्षतिपूर्ति
                    (Indemnity)/ग्यारेण्टी(Guarantee)जारी गरिएकोमा, म/हामीएक्लै वा संयुक्त रुपमा त्यस वित्तीय संस्थालाई सबै प्रकारको
                    दावीहरु विरुद्धक्षतिपूर्ति भराउनमञ्जुर गर्दछु/छौं र त्यस वित्तीय संस्थालाई हरेक प्रकारको भुक्तानी, नोक्सानी, लागत र गरिएकाखर्चहरु
                    वात्यसबाट उपज तथा व्यहोर्नु परेको नोक्सानीतथा घाटा र यसै सम्बन्धमा यस्ता सबै किसिमकाभुक्तानी, नोक्सानी, लागत र खर्चहरु मेरो/हाम्रो
                    चल्ति/<span class="nepaliFont">{{printDocForm?.chaltiKhata}}</span> खाताबाट कट्टि गर्न त्यस वित्तीय संस्थालाईअपरिवर्तनीयअधिकार
                    प्रत्यायोजन यसै पत्रद्वारा गर्दछू/छौं ।
                    <br>
                    <br>
                    म/हामीलाई कुनै सम्पर्क नगरी वाथपअख्तियारी प्राप् तनभएतापनि त्यस वित्तीय संस्था उपर कुनै किसिमको दावीवा यस क्षतिपूर्ति/ग्यारेण्टी
                    अन्तरगत कुनै भुक्तानीगर्न र दावीअनुसारको सम्पत्तिदिनम/हामी त्यस वित्तीय संस्थालाई अख्तियारी प्रदानगर्दछू/छौं र क्षतिपूर्ति/ग्यारेण्टी
                    मुताविककुनै प्रकारको भुक्तानी त्यस वित्तीय संस्थाले गरेमा उक्त भुक्तानी गरेको रकम वित्तीय संस्थालाई भुक्तानी गर्नु म/हामीलाई बन्धनकारी
                    हुनेछ र सो म/हामीलाई अकाट्य प्रमाण स्वरुप त्यस वित्तीय संस्थाले यस्तो भुक्तानीगर्न र दावीको आज्ञापालना गरेमा स्वीकार्य हूनेछ र त्यस
                    वित्तीय संस्थाले आफ्नो क्षतिपूर्ति/ग्यारेण्टी कुनै पनि समयमाप्रवृत गर्न वानिश्चित गरी म/हामीलाई सूचनादिन सकिने छ ।
                    <br>
                    <br>
                    म/हामी त्यस वित्तीय संस्थाले सेवादिएवापत रु.<span class="nepaliFont">{{printDocForm?.amount}}</span>/–
                    (अक्षरेपी <span class="nepaliFont">{{printDocForm?.amountInWord}}</span> )
                    रकमको भुक्तानीगर्न मन्जुर गर्दछू/छौं, र क्षतिपूर्ति/ग्यारेण्टी अन्तर्गत कुनै दावीमा भुक्तानी गरिएको खण्डमा त्यस वित्तीय संस्थालाई थपशुल्कतथा
                    सोमाहुने व्याज सहित माग गरिएमा भुक्तानीगर्न मन्जूर गर्दछु/छौं ।
                    <br>
                    <br>
                    यो क्षतिपूर्ति लिखत आजै त्यस वित्तीय संस्थाको
                    <span class="nepaliFont">{{printDocForm?.middleBranchNAme}}</span>
                    शाखा कार्यालयमा बसी सहिछाप गरी दिएको छू/छौ ।
                </p>

            </div>
            <p class="text-center"><b>भवदीय,</b></p>
            <div id="officeDetail">
                <p>
                    दस्तखत र संस्थाको छाप :
                    <br>
                    <textarea name="" style="resize: none; height: 100px"  id="" cols="30" rows="10">

                        </textarea>

                    <br>
                    दस्तखत गर्नेको नाम :-<span class="nepaliFont">{{printDocForm?.sincerlyName}}</span>
                    (ना.प्र.नं. <span class="nepaliFont">{{printDocForm?.sincerlyCitizenshipNo}}</span>
                    मिति  <span class="nepaliFont">{{printDocForm?.sincerlyDate}}</span>
                    जि.प्र.का. <span class="nepaliFont">{{printDocForm?.sincerlyCdOoffice}}</span> )
                    <br>
                    ठेगाना :-स्थायी  <span class="nepaliFont">{{printDocForm?.sincerlyPermanentDistrict}}</span>
                    जिल्ला  <span class="nepaliFont">{{printDocForm?.sincerlyPermanentMunicipality}}</span> गा.पा./न.पा.वडा नं.
                     <span class="nepaliFont">{{printDocForm?.sincerlyPermanentWadNo}}</span>  (साबिक
                    <span class="nepaliFont">{{printDocForm?.sabikVDC}}</span> .गा.बि.स./न.पा.वडा नं.
                    <span class="nepaliFont">{{printDocForm?.sabikWadNo}}</span> )
                    <br>
                    हालको ठेगानाः  <span class="nepaliFont">{{printDocForm?.sinserlyTempDistrict}}</span>  जिल्ला
                    <span class="nepaliFont">{{printDocForm?.sinserlyTempMunicipality}}</span>  गा.पा./न.पा.वडा नं.
                    <span class="nepaliFont">{{printDocForm?.sinserlyTempWadNo}}</span>
                    <br>
                    <br>
                    वावु/आमाको नाम :- <span class="nepaliFont">{{printDocForm?.parentName}}</span>
                    <br>
                    वाजे/बजैको नाम :- <span class="nepaliFont">{{printDocForm?.grandParentName}}</span>
                    <br>
                    पति/पत्निको नाम :- <span class="nepaliFont">{{printDocForm?.husbandWifeName}}</span>

                </p>
            </div>
            <div id="signature" class="row">
                <p>औठा छाप:
                <table id="fingerXap" class="table  table-bordered">
                    <thead>
                    <tr>
                        <th>दाँ.</th>
                        <th>बाँ.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><textarea  style="background-color: transparent;resize:none" name="" id="" cols="30" rows="10"></textarea></td>
                        <td><textarea style="background-color: transparent;resize:none" name="" id="" cols="30" rows="10"></textarea></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div  class=" col-md-12 ">
                <b class="text-left">साक्षी :</b>
                <div *ngFor="let guarantor of printDocForm?.guarantorDetails; let i=index" >
                        <div style="overflow-x: auto">
                            <p> {{i + 1 | nepaliWord: 'unicode'}}.&nbsp;&nbsp;दस्तखत :......................</p>


                            <table  border="1">
                                <thead>
                                <tr>
                                    <th>नाम</th>
                                    <th>ना.प्र.नं.</th>
                                    <th>मिति</th>
                                    <th>जि.प्र.का.</th>
                                    <th>जिल्ला</th>
                                    <th>गा.पा./न.पा.</th>
                                    <th>वडा नं.</th>

                                </tr>

                                </thead>
                                <tbody>
                                <tr>
                                    <td> <span class="nepaliFont">{{guarantor?.name}}</span> </td>
                                    <td> <span class="nepaliFont">{{guarantor?.citizenNumber}}</span></td>
                                    <td> <span class="nepaliFont">{{guarantor?.issuedYear}}</span></td>
                                    <td> <span class="nepaliFont">{{guarantor?.guarantorCDOoffice}}</span></td>
                                    <td> <span class="nepaliFont">{{guarantor?.guarantorDistrict}}</span></td>
                                    <td> <span class="nepaliFont">{{guarantor?.guarantorMunicipality}}</span></td>
                                    <td> <span class="nepaliFont">{{guarantor?.guarantorWadNo}}</span></td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </div>
                </div>
                <br>



            <br>
            <div>
                <b>सनाखत साक्षी</b>
                <br>
                <p>ऋणीले मेरो सामुन्नेमा सहीछाप गरेको ठीक साँचो हो भनी सहीछाप गर्ने धनीवित्तीय संस्थामाकार्यरत कर्मचारी
                    <span class="nepaliFont">{{printDocForm?.sanakhatSakxiName}}</span>

                    (कर्मचारी संकेत नं.<span class="nepaliFont">{{printDocForm?.sanakhatSakxiSymbNo}}</span>)</p>
                <br>
                ईतिसम्बत	<span class="nepaliFont">{{printDocForm?.itiSambatYear}}</span>
                साल	<span class="nepaliFont">{{printDocForm?.itiSambatMonth}}</span>
                महिना	<span class="nepaliFont">{{printDocForm?.itiSambatDate}}</span>
                गते	<span class="nepaliFont">{{printDocForm?.itiSambatTime}}</span>
                रोज	शुभम् <span class="nepaliFont">{{printDocForm?.itiSambatRojSubham}}</span>।
            </div>



        </form>

       </div>
</div>

