@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
    padding-left: 0;
    padding-right: 0;
  }
}

.chat {
  position: fixed;
  bottom: 20px;
  right: 1%;
  z-index: 10;
}
