<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <div class=row>
                    <div class="col-md-6">
                        <button (click)="isFilterCollapsed = !isFilterCollapsed"
                                [attr.aria-expanded]="!isFilterCollapsed"
                                nbButton
                                status="primary"
                                size="small">
                            <i class="fa fa-filter"> Filter</i>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <div class="float-right">
                            <button nbButton outline status="success" size="small" (click)="add()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="searchModel" class="col-md-12" [ngbCollapse]="isFilterCollapsed">
                        <form (ngSubmit)="onSearch()" [formGroup]="filterForm">
                            <div class="row py-3">
                                <div class="col-md-4">
                                    <input formControlName="loanType" name="LoanType"
                                           nbInput
                                           placeholder="Loan Type"
                                           type="text">
                                </div>
                                <div class="col-md-4">
                                    <input formControlName="authorities" name="authorities"
                                           nbInput
                                           placeholder="Authorities"
                                           type="text">
                                </div>
                                <div class="col-md-4">
                                    <input formControlName="approvalType" name="approvalType"
                                           nbInput
                                           placeholder="Approval Type"
                                           type="text">
                                </div>
                            </div>
                            <div class="col-md-12 p-0">
                                <button nbButton status="info" size="small" type="submit" class="mr-2">Search</button>
                                <button (click)="clearSearch()" class="mr-2" nbButton
                                        status="danger" size="small">Clear
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </nb-card-header>
            <nb-card-body>
                <table id="add-approvalLimit-table" class="table table-sm table-bordered table-hover sb-small text-center">
                    <thead>
                    <tr class="sb-bg-dark text-white">
                        <th>S.N</th>
                        <th>Loan</th>
                        <th>Amount</th>
                        <th>Authorities</th>
                        <th>Approval Type</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let allList of dataList;let i=index">
                        <div *ngIf="!dataList?.length > 0">
                            <p>No Content Found</p>
                        </div>
                        <td>{{(pageable.number - 1) * pageable.size + i + 1}}</td>
                        <td>
                            {{allList?.loanCategory?.name}}
                        </td>
                        <td class="justify-content-end pr-1">Rs. {{allList.amount | currencyFormatter}}</td>
                        <td>{{allList?.authorities?.roleName}}</td>
                        <td>{{allList.loanApprovalType}}</td>
                        <td>
                            <a (click)="edit(allList)" data-toggle="tooltip"
                               data-placement="top" title="EDIT">
                                <i class="fa fa-edit" style="color:#3c8dbc;"></i>
                            </a>
                            <!--<a class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="DELETE"
                             style="margin-left:10px">
                            <i class="fa fa-trash" style="color:white;"></i>
                          </a>-->
                        </td>
                    </tr>
                    </tbody>
                </table>

                <app-spinner *ngIf="spinner" class="d-flex justify-content-center"></app-spinner>
                <!-- ===================table-pagination==================== -->
                <app-paging *ngIf="!spinner" [pageable]="pageable" (changePage)="changePage($event)"></app-paging>
                <!-- ===================table-pagination==================== -->
            </nb-card-body>
        </nb-card>
    </div>
</div>
