<div class="row mt-5" >
    <div class="col-md-12">
      <p><strong>Group Details</strong>(<em class="text-danger sb-small">Total Group
        Limit:</em><strong>
        {{groupDto?.groupLimit}} &nbsp;|&nbsp; </strong>
        <em class="ml-2 text-danger sb-small">Group Code:</em>
        <strong> {{groupDto?.groupCode}} |</strong>
        <em class="ml-2 text-danger sb-small">Total FMV/Considered Value:</em>
        <strong>Rs. {{this.totalCollateral | currencyFormatter}}</strong>)</p>
      <table
          class="table sb-small table-condensed table-bordered table-responsive-md table-sm table-hover text-center">
        <thead>
        <tr class="sb-bg-dark text-white">
          <th>S.N</th>
          <th>Loan</th>
          <th>Approved Limit</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let group of groupDto?.groupDtoList;let i = index;">
     <ng-container *ngIf="group?.fundedData?.length > 0 || group?.nonFundedData?.length > 0">
       <tr class="font-weight-bold sb-bg-dark text-white text-left">
         <td colspan="2" class="pl">
           <b>{{group?.fundedData?.length > 0 ? group?.fundedData[0]?.customerName : group?.nonFundedData[0]?.customerName}}</b>
         </td>
         <!--      <td>Pending Limit: <b>{{group?.totalPendingLimit}}</b></td>-->
         <td colspan="1" class="pl">
           <b>Total FMV/Considered Value: {{(group?.fundedData?.length > 0 ? group?.fundedData[0]?.security?.totalSecurityAmount:
                   group?.nonFundedData?.length > 0 ? group?.nonFundedData[0]?.security?.totalSecurityAmount: 0) | currencyFormatter}}</b>
         </td>
       </tr>
       <tr *ngFor="let data of group?.fundedData; let j = index;">
         <td>{{j+1}}</td>
         <td class="text-left pl-1">{{data?.loanConfig?.name}}</td>
         <td class="text-right pr-1">Rs. {{data?.proposal?.proposedLimit |currencyFormatter}}</td>
       </tr>
       <tr class="cursor font-weight-bold sb-bg-secondary text-white ">
         <td class="text-center" colspan="2">Total Funded</td>
         <td colspan="4" class="text-right pr-1">Rs.{{group?.totalFunded |currencyFormatter}}</td>
       </tr>

       <tr *ngFor="let data of group?.nonFundedData; let k = index;">
         <td class="text-right pr-1">{{k+1}}</td>
         <td class="text-left pl-1">{{data?.loanConfig?.name}}</td>
         <td class="text-right pr-1">Rs.{{data?.proposal?.proposedLimit |currencyFormatter}}</td>
       </tr>
       <tr class="cursor font-weight-bold sb-bg-secondary text-white ">
         <td class="text-center" colspan="2">Total Non Funded</td>
         <td colspan="4" class="text-right pr-1">Rs.{{group?.totalNonFunded |currencyFormatter}}</td>
       </tr>

     </ng-container>
        </ng-container>
        <tr class="sb-bg-dark  text-white ">
          <td colspan="2">Grand Total Funded</td>
          <td colspan="2" class="text-right pr-1">Rs.{{groupDto.grandTotalFundedAmount |currencyFormatter}}</td>

        </tr>
        <tr class="sb-bg-dark  text-white ">
          <td colspan="2">Grand Total Non Funded</td>
          <td colspan="2" class="text-right pr-1">Rs.{{groupDto.grandTotalNotFundedAmount |currencyFormatter}}</td>
        </tr>
        <tr class="sb-bg-dark text-white ">
          <td  colspan="2">Grand Total </td>
          <td colspan="2" class="text-right pr-1">Rs.{{groupDto.grandTotalFundedAmount + groupDto.grandTotalNotFundedAmount |currencyFormatter}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
<!--
<tr *ngFor="let group of groupDto.groupDtoList;let i = index;"
    (click)="loadCustomerProfile(group. , customer.loanHolderId ,
      customerInfoData.customerType)" class="cursor font-weight-bold">
  <td>{{i + 1}}</td>
  <td>{{group.}}</td>
  <td>{{customer.loanConfig.name}}</td>
  <td>Rs. {{customer.totalApprovedLimit |currencyFormatter}}</td>
  <td>Rs. {{customer.totalPendingLimit |currencyFormatter}}</td>
  <td>Rs. {{customer.totalPendingLimit+ customer.totalApprovedLimit |currencyFormatter}}</td>
</tr>
<tr class="cursor font-weight-bold sb-bg-secondary text-white ">
  <td class="text-center" colspan="2">Total Funded</td>
  <td colspan="4">Rs.{{groupDto.totalFunded |currencyFormatter}}</td>
</tr>
<tr *ngFor="let customer of groupDto.nonFundedData;let i = index;"
    (click)="loadCustomerProfile(customer.associateId , customer.loanHolderId ,
      customerInfoData.customerType)" class="cursor font-weight-bold">
  <td>{{i + 1}}</td>
  <td>{{customer.customerName}}</td>
  <td>{{customer.loanConfig.name}}</td>
  <td>Rs. {{customer.totalApprovedLimit |currencyFormatter}}</td>
  <td>Rs. {{customer.totalPendingLimit |currencyFormatter}}</td>
  <td>Rs. {{customer.totalPendingLimit + customer.totalPendingLimit+ customer.totalApprovedLimit  |currencyFormatter}}</td>
</tr>
<tr class="cursor font-weight-bold sb-bg-secondary text-white ">
  <td class="text-center" colspan="2">Total Non Funded</td>
  <td colspan="4">Rs.{{groupDto.totalNonFunded |currencyFormatter}}</td>
</tr>
<tr class="cursor font-weight-bold sb-bg-secondary text-white ">
  <td colspan="2" class="text-center">Grand Total</td>
  <td colspan="4">Rs.{{groupDto.totalNonFunded + groupDto.totalFunded  |currencyFormatter}}</td>
</tr>
<tr  class="cursor font-weight-bold sb-bg-secondary text-white ">
  <td colspan="2" class="text-center">Total Group Amount</td>
  <td colspan="4">Rs.{{totalGroupApprovedAmount |currencyFormatter}}</td>
</tr>-->
