@import "src/app/feature/credit-administration/cad-document-template/progressive/progressive-offer-letter/progressive-offer-letter.component";

#fingerXap {
  max-width: 600px;
  width: 100%;
}
b{
  text-decoration: underline;
}

.unicode-size{
  font-size:16px;
}
