.nepali {
  font-size: 16px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 50px;
}

.form-control-sm {
  max-width: 200px;
}

.nepaliFont {
  &.font-size-normal {
    font-size: 18px;
  }
}

.form-control-lg {
  max-width: 400px;
}

//.viewFull {
//  height: 90% !important;
//}

.form-field {
  background: yellow;
  margin: 0px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
  border-bottom: 1px solid black;
  padding: 0 10px;
  height: auto;

  &:focus {
    outline: none;
  }
}

li {
  list-style-type: none;
}

input::-webkit-input-placeholder {
  font-size: 16px;
}
