.nep {
  font-size: 16px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 20px;
}
.nepaliFont{
  font-size: 16px;
}

.nepaliList {
  list-style-type: devanagari !important;
}
ol.conditions {
  padding: 15px !important;
}

ol.conditions li {
  list-style: devanagari;
  line-height: 30px !important;
  padding-left: 10px;
}

.form-field {
  background: yellow;
  margin: 0px 5px 5px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
  &:focus {
    outline: none;
  }
  .table-row{
    width:32px;
  }
  .container-name div {
    display: inline-block;
    width: 100vh;
    min-height: 50px;
    background-color: #eee;
    height: auto;
  }
}
@media screen {
  .print-only {
    display: none;
  }

  .disable-print {
    display: inline;

  }
}

p {
  line-height: 1.9;
  text-align: justify;
}

.page-break {
  page-break-after: always;
}

.extendedMargin {
  margin-top: 300px;
}

@media print {
  .print-only {
    display: inline;
  }
  div.align {
    font-size: 20px;
    line-height: 1.9;
    text-align: justify;
    text-justify: inter-word;
    margin: 10px 70px;
  }
  .outside {
    font-family: Preeti;
    font-size: 22px !important;
  }

}
