@import '../../laxmi-offer-letter.component';
#body{
  margin-left: 120px;
  margin-right: 15px;
  height: 95%;
}
#witness {
  transform: translate(30px, 20px) rotate(90deg);
  left: -45% !important;
  margin: 0;
  overflow: visible;
  text-align: left;
  position: absolute;
  top: 30%;
}
.fontSize {
  font-size: 14px;
  line-height: 40px;
  margin: 10px 50px;
  @extend .text-justify;
}
.table-border {
  width: 100%;
}
.table-border th,
.table-border td {
  border: 1px solid black;
}
.font16 {
  font-size: 16px;
}
