<div class="row" id="print-section-{{cadCheckListEnum.PROMISSORY_NOTE}}">
    <div class="col-md-12 viewFull text-justify">
        <div class="text-justify fontSize">
            <div id="body">
                <p>
                    श्री लक्ष्मी बैंक लि.
                    <br>
                    शाखा कार्यालय, <span class="nepaliFont font14">{{branch}}</span>।
                </p>
                <p class="text-center"><strong> विषय:— प्रतिज्ञा पत्र <br>
                    <u>(PROMISSORY NOTE)</u></strong></p>
                <div class="row text-justify">
                    लिखितम् म/हामी तपसिलका ऋणीहरु आगे तपाई लक्ष्मी बैंक लिमिटेडबाट तपसिलमा उल्लेखित विवरण बमोजिमको कर्जा उपभोग
                    गर्ने/गरेको व्यहोरा ठिक साँचो हो । धनी बैंकले सो कर्जा जुनसुकै बखत भुक्तानी माग गरेका वखत धनी बैंकको कर्जा स्वीकृतीपत्र/कर्जा
                    प्रस्तावपत्रमा उल्लेखित शर्त बमोजिम तपाईलाई अथवा तपाईले निर्देशन दिएको वा अह्राएको व्यक्ति/संस्थालाई भुक्तानी माग गरेको मिति
                    सम्मको कर्जा तथा सोमा बैंक नियमानुसार लाग्ने व्याज, पेनल व्याज लागयतका सम्पूर्ण वाँकी बक्यौता रकम कलम तिर्न वुझाउन प्रतिज्ञा
                    र कबुल गरी यो प्रतिज्ञापत्रको लिखत साक्षीहरुको रोहबरमा गरी तपाई लक्ष्मी बैंक लिमिटेडलाई दिए ।
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">
                            <strong>तपसिल</strong>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <strong>कर्जाको विवरण :</strong>
                        <table class="table table-border">
                            <tr>
                                <td>कर्जा स्वीकृती/प्रस्ताव पत्र नं. र मिति</td>
                                <td><span></span></td>
                            </tr>
                            <tr>
                                <td>माथी उल्लेखित धनी बैंकको कर्जा स्वीकृती/प्रस्ताव पत्र बमोजिम उपभोग गरेको/गर्ने जम्मा कर्जा रकम (अंक र अक्षरमा)</td>
                                <td>रु.<span></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row" *ngIf="individual">
                    <div class="col-md-12">
                        <strong>प्रतिज्ञापत्रको लिखत लेखिदिने ऋणीको विवरण (व्यक्तिगत ऋणीको हकमा) :</strong>
                        <table class="table table-border">
                            <tr>
                                <td>ऋणीको नाम :</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>ऋणीको बाजे/ससुराको नाम :</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>ऋणीको बाबुको नाम :</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>ऋणीको पतिको नाम :</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>नागरिकता प्रमाणपत्र नं. :</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>नागरिकता जारी गर्ने कार्यालय :</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>नागरिकता जारी भएको मिति :</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>स्थायी लेखा नं. :</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>स्थायी लेखा जारी गर्ने कार्यालय :</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>स्थायी लेखा जारी मिति :</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td rowspan="3">ऋणीको स्थायी ठेगाना :</td>
                                <td>जिल्ला :</td>
                                <td>जिल्ला :</td>
                            </tr>
                            <tr>
                                <td> न.पा./गा.पा. :</td>
                                <td> न.पा./गा.पा. :</td>
                            </tr>
                            <tr>
                                <td>
                                    वडा नं. :
                                    टोल :
                                </td>
                                <td>
                                    वडा नं. :
                                    टोल :
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="3">ऋणीको हालको ठेगाना :</td>
                                <td>जिल्ला :</td>
                                <td>जिल्ला :</td>
                            </tr>
                            <tr>
                                <td> न.पा./गा.पा. :</td>
                                <td> न.पा./गा.पा. :</td>
                            </tr>
                            <tr>
                                <td>
                                    वडा नं. :
                                    टोल :
                                </td>
                                <td>
                                    वडा नं. :
                                    टोल :
                                </td>
                            </tr>
                            <tr>
                                <td>सम्पर्क फोन/मोवाईल नं.</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row" *ngIf="!individual">
                    <div class="col-md-12">
                        <strong>प्रतिज्ञापत्रको लिखत लेखिदिने ऋणीको विवरण (संस्थागत ऋणीको हकमा) :</strong>
                        <table class="table table-border">
                            <tr>
                                <td>ऋणीको नाम :</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>दर्ता नं. :</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>दर्ता रहेको निकायको नाम :</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>दर्ता मिति :</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>स्थायी लेखा नं. :</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>स्थायी लेखा जारी गर्ने कार्यालय :</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>स्थायी लेखा जारी मिति :</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td rowspan="3">ऋणीको रजिष्ट्रर्ड ठेगाना :</td>
                                <td>जिल्ला</td>
                            </tr>
                            <tr>
                                <td>न.पा./गा.पा.</td>
                            </tr>
                            <tr>
                                <td>
                                    वडा नं.
                                    टोल
                                </td>
                            </tr>
                            <tr>
                                <td>ऋणीको तर्फबाट अख्तियार प्राप्त व्यक्तिको नाम :</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>अख्तियार प्राप्त व्यक्तिको बाजे/ससुराको नाम :</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>अख्तियार प्राप्त व्यक्तिको बाबुको नाम :</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>अख्तियार प्राप्त व्यक्तिको ठेगाना :</td>
                                <td>
                                    जिल्ला
                                    न.पा./गा.पा.
                                    वडा नं.
                                </td>
                            </tr>
                            <tr>
                                <td>अख्तियार प्राप्त व्यक्तिको नागरिकता विवरण :</td>
                                <td>ना.प्र.नं.
                                    जारी मिति
                                    नागरिकता जारी गर्ने कार्यालय :
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-12 viewFull">
                    <strong>साक्षी</strong>
                    <br>
                    १. <span
                        [ngClass]="printDocForm.district?'nepaliFont':''">{{(printDocForm.district ? printDocForm.district : '__________')}}</span>
                    जिल्ला, <span
                        [ngClass]="printDocForm.municipality?'nepaliFont':''">{{(printDocForm.municipality ? printDocForm.municipality : '______________')}}</span>
                    गा.पा./न.पा. वडा नं <span
                        [ngClass]="printDocForm.wardNum?'nepaliFont':''">{{(printDocForm.wardNum ? printDocForm.wardNum : '______________')}}</span>
                    बस्ने बर्ष <span
                        [ngClass]="printDocForm.age?'nepaliFont':''">{{(printDocForm.age ? printDocForm.age : '______________')}}</span>
                    को <span
                        [ngClass]="printDocForm.sakshiName?'nepaliFont':''">{{(printDocForm.sakshiName ? printDocForm.sakshiName : '______________')}}</span>
                    <br>
                    २. <span
                        [ngClass]="printDocForm.districtTwo?'nepaliFont':''">{{(printDocForm.districtTwo ? printDocForm.districtTwo : '__________')}}</span>
                    जिल्ला, <span
                        [ngClass]="printDocForm.municipalityTwo?'nepaliFont':''">{{(printDocForm.municipalityTwo ? printDocForm.municipalityTwo : '______________')}}</span>
                    गा.पा./न.पा. वडा नं <span
                        [ngClass]="printDocForm.wardNumTwo?'nepaliFont':''">{{(printDocForm.wardNumTwo ? printDocForm.wardNumTwo : '______________')}}</span>
                    बस्ने बर्ष <span
                        [ngClass]="printDocForm.ageTwo?'nepaliFont':''">{{(printDocForm.ageTwo ? printDocForm.ageTwo : '______________')}}</span>
                    को <span
                        [ngClass]="printDocForm.sakshiNameTwo?'nepaliFont':''">{{(printDocForm.sakshiNameTwo ? printDocForm.sakshiNameTwo : '______________')}}</span>
                    <br>
                    <strong>सनाखत साक्षी</strong>: कारणीलाई म राम्ररी चिन्दछु निजले मेरो सामुन्नेमा सही छाप गरेको ठीक साँचो हो भनी सही गर्ने धनी बैंकम
                    <span [ngClass]="printDocForm.role?'nepaliFont':''">{{printDocForm.role ? printDocForm.role : '__________'}}</span>
                    पदमा कार्यरत <span
                        [ngClass]="printDocForm.roleName?'nepaliFont':''">{{printDocForm.roleName ? printDocForm.roleName : '____________'}}</span>
                    ।
                    इति सम्बत <span
                        [ngClass]="printDocForm.itiSambatYear?'nepaliFont':''">{{printDocForm.itiSambatYear ? printDocForm.itiSambatYear : '_________________'}}</span>
                    साल
                    <span [ngClass]="printDocForm.itiSambatMonth?'nepaliFont':''">{{printDocForm.itiSambatMonth ? printDocForm.itiSambatMonth : '_________________'}}</span>
                    महिना
                    <span [ngClass]="printDocForm.itiSambatDay?'nepaliFont':''">{{printDocForm.itiSambatDay ? printDocForm.itiSambatDay : '_________________'}}</span>
                    गते रोज
                    <span [ngClass]="printDocForm.roj?'nepaliFont':''">{{printDocForm.roj ? printDocForm.roj : '_________________'}}</span>शुभम्.__________।
                </div>
            </div>
        </div>
    </div>

</div>
