.form-fields {
  background: yellow;
  margin: 0px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;

  &:focus {
    outline: none;
  }
}

nb-card {
  max-height: 900px;
}

@media screen {
  .print-only {
    display: none;
    *{
      word-spacing: 40px !important;
    }
  }

  .disable-print {
    display: inline;
  }
}

@media print {
  *{
    word-spacing: 8px !important;
    line-height: 1.8;
  }

}

@media (min-width: 1600px) {
  .nb-card-body__viewFull {
    max-width: 100%;
  }
}
.cke_editable {
  font-family: 'Preeti' !important;
  font-size: 18px;
}

.form-field {
  background: yellow;
  height: 150px;
  width: 100%;
  margin-top: 10px;
  &:focus {
    outline: none;
  }
}
.font14 {
  font-size: 14px;
}


span {
  line-height: 1;
}

.preetiFont {
  font-family: Preeti;
}

.size16 {
  font-size: 1rem;
}

.size24 {
  font-size: 1.5rem;
}

thead{ display:table-row-group }
