.longInput{
  width: 400px;
}

.shortInput{
  width: 50px;
}

.nep {
  font-size: 16px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 50px;
}

.form-field {
  background: yellow;
  margin: 0px 5px 5px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
  &:focus {
    outline: none;
  }
}

li {
  list-style-type: none;
}
ol.conditional-list li {
  list-style: devanagari;
  line-height: 30px !important;
}
input::-webkit-input-placeholder {
  font-size: 16px;
}
.timesNewRoman {
  font-family: 'Times New Roman'
}

//input[type="text"] {
//  font-size:20px;
//}
@media screen {
  .print-only {
    display: none;
  }

  .disable-print {
    display: inline;

  }
}

@media print {
  .print-only {
    display: inline;
  }
  div.align {
    font-size: 20px;
    line-height: 1.9;
    text-align: justify;
    text-justify: inter-word;
    margin: 10px 70px;
  }

}
.font18 {
  font-size: 18px;
}
.font26 {
  font-size: 26px;
}
.font27 {
  font-size: 27px;
}
