<div class="container-fluid">
    <p><strong>4.1 The customer</strong></p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm table-condensed table-bordered table-responsive-md table-sm sb-small">
                    <tbody>
                    <tr class="sb-bg-dark text-white">
                        <th>4.1.1 Promoters background, experience and resources</th>
                    </tr>
                    <tr>
                        <td [innerHTML]="jsonData?.promoterBackground"></td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr class="sb-bg-dark text-white">
                        <th>4.1.2 Line/s of business activity</th>
                    </tr>
                    <tr>
                        <td [innerHTML]="jsonData?.lineOfBusiness"></td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr class="sb-bg-dark text-white">
                        <th>4.1.3 Description with comments on major item dealt in</th>
                    </tr>
                    <tr>
                        <td [innerHTML]="jsonData?.discriptionWithComment"></td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr class="sb-bg-dark text-white">
                        <th>4.1.4 Major Buyers and Suppliers/Manufacturers</th>
                    </tr>
                    <tr>
                        <td [innerHTML]="jsonData?.majorBuyersSuppliers"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <p><strong>4.2 The Group</strong></p>
    <div class="row">
        <div class="col-md-12">
            <span [innerHTML]="jsonData?.group"></span>
        </div>
    </div>
</div>
