<p><strong>14.1. Pricing</strong></p>
<p>We propose the following pricing for the proposed credit facilities: </p>
<div class="container mr-4">
    <div class="d-flex justify-content-between">
        <p><strong>14.1.1.	Interest (%  p.a.)</strong></p>
        <p><strong>(Note: Base Rate: 7.77%, avg. CoF: 5.72% p.a., Chaitra end 2077)</strong></p>
    </div>
</div>
<table class="table table-condensed table-bordered table-responsive-md table-sm sb-small">
    <thead>
    <tr class="sb-bg-dark text-white">
        <th>SN</th>
        <th>Facility</th>
        <th>Card rate</th>
        <th>Existing rate</th>
        <th>Proposed rate</th>
        <th>Proposed rate	Deviation with Card Rate</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<p>Interest is payable on quarterly basis, as per Nepali calendar…………. Rate of interest is subject to change as per the Bank’s decision.</p>
<p>Penal interest: 2% additional on the overdue principal amount for the period the overdue remains.</p>
    <div class="container">
        <p><strong>14.1.2. Processing fee: (flat, one time; payable upfront at the time of first disbursement of the loan)</strong></p>
    </div>
<table class="table table-condensed table-bordered table-responsive-md table-sm sb-small">
    <thead>
    <tr class="sb-bg-dark text-white">
        <th>SN</th>
        <th>Facility</th>
        <th>Card rate</th>
        <th>Existing rate</th>
        <th>Proposed rate</th>
        <th>Deviation with Card Rate</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<div class="container">
    <p><strong>14.1.3. Prepayment charge: </strong></p>
</div>
<table class="table table-condensed table-bordered table-responsive-md table-sm sb-small">
    <thead>
    <tr class="sb-bg-dark text-white">
        <th>SN</th>
        <th>Facility</th>
        <th>If paid by own sources </th>
        <th>If swapped to other bank/FI </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td>….% of the pre-paid amount, flat</td>
        <td>….% of the pre-paid amount, flat</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<div class="container">
    <p><strong>14.1.4. Commissions (% p.q.)</strong></p>
</div>
<table class="table table-condensed table-bordered table-responsive-md table-sm sb-small">
    <thead>
    <tr class="sb-bg-dark text-white">
        <th>SN</th>
        <th>Facility</th>
        <th>Card rate</th>
        <th>Existing rate</th>
        <th>Proposed rate</th>
        <th>Deviation with Card Rate</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td>LC opening</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>BG issuance</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Others</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<div class="container">
    <p><strong>14.1.5. Cash Margin</strong></p>
</div>
<table class="table table-condensed table-bordered table-responsive-md table-sm sb-small">
    <thead>
    <tr class="sb-bg-dark text-white">
        <th>SN</th>
        <th>Facility</th>
        <th>Card rate</th>
        <th>Existing rate</th>
        <th>Proposed rate</th>
        <th>Deviation with Card Rate</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td>TR</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>LC</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>BG</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<div class="container">
    <p><strong>14.1.6. Forex: …. paisa discount / USD on sale; …. paisa / USD premium on purchase</strong></p>
    <p><strong>14.1.7. CIC charge: on actual basis</strong></p>
    <p><strong>14.1.8. STR charge: on actual basis</strong></p>
    <p><strong>14.1.9. Commitment fee:</strong></p>
    <p><strong>14.1.10. Other charges/fees: (Draft, ABBS, etc.)</strong></p>
</div>
<p><strong>14.2. Income to the Bank</strong></p>
<div class="container">
    <p><strong>14.2.1. Income earned by the Bank: last 1 year / Avg. utilization FB limit/s: …%</strong></p>
</div>
<table class="table table-condensed table-bordered table-responsive-md table-sm sb-small">
    <thead>
    <tr class="sb-bg-dark text-white">
        <th></th>
        <th>Interest </th>
        <th>Processing fee</th>
        <th>LC comm.</th>
        <th>BG comm.</th>
        <th>Forex gains</th>
        <th>Others</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Customer</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Group total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<div class="container">
    <p><strong>14.2.2. Estimation of income for the Bank from the customer for the next one year, assuming ….. utilization of the ….</strong></p>
</div>
<table class="table table-condensed table-bordered table-responsive-md table-sm sb-small">
    <thead>
    <tr class="sb-bg-dark text-white">
        <th>Facility</th>
        <th>Interest</th>
        <th>Processing fee</th>
        <th>Comm.</th>
        <th>Forex gains</th>
        <th>Others</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<p>Comments:</p>

