<div class="modal fade in add-nepse">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="display:block">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title pull-left">{{task}} Nepse</h4>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="name">Company Name</label>
                <input type="hidden" class="form-control" [(ngModel)]="nepse.id" name="id" placeholder="id">
                <input type="text" class="form-control" required [(ngModel)]="nepse.companyName" name="name" placeholder="Name"
                #nameVal="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nameVal.invalid }" required>
                <div *ngIf="f.submitted && nameVal.invalid" class="invalid-feedback">
                    <div *ngIf="nameVal.errors.required">Nepse Company Name is required</div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="amount">Share Amount per unit</label>
                <input type="text" class="form-control"  placeholder="amount"  [(ngModel)]="nepse.amountPerUnit" name="amount" #perUnit="ngModel" [ngClass]="{ 'is-invalid': f.submitted && perUnit.invalid }" required>
                <div *ngIf="f.submitted && perUnit.invalid" class="invalid-feedback">
                    <div *ngIf="perUnit.errors.required">Nepse Company Name is required</div>
                </div>

              </div>
            </div>
          </div>




          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="open()">Bulk Upload</button>
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
          </div>
        </form>
      </div>
      <app-bulk-upload></app-bulk-upload>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
