<div class="row">
    <div class="col-md-12 table-sm sb-small">
        The Customer shall submit stock statements on quarterly basis, along with list of debtors and creditors with
        aging; however, the Bank may ask for stock statements from the customer any time. The drawing power on the FBWC
        limits shall be calculated on the basis of Net Trading Assets as per the stock statements, and limits shall be
        adjusted in the system accordingly.
        <br>
        <br>
        Review of last 4 quarters NTA statement are as under;
    </div>
</div>

<div class="row p-3 col-md-12" >
    <table class="table table-bordered table-responsive-md table-hover table-sm sb-small">
        <tr class="sb-bg-dark text-white text-center">
            <td colspan="5">Current Year({{currentYear[0]?.year}})</td>
        </tr>
        <tr class="sb-bg-dark text-white text-center">
            <th>Net Trading Assets (NTA)</th>
            <th>Q1</th>
            <th>Q2</th>
            <th>Q3</th>
            <th>Q4</th>
        </tr>
        <tr class="text-center">
            <td class="text-left pl-1">As On</td>
            <!-- current year-->
            <td>{{currentYearData[0]?.asOnDate?.q1 |engNepDate: false}}</td>
            <td>{{currentYearData[0]?.asOnDate?.q2 |engNepDate: false}}</td>
            <td>{{currentYearData[0]?.asOnDate?.q3 |engNepDate: false}}</td>
            <td>{{currentYearData[0]?.asOnDate?.q4 |engNepDate: false}}</td>
        </tr>

        <tr>
            <td class="text-left pl-1">Value of Stock</td>
            <!-- current year-->
            <td class="pr-1">Rs. {{currentYearData[0]?.valueOfStock?.q1 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.valueOfStock?.q2 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.valueOfStock?.q3 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.valueOfStock?.q4 |currencyFormatter}}</td>
        </tr>

        <tr>
            <td class="text-left pl-1">Value of Debtors/ Receivables/ Trade Advances</td>
            <!-- current year-->
            <td class="pr-1">Rs. {{currentYearData[0]?.valueOfDebtors?.q1 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.valueOfDebtors?.q2 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.valueOfDebtors?.q3 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.valueOfDebtors?.q4 |currencyFormatter}}</td>
        </tr>

        <tr>
            <td class="text-left pl-1">Trade/Commercial Advances, if any</td>
            <!-- current year-->
            <td class="pr-1">Rs. {{currentYearData[0]?.valueOfGoodsInTrans?.q1 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.valueOfGoodsInTrans?.q2 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.valueOfGoodsInTrans?.q3 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.valueOfGoodsInTrans?.q4 |currencyFormatter}}</td>
        </tr>

        <tr>
            <td class="text-left pl-1"><b>Total Current Assets</b><span
                    class="float-sm-right font-weight-bold">(A)</span></td>
            <!-- current year-->
            <th class="pr-1">Rs. {{currentYearData[0]?.netTradingAssetsBefore?.q1 |currencyFormatter}}</th>
            <th class="pr-1">Rs. {{currentYearData[0]?.netTradingAssetsBefore?.q2 |currencyFormatter}}</th>
            <th class="pr-1">Rs. {{currentYearData[0]?.netTradingAssetsBefore?.q3 |currencyFormatter}}</th>
            <th class="pr-1">Rs. {{currentYearData[0]?.netTradingAssetsBefore?.q4 |currencyFormatter}}</th>
        </tr>

        <tr>
            <th class="text-left pl-1">Less:</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td class="text-left pl-1">Trade Creditors/ Payable <span class="float-sm-right font-weight-bold">(B)</span>
            </td>
            <!-- current year-->
            <td class="pr-1">Rs. {{currentYearData[0]?.valueOfCreditors?.q1 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.valueOfCreditors?.q2 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.valueOfCreditors?.q3 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.valueOfCreditors?.q4 |currencyFormatter}}</td>
        </tr>

        <tr>
            <td class="text-left pl-1"><b>Net Trading Asserts</b><span
                    class="float-sm-right font-weight-bold">(C)=(A-B)</span></td>
            <!-- current year-->
            <th class="pr-1">Rs. {{currentYearData[0]?.netTradingAssetsAfter?.q1 |currencyFormatter}}</th>
            <th>Rs. {{currentYearData[0]?.netTradingAssetsAfter?.q2 |currencyFormatter}}</th>
            <th class="pr-1">Rs. {{currentYearData[0]?.netTradingAssetsAfter?.q3 |currencyFormatter}}</th>
            <th class="pr-1">Rs. {{currentYearData[0]?.netTradingAssetsAfter?.q4 |currencyFormatter}}</th>
        </tr>

        <tr>
            <td class="text-left pl-1"><b>Drawing Power (in %)</b></td>
            <!-- current year-->
            <td class="pr-1">{{currentYearData[0]?.drawingPower?.q1}} %</td>
            <td class="pr-1">{{currentYearData[0]?.drawingPower?.q2}} %</td>
            <td class="pr-1">{{currentYearData[0]?.drawingPower?.q3}} %</td>
            <td class="pr-1">{{currentYearData[0]?.drawingPower?.q4}} %</td>
        </tr>

        <tr>
            <td class="text-left pl-1"><b>Drawing Power (Amount)</b></td>
            <!-- current year-->
            <th class="pr-1">Rs. {{currentYearData[0]?.drawingPowerAmount?.q1 |currencyFormatter}}</th>
            <th class="pr-1">Rs. {{currentYearData[0]?.drawingPowerAmount?.q2 |currencyFormatter}}</th>
            <th class="pr-1">Rs. {{currentYearData[0]?.drawingPowerAmount?.q3 |currencyFormatter}}</th>
            <th class="pr-1">Rs. {{currentYearData[0]?.drawingPowerAmount?.q4 |currencyFormatter}}</th>
        </tr>

        <tr>
            <td class="text-left pl-1"><b>Proposed/Existing Facility of CCBL</b> <span
                    class="float-sm-right font-weight-bold">(D)</span></td>
            <!-- current year-->
            <td class="pr-1">Rs. {{currentYearData[0]?.loanFromUs?.q1 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.loanFromUs?.q2 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.loanFromUs?.q3 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.loanFromUs?.q4 |currencyFormatter}}</td>
        </tr>

        <tr>
            <td class="text-left pl-1">Other banks' financing <span class="float-sm-right font-weight-bold">(E)</span>
            </td>
            <!-- current year-->
            <td class="pr-1">Rs. {{currentYearData[0]?.otherBanksFinancing?.q1 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.otherBanksFinancing?.q2 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.otherBanksFinancing?.q3 |currencyFormatter}}</td>
            <td class="pr-1">Rs. {{currentYearData[0]?.otherBanksFinancing?.q4 |currencyFormatter}}</td>
        </tr>

        <tr>
            <td class="text-left pl-1"><b>Total Facility</b> <span
                    class="float-sm-right font-weight-bold">(F)=(D+E)</span></td>
            <!-- current year-->
            <th class="pr-1">Rs. {{currentYearData[0]?.totalFacility?.q1 |currencyFormatter}}</th>
            <th class="pr-1">Rs. {{currentYearData[0]?.totalFacility?.q2 |currencyFormatter}}</th>
            <th class="pr-1">Rs. {{currentYearData[0]?.totalFacility?.q3 |currencyFormatter}}</th>
            <th class="pr-1">Rs. {{currentYearData[0]?.totalFacility?.q4 |currencyFormatter}}</th>
        </tr>

        <tr>
            <td class="text-left pl-1"><b>WCL utilization</b> <span
                    class="float-sm-right font-weight-bold">(G)=(F/C)%</span></td>
            <!-- current year-->
            <th class="pr-1"> {{currentYearData[0]?.surplusDeficit?.q1}} % </th>
            <th class="pr-1"> {{currentYearData[0]?.surplusDeficit?.q2}} % </th>
            <th class="pr-1"> {{currentYearData[0]?.surplusDeficit?.q3}} % </th>
            <th class="pr-1"> {{currentYearData[0]?.surplusDeficit?.q4}} % </th>
        </tr>
    </table>
</div>
