//@import '../../progressive-legal-docs.component';

#fingerXap {
  width: 100px;
  margin-left: 10px;
  text-align: center;
}

#signature {
  margin: auto;
  width: auto;
  height: auto;
}

#officeDetail {
  margin-left: 50px;
}

.viewFull {
  max-height: 85vh;
  text-align: justify;
}

.sizefont {
  font-size: 12pt;
}

.unicode-size{
  font-size: 24px;
}

.nepali {
  font-size: 16px;
  line-height: 1.5;
  //margin: 10px 50px;
  @extend .text-justify !optional;
}

span {
  line-height: 1;
}
.uniFont {
  font-size: 24px;
}
