@import '../../progressive-legal-docs.component';

#fingerXap {
  width: 500px;
  margin-left: 10px;
  text-align: center;
}

#signature {
  margin: auto;
  width: auto;
  height: auto;
}

#officeDetail {
  margin-left: 50px;
}

table {
  width: 100%;
  text-align: center;
}

.viewFull {
  max-height: 85vh;
  text-align: justify;
}
