.nep {
  font-size: 20px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 70px;
}

li {
  list-style-type: none;
}

.logo-container {
  display: flex;
  width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  margin: 10px 70px;
}
@media screen {

  div.divFooter {
    display: none;
  }
}
@media print {
  div.divFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
