nb-card{
  height: 100vh;
  overflow-y: scroll;
  width:100vw;
}

.fix-header{
  position: fixed;
  background-color: white;
  margin-top: -15px;
}

.fix-footer{
  position: fixed;
  background-color: white;
  z-index: 1000;

}

.tabset-tab-background-color{
  color: red;
}

.confirm-close{
  height:100%;
  width: 100%;
}
