<app-spinner *ngIf="spinner" class="d-flex justify-content-center"></app-spinner>
<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Initial, Pending, Rejected, Closed</nb-card-header>
            <nb-card-body>
                <table *ngIf="!spinner"
                       class="table table-bordered table-hover table-sm" style="max-height: 400px;overflow-y: auto">
                    <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Loan Facility</th>
                        <th>Proposed Amount</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Created On</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container
                        *ngFor="let model of loanHistoriesGroup(loanHistories).pending; let i=index">
                        <tr (click)="model?.combinedLoans ? toggleArray[i].toggled = !toggleArray[i].toggled : onClick(model?.loanId, model.id)"
                            class="cursor">
                            <td>{{i + 1}}</td>
                            <td>{{model?.loanName}}</td>
                            <td class="text-right">{{(model?.proposalProposedLimit | number)
                            || 0}}</td>
                            <td>{{loanType[model?.loanType] || model?.loanType}}</td>
                            <td>{{model?.documentStatus}}</td>
                            <td>{{model?.createdAt | date}}</td>
                        </tr>
                        <ng-container *ngIf="toggleArray[i].toggled">
                            <tr (click)="onClick(single?.loanId, single.id)"
                                *ngFor="let single of model?.combinedLoans;let i=index"
                                class="cursor" style="background-color: #cccccc;">
                                <td>{{'abcdefghijklmnopqrstuvwxyz'.charAt(i)}}</td>
                                <td>{{single?.loanName}}</td>
                                <td class="text-right">{{(single?.proposalProposedLimit | number)
                                || 0}}</td>
                                <td>{{loanType[single?.loanType]}}</td>
                                <td>{{single?.documentStatus}}</td>
                                <td>{{single?.createdAt | date}}</td>
                            </tr>
                        </ng-container>

                    </ng-container>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Approved</nb-card-header>
            <nb-card-body>
                <table *ngIf="!spinner"
                       class="table table-bordered table-hover table-sm" style="max-height: 400px;overflow-y: auto">
                    <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Loan Facility</th>
                        <th>Proposed Amount</th>
                        <th>Type</th>
                        <th>Created On</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center" colspan="5"><strong>Funded</strong></td>
                    </tr>
                    <ng-container
                        *ngFor="let model of loanHistoriesGroup(loanHistories).funded;let i=index">
                        <tr (click)="model?.combinedLoans ? toggleArray[i].toggled = !toggleArray[i].toggled : onClick(model?.loanId, model.id)"
                            class="cursor">
                            <td>{{i + 1}}</td>
                            <td>{{model?.loanName}}</td>
                            <td class="text-right">{{(model?.proposalProposedLimit | number)
                            || 0}}</td>
                            <td>{{loanType[model?.loanType] || model?.loanType}}</td>
                            <td>{{model?.createdAt | date}}</td>
                        </tr>
                        <ng-container *ngIf="toggleArray[i].toggled">
                            <tr (click)="onClick(single?.loanId, single.id)"
                                *ngFor="let single of model?.combinedLoans;let i=index"
                                class="cursor" style="background-color: #cccccc;">
                                <td>{{'abcdefghijklmnopqrstuvwxyz'.charAt(i)}}</td>
                                <td>{{single?.loanName}}</td>
                                <td class="text-right">{{(single?.proposalProposedLimit | number)
                                || 0}}</td>
                                <td>{{loanType[single?.loanType]}}</td>
                                <td>{{single?.documentStatus}}</td>
                                <td>{{single?.createdAt | date}}</td>
                            </tr>
                        </ng-container>
                    </ng-container>
                    <tr>
                        <td class="text-center" colspan="5"><strong>Non-Funded</strong></td>
                    </tr>
                    <ng-container
                        *ngFor="let model of loanHistoriesGroup(loanHistories).nonFunded;let i=index">
                        <tr (click)="model?.combinedLoans ? toggleArray[i].toggled = !toggleArray[i].toggled : onClick(model?.loanId, model.id)"
                            class="cursor">
                            <td>{{i + 1}}</td>
                            <td>{{model?.loanName}}</td>
                            <td class="text-right">{{(model?.proposalProposedLimit | number)
                            || 0}}</td>
                            <td>{{loanType[model?.loanType] || model?.loanType}}</td>
                            <td>{{model?.createdAt | date}}</td>
                        </tr>
                        <ng-container *ngIf="toggleArray[i].toggled">
                            <tr (click)="onClick(single?.loanId, single.id)"
                                *ngFor="let single of model?.combinedLoans;let i=index"
                                class="cursor" style="background-color: #cccccc;">
                                <td>{{'abcdefghijklmnopqrstuvwxyz'.charAt(i)}}</td>
                                <td>{{single?.loanName}}</td>
                                <td class="text-right">{{(single?.proposalProposedLimit | number)
                                || 0}}</td>
                                <td>{{loanType[single?.loanType]}}</td>
                                <td>{{single?.documentStatus}}</td>
                                <td>{{single?.createdAt | date}}</td>
                            </tr>
                        </ng-container>
                    </ng-container>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </div>
</div>
