<table class="table table-borderless small table-4">
  <tr>
    <th colspan="2">Loan Data</th>
    <th>Translated Data</th>
    <th>Correct Translation</th>
  </tr>
  <tr>
    <td>loanType</td>
    <td><input type="text" class="form-control" formControlName="loanType"></td>
    <td>{{translatedValues?.loanType}}</td>
    <td><input type="text" class="form-control" formControlName="loanType"></td>
  </tr>
  <tr>
    <td>proposedAmount</td>
    <td><input type="text" class="form-control" formControlName="proposedAmount"></td>
    <td>{{translatedValues?.proposedAmount}}</td>
    <td><input type="text" class="form-control" formControlName="proposedAmount"></td>
  </tr>
  <tr>
    <td>status</td>
    <td><input type="text" class="form-control" formControlName="status"></td>
    <td>{{translatedValues?.status}}</td>
    <td><input type="text" class="form-control" formControlName="status"></td>
  </tr>
  <tr>
    <td>createdOn</td>
    <td><input type="text" class="form-control" formControlName="createdOn"></td>
    <td>{{translatedValues?.createdOn}}</td>
    <td><input type="text" class="form-control" formControlName="createdOn"></td>
  </tr>
  <tr>
    <td>comments</td>
    <td><input type="text" class="form-control" formControlName="comments"></td>
    <td>{{translatedValues?.comments}}</td>
    <td><input type="text" class="form-control" formControlName="comments"></td>
  </tr>
</table>
