<form [formGroup]="form" [nbSpinner]="spinner">
<!--  <div *ngIf="customerType == 'INSTITUTION'">-->
  <div>
    <nb-checkbox [checked]="isCombinedLoan" (change)="combinedLoan($event)">Check if combined loan</nb-checkbox>
    <br>
  </div>
  <div *ngFor="let loan of form.get('loanDetails')['controls']; let i = index"
       formArrayName="loanDetails">
    <table class="table table-borderless small table-4" [formGroupName]="i">
      <tr>
        <th colspan="2">{{i + 1}}. Loan Data</th>
        <th>Translated Data</th>
        <th>Correct Translation</th>
      </tr>
      <!--      <tr>-->
      <!--        <td>Loan Type</td>-->
      <!--        <td>-->
      <!--          <select class="custom-select" formControlName="loanType">-->
      <!--            <option [value]="null" disabled>Select Loan Type</option>-->
      <!--            <option *ngFor="let loanType of loanTypeList.value()"-->
      <!--                    [value]="loanType?.key">{{loanType?.value}}</option>-->
      <!--          </select>-->
      <!--        </td>-->
      <!--        <td>{{translatedValues?.loanType}}</td>-->
      <!--        <td><input type="text" class="form-control" formControlName="loanType"></td>-->
      <!--      </tr>-->
      <tr>
        <td>Loan Facility</td>
        <td>
          <select class="custom-select" formControlName="loan"
          >
            <option [value]="null" selected hidden>Select Loan Facility</option>
            <option *ngFor="let loanFacility of loanFacilityList"
                    [value]="loanFacility.id">{{loanFacility.name}}||{{loanFacility.nepaliName}}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Proposed Amount</td>
        <td><input type="text" class="form-control" formControlName="proposedAmount" (change)="patchValue(i)"></td>
        <td>
          <input type="text" class="form-control" formControlName="proposedAmountTrans" readonly />
        </td>
        <td>
          <input type="text" class="form-control" formControlName="proposedAmountCT" />
        </td>
        <!--        <td><input type="text" class="form-control" formControlName="proposedAmount"></td>-->
      </tr>
      <!--      <tr>-->
      <!--        <td>status</td>-->
      <!--        <td><input type="text" class="form-control" formControlName="status"></td>-->
      <!--        <td>{{translatedValues?.status}}</td>-->
      <!--        <td><input type="text" class="form-control" formControlName="status"></td>-->
      <!--      </tr>-->
      <!--      <tr>-->
      <!--        <td>Approved On</td>-->
      <!--        <td><input type="text" class="form-control" formControlName="approvedOn"></td>-->
      <!--        <td>{{translatedValues?.approvedOn}}</td>-->
      <!--        <td><input type="text" class="form-control" formControlName="approvedOn"></td>-->
      <!--      </tr>-->
      <!--      <tr>-->
      <!--        <td>comments</td>-->
      <!--        <td><input type="text" class="form-control" formControlName="comments"></td>-->
      <!--        <td>{{translatedValues?.comments}}</td>-->
      <!--        <td><input type="text" class="form-control" formControlName="comments"></td>-->
      <!--      </tr>-->
      <!--      <tr>-->
      <!--        <td colspan="4">-->
      <!--          <button nbButton status="danger" size="small" class="float-left"-->
      <!--                  (click)="removeLoan(i)"-->
      <!--                  style="position: static"-->
      <!--                  *ngIf="form.get('loanDetails')['controls'].length > 1">-->
      <!--            <em class="fa fa-trash" style="color: white;"></em>-->
      <!--          </button>-->

      <!--        </td>-->
      <!--      </tr>-->
      <tr>
        <td colspan="3">
          <button nbButton status="danger" size="small" class="float-left" (click)="removeLoan(i)" style="position: static"
            *ngIf="form.get('loanDetails')['controls'].length > 1">
            <em class="fa fa-trash" style="color: white;"></em>
          </button>
        </td>
        <td colspan="2">
<!--          <button class="float-right" size="tiny" nbButton status="info" (click)="translate(i)">-->
<!--            Translate Loan Details-->
<!--          </button>-->
        </td>
      </tr>
    </table>
    <hr>
  </div>
  <div *ngIf="isCombinedLoan">
    <button nbButton status="primary" size="tiny" (click)="addEmptyLoan()">Add Loan</button>
  </div>
  <button class="float-right" nbButton type="submit" (click)="save()" [disabled]="spinner">Save & Next
  </button>
  <button class="float-right" nbButton (click)="openCloseTemplate(confirm)" status="info" style="margin-right: 0.5em">
    Close
  </button>
  <ng-template #confirm>
    <div class="modal-header" style="padding-left: 90%">
      <a (click)="dismiss(confirm)" aria-label="Close" class="close pull-right cursor">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <div class="modal-body" style="text-align:center; font-size: 18px">
      Are you sure you want to close ?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="decline(confirm)">No</button>
      <button type="button" class="btn btn-primary" (click)="accept()">Yes</button>
    </div>
  </ng-template>
</form>
