*{
  line-height: 1.9em;
}
.longInput{
  width: 400px;
}

.shortInput{
  width: 50px;
}

.nep {
  font-size: 19px;
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 50px;
}

.form-field {
  background: yellow;
  margin: 0px 5px 5px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
  &:focus {
    outline: none;
  }
}

li {
  list-style-type: none;
}

input::-webkit-input-placeholder {
  font-size: 16px;
}

.lh-30 {
  line-height: 30px;
  text-align: justify;
}

ol.conditions {
  padding: 15px !important;
}

ol.conditions li {
  list-style: devanagari;
  line-height: 30px !important;
}

@media screen {
  .print-only {
    display: none;
  }

  .disable-print {
    display: inline;

  }
}

@media print {
  .print-only {
    display: inline;
  }
  div.align {
    font-size: 19px;
    text-align: justify;
    text-justify: inter-word;
    margin: 10px 70px;
  }

}

.sav {
  color: rgb(65,104,207) ;
  background-color: rgb(235,247,255);
}

ol li {
  padding-left: 1em;
}
