<nb-card [ngStyle]="{'margin-bottom': 0}" accent="primary">
  <nb-card-header>
    <strong>{{activity | replace:'_':' '}}</strong>

    <a (click)="close()" aria-label="Close" class="close cursor">
      <span aria-hidden="true">&times;</span>
    </a>
  </nb-card-header>
  <nb-card-body class="modal-height" id="print-update-block">
    <div class="col-md-12 disable-print" *ngIf="data">

      <div class=" d-flex justify-content-end">
        <button [useExistingCss]="true" nbButton size="small"
                ngxPrint printSectionId="print-update-block"
                styleSheetFile="assets/css/printStyles.scss">
          <em class="fa fa-print"></em>
        </button>
      </div>

    </div>
    <div class="col-md-12">
      <div class=" d-flex justify-content-center">
        <h3>{{profile?.name}}</h3>
      </div>
      <div class=" d-flex justify-content-end">
        <strong>Till date : </strong>  {{modifiedOn | date}}
      </div>
    </div>
    <hr>
    <app-loan-view *ngIf="(activity === 'LOAN_APPROVED' || activity === 'DELETE_LOAN') && data" [customerLoan]="customerLoan"></app-loan-view>
    <app-insurance-view [insurance]="data"
                        *ngIf="activity === 'INSURANCE_UPDATE' && data"></app-insurance-view>

    <app-financial-view *ngIf="activity === 'FINANCIAL_UPDATE' && data"
                        [formData]="data"
                        [customerType]="profile?.customerType"
    ></app-financial-view>

    <app-guarantor-view *ngIf="activity === 'GUARANTOR_UPDATE' && data"
                        [guarantorData]="data"></app-guarantor-view>

    <app-site-visit-view *ngIf="activity === 'SITE_VISIT_UPDATE' && data"
                         [siteVisit]="data">
    </app-site-visit-view>

    <app-security-view *ngIf="activity === 'SECURITY' && data"
                       [security]="data" [shareSecurityData]="null"></app-security-view>

    <div *ngIf="activity === 'SHARE_SECURITY' && data"
    >
      <div class="row mt-4">
        <div class="col-md-12">
          <p><strong>Share Security Detail</strong>(Promoter Percent: {{loanSharePercent
          == undefined ? 0 : loanSharePercent.promoter}} , Ordinary Percent: {{loanSharePercent
          == undefined ? 0 : loanSharePercent.ordinary}})</p>
          <table class="table table-bordered text-center table-sm sb-small">
            <thead>
            <tr class="text-white sb-bg-dark">
              <th> Sn</th>
              <th> Name of Company</th>
              <th> Share Type</th>
              <th>Share Unit</th>
              <th> Rate</th>
              <th>Total Value</th>
              <th>Considered Value</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let singleShareData of shareSecurity['shareSecurityDetails']; let i = index">
              <td>{{i + 1}}</td>
              <td>{{singleShareData?.companyName}}</td>
              <td>{{singleShareData?.shareType}}</td>
              <td>{{singleShareData?.totalShareUnit}}</td>
              <td>{{singleShareData?.amountPerUnit |currencyFormatter}}</td>
              <td>{{singleShareData?.total |currencyFormatter}}</td>
              <td>{{singleShareData?.consideredValue |currencyFormatter}}</td>
            </tr>
            <tr>
              <th class="text-right" colspan="5">Total</th>
              <th>{{shareTotalValue |currencyFormatter}}</th>
              <th>{{totalConsideredValue |currencyFormatter}}</th>
            </tr>
            <tr>
              <th>Description</th>
              <th colspan="6">{{shareSecurity['securityOffered']}}</th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <app-individual-view [individual]="data"
                         [customerInfo]="profile"
                         *ngIf="activity === 'CUSTOMER_UPDATE' && data && profile.customerType === 'INDIVIDUAL'">
    </app-individual-view>
    <app-company-info-view [formValue]="data"
                           *ngIf="activity === 'CUSTOMER_UPDATE' && data && profile.customerType === 'INSTITUTION'">
    </app-company-info-view>

    <app-credit-grading [formData]="data" [fromProfile]="false"
                        *ngIf="activity === 'CRG_UPDATE' && data">
    </app-credit-grading>

    <!--<app-credit-risk-grading-alpha [creditRiskGradingAlpha]="data" [fromProfile]="false"
                                   [financial]="profile?.financial" [companyInfo]="companyInfo"
                                   *ngIf="activity === 'CRG_ALPHA_UPDATE' && data">
    </app-credit-risk-grading-alpha>-->
<!--    <app-credit-risk-grading-gamma [fromProfile]="false" [formData]="data"-->
<!--                                   *ngIf="activity === 'CRG_GAMMA_UPDATE' && data"></app-credit-risk-grading-gamma>-->

    <app-cicl-view [ciclValue]="data" *ngIf="activity === 'CICL_UPDATE' && data"></app-cicl-view>

    <div class="col-md-12" *ngIf="activity === 'CUSTOMER_GROUP_UPDATE' && data">
      <div class="d-flex justify-content-center">
        <span><strong>Group Code : </strong>{{data?.groupCode}}
          <strong>  Group Limit  :</strong> Rs. {{data?.groupLimit | currencyFormatter}}/-</span>
      </div>
    </div>


    <div class="col-md-12" *ngIf="activity === 'LOAN_UPDATE' && data">
      <div class="d-flex justify-content-center">
        <h4 *ngIf="loanUpdateData?.proposal">Proposal</h4>
      </div>

      <table class="table table-bordered table-hover ">

        <tr *ngFor="let p of loanUpdateData?.proposal">
          <td><strong>{{p?.fieldName}}</strong></td>
          <td><span *ngIf="p?.fieldName == 'Proposed Limit'">RS.{{(p?.prevValue) | currencyFormatter}}
            /-</span>
            <span *ngIf="p?.fieldName !== 'Proposed Limit'" [innerHTML]="p?.prevValue | safeHtml"></span></td>
        </tr>
        <tr *ngIf="loanUpdateData?.priority">
          <td><strong>Priority</strong></td>
          <td>{{loanUpdateData?.priority}}</td>
        </tr>
        <tr *ngIf="loanUpdateData?.documentStatus">
          <td><strong>Document Status</strong></td>
          <td>{{loanUpdateData?.documentStatus}}</td>
        </tr>
      </table>


      <app-guarantor-view *ngIf="loanUpdateData?.guarantor"
                          [guarantorData]="loanUpdateData?.guarantor"></app-guarantor-view>
    </div>

    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <span *ngIf="!data">Previous Data was Empty</span></div>
    </div>
  </nb-card-body>
</nb-card>

