.cdk-global-overlay-wrapper, .cdk-overlay-container {
  width: 100%;
}
*{
  margin-top:30px;
}
.nepali {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 50px;
  @extend .text-justify;
}

.text-justify,
.text-justify p {
  text-align: justify;
  text-justify: inter-word;
}

.form-control-xsm,
.form-control-sm,
.form-control-lg {
  width: 100%;
  min-height: 35px;
  margin-bottom: 5px;
}

.form-control-xsm {
  max-width: 100px;
}

.form-control-sm {
  max-width: 200px;
}

.form-control-lg {
  max-width: 600px;
}

.viewFull {
  max-height: 85vh;
}

.nepaliFont {
  &.font-size-normal {
    font-size: 18px;
  }
}


.form-field {
  background: yellow;
  margin: 0px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
  border-bottom: 1px solid black;
  padding: 0 10px;
  height: auto;

  &:focus {
    outline: none;
  }
}

.unicodeSize {
  font-size: 18px;
}

input::-webkit-input-placeholder {
  font-size: 16px;
}

.signature-area {
  display: block;
  background-color: transparent;
  border: 1px solid #3c3c3c;
  max-width: 291px;
  width: 291px;
  height: 186px;
  max-height: 186px;
}

@page {
  size: A4;
  margin: 17mm 17mm 17mm 17mm;
}

.page-break {
  page-break-after: always;
}
