<div class="card">
    <article class="card-body">
        <div class="row justify-content-center">
            <div class="card w-50">
                <div class="card-header">
                    Questions
                </div>
                <div class="card-body p-4 ml-2">
                    <h4 class="card-title mt-3 mb-5">
                        {{questionList[index]?.description}}
                    </h4>

                    <div class="container form-check p-3 ml-4"
                         *ngFor="let ansList of questionList[index]?.answers">
                        <label class="form-check-label p-1">
                            <input type="radio" [checked]="pointsMap.get(questionList[index]?.id) === ansList.id"
                                   class="form-check-input" name="checkedAnswer"
                                   (change)="onSelectionChange(ansList.id, ansList.points, questionList[index]?.id)">
                            {{ansList.description}}
                        </label>
                    </div>
                    <hr>
                    <div class="btn-group float-right" role="group">
                        <button class="btn btn-outline-info" (click)="onPrevious()">Previous</button>
                        <button class="btn btn-info" (click)="onNext()"> Next</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center my-3">
            <button class="btn btn-success text-center" [hidden]="!proceedButton" (click)="onSubmit()">Proceed</button>
        </div>

    </article>
</div>





