<div class="card">
    <article class="card-body">
        <div class="row justify-content-center">
            <div class="card w-50">
                <div class="card-header">
                    Questions
                </div>
                <div class="card-body p-4 ml-2">
                    <h4  class="card-title mt-3 mb-5">
                        Are you employed ?
                    </h4>

                    <div class="container p-3 ml-4">
                        <div class="custom-control custom-radio p-2">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio1">Toggle</label>
                        </div>
                        <div class="custom-control custom-radio p-2">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio2">Toggle this </label>
                        </div>
                        <div class="custom-control custom-radio p-2">
                            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio3">Toggle this custom radio</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>



