.form-field {
  background: yellow;
  margin: 0px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
  &:focus {
    outline: none;
  }
}


.nep {
  font-size: 20px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 70px;
}
