<table class="table table-condensed table-bordered table-responsive-md sb-small">
    <tr>
        <td>Date of NTA Statement</td>
        <td>DD.MM.YYYY</td>
        <td>DD.MM.YYYY</td>
        <td>DD.MM.YYYY</td>
    </tr>
    <tr>
        <td>Date of Inspection</td>
        <td>DD.MM.YYYY</td>
        <td>DD.MM.YYYY</td>
        <td>DD.MM.YYYY</td>
    </tr>
    <tr>
        <td>Inspected by</td>
        <td>Mr./Ms.</td>
        <td>Mr./Ms.</td>
        <td>Mr./Ms.</td>
    </tr>
    <tr>
        <td>Remarks/Comments, if any</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><strong>Particulars:</strong></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Stocks (A)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Trade Debtors/Receivables (B)
            (Ageing up to ….... days)
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            Trade/Commercial Advances, if any (C)
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            Trade Creditors/Payables (D)
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><strong>Net Trading Assets (E) = (A+B+C–D)</strong>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
    <td>Drawing Power @ ……….% of <strong>(E)</strong>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
    <td><strong>Total WCL facility (CCBL+Others)</strong>
        </td>
        <td><strong>XXXX</strong></td>
        <td><strong>XXXX</strong></td>
        <td><strong>XXXX</strong></td>
    </tr>
</table>
