<div class="row summary">
    <div class="col-md-12">
        <p><strong class="header">Group Summary Sheet</strong></p>
        <div class="mt-2">
            <label class="sub-header"><strong>Group Details</strong></label>
            <table class="table table-sm  table-bordered table-hover">
                <tbody>
                <tr>
                    <td>
                        <strong>Date: </strong><span>{{gssData?.gssDate | date}}</span>
                    </td>
                    <td>
                        <strong>Last GSS Date: </strong><span>{{gssData?.lastGSSDate | date}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Name of Customer Group: </strong><span>{{gssData?.groupName}}</span>
                    </td>
                    <td>
                        <strong>Group Code: </strong><span>{{gssData?.groupCode}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Peak Exposure Level<small> (if applicable)</small>:
                        </strong><span>{{gssData?.peakExposureLevel}}</span>
                    </td>
                    <td>
                        <strong>Group Controller: </strong><span>{{gssData?.groupController}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="mt-2">
            <label><strong>Exposure Details</strong></label>
            <table class="table table-sm sb-small table-bordered text-center">
                <thead>
                <tr class="sb-bg-gray">
                    <th width="2%">S.No.</th>
                    <th width="20%">Customer Name</th>
                    <th width="10%">Customer ID</th>
                    <th width="12%">Branch/Unit</th>
                    <th width="14%">Risk Grade</th>
                    <th width="14%">Funded Exposure</th>
                    <th width="14%">Non Funded Exposure</th>
                    <th width="14%">Total Exposure</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of gssData?.gssDetails; let i = index">
                    <td>{{i + 1}}.</td>
                    <td>{{data?.customerName}}</td>
                    <td>{{data?.customerID}}</td>
                    <td>{{loanDataHolder?.branch?.name}}</td>
                    <td>{{data?.riskGrade}}</td>
                    <td>{{data?.fundedLimited}}</td>
                    <td>{{data?.nonFundedLimited}}</td>
                    <td>{{data?.totalLimit}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4" class="text-right">Grand Total</td>
                    <td>{{gssData?.totalFundedLimited}}</td>
                    <td>{{gssData?.totalNonFundedLimited}}</td>
                    <td>{{gssData?.totalLimited1}}</td>
                </tr>
                <tr class="text-right">
                    <td></td>
                    <td colspan="4">Total Group Limit exceeding 1 year</td>
                    <td colspan="3">
                        {{gssData?.totalLimitExceed1Year}}
                    </td>

                </tr>
                <tr class="text-right">
                    <td></td>
                    <td colspan="4">Total Increase During Current Financial Year(Including Proposed Limit)</td>
                    <td colspan="3">
                        {{gssData?.totalIncreaseCurrent}}
                    </td>
                </tr>
                <tr class="text-right">
                    <td></td>
                    <td colspan="4">Other Liabilities</td>
                    <td colspan="3">
                        {{gssData?.otherLiabilities}}
                    </td>
                </tr>
                <tr class="text-right">
                    <td></td>
                    <td colspan="4">Earning from proposed relation in next one year</td>
                    <td colspan="3">
                        {{gssData?.earningProposedRelation}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="mt-2">
            <label><strong>Remarks</strong></label>
           <table class="table table-sm sb-small table-bordered">
               <tbody>
               <tr>
                   <td>
                       {{gssData?.gssRemark}}
                   </td>
               </tr>
               </tbody>
           </table>
        </div>
        <div class="row" *ngIf="isVisible">
            <div class="col-md-12 mt-3">
                <div class="col-md-10"><label><strong>Exposure details</strong></label>
                    <p class="float-right"><em>(Amount in NPR '000s)</em></p></div>
                <table class="table table-sm sb-small table-bordered text-left">
                    <thead>
                    <tr class="sb-bg-gray">
                        <th>Particulars</th>
                        <th>Existing</th>
                        <th>Proposed</th>
                        <th>Difference</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Exposure at Risk</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>RV of Mortgages</td>
                        <td>{{gssData?.existingOne}}</td>
                        <td>{{gssData?.proposedOne}}</td>
                        <td>{{gssData?.differenceOne}}</td>
                    </tr>
                    <tr>
                        <td>RV of private passenger vehicles registered to the Bank</td>
                        <td>{{gssData?.existingTwo}}</td>
                        <td>{{gssData?.proposedTwo}}</td>
                        <td>{{gssData?.differenceTwo}}</td>
                    </tr>
                    <tr>
                        <td>RV of commercial or special use vehicles registered to the Bank</td>
                        <td>{{gssData?.existingThree}}</td>
                        <td>{{gssData?.proposedThree}}</td>
                        <td>{{gssData?.differenceThree}}</td>
                    </tr>
                    <tr>
                        <td>RV of market value of Cash or Marketable Securities pledged</td>
                        <td>{{gssData?.existingFour}}</td>
                        <td>{{gssData?.proposedFour}}</td>
                        <td>{{gssData?.differenceFour}}</td>
                    </tr>
                    <tr>
                        <td>RV of Finished Goods or Commodities under Bank's direct control</td>
                        <td>{{gssData?.existingFive}}</td>
                        <td>{{gssData?.proposedFive}}</td>
                        <td>{{gssData?.differenceFive}}</td>
                    </tr>
                    <tr>
                        <td>RV of Stock and Receivables/Fixed Assets hypothecated to the Bank</td>
                        <td>{{gssData?.existingSix}}</td>
                        <td>{{gssData?.proposedSix}}</td>
                        <td>{{gssData?.differenceSix}}</td>
                    </tr>
                    <tr>
                        <td>Others (Please specify)</td>
                        <td>{{gssData?.existingOther}}</td>
                        <td>{{gssData?.proposedOther}}</td>
                        <td>{{gssData?.differenceOther}}</td>
                    </tr>
                    <tr>
                        <th>Total Security</th>
                        <td>{{gssData?.totalExisting}}</td>
                        <td>{{gssData?.totalProposed}}</td>
                        <td>{{gssData?.totalDifference}}</td>
                    </tr>
                    <tr>
                        <th>Expected Loss Given Default (please state absolute values)</th>
                        <td>{{gssData?.expectedLossExisting}}</td>
                        <td>{{gssData?.expectedLossProposed}}</td>
                        <td>{{gssData?.expectedLossDifference}}</td>
                    </tr>
                    <tr>
                        <th>Loan to Security Ratio</th>
                        <td>{{gssData?.existingLoanRatio}}</td>
                        <td>{{gssData?.proposedLoanRatio}}</td>
                        <td>{{gssData?.differenceLoanRatio}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 mt-3">
                <label><strong>FMV Model </strong> <em>(Please include all loans that require Land and building as per product paper)</em></label>
                <p class="text-right"><em>(Amount in NPR '000s)</em></p>
                <table class="table table-sm sb-small table-bordered text-left">
                    <thead>
                    <tr class="sb-bg-gray">
                        <th>Particulars</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Total Limits including proposed limits</td>
                        <td>{{gssData?.totalLimit}}</td>
                    </tr>
                    <tr>
                        <td>FMV</td>
                        <td>{{gssData?.fmv}}</td>
                    </tr>
                    <tr>
                        <th>Surplus</th>
                        <td>{{gssData?.surplus}}</td>
                    </tr>
                    <tr>
                        <th>Loan to FMV (Ratio)</th>
                        <td>{{gssData?.loanToFmv}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-2">
            <label><strong>Approvals</strong></label>
            <table class="table table-sm sb-small table-bordered">
                <tbody>
                <tr style="height: 30vh;">
                    <td width="33%"></td>
                    <td width="33%"></td>
                    <td width="34%"></td>
                </tr>
                <tr class="text-center">
                    <th>Group Controller</th>
                    <th>HC-C</th>
                    <th>DCEO/CEO/Management Committee/Board</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
