nb-card{
  height: 100vh;
  overflow-y: scroll;
}

.fix-header{
   position: fixed;
   background-color: white;
   margin-top: -15px;
 }

.fix-footer{
  position: fixed;
  background-color: white;
  z-index: 1000;

}

.card-height {
  height: 270px;
}

.confirm-close{
  height:100%;
}
.title {
  font-size: 14px;
  font-weight: bolder;
  color: maroon;
  border-bottom: solid 3px;
  border-bottom-color: maroon;
  padding-bottom: 10px;
}
p.title:hover {
  color: #999999;
}
