<div [nbSpinner]="spinner">

<form [formGroup]="form" class="align-content-center" *ngIf="!fromProfile">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label><strong>Upload Financial Sheet</strong></label>
                <input type ="file" formControlName="upload" (change)="upload($event)">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="historical"><strong>Justification for change (Historical)</strong></label>
                <ckeditor name="historical" formControlName="changeHistorical" [config]="ckeConfig" type="text"></ckeditor>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="projection"><strong>Justification for change (Projection)</strong></label>
                <ckeditor name="projection" formControlName="changeProjection" [config]="ckeConfig" type="text"></ckeditor>
            </div>
        </div>
    </div>
    <button nbButton (click)="submitData()" [disabled]="!uploadFile">Submit</button>
</form>
    <br>
    <hr>
<nb-tabset  *ngIf="customerInfo?.financial">
    <nb-tab tabId="0" *ngFor="let title of financialKeys; let i = index;" [tabTitle]="title | financialPipe">
        <app-financial-json-parser [financialJson]="financialData[title] | jsonParse" ></app-financial-json-parser>
    </nb-tab>
</nb-tabset>
</div>
