.dev-list {
  list-style-type: devanagari !important;
}
.dev-list li {
  line-height: 1.9em !important;
  padding-left: 1em !important;
  text-align: justify;
}
p {
  line-height: 1.9em !important;
}
ol li {
  font-weight:bold;
}
li > p {
  font-weight:normal;
}
