<div class="row form-group" [nbSpinner]="spinner">
    <div class="col-md-12 viewFull" id="{{offerLetterConst.DHITO_LIKHAT_MANJURINAMA}}"
         style="overflow-y: auto;height:500px">
        <form [formGroup]="dhitoForm" class="nep viewFull">
      <div class="text-center">
          <h4> धितो लिखत मञ्जुरीनामा</h4>
      </div>
      लिखितम् लिखत गराई लिनेको नाम नेपाल सरकार उद्योग मन्त्रालय कम्पनी
      रजिष्ट्रारको कार्यालय, त्रिपुरेश्वरबाट मिति २०६७/०१/०७ मा दर्ता नं. ७२३५८/०६६/०६७ मा दर्ता भई
      मोरङ्ग जिल्ला विराटनगर उ.म.न.पा. वडा नं २१ स्थित रजिष्टर्ड कार्यालय रहि का.म.न.पा वडा नं ११
      त्रिपुरेश्वरमा शाखा कार्यालय रहेको एम.ए.डब्लु. इन्भेष्टमेन्ट प्रा.लि. (नेपाल राष्ट्र बैंकबाट
      हायर पर्चेज कर्जा कारोबार गर्न इजाजतपत्र प्राप्त) आगे लिखत गरी धितो सुरक्षण लेखि दिनेको नाम
      <ng-container *ngFor="let customerDetail of  dhitoForm.get('customerDetail')['controls']; let index = index" formArrayName="customerDetail">
        <br>
        <li [formGroupName]="index">
          <div class="col-md-1 d-contents mr-3">
            <span class="nepaliFont">{{index+1 | nepaliWord:'pretti' }}</span>)
          </div>
      <input class="form-field form-control-sm nepaliFont"
      formControlName="grandFatherName"
      name="grandFatherName"
      placeholder="हजुरबुवा÷ससुराको नाम "
      type="text"/> को.नाती/नातिनी/बुहारी
      <input class="form-field form-control-sm nepaliFont"
             formControlName="fatherName"
             name="fatherName"
             placeholder="पती÷बुवाो नाम"
             type="text"/>को
  छोरा/छोरी/पत्नी <input class="form-field form-control-sm nepaliFont"
                         formControlName="district"
                         name="district"
                         placeholder="जिल्ला"
                         type="text"/> जिल्ला <input class="form-field form-control-sm nepaliFont"
                                                     formControlName="municipality"
                                                     name="municipality"
                                                     placeholder="गा|वि|स|÷न|पा| ÷उ|म|न|पा| ÷म|न|पा|"
                                                     type="text"/>
  गा.वि.स./न.पा./उ.म.न.पा./म.न.पा. वडा.नं. <input class="form-field form-control-sm nepaliFont"
                                                  formControlName="wardNo"
                                                  name="wardNo"
                                                  placeholder="वडा|नं"
                                                  type="text"/>घर भई
  हाल <input class="form-field form-control-sm nepaliFont"
             formControlName="currentDistrict"
             name="currentDistrict"
             placeholder="जिल्ला"
             type="text"/> जिल्ला <input class="form-field form-control-sm nepaliFont"
                                         formControlName="currentMunicipality"
                                         name="currentMunicipality"
                                         placeholder="गा.|.वि|.स|.न|.पा|÷.उ|.म|.न|.पा|/.म|.न|.पा|"
                                         type="text"/>
      गा.पा./न.पा./उ.म.न.पा./म.न.पा.वडा.नं<input class="form-field form-control-sm nepaliFont"
                                                 formControlName="currentWardNo"
                                                 name="currentWardNo"
                                                 placeholder="वडा.नं"
                                                 type="text"/>बस्नेवर्ष<input class="form-field form-control-sm nepaliFont"
                                                                              formControlName="customerAge"
                                                                              name="customerAge"
                                                                              placeholder="वर्ष"
                                                                              type="text"/>
      को/की श्री/श्रीमती/सुश्री<input class="form-field form-control-sm nepaliFont"
                                      formControlName="customerName"
                                      name="customerName"
                                      placeholder="नाम"
                                      type="text"/>
      (ना.प्र.नं. <input class="form-field form-control-sm nepaliFont"
                         formControlName="citizenshipNo"
                         name="citizenshipNo"
                         placeholder="ना.प्र.नं."
                         type="text"/> जारी मिति <input class="form-field form-control-sm nepaliFont"
                                                        formControlName="citizenIssuedDate"
                                                        name="citizenIssuedDate"
                                                        placeholder="जारी मिति"
                                                        type="text"/>
          जि.प्र.का <input class="form-field form-control-sm nepaliFont"
                      formControlName="citizenIssuedDistrict"
                      name="citizenIssuedDistrict"
                      placeholder=" जि.प्र.का "
                      type="text"/>)
          <div class="col-md-12 text-right">
            <button
                (click)="removeCustomerDetail(index)"
                *ngIf="index > 0"
                nbButton size="small"
                status="primary">हटाउनुहोस्..
            </button>
          </div>
        </li>
      </ng-container>
      <div class="row mr-1 mb-3">
        <div class="col-md-12 text-right">
          <button nbButton size="small" status="info" (click)="addCustomerDetail()">थप्नुहोस्..</button>
        </div>
      </div>
      ले माग गरेको बखत वा पटक पटक वा एकै पटक गरी र नवीकरण गर्नु परेमा सो समेत गर्न सक्ने गरी
      <input class="form-field form-control-sm nepaliFont"
             formControlName="loanName"
             name="loanName"
             placeholder="कर्जा शिर्षक"
             type="text"/>कर्जा शिर्षक अन्तर्गत वार्षिक<input class="form-field form-control-sm nepaliFont"
                                                              formControlName="interestRateLoan"
                                                              name="interestRateLoan"
                                                              placeholder="कर्जा दर"
                                                              type="text"/> प्रतिशतका दरले जम्मा अवधि <input class="form-field form-control-sm nepaliFont"
                                                                                                             formControlName="loanTenure"
                                                                                                             name="loanTenure"
                                                                                                             placeholder="कर्जा अवधि"
                                                                                                             type="text"/>
      वर्ष/महिना सम्मका लागि कर्जा सुविधा वापत रु<input class="form-field form-control-sm nepaliFont"
                                                        formControlName="loanAmount"
                                                        name="loanAmount"
                                                        placeholder="कर्जा"
                                                        type="text"/>।–
      (अक्षरेपी<input class="form-field form-control-sm nepaliFont"
                      formControlName="loanAmountInWord"
                      name="loanAmountInWord"
                      placeholder="अक्षरेपी"
                      type="text"/>मात्र)
      सम्म धनी कम्पनीबाट लिने भएको हु“दा सो रकमको लागि धितो सुरक्षण लेखी दिनको लागि सोधनी हु“दा मेरो/हाम्रो चित्त बुझ्यो । धनी कम्पनीबाट तोकी दिएको
      शर्त कबुलियत तमसुक तथा सो मा उल्लेखित अवधि भित्र चुक्ता गर्ने गरी माग गरेको बखत वा पटक पटक गरी वा एकै पटक नविकरण गर्नु पर्नेमा सो समेत गर्न सक्ने
      गरी लिएको उक्त रकम सम्म वा धितोको मूल्यले खामे सम्मको वा धनी कम्पनीले पत्याए सम्मको कर्जा रकम लिन दिनमा मेरो/हाम्रो मञ्जुरी छ । सो सम्बन्धी कारोवार
      गर्दा धनी कम्पनीले तोकिदिएको शर्त अनुसार प्रवाह भएको सम्पूर्ण रकमको सा“वा ब्याज, पेनाल्टी ब्याज र ऋणस“ग  सम्बन्धित अन्य रकम समेत तपाई धनी कम्पनीले
      तिर्नु बुझाउनु भनी दिएको सूचना पाउना साथ तिर्ने बुझाउने छु/छौं । नतिरी नबुझाई बसेमा सा“वा, ब्याज, पेनाल्टी तथा अन्य दै–दस्तुर समेतको रकम असुल उपर गरी
      लिन तपशिल बमोजिमको मेरो/हाम्रो एकलौटी/संयुक्त हकभोग र स्वामित्वको अन्य कसैलाई पनि कुनै पनि व्यहोराले धितो बन्धक लेखि वा हक स्तान्तरण गरी नदिएको र
      कुनै मुद्दा मामिलामा नपरेको जायजेथा र सो जायजेथामा हाल भएको सम्पूर्ण लिगलपात तथा भविष्यमा थप हुने घर टहरा  तथा अन्य लिगलपात समेत धनी कम्पनीलाई
      धितो लेखिदिन मञ्जुर छ,छैन भनी सोधनी भएकोमा धितो लेखिदिन मेरो पूर्ण मञ्जुरी भई यो धितो लिखत लेखी दिएको छु/छौं साथै पुनः सोही धितोबाट सो कम्पनी वा
      अन्य वित्तीय संस्थाबाट अरु कर्जा लिन परेको खण्डमा समेत तपाई धनी कम्पनीको सहमती लिन मञ्जुर गर्दछु/छौं । साथै प्रस्तुत धितो लिखतबाट प्रवाह भएको कर्जाको अवधि
      सम्मको लागि यस कम्पनीले अन्य कुनै पनि बैंक वा वित्तिय संस्थामा यस धितो लिखतमा लेखिएकै जायजेथा पुनर्धितो लेखाई कर्जा कारोवार गर्न समेत मञ्जुरी प्रदान गरेको
      छु/छौं । कथम्कदाचित उक्त कर्जा सा“वा, ब्याज, हर्जाना ब्याज तथा अन्य दै–दस्तुर समेत नतिरे नबुझाएमा प्रचलित कानून बमोजिम तपाई धनी कम्पनीले धितो सुरक्षण
      वापतको जायजेथा लिलाम बिक्री वा अन्य व्यवस्था गरी उपरोक्त धितो सुरक्षण वापतको जायजेथाबाट आफ्नो लेना रकम असुल उपर गरिलिएमा तथा सो सुरक्षण वापतको
      सम्पती कच्चा भई वा अन्य जुनसुकै कारणले कम्पानीको लेना रकम असुल हुन नसकेमा मेरो/हाम्रो तथा मेरो/हाम्रो एकाघर सदस्यको नाममा रहेको अन्य चल अचल सम्पती,
      मेरो/हाम्रो स्वामित्वमा रहेको र भविष्यमा मेरो/हाम्रो स्वामित्वमा आउने सम्पूर्ण चल अचल सम्पती समेतबाट असुल उपर गरेमा पूर्णतः मञ्जुरी छ । पछि कुनै उजुर बाजुर
      गर्ने छैन/छैनौं, गरे यसै लिखतले बदर होस् भनी मेरो/हाम्रो मनोमान राजीखुसीले किनाराका साक्षीहरुको रोहवरमा तपाई धनी एम.ए.डब्लु.इन्भेष्टमेण्ट प्रा.लि. को कार्यालय,
      त्रिपुरेश्वर, टेकु रोड, काठमाडौंमा बसी यो धितो लिखत लेखि लेखाई सही छाप गरी तपाई धनी प्रा. लि. लाई दिए“/दियौं ।
      <div class="row">
        <div class="col-md-12 text-right">
            <button *ngIf="initialInfoPrint" [useExistingCss]="true" class="btn btn-flat btn-lg btn-secondary m-4"
                    ngxPrint printSectionId="dhito-likha-print">Print
            </button>
          <button nbButton status="success" type="submit" (click)="onSubmit()">Save</button>
        </div>

      </div>
    </form>
  </div>
</div>

<app-dhito-likhat-print *ngIf="initialInfoPrint" [letter]="initialInfoPrint" hidden></app-dhito-likhat-print>
