<nb-card>
    <nb-card-header>
        <div class="col-md-12">
            <div class="clearfix">
                <div class="float-left"><strong>Additional Documents</strong></div>
                <div class="float-right">
                    <button nbButton size="small" (click)="openAdd()"><em class="fa fa-plus"></em></button>
                </div>
            </div>

        </div>
    </nb-card-header>
    <nb-card-body>
        <table class="table table-bordered table-hover table-sm sb-small text-center ">
            <thead>
            <tr class="text-white sb-bg-dark">
                <th>S.N</th>
                <th>Document Name</th>
                <th>Attachment</th>


            </tr>
            </thead>
            <tbody>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </nb-card-body>
</nb-card>
