<div class="form-group" [id]="field.id">

    <div class="clearfix">
        <div class="float-left"><label
                class="sb-small cursor"
                [ngStyle]="{'color': selectedField?.id == field?.id ? 'red' : ''}"><strong>{{field?.settings[0].value}}</strong></label>
            <sup class="text-danger"
                 *ngIf="field?.settings[3]?.value">*</sup></div>
        <div class="float-right showHide">
            <nb-icon icon="minus-square-outline" status="warning"
                     (click)="removeElement()"
                     *ngIf="selectedField?.id == field?.id"></nb-icon>
        </div>


    </div>
    <textarea *ngIf="!field?.settings[4]?.value"
              class="form-control form-control-sm"
              [rows]="field?.settings[5]?.value"
              [placeholder]="field?.settings[1]?.value"></textarea>
    <ckeditor *ngIf="field?.settings[4]?.value"
              [config]="ckeConfig"></ckeditor>
</div>
