@import "src/app/feature/credit-administration/cad-document-template/progressive/progressive-offer-letter/progressive-offer-letter.component";

#fingerXap {
  width: 500px;

  text-align: center;
}

.fingerXap {
  width: 500px;

  text-align: center;
}

#lastDiv {
  height: 100%;
  width: 100%;
  margin: auto;
}
