 <div class="modal-dialog modal-default">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                  
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="reloadPage()">&times;</button>
            </div>
            <div class="modal-body text-center">
              Are You Sure to change the Status  to {{data.status}}?
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="reloadPage()">No</button>
                <button class="btn btn-success" (click)="updateStatus(data)" data-dismiss="modal">Yes</button>
              </div>
        </div>
    </div>
