<ol>
    <div class="row">
        <div class="col-md-12">
            <span class="float-right"><strong>Group Code:</strong><em>{{mGroup?.groupCode || 'NA'}}</em></span>
        </div>
        <div class="col-md-12" *ngIf="isAboveTen || isUptoTwo">
            <table class="table table-responsive-md table-bordered sb-small text-center table-sm">
                <thead>
                <tr class="sb-bg-dark text-white">
                    <th>DETAIL INFORMATION</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="12" class="text-left pl-1 " [innerHTML]="mGroup?.detailInformation || 'NA' | safeHtml"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <li *ngIf="isBelowTen || isSana || customerCategory === 'executing' || customerType === 'INDIVIDUAL'"
        class="font-weight-bold">
        <span> GROUP LIMIT {{groupPosition?.length > 0 ? '' : ': NA'}}</span>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-responsive-md table-bordered text-center table-sm sb-small"
                       *ngIf="groupPosition?.length > 0">
                    <thead class="sb-bg-dark text-white">
                    <tr>
                        <th rowspan="2" class="sn">SN</th>
                        <th rowspan="2">Group concerns/Borrowers</th>
                        <th colspan="3">Existing</th>
                        <th colspan="3">Proposed</th>
                        <th rowspan="2">Change</th>
                        <th rowspan="2">Pricing</th>
                        <th rowspan="2">Maturity</th>
                    </tr>
                    <tr>
                        <th>FB limit</th>
                        <th>NFB limit</th>
                        <th>Total</th>
                        <th>FB limit</th>
                        <th>NFB limit</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of groupPosition; let i = index">
                        <td>{{i + 1}}</td>
                        <td class="text-left pl-1">{{data?.concernName}}</td>
                        <td>Rs. {{data?.exFunded | currencyFormatter}}</td>
                        <td>Rs. {{data?.exNonFunded | currencyFormatter}}</td>
                        <td>Rs. {{data?.exTotal | currencyFormatter}}</td>
                        <td>Rs. {{data?.proFunded | currencyFormatter}}</td>
                        <td>Rs. {{data?.proNonFunded | currencyFormatter}}</td>
                        <td>Rs. {{data?.proTotal | currencyFormatter}}</td>
                        <td>Rs. {{data?.changeAmount | currencyFormatter}}</td>
                        <td>{{data?.pricing | currencyFormatter}}</td>
                        <td>{{data?.maturity | currencyFormatter}}</td>
                    </tr>
                    <tr class="sb-bg-secondary">
                        <th colspan="2">Total</th>
                        <th>Rs. {{totalAmount?.totalExFunded | currencyFormatter}}</th>
                        <th>Rs. {{totalAmount?.totalExNonFunded | currencyFormatter}}</th>
                        <th>Rs. {{totalAmount?.totalExTotal | currencyFormatter}}</th>
                        <th>Rs. {{totalAmount?.totalProFunded | currencyFormatter}}</th>
                        <th>Rs. {{totalAmount?.totalProNonFunded | currencyFormatter}}</th>
                        <th>Rs. {{totalAmount?.totalProTotal | currencyFormatter}}</th>
                        <th>Rs. {{totalAmount?.totalChanges | currencyFormatter}}</th>
                        <th>-</th>
                        <th>-</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </li>

    <li *ngIf="customerType === 'INSTITUTION' && customerCategory === 'executing'" class="font-weight-bold">
        <span><strong> OUTSTANDING, OVERDUE and R/E COLLATERAL</strong></span>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-responsive-md table-bordered sb-small text-center table-sm">
                    <tbody>
                    <tr>
                        <td colspan="12" class="text-left pl-1 "
                            [innerHTML]="(mGroup?.outstandingOverdue) || 'NA' "></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </li>

    <li *ngIf="isSana || isBelowTen" class="font-weight-bold">
        <span><strong> DETAIL OF SECURITY HELD FOR GROUP EXPOSURE</strong></span>
        <div class="row">
            <div class="col-md-12">
                <span [innerHTML]="mGroup?.securityHeld || 'NA' | safeHtml"></span>
            </div>
        </div>
    </li>
</ol>
