*{
  line-height: 1.9em;
  font-size: 19px !important;
}
ol.conditions-list{
  list-style: devanagari;
  padding-left: 20px;
  line-height: 40px !important;
  padding-bottom: 5px;
  text-align: justify !important;
  .nepaliFont1 {
    font-size: 26px !important;
    font-family: Preeti;
  }
}
ol li, p {
  font-size: 19px;
  line-height: 1.9em;
}
ol li {
  padding-left: 1em;
}
