<div class="mr-4">
    <div class="d-flex justify-content-between">
        <p>Amount in Millions</p>
    </div>
</div>
<table class="table table-bordered table-sm sb-small">
    <tr class="sb-bg-dark text-white">
        <td>SN</td>
        <td>Owner</td>
        <td>Location</td>
        <td>Plot #</td>
        <td>Land Area</td>
        <td>MV</td>
        <td>FMV</td>
        <td>DV</td>
        <td>Mortgage Value</td>
    </tr>
    <tr>
        <td></td>
        <td rowspan="3">Mr/Ms ....... (borrower/relations with borrower)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Land ownership type: freehold, bitauri ..........</td>
        <td>Land Total:</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Building/s (Plot # ..........)</td>
        <td>Building Area</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="5">Land and building/s total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="5">Plant and machinery (WDV: NPR ........... mio.)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="5">Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<table class="col-md-8 table table-bordered table-sm sb-small">
    <tr>
        <td>Zoning Type</td>
        <td>residential/commercial/farmland .........</td>
    </tr>
    <tr>
        <td>Access Road</td>
        <td>type (pitch, gravel); width ......... ft</td>
    </tr>
    <tr>
        <td>Set back/adverse features</td>
        <td>River ......... /high tension line/monument, ..... </td>
    </tr>
    <tr>
        <td>Google Co-ordinates</td>
        <td></td>
    </tr>
    <tr>
        <td>Latest Collateral Visited by</td>
        <td></td>
    </tr>
    <tr>
        <td>Latest Collateral Visit Date</td>
        <td></td>
    </tr>
    <tr>
        <td>Valuator</td>
        <td></td>
    </tr>
    <tr>
        <td>Valuation date</td>
        <td></td>
    </tr>
</table>
<table class="table table-bordered table-sm sb-small">
    <tr class="sb-bg-dark text-white">
        <td>SN</td>
        <td>Owner</td>
        <td>Location</td>
        <td>Plot #</td>
        <td>Land Area</td>
        <td>MV</td>
        <td>FMV</td>
        <td>DV</td>
        <td>Mortgage Value</td>
    </tr>
    <tr>
        <td></td>
        <td rowspan="3">Mr/Ms ....... (borrower/relations with borrower)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Land ownership type: freehold, bitauri ..........</td>
        <td>Land Total:</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Building/s (Plot # ..........)</td>
        <td>Building Area</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="5">Land and building/s total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="5">Plant and machinery (WDV: NPR ........... mio.)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="5">Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<table class="col-md-8 table table-bordered table-sm sb-small">
    <tr>
        <td>Zoning Type</td>
        <td>residential/commercial/farmland .........</td>
    </tr>
    <tr>
        <td>Access Road</td>
        <td>type (pitch, gravel); width ......... ft</td>
    </tr>
    <tr>
        <td>Set back/adverse features</td>
        <td>River ......... /high tension line/monument, ..... </td>
    </tr>
    <tr>
        <td>Google Co-ordinates</td>
        <td></td>
    </tr>
    <tr>
        <td>Latest Collateral Visited by</td>
        <td></td>
    </tr>
    <tr>
        <td>Latest Collateral Visit Date</td>
        <td></td>
    </tr>
    <tr>
        <td>Valuator</td>
        <td></td>
    </tr>
    <tr>
        <td>Valuation date</td>
        <td></td>
    </tr>
</table>
<table class="col-md-12 table table-bordered table-sm sb-small">
    <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<table class="col-md-12 table table-bordered table-sm sb-small">
    <tr>
        <td rowspan="5">Type of Fixed Assets-wise Breakdown</td>
        <td></td>
        <td>MV</td>
        <td>FMV</td>
        <td>DV</td>
    </tr>
    <tr>
        <td>Land</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Building and other constructions</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Plant and machinery</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<p>Notes: (i) Details of one block of adjoining plots of land, irrespective of number of plots, to be mentioned in one
    table above if the owner is the same. </p>

