<div class="row">
    <div class="col-md-12">
        <p><strong> a. Security (already obtained)</strong></p>
        <strong *ngIf="existingSecurity1?.length > 0">Existing</strong>
        <div class="row" *ngIf="existingSecurity1?.length > 0">
            <div class="col-md-12">
                <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
                    <tr class="sb-bg-dark text-white">
                        <th>S.N</th>
                        <th>Owner</th>
                        <th>Location</th>
                        <th>Plot #</th>
                        <th>Area (Ropani)</th>
                        <th>MV</th>
                        <th>FMV</th>
                        <th>DV</th>
                    </tr>
                    <ng-container>
                        <tr *ngFor="let detail of existingSecurity1; let i= index">
                            <td class="text-center">{{i + 1}}</td>
                            <td>{{detail?.owner}}</td>
                            <td>{{detail?.location}}</td>
                            <td>{{detail?.plot}}</td>
                            <td>{{detail?.area}}</td>
                            <td>{{detail?.considerValue}}</td>
                            <td>{{detail?.marketValue}}</td>
                            <td>{{detail?.distressValue}}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="font-weight-bold">Total</td>
                            <td class="font-weight-bold">{{totalMVEx?.toFixed(2) || 0.0}}</td>
                            <td class="font-weight-bold">{{totalFMVEx?.toFixed(2) || 0.0}}</td>
                            <td class="font-weight-bold">{{totalDVEx?.toFixed(2) || 0.0}}</td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <p><strong> b. Security (to be obtained)</strong></p>
        <strong *ngIf="proposedSecurity1?.length > 0">Proposed</strong>
        <div class="row" *ngIf="proposedSecurity1?.length > 0">
            <div class="col-md-12">
                <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
                    <tr class="sb-bg-dark text-white">
                        <th>S.N</th>
                        <th>Owner</th>
                        <th>Location</th>
                        <th>Plot #</th>
                        <th>Area (Ropani)</th>
                        <th>MV</th>
                        <th>FMV</th>
                        <th>DV</th>
                    </tr>
                    <ng-container>
                        <tr *ngFor="let detail of proposedSecurity1; let i= index">
                            <td class="text-center">{{i + 1}}</td>
                            <td>{{detail?.owner}}</td>
                            <td>{{detail?.location}}</td>
                            <td>{{detail?.plot}}</td>
                            <td>{{detail?.area}}</td>
                            <td>{{detail?.considerValue}}</td>
                            <td>{{detail?.marketValue}}</td>
                            <td>{{detail?.distressValue}}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="font-weight-bold">Total</td>
                            <td class="font-weight-bold">{{totalMV?.toFixed(2) || 0.0}}</td>
                            <td class="font-weight-bold">{{totalFMV?.toFixed(2) || 0.0}}</td>
                            <td class="font-weight-bold">{{totalDV?.toFixed(2) || 0.0}}</td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <p><strong> c. Security (to be obtained)</strong></p>
        <strong *ngIf="existingAsPropose1?.length > 0">Existing as a Proposed</strong>
        <div class="row" *ngIf="existingAsPropose1?.length > 0">
            <div class="col-md-12">
                <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
                    <tr class="sb-bg-dark text-white">
                        <th>S.N</th>
                        <th>Owner</th>
                        <th>Location</th>
                        <th>Plot #</th>
                        <th>Area (Ropani)</th>
                        <th>MV</th>
                        <th>FMV</th>
                        <th>DV</th>
                    </tr>
                    <ng-container>
                        <tr *ngFor="let detail of existingAsPropose1; let i= index">
                            <td class="text-center">{{i + 1}}</td>
                            <td>{{detail?.owner}}</td>
                            <td>{{detail?.location}}</td>
                            <td>{{detail?.plot}}</td>
                            <td>{{detail?.area}}</td>
                            <td>{{detail?.considerValue}}</td>
                            <td>{{detail?.marketValue}}</td>
                            <td>{{detail?.distressValue}}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="font-weight-bold">Total</td>
                            <td class="font-weight-bold">{{totalMVAsPs?.toFixed(2) || 0.0}}</td>
                            <td class="font-weight-bold">{{totalFMVAsPs?.toFixed(2) || 0.0}}</td>
                            <td class="font-weight-bold">{{totalDVAsPs?.toFixed(2) || 0.0}}</td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
</div>
