<div class="container nep text-justify">

    <form [formGroup]="kaloSuchiBorrowerPgIndividual" class="nep" id="kaloSuchiBorrowerPgIndividualPrint">

        <div class="form-group align">

            <h6 class="text-center">
                <strong>सेञ्चुरी कमर्सि बैंक लि</strong>
            </h6>
            <br>

            <p class="text-center">
                <u>ऋणी र जमानतकर्ताले कालो सूचिमा नाम समावेश गर्ने बारेको मञ्जुरीनामा</u>
            </p>
            <br>
            <p>
                नेपाल राष्ट्र बैंकद्धारा बाणिज्य बैंक तथा वित्तीय संस्थाहरुलाई जारी गरिएको कर्जा सूचना तथा कालो सूचि
                व्यवस्था सम्बन्धी निर्देशन मलाई/हामीलाई पूर्ण जानकारी छ । सो निर्देशन बमोजजिम त्यस बैंकबाट लिएको तपसीलमा
                उल्लेखित कर्जा/सुविधाहरु तपाई धनी बैंकको नीति नियम तथा सो वापत त्यस बैंकबाट जारी भएको कर्जा स्वीकृति
                पत्र र/वा लिखतको शर्त
                मुताविक सो वापतको सांवा, ब्याज, फि, कमिशन, दस्तुर आदि जे जस्तो बुझाउनु पर्छ सो नबुझाएमा वा बुझाउन
                नलगाएमा वा माथी उल्लेखित नेपाल राष्ट्र बैंकबाट जारी भएको कर्जा सूचना तथा कालो सूचि व्यवस्था सम्बन्धी
                निर्देशनको खण्ड ४,
                ५ र १० को अवस्था सिर्जित भएमा मेरो/हाम्रो नाम प्रचलित नियम अनुसार कर्जा सूचना केन्द्र लि को कालो सूचिमा
                समावेश
                गरिएमा मेरो/हाम्रो मञ्जुरी छ ।पछि त्यसरी कालो सूचिमा राख्न मिल्ने होइन भन्ने समेत कुनै कुराको उजुर—वाजुर
                गर्ने छैन, गरे यसै कागजले बदर गरी दिनु होला भनी नेपाल राष्ट्र बैंकको कर्जा सूचना तथा कालो सूचि व्यवस्था
                सम्बन्धी निर्देशनको खण्ड १३ वमोजिम यो मन्जुरीनामाको कागज सही–छाप गरी तपाई सेञ्चुरी कमर्सियल बैंक लि. लाई
                दिएको छु/छौं ।
            </p>
            <p style="text-align: center">
                <u>तपसील</u>
            </p>
            <div>
                <table>
                    <tr>
                        <td class="align-text-top leftWidth">ऋणीको नाम</td>
                        <td class="align-text-top">
                            : <input class="form-field form-control-sm nepaliFont disable-print"
                                     formControlName="borrowerName"
                                     type="text"/>
                            <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('borrowerName').value ? kaloSuchiBorrowerPgIndividual.get('borrowerName').value : '========='}}</b></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-text-top">ठेगाना</td>
                        <td class="align-text-top">:
                            <input class="form-field form-control-sm nepaliFont disable-print"
                                   formControlName="districtPermanent" type="text"/>
                            <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('districtPermanent').value ? kaloSuchiBorrowerPgIndividual.get('districtPermanent').value : '========='}}</b></span>
                            जिल्ला
                            <input class="form-field form-control-sm nepaliFont disable-print"
                                   formControlName="municipalityPermanent" type="text"/>
                            <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('municipalityPermanent').value ? kaloSuchiBorrowerPgIndividual.get('municipalityPermanent').value : '========='}}</b></span>
                            गा.वि.स/न.पा वडा नं
                            <input class="form-field form-control-sm nepaliFont disable-print"
                                   formControlName="wardNumPermanent"
                                   type="text"/>
                            <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('wardNumPermanent').value ? kaloSuchiBorrowerPgIndividual.get('wardNumPermanent').value : '========='}}</b></span>
                            ,
                            <input class="form-field form-control-sm nepaliFont disable-print"
                                   formControlName="tolePermanent"
                                   type="text"/>
                            <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('tolePermanent').value ? kaloSuchiBorrowerPgIndividual.get('tolePermanent').value : '========='}}</b></span>
                            स्थाई ठेगाना भई हाल
                            <input class="form-field form-control-sm nepaliFont disable-print"
                                   formControlName="provinceCurrent"
                                   type="text"/>
                            <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('provinceCurrent').value ? kaloSuchiBorrowerPgIndividual.get('provinceCurrent').value : '========='}}</b></span>
                            प्रदेश
                            <input class="form-field form-control-sm nepaliFont disable-print"
                                   formControlName="districtCurrent"
                                   type="text"/>
                            <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('districtCurrent').value ? kaloSuchiBorrowerPgIndividual.get('districtCurrent').value : '========='}}</b></span>
                            जिल्ला
                            <input class="form-field form-control-sm nepaliFont disable-print"
                                   formControlName="municipalityCurrent"
                                   type="text"/>
                            <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('municipalityCurrent').value ? kaloSuchiBorrowerPgIndividual.get('municipalityCurrent').value : '========='}}</b></span>
                            न.पा.वडा नं.
                            <input class="form-field form-control-sm nepaliFont disable-print"
                                   formControlName="wardCurrent"
                                   type="text"/>
                            <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('toleCurrent').value ? kaloSuchiBorrowerPgIndividual.get('wardCurrent').value : '========='}}</b></span>
                            ,
                            <input class="form-field form-control-sm nepaliFont disable-print"
                                   formControlName="wardCurrent"
                                   type="text"/>
                            <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('toleCurrent').value ? kaloSuchiBorrowerPgIndividual.get('toleCurrent').value : '========='}}</b></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-text-top">कर्जा/सुविधा विवरण</td>
                        <td class="align-text-top">:
                            <input class="form-field form-control-sm nepaliFont disable-print"
                                   formControlName="loanFacilityTypeNepali" type="text"/>
                            <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('loanFacilityTypeNepali').value ? kaloSuchiBorrowerPgIndividual.get('loanFacilityTypeNepali').value : '========='}}</b></span>
                        </td>
                    </tr>
                </table>
                <br>
                <hr>
                <br>
                <p>
                    मञ्जुरी दिनेको नाम :
                    <input class="form-field form-control-sm nepaliFont disable-print" formControlName="guarantorName"
                           type="text"/>
                    <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('guarantorName').value ? kaloSuchiBorrowerPgIndividual.get('guarantorName').value : '========='}}</b></span>
                    <br>
                    ऋणीसंगको सम्बन्ध :
                    <input class="form-field form-control-sm nepaliFont disable-print" formControlName="relationship"
                           type="text"/>
                    <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('relationship').value ? kaloSuchiBorrowerPgIndividual.get('relationship').value : '========='}}</b></span>

                </p>
                <div style="margin-left: 38px;">
                    <p>
                        बाबु :- <input class="form-field form-control-sm nepaliFont disable-print"
                                       formControlName="guarantorFatherName" type="text"/>
                        <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('guarantorFatherName').value ? kaloSuchiBorrowerPgIndividual.get('guarantorFatherName').value : '========='}}</b></span>
                        <br>
                        ससुरा/बाजे :- <input class="form-field form-control-sm nepaliFont disable-print"
                                             formControlName="guarantorFatherInLawName" type="text"/>
                        <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('guarantorFatherInLawName').value ? kaloSuchiBorrowerPgIndividual.get('guarantorFatherInLawName').value : '========='}}</b></span>
                        /
                        <input class="form-field form-control-sm nepaliFont disable-print"
                               formControlName="guarantorGFatherName" type="text"/>
                        <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('guarantorGFatherName').value ? kaloSuchiBorrowerPgIndividual.get('guarantorGFatherName').value : '========='}}</b></span>

                        <br>
                        पति :- <input class="form-field form-control-sm nepaliFont disable-print"
                                      formControlName="guarantorHusbandName" type="text"/>
                        <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('guarantorHusbandName').value ? kaloSuchiBorrowerPgIndividual.get('guarantorHusbandName').value : '========='}}</b></span>
                        <br>
                        ठेगाना :-
                        <input class="form-field form-control-sm nepaliFont disable-print"
                               formControlName="guarantorDistrictPermanent" type="text"/>
                        <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('guarantorDistrictPermanent').value ? kaloSuchiBorrowerPgIndividual.get('guarantorDistrictPermanent').value : '========='}}</b></span>

                        जिल्ला
                        <input class="form-field form-control-sm nepaliFont disable-print"
                               formControlName="guarantorMunicipalityPermanent" type="text"/>
                        <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('guarantorMunicipalityPermanent').value ? kaloSuchiBorrowerPgIndividual.get('guarantorMunicipalityPermanent').value : '========='}}</b></span>

                        गा.वि.स/न.पा वडा नं.
                        <input class="form-field form-control-sm nepaliFont disable-print"
                               formControlName="guarantorWardPermanent" type="text"/>
                        <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('guarantorWardPermanent').value ? kaloSuchiBorrowerPgIndividual.get('guarantorWardPermanent').value : '========='}}</b></span>
                        ,
                        <input class="form-field form-control-sm nepaliFont disable-print"
                               formControlName="guarantorTolePermanent" type="text"/>
                        <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('guarantorTolePermanent').value ? kaloSuchiBorrowerPgIndividual.get('guarantorTolePermanent').value : '========='}}</b></span>

                        स्थाई ठेगाना भई हाल
                        <input class="form-field form-control-sm nepaliFont disable-print"
                               formControlName="guarantorCurProvince" type="text"/>
                        <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('guarantorCurProvince').value ? kaloSuchiBorrowerPgIndividual.get('guarantorCurProvince').value : '========='}}</b></span>

                        प्रदेश
                        <input class="form-field form-control-sm nepaliFont disable-print"
                               formControlName="guarantorCurDistrict" type="text"/>
                        <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('guarantorCurDistrict').value ? kaloSuchiBorrowerPgIndividual.get('guarantorCurDistrict').value : '========='}}</b></span>

                        जिल्ला
                        <input class="form-field form-control-sm nepaliFont disable-print"
                               formControlName="guarantorCurMunicipality" type="text"/>
                        <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('guarantorCurMunicipality').value ? kaloSuchiBorrowerPgIndividual.get('guarantorCurMunicipality').value : '========='}}</b></span>

                        न.पा.वडा नं.
                        <input class="form-field form-control-sm nepaliFont disable-print"
                               formControlName="guarantorCurWard"
                               type="text"/>
                        <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('guarantorCurWard').value ? kaloSuchiBorrowerPgIndividual.get('guarantorCurWard').value : '========='}}</b></span>
                    ,
                        <input class="form-field form-control-sm nepaliFont disable-print"
                               formControlName="guarantorCurTole"
                               type="text"/>
                        <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('guarantorCurTole').value ? kaloSuchiBorrowerPgIndividual.get('guarantorCurTole').value : '========='}}</b></span>

                    </p>
                </div>
                <p>
                    ना.प्र.नं <input class="form-field form-control-sm nepaliFont disable-print"
                                     formControlName="guarantorCitizenshipNum" type="text"/>
                    <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('guarantorCitizenshipNum').value ? kaloSuchiBorrowerPgIndividual.get('guarantorCitizenshipNum').value : '========='}}</b></span>

                    जारी मिति <input class="form-field form-control-sm nepaliFont disable-print"
                                     formControlName="gurantorCitizenshipIssuedDate" type="text"/>
                    <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('gurantorCitizenshipIssuedDate').value ? kaloSuchiBorrowerPgIndividual.get('gurantorCitizenshipIssuedDate').value : '========='}}</b></span>

                    जारी गर्ने कार्यालय जि.प्र.का <input class="form-field form-control-sm nepaliFont disable-print"
                                                         formControlName="gurantorCitizenshipIssuingOffice"
                                                         type="text"/>
                    <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('gurantorCitizenshipIssuingOffice').value ? kaloSuchiBorrowerPgIndividual.get('gurantorCitizenshipIssuingOffice').value : '========='}}</b></span>
                </p>

                <div class="row" style="padding-top: 50px">

                    <div class="col-md-5">मिति :
                        <input class="form-field form-control-sm nepaliFont disable-print" formControlName="date"
                               type="text"/>
                        <span class="print-only nepaliFont"><b>{{kaloSuchiBorrowerPgIndividual.get('date').value ? kaloSuchiBorrowerPgIndividual.get('date').value : '========='}}</b></span>

                    </div>
                    <div class="col-md-6">दस्तखत ...................................</div>
                </div>
                <div class="row disable-print">
                    <div class="col-md-12 text-right">
                        <button nbButton ngxPrint [useExistingCss]="true" styleSheetFile="assets/css/printStyles.scss"
                                printSectionId="kaloSuchiBorrowerPgIndividualPrint" (click)="submit()" class="mr-2"
                                status="basic">Save & Print
                        </button>
                        <button nbButton ngxPrint [useExistingCss]="true" styleSheetFile="assets/css/printStyles.scss"
                                printSectionId="kaloSuchiBorrowerPgIndividualPrint" class="mr-2 custom-color">Print
                        </button>
                        <button nbButton status="success" (click)="submit()">Save</button>

                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
