<nb-card class="m-0">
    <nb-card-header>
        Valuator Inactive Reason
        <a (click)="closeModal()" aria-hidden="true" class="close cursor">&times;</a>
    </nb-card-header>
    <nb-card-body>
        <div class="col-md-6">
            <label for="inactiveCode"><strong>Inactive Code</strong></label>
            <select [(ngModel)]="data.state" class="form-control" id="inactiveCode">
                <option [ngValue]="null" hidden>Select code</option>
                <option ngValue="BLACKLISTED">BLACKLISTED</option>
                <option ngValue="SUSPENDED">SUSPENDED</option>
                <option [ngValue]="null">NONE</option>
            </select>
        </div>
        <hr>
        <div class="col-md-12">
            <label for="inactiveCode"><strong>Inactive reason</strong></label>
            <textarea [(ngModel)]="data.inactiveComment" class="form-control" id="inactiveComment" rows="4"></textarea>
        </div>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button nbButton outline status="primary" (click)="closeModal()" class="btn btn-flat btn-sm cursor" type="button">Cancel</button>
        <button nbButton status="primary" (click)="setInactiveComment()" class="btn btn-flat btn-sm"
                type="button">Save
        </button>
    </nb-card-footer>
</nb-card>
