table, th, td {
  padding: 0px;
  margin: 0px !important;
}
table {
  border-collapse: collapse !important;
}
.table-bordered, th, td {
  border: 1px solid black !important;
}
hr.print-line {
  border-top: 1px solid black;
}
