<nb-card accent="primary">
  <nb-card-header>
    Customer Loan Information
  </nb-card-header>

  <nb-card-body>
    <div class="row">

      <div class="col-md-4">
        <div class="row">
          <nb-card class="col-md-11 py-2" #itemSiteVisit>
            <a class="cursor info-label" (click)="openModel(itemSiteVisitTemplate)">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    SITE VISIT
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="customerInfo?.siteVisit" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!customerInfo?.siteVisit" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemSiteVisitTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              Site Visit
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-site-visit #siteVisitComponent
                              (siteVisitDataEmitter)="saveSiteVisit($event);"
                              [formValue]="customerInfo?.siteVisit"
                              [customerInfo]="customerInfo"
                              [fromProfile]="true"></app-site-visit>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card class="col-md-11 py-2" #ciclComponent>
            <a class="cursor info-label" (click)="openModel(ciclComponentTemplate)">
              <div class="row">
                <div class="col-md-8">
                  <p class="custom-font">CICL</p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="customerInfo?.cicl" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!customerInfo?.cicl" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>

        <ng-template #ciclComponentTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              CICL
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-cicl #ciclComponent [ciclValue]="ciclResponse" [fromProfile]="true"
                        (ciclDataEmitter)="saveCICL($event)"></app-cicl>

            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4" >
        <div class="row">
          <nb-card class="col-md-11 py-2" #itemFinancial>
            <a class="cursor info-label" (click)="openModel(itemFinancialTemplate)">
              <div class="row">
                <div class="col-md-8">
                  <p class="custom-font">
                    <span *ngIf="customerInfo?.customerType == customerType.INDIVIDUAL">INCOME & EXPENSES</span>
                    <span *ngIf="customerInfo?.customerType == customerType.INSTITUTION">FINANCIAL</span>
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="customerInfo?.financial" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!customerInfo?.financial" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemFinancialTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
                <span
                        *ngIf="customerInfo?.customerType == customerType.INDIVIDUAL">INCOME & EXPENSES</span>
                          <span *ngIf="customerInfo?.customerType == customerType.INSTITUTION">FINANCIAL</span>
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-financial #financialComponent
                             (financialDataEmitter)="saveFinancial($event)"
                             [formData]="customerInfo?.financial"
                             [fromProfile]="true"></app-financial>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card class="col-md-11 py-2" #itemIncomeFromAccount>
            <a class="cursor info-label" (click)="openModel(inccomeFromAccountComponentTemplate)">
              <div class="row">
                <div class="col-md-10">
                  <p class="custom-font">INCOME FROM ACCOUNT</p>
                </div>
                <div class="col-md-2 d-flex justify-content-end">
              <span *ngIf="customerInfo?.incomeFromAccount" style="color:green"
                    title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!customerInfo?.incomeFromAccount" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #inccomeFromAccountComponentTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>INCOME FROM ACCOUNT
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-income-from-account [incomeFromAccountDataResponse]="incomeFromAccountDataResponse"
                                       [customerInfo]="customerInfo"
                                       [fromProfile]="true"
                                       (incomeFromAccountDataEmitter)="saveIncomeFromAccount($event)">
              </app-income-from-account>

            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4"  *ngIf="customerInfo?.customerType === 'INSTITUTION'">
        <div class="row">
          <nb-card class="col-md-11 py-2" #itemNetTradingAssets>
            <a class="cursor info-label" (click)="openModel(itemNetTradingAssetsTemplate)">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    NET TRADING ASSETS (NTA)
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
            <span *ngIf="customerInfo?.netTradingAssets" style="color:green"
                  title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!customerInfo?.netTradingAssets" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemNetTradingAssetsTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              NET TRADING ASSETS (NTA)
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-net-trading-assets (netTradingAssetsEventEmitter) = "saveNetTradingAssets($event)"
                                      [fromProfile]=true
                                      [netTradingAssetsData]="netTradingAssets">

              </app-net-trading-assets>

            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card class="col-md-11 py-2" #itemSecurity>
            <a class="cursor info-label" (click)="openModel(itemSecurityTemplate)">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    SECURITY
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
            <span *ngIf="customerInfo?.security !== null" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span *ngIf="customerInfo?.security == null" style="color:red" title="Status :Not Saved">
                <em class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemSecurityTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              SECURITY
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-security
                      (securityDataEmitter)="saveSecurity($event)"
                      (submittedCheck)="submittedCheck1($event)"
                      [submittedCheckFromParent] = "submittedCheck"
                      [calendarType]="calendarType"
                      [fromProfile]="true"
                      [securityValue]="customerInfo?.security"
                      [customerType]="customerInfo?.customerType"
                      [shareSecurity]="customerInfo?.shareSecurity"
                      [customerInfo]="customerInfo"></app-security>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card class="col-md-11 py-2" #itemGuarantor>
            <a class="cursor info-label" (click)="openModel(itemGuarantorTemplate)">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    GUARANTOR
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                   <span *ngIf="customerInfo?.guarantors !== null" style="color:green"
                         title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span *ngIf="customerInfo?.guarantors == null" style="color:red"
                        title="Status :Not Saved">
                <em class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemGuarantorTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              GUARANTOR
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-guarantor #guarantorComponent
                             (guarantorDataEmitter)="saveGuarantor($event)"
                             [calendarType]="calendarType"
                             [fromProfile]="true"
                             [guarantorDetailValue]="customerInfo?.guarantors" [customerInfo]="customerInfo"></app-guarantor>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card class="col-md-11 py-2" #itemInsurance>
            <a class="cursor info-label" (click)="openModel(itemInsuranceTemplate)">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    INSURANCE
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="insurance?.length>0" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="insurance?.length == 0" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemInsuranceTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              INSURANCE
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-insurance
                      (insuranceDataEmitter)="saveInsurance($event)"
                      [insuranceDataFromModel]="customerInfo?.insurance"
                      [fromProfile]="true" [customerInfo]="customerInfo"></app-insurance>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card class="col-md-11 py-2" #itemloanChecklist>
            <a class="cursor info-label" (click)="openModel(itemloanChecklistTemplate)">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    CREDIT CHECKLIST
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                  <span *ngIf="creditChecklistGeneral" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!creditChecklistGeneral" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemloanChecklistTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              CREDIT CHECKLIST
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-credit-checklist-general
                      (creditChecklistGeneralEmitter)="saveCreditChecklist($event)"
                      [formData]="customerInfo?.creditChecklist"
                      [fromProfile]="true"
                      [calendarType]="calendarType"
                      [customerType]="customerInfo?.customerType"
              ></app-credit-checklist-general>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card class="col-md-11 py-2" #itemReportingInfoLevel>
            <a class="cursor info-label" (click)="openModel(itemReportingInfoLevelTemplate)">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    MIS/NRB REPORTING
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                <span style="color: green" title="Status : Saved">
                <em *ngIf="reportingInfoLevelCode && reportingInfoLevelDescription"
                    class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color: red" title="Status : Not Saved">
                <em *ngIf="!reportingInfoLevelCode && !reportingInfoLevelDescription"
                    class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemReportingInfoLevelTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              MIS/NRB REPORTING
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-reporting-info-tagging #reportingInfoTagging
                                          (reportingInfoLevelsEmitter)="saveCustomerReportingInfo($event)"
                                          [type]="'c'"
                                          [reportingInfoLevels]="customerInfo?.reportingInfoLevels"></app-reporting-info-tagging>
              <div>
                <button class="btn float-right d-flex justify-content-end" (click)="reportingInfoTaggingComponent.onSubmit()" type="submit" nbButton>Save</button>
              </div>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card class="col-md-11 py-2" #itemCommentsFromAccount>
            <a class="cursor info-label" (click)="openModel(itemCommentsFromAccountTemplate)">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    NRB/STATUTORY AUDITORS/INTERNAL AUDITORS REMARKS AND THEIR STATUS
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                <span style="color: green" title="Status : Saved">
                <em *ngIf="checkedPreviousComments"
                    class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color: red" title="Status : Not Saved">
                <em *ngIf="!checkedPreviousComments"
                    class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemCommentsFromAccountTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              NRB/STATUTORY AUDITORS/INTERNAL AUDITORS REMARKS AND THEIR STATUS
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-comments
                      #commentsInfoTagging
                      [commentsDataResponse]="commentsDataResponse"
                      [commentData]="customerInfo?.data"
                      [fromProfile]="true"
                      (commentsDataEmitter)="saveDataFromComments($event)">
              </app-comments>
              <div>
                <button class="btn float-right d-flex justify-content-end" (click)="commentsComponent.submitForm()" type="submit" nbButton>Save</button>
              </div>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card class="col-md-11 py-2" #dataFromPreviousSecurity>
            <a class="cursor info-label" (click)="openModel(dataFromPreviousSecurityTemplate)">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    PREVIOUS SECURITY
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
     <span *ngIf="checkedPreviousSecurity" style="color:green" title="Status : Saved">
                       <em class="fas fa-check-circle px-2"></em>
                     </span>
                     <span style="color:red" title="Status :Not Saved">
                       <em *ngIf="!checkedPreviousSecurity" class="fas fa-times-circle px-2"></em>
                     </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #dataFromPreviousSecurityTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              PREVIOUS SECURITY
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-previous-security
                      #previousSecurityInfoTagging
                      [securityDataResponse]="securityDataResponse"
                      [securityData]="customerInfo?.data"
                      [commentData]="customerInfo?.data"
                      [fromProfile]="true"
                      (securityDataEmitter)="saveDataFromSecurity($event)">
              </app-previous-security>
              <div>
                <button class="btn float-right d-flex justify-content-end" (click)="previousSecurityComponent.submitForm()" type="submit" nbButton>Save</button>
              </div>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4"  >
        <div class="row">
          <nb-card class="col-md-11 py-2">
            <a class="cursor info-label" (click)="openModel(commonLoanDatas)">
              <div class="row">
                <div class="col-md-8">
                  <p class="custom-font">Common Loan Data</p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span style="color: green" title="Status : Saved">
                <em *ngIf="customerInfo?.commonLoanData"
                    class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color: red" title="Status : Not Saved">
                <em *ngIf="!customerInfo?.commonLoanData"
                    class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <nb-card class="col-md-11 py-2" #dataFromMultiBanking>
            <a class="cursor info-label" (click)="openModel(dataFromMultiBankingTemplate)">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    BANKING ARRANGEMENT
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                <span *ngIf="multiBankingResponse" style="color:green"
                      title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!multiBankingResponse" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #dataFromMultiBankingTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              BANKING ARRANGEMENT
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-multiple-banking
                      #multipleBankingComponent
                      [fromProfile]="true"
                      [multiBankingData]="customerInfo?.multiBanking"
                      [customerCategory]="customerInfo?.customerCategory"
                      (multiBankingDataEmitter)="saveMultiBanking($event)">
              </app-multiple-banking>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4" *ngIf="customerInfo.customerType === customerType.INSTITUTION">
        <div class="row">
          <nb-card class="col-md-11 py-2" #itemCreditRiskGrading>
            <a class="cursor info-label" (click)="openModel(itemCreditRiskGradingTemplate)">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    INSTITUTIONAL CRG
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
            <span *ngIf="checkCrgGamma" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!checkCrgGamma" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemCreditRiskGradingTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
                INSTITUTIONAL CRG
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-institutional-crg-gamma #institutionalCrgGamma
                                           [fromProfile]="true"
                                           [loanConfigId]="1"

                                           (crgDataEmitter)="saveCrgGamma($event)"></app-institutional-crg-gamma>
              <div>
                <button class="btn float-right d-flex justify-content-end" (click)="institutionalCrgGamma.onSubmit()" type="submit" nbButton>Save</button>
              </div>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4" *ngIf="customerInfo?.customerType === customerType?.INSTITUTION">
      <div class="row">
        <nb-card class="col-md-11 py-2" #dataFromRiskAnalysis>
          <a class="cursor info-label" (click)="openModel(dataRiskAnalysisTemplate)">
            <div class="row cursor">
              <div class="col-md-8">
                <p class="custom-font">
                  RISK ANALYSIS
                </p>
              </div>
              <div class="col-md-4 d-flex justify-content-end">
                  <span *ngIf="customerInfo?.riskAnalysis" style="color:green" title="Status : Saved">
                     <em class="fas fa-check-circle px-2"></em>
                  </span>
                <span style="color:red" title="Status :Not Saved">
                       <em *ngIf="!customerInfo?.riskAnalysis" class="fas fa-times-circle px-2"></em>
                     </span>
              </div>
            </div>
          </a>
        </nb-card>
      </div>
      <ng-template #dataRiskAnalysisTemplate let-data let-ref="dialogRef">
        <nb-card class="template-css">
          <nb-card-header>
            RISK ANALYSIS
            <a aria-label="Close" class="close cursor"
               data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
          </nb-card-header>
          <nb-card-body>
            <app-risk-analysis
                    #riskAnalysisComponent
                    [fromProfile]="true"
                    [riskData]="customerInfo?.riskAnalysis"
                    [customerInfo]="customerInfo"
                    (riskAnalysisDataEmitter)="saveRiskAnalysis($event)">
            </app-risk-analysis>
          </nb-card-body>
        </nb-card>
      </ng-template>
    </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card class="col-md-11 py-2" #itemReviewDates>
            <a class="cursor info-label" (click)="openModel(itemReviewDatesTemplate)">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    REVIEW DATES
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="reviewDate" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!reviewDate" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemReviewDatesTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              REVIEW DATES
              <a aria-label="Close" class="close cursor"
                 data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-review-date [formValue]="companyInfo" [companyInfo]="reviewDate"
                               (reviewDataEmitter)="saveReviewDate($event)"></app-review-date>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4" *ngIf="customerInfo?.customerType === customerType?.INSTITUTION">
      <div class="row">
        <nb-card class="col-md-11 py-2" #dataFromSwot>
          <a class="cursor info-label" (click)="openModel(dataSwotTemplate)">
            <div class="row cursor">
              <div class="col-md-8">
                <p class="custom-font">
                  SWOT ANALYSIS
                </p>
              </div>
              <div class="col-md-4 d-flex justify-content-end">
                  <span style="color:green" title="Status : Saved">
                     <em *ngIf="customerInfo?.swotAnalysis" class="fas fa-check-circle px-2"></em>
                  </span>
                <span style="color:red" title="Status :Not Saved">
                       <em *ngIf="!customerInfo?.swotAnalysis" class="fas fa-times-circle px-2"></em>
                     </span>
              </div>
            </div>
          </a>
        </nb-card>
      </div>
      <ng-template #dataSwotTemplate let-data let-ref="dialogRef">
        <nb-card class="template-css">
          <nb-card-header>
            SWOT ANALYSIS
            <a aria-label="Close" class="close cursor"
               data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
          </nb-card-header>
          <nb-card-body>
            <app-swot-analysis
                    #swotAnalysisComponent
                    [fromProfile]="true"
                    [swotData]="customerInfo?.swotAnalysis"
                    [companyInfo]="companyInfo"
                    (swotAnalysisDataEmitter)="saveSwotAnalysis($event)">
            </app-swot-analysis>
          </nb-card-body>
        </nb-card>
      </ng-template>
    </div>
    </div>
    <nb-accordion>



    </nb-accordion>
  </nb-card-body>
</nb-card>
<ng-template #commonLoanDatas let-data let-ref="dialogRef">
  <nb-card class="template-css">
    <nb-card-header>
      COMMON LOAN DATA
      <a aria-label="Close" class="close cursor"
         data-dismiss="modal" (click)="ref.close()">
                      <span style="color: red" (click)="ref.close()">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup] = "commonLoanData" >
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <strong>SOL of the BANK</strong>
            <p class="mt-1">
              <textarea class="form-control rounded"
                        formControlName="solText"
                        id="solText"
                        rows="3">
              </textarea>
              <br>
              <mark>i.e sample - NPR 7000 million for general sector.</mark>

            </p>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="col-md-12">
            <div class="form-group" style="max-height: 300px !important;height: 250px;">
              <strong>Loan background</strong>
              <ckeditor formControlName="borrowerInformation"
                        [style]="{height:'250px !important;'}"
                        placeholder="Background"
                        required
                        [config]="ckeConfig"
              >
              </ckeditor>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="col-md-12">
            <div class="form-group">
              <label class="title" for="disbursementCriteria"><strong>Disbursement Criteria</strong></label>
              <ckeditor
                      formControlName="disbursementCriteria" id="disbursementCriteria"
                      name="disbursementCriteria"
                      [config]="ckeConfig"></ckeditor>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="title" for="repayment"><strong>Repayment</strong></label>
              <ckeditor
                      formControlName="repayment" id="repayment"
                      name="repayment"
                      [config]="ckeConfig"></ckeditor>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="title" for="remark">
                <strong>Remarks</strong></label>
              <ckeditor
                      formControlName="remark" id="remark"
                      [config]="ckeConfig"></ckeditor>
            </div>
          </div>


          <div class="col-md-12 mt-3">
            <div class="form-group">
              <label class="title"><strong>Summary & Recommendation</strong></label>
              <ckeditor formControlName="summeryRecommendation"
                        [style]="{height:'250px !important;'}"
                        placeholder="Summary & Recommendation"
                        [config]="ckeConfig">
              </ckeditor>
            </div>
          </div>

          <div class="col-md-12 form-group">
            <h6><strong>Additional Description</strong></h6>
            <nb-checkbox (change)="checkChecked($event.target.checked,'waiver')"
                         [checked]="waiverChecked">
              <b>WAIVERS, DEVIATIONS AND DEFERRAL</b>
            </nb-checkbox>
            <div *ngIf="waiverChecked">
              <ckeditor formControlName="waiverConclusionRecommendation"
                        [config]="ckeConfig"></ckeditor>
            </div>
          </div>
        </div>
      </form>
      <div>
        <button class="btn float-right d-flex justify-content-end"
                (click)="saveCommonLoanData()" type="submit" nbButton>Save
        </button>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
