.template-css{
  max-height: 95vh !important;
  height: 92vh !important;
  max-width: 95vw !important;
  width: 92vw !important;
  overflow: auto;
  margin-top: 20px !important;
}

.info-label:hover{
  background-color: snow;
  zoom: 105%;
}

.col-md-4 {
  min-height: 60px !important;
}

.col-md-10 {
  min-height: 60px !important;
}

.custom-font{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color:#222B45;
}
