<nb-card accent="primary">
  <nb-card-header>
    Customer Loan Information
  </nb-card-header>

  <nb-card-body>

    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <nb-card class="col-md-11 py-2">
            <a (click)="openModel(commonLoanDatas)" class="cursor info-label">
              <div class="row">
                <div class="col-md-8">
                  <p class="custom-font">COMMON DATA<br><em class="sb-small">WAIVERS, DEVIATIONS, DIFERRALS AND REBETS</em></p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span style="color: green" title="Status : Saved">
                <em *ngIf="customerInfo?.commonLoanData"
                    class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color: red" title="Status : Not Saved">
                <em *ngIf="!customerInfo?.commonLoanData"
                    class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <nb-card #itemSiteVisit class="col-md-11 py-2">
            <a (click)="openModel(itemSiteVisitTemplate)" class="cursor info-label">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    SITE VISIT <br><em class="sb-small"> Current Resident,
                    Business Site,
                    Current Assets Inspection</em>
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="customerInfo?.siteVisit" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!customerInfo?.siteVisit" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemSiteVisitTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              Site Visit
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-site-visit #siteVisitComponent
                              (siteVisitDataEmitter)="saveSiteVisit($event);"
                              [customerInfo]="customerInfo"
                              [formValue]="customerInfo?.siteVisit"
                              [fromProfile]="true"></app-site-visit>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card #ciclComponent class="col-md-11 py-2">
            <a (click)="openModel(ciclComponentTemplate)" class="cursor info-label">
              <div class="row">
                <div class="col-md-8">
                  <p class="custom-font">CICL</p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="customerInfo?.cicl" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!customerInfo?.cicl" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>

        <ng-template #ciclComponentTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              CICL
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-cicl #ciclComponent (ciclDataEmitter)="saveCICL($event)"
                        [ciclValue]="ciclResponse"
                        [fromProfile]="true"></app-cicl>

            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card #itemFinancial class="col-md-11 py-2">
            <a (click)="openModel(itemFinancialTemplate)" class="cursor info-label">
              <div class="row">
                <div class="col-md-8">
                  <p class="custom-font">
                    <span *ngIf="customerInfo?.customerType == customerType.INDIVIDUAL">INCOME & EXPENSES <br><em class="sb-small"> UMI, GI, TMO</em></span>
                    <span
                        *ngIf="customerInfo?.customerType == customerType.INSTITUTION">INCOME TO THE BANK</span>
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="customerInfo?.financial" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!customerInfo?.financial" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemFinancialTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
                <span
                    *ngIf="customerInfo?.customerType == customerType.INDIVIDUAL">INCOME & EXPENSES</span>
              <span *ngIf="customerInfo?.customerType == customerType.INSTITUTION">INCOME TO THE BANK</span>
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-financial #financialComponent
                             (financialDataEmitter)="saveFinancial($event)"
                             [formData]="customerInfo?.financial"
                             [customerInfo]="customerInfo"
                             [fromProfile]="true"></app-financial>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card #itemIncomeFromAccount class="col-md-11 py-2">
            <a (click)="openModel(inccomeFromAccountComponentTemplate)" class="cursor info-label">
              <div class="row">
                <div class="col-md-10">
                  <p class="custom-font">INCOME FROM ACCOUNT<br><em class="sb-small">Profitability
                    to Bank</em></p>

                </div>
                <div class="col-md-2 d-flex justify-content-end">
              <span *ngIf="customerInfo?.incomeFromAccount" style="color:green"
                    title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!customerInfo?.incomeFromAccount" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #inccomeFromAccountComponentTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>INCOME FROM ACCOUNT<br><em class="sb-small">Profitability to Bank</em>
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-income-from-account
                  (incomeFromAccountDataEmitter)="saveIncomeFromAccount($event)"
                  [customerInfo]="customerInfo"
                  [fromProfile]="true"
                  [incomeFromAccountDataResponse]="incomeFromAccountDataResponse">
              </app-income-from-account>

            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div *ngIf="customerInfo?.customerType === 'INSTITUTION'" class="col-md-4">
        <div class="row">
          <nb-card #itemNetTradingAssets class="col-md-11 py-2">
            <a (click)="openModel(itemNetTradingAssetsTemplate)" class="cursor info-label">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    NET TRADING ASSETS (NTA)
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
            <span *ngIf="customerInfo?.netTradingAssets" style="color:green"
                  title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!customerInfo?.netTradingAssets" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemNetTradingAssetsTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              NET TRADING ASSETS (NTA)
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-net-trading-assets (netTradingAssetsEventEmitter)="saveNetTradingAssets($event)"
                                      [fromProfile]=true
                                      [netTradingAssetsData]="netTradingAssets">

              </app-net-trading-assets>

            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card #itemSecurity class="col-md-11 py-2">
            <a (click)="openModel(itemSecurityTemplate)" class="cursor info-label">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    SECURITY
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
            <span *ngIf="customerInfo?.security !== null" style="color:green"
                  title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span *ngIf="customerInfo?.security == null" style="color:red"
                        title="Status :Not Saved">
                <em class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemSecurityTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              SECURITY
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-security
                  (securityDataEmitter)="saveSecurity($event)"
                  (submittedCheck)="submittedCheck1($event)"
                  [calendarType]="calendarType"
                  [customerInfo]="customerInfo"
                  [customerType]="customerInfo?.customerType"
                  [fromProfile]="true"
                  [securityValue]="customerInfo?.security"
                  [shareSecurity]="customerInfo?.shareSecurity"
                  [submittedCheckFromParent]="submittedCheck"></app-security>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card #itemGuarantor class="col-md-11 py-2">
            <a (click)="openModel(itemGuarantorTemplate)" class="cursor info-label">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    GUARANTOR
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                   <span *ngIf="customerInfo?.guarantors !== null" style="color:green"
                         title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span *ngIf="customerInfo?.guarantors == null" style="color:red"
                        title="Status :Not Saved">
                <em class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemGuarantorTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              GUARANTOR
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-guarantor #guarantorComponent
                             (guarantorDataEmitter)="saveGuarantor($event)"
                             [calendarType]="calendarType"
                             [customerInfo]="customerInfo"
                             [fromProfile]="true"
                             [guarantorDetailValue]="customerInfo?.guarantors"></app-guarantor>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card #itemInsurance class="col-md-11 py-2">
            <a (click)="openModel(itemInsuranceTemplate)" class="cursor info-label">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    INSURANCE
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="insurance?.length>0" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="insurance?.length == 0" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemInsuranceTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              INSURANCE
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-insurance
                  (insuranceDataEmitter)="saveInsurance($event)"
                  [customerInfo]="customerInfo"
                  [fromProfile]="true"
                  [insuranceDataFromModel]="customerInfo?.insurance"></app-insurance>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card #itemloanChecklist class="col-md-11 py-2">
            <a (click)="openModel(itemloanChecklistTemplate)" class="cursor info-label">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    CREDIT CHECKLIST <br><em class="sb-small"> Prudence and Due Diligence, NRB Regulatory Compliance</em>
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                  <span *ngIf="creditChecklistGeneral" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!creditChecklistGeneral" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemloanChecklistTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              CREDIT CHECKLIST
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-credit-checklist-general
                  (creditChecklistGeneralEmitter)="saveCreditChecklist($event)"
                  [calendarType]="calendarType"
                  [customerType]="customerInfo?.customerType"
                  [formData]="customerInfo?.creditChecklist"
                  [fromProfile]="true"
              ></app-credit-checklist-general>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card #itemReportingInfoLevel class="col-md-11 py-2">
            <a (click)="openModel(itemReportingInfoLevelTemplate)" class="cursor info-label">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    MIS/NRB REPORTING
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                <span style="color: green" title="Status : Saved">
                <em *ngIf="reportingInfoLevelCode && reportingInfoLevelDescription"
                    class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color: red" title="Status : Not Saved">
                <em *ngIf="!reportingInfoLevelCode && !reportingInfoLevelDescription"
                    class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemReportingInfoLevelTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              MIS/NRB REPORTING
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-reporting-info-tagging #reportingInfoTagging
                                          (reportingInfoLevelsEmitter)="saveCustomerReportingInfo($event)"
                                          [reportingInfoLevels]="customerInfo?.reportingInfoLevels"
                                          [type]="'c'"></app-reporting-info-tagging>
              <div>
                <button (click)="reportingInfoTaggingComponent.onSubmit()"
                        class="btn float-right d-flex justify-content-end" nbButton type="submit">
                  Save
                </button>
              </div>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card #itemCommentsFromAccount class="col-md-11 py-2">
            <a (click)="openModel(itemCommentsFromAccountTemplate)" class="cursor info-label">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    NRB/STATUTORY AUDITORS/INTERNAL AUDITORS REMARKS AND THEIR STATUS
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                <span style="color: green" title="Status : Saved">
                <em *ngIf="checkedPreviousComments"
                    class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color: red" title="Status : Not Saved">
                <em *ngIf="!checkedPreviousComments"
                    class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemCommentsFromAccountTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              NRB/STATUTORY AUDITORS/INTERNAL AUDITORS REMARKS AND THEIR STATUS
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-comments
                  #commentsInfoTagging
                  (commentsDataEmitter)="saveDataFromComments($event)"
                  [commentData]="customerInfo?.data"
                  [commentsDataResponse]="commentsDataResponse"
                  [fromProfile]="true">
              </app-comments>
              <div>
                <button (click)="commentsComponent.submitForm()"
                        class="btn float-right d-flex justify-content-end" nbButton type="submit">
                  Save
                </button>
              </div>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4" hidden>
        <div class="row">
          <nb-card #dataFromPreviousSecurity class="col-md-11 py-2">
            <a (click)="openModel(dataFromPreviousSecurityTemplate)" class="cursor info-label">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    PREVIOUS SECURITY
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
     <span *ngIf="checkedPreviousSecurity" style="color:green" title="Status : Saved">
                       <em class="fas fa-check-circle px-2"></em>
                     </span>
                  <span style="color:red" title="Status :Not Saved">
                       <em *ngIf="!checkedPreviousSecurity" class="fas fa-times-circle px-2"></em>
                     </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #dataFromPreviousSecurityTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              PREVIOUS SECURITY
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-previous-security
                  #previousSecurityInfoTagging
                  (securityDataEmitter)="saveDataFromSecurity($event)"
                  [commentData]="customerInfo?.data"
                  [fromProfile]="true"
                  [securityDataResponse]="securityDataResponse"
                  [securityData]="customerInfo?.data">
              </app-previous-security>
              <div>
                <button (click)="previousSecurityComponent.submitForm()"
                        class="btn float-right d-flex justify-content-end" nbButton type="submit">
                  Save
                </button>
              </div>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>

      <div class="col-md-4">
        <div class="row">
          <nb-card #dataFromMultiBanking class="col-md-11 py-2">
            <a (click)="openModel(dataFromMultiBankingTemplate)" class="cursor info-label">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    BANKING ARRANGEMENT <br><em class="sb-small"> Multiple Banking, Average Utilization & Transaction
                  </em>
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                <span *ngIf="multiBankingResponse" style="color:green"
                      title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!multiBankingResponse" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #dataFromMultiBankingTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              BANKING ARRANGEMENT
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-multiple-banking
                  #multipleBankingComponent
                  (multiBankingDataEmitter)="saveMultiBanking($event)"
                  [customerCategory]="customerInfo?.customerCategory"
                  [fromProfile]="true"
                  [multiBankingData]="customerInfo?.multiBanking">
              </app-multiple-banking>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <!-- hide INSTITUTIONAL CRG -->
      <div hidden class="col-md-4">
        <div class="row">
          <nb-card #itemCreditRiskGrading class="col-md-11 py-2">
            <a (click)="openModel(itemCreditRiskGradingTemplate)" class="cursor info-label">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    INSTITUTIONAL CRG
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
            <span *ngIf="checkCrgGamma" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!checkCrgGamma" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemCreditRiskGradingTemplate let-data let-ref="dialogRef" hidden>
          <nb-card class="template-css">
            <nb-card-header>
              INSTITUTIONAL CRG
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-institutional-crg-gamma #institutionalCrgGamma
                                           (crgDataEmitter)="saveCrgGamma($event)"
                                           [fromProfile]="true"

                                           [loanConfigId]="1"></app-institutional-crg-gamma>
              <div>
                <button (click)="institutionalCrgGamma.onSubmit()"
                        class="btn float-right d-flex justify-content-end" nbButton type="submit">
                  Save
                </button>
              </div>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card #dataFromRiskAnalysis class="col-md-11 py-2">
            <a (click)="openModel(dataRiskAnalysisTemplate)" class="cursor info-label">
              <div class="row cursor">
                <div class="col-md-8">
                  <p class="custom-font">
                    RISK ANALYSIS
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                  <span *ngIf="customerInfo?.riskAnalysis" style="color:green"
                        title="Status : Saved">
                     <em class="fas fa-check-circle px-2"></em>
                  </span>
                  <span style="color:red" title="Status :Not Saved">
                       <em *ngIf="!customerInfo?.riskAnalysis"
                           class="fas fa-times-circle px-2"></em>
                     </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #dataRiskAnalysisTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              RISK ANALYSIS
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-risk-analysis
                  #riskAnalysisComponent
                  (riskAnalysisDataEmitter)="saveRiskAnalysis($event)"
                  [customerInfo]="customerInfo"
                  [fromProfile]="true"
                  [riskData]="customerInfo?.riskAnalysis">
              </app-risk-analysis>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="row">
          <nb-card #itemReviewDates class="col-md-11 py-2">
            <a (click)="openModel(itemReviewDatesTemplate)" class="cursor info-label">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    REVIEW DATES
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="reviewDate" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!reviewDate" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #itemReviewDatesTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              REVIEW DATES
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-review-date (reviewDataEmitter)="saveReviewDate($event)"
                               [customerInfo]="reviewDate"
                               [formValue]="customerInfo" ></app-review-date>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div *ngIf="customerInfo?.customerType === customerType?.INSTITUTION" class="col-md-4">
        <div class="row">
          <nb-card #dataFromSwot class="col-md-11 py-2">
            <a (click)="openModel(dataSwotTemplate)" class="cursor info-label">
              <div class="row cursor">
                <div class="col-md-8">
                  <p class="custom-font">
                    SWOT ANALYSIS
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                  <span style="color:green" title="Status : Saved">
                     <em *ngIf="customerInfo?.swotAnalysis" class="fas fa-check-circle px-2"></em>
                  </span>
                  <span style="color:red" title="Status :Not Saved">
                       <em *ngIf="!customerInfo?.swotAnalysis"
                           class="fas fa-times-circle px-2"></em>
                     </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #dataSwotTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              SWOT ANALYSIS
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-swot-analysis
                  #swotAnalysisComponent
                  (swotAnalysisDataEmitter)="saveSwotAnalysis($event)"
                  [companyInfo]="companyInfo"
                  [fromProfile]="true"
                  [swotData]="customerInfo?.swotAnalysis">
              </app-swot-analysis>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div *ngIf="customerInfo.customerType === customerType.INDIVIDUAL" class="col-md-4">
        <div class="row">
          <nb-card class="col-md-11 py-2">
            <a (click)="openModel(netWorthTemplate)" class="cursor info-label">
              <div class="row cursor">

                <div class="col-md-8">
                  <p class="custom-font">
                    NET WORTH <br><em class="sb-small"> Customer(s) Assets, Liabilities</em>
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
            <span *ngIf="customerInfo?.netWorth" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
                  <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!customerInfo?.netWorth" class="fas fa-times-circle px-2"></em>
              </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #netWorthTemplate let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              NET WORTH
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-net-worth #netWorth
                             (dataEmiter)="saveNetWorth($event)" [customerInfoId]="customerInfoId"
                             [customerName]="customerInfo?.name" [data]="customerInfo?.netWorth"
                             [isJointCustomer]="customerInfo?.isJointCustomer"></app-net-worth>
              <div>
                <button (click)="netWorthComponent.submit()"
                        class="btn float-right d-flex justify-content-end" nbButton type="submit">
                  Save
                </button>
              </div>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div *ngIf="customerInfo?.customerType === customerType?.INSTITUTION" class="col-md-4">
        <div class="row">
          <nb-card #crgCcbls class="col-md-11 py-2">
            <a (click)="openModel(crgCcbl)" class="cursor info-label">
              <div class="row cursor">
                <div class="col-md-8">
                  <p class="custom-font">
                    Counter Party Risk Rating
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                  <span style="color:green" title="Status : Saved">
                     <em *ngIf="customerInfo?.crgCcbl" class="fas fa-check-circle px-2"></em>
                  </span>
                  <span style="color:red" title="Status :Not Saved">
                       <em *ngIf="!customerInfo?.crgCcbl" class="fas fa-times-circle px-2"></em>
                     </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #crgCcbl let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              Counter Party Risk Rating
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-crg-ccbl (eventEmitter)="saveCrgCCbl($event,  true)" [customerInfo]="customerInfo"
                            [fromProfile]="true"></app-crg-ccbl>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
      <div *ngIf="customerInfo?.customerType === customerType?.INSTITUTION" class="col-md-4">
        <div class="row">
          <nb-card #financialCCbls class="col-md-11 py-2">
            <a (click)="openModel(financialCcbl)" class="cursor info-label">
              <div class="row cursor">
                <div class="col-md-8">
                  <p class="custom-font">
                    Financial - CCBL
                  </p>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                  <span style="color:green" title="Status : Saved">
                     <em *ngIf="customerInfo?.financialCcbl" class="fas fa-check-circle px-2"></em>
                  </span>
                  <span style="color:red" title="Status :Not Saved">
                       <em *ngIf="!customerInfo?.financialCcbl"
                           class="fas fa-times-circle px-2"></em>
                     </span>
                </div>
              </div>
            </a>
          </nb-card>
        </div>
        <ng-template #financialCcbl let-data let-ref="dialogRef">
          <nb-card class="template-css">
            <nb-card-header>
              Financial-CCBL
              <a (click)="ref.close()" aria-label="Close"
                 class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
            </nb-card-header>
            <nb-card-body>
              <app-financial-ccbl (eventEmitter)="saveCrgCCbl($event, false)" [customerInfo]="customerInfo"
                                  [fromProfile]="true"></app-financial-ccbl>
            </nb-card-body>
          </nb-card>
        </ng-template>
      </div>
    </div>
    <nb-accordion>


    </nb-accordion>
  </nb-card-body>
</nb-card>
<ng-template #commonLoanDatas let-data let-ref="dialogRef">
  <nb-card class="template-css">
    <nb-card-header>
      COMMON DATA
      <a (click)="ref.close()" aria-label="Close"
         class="close cursor" data-dismiss="modal">
                      <span (click)="ref.close()" style="color: red">
                <em class="fas fa-times-circle px-2"></em>
              </span></a>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="commonLoanData">
        <div class="row">
          <div *ngIf="customerInfo?.customerType== customerType.INSTITUTION" class="col-md-12">
            <div class="form-group">
              <strong>SOL of the BANK</strong>
              <p class="mt-1">
              <textarea class="form-control rounded"
                        formControlName="solText"
                        id="solText"
                        rows="3">
              </textarea>
              </p>
            </div>
          </div>

          <div *ngIf="customerInfo?.customerType== customerType.INSTITUTION" class="col-md-12 mt-3">
            <div class="form-group">
              <label class="title"><strong>Approving Authority</strong></label>
              <textarea class="form-control rounded"
                        formControlName="approvingAuthority"
                        id="approvingAuthority"
                        placeholder="Approving Authority"
                        rows="1">
              </textarea>
            </div>
          </div>
          <div class="clearfix"></div>

          <div *ngIf="customerInfo?.customerType== customerType.INSTITUTION" class="col-md-12 mt-3">
            <div class="form-group">
              <label class="title"><strong>Special Covenants/Conditions, If Any</strong></label>
              <ckeditor [config]="ckeConfig"
                        [style]="{height:'250px !important;'}"
                        formControlName="specialCovenant"
                        placeholder="Special Covenants/Conditions, If Any">
              </ckeditor>
            </div>
          </div>

          <div class="col-md-12 mt-3" *ngIf="customerInfo?.customerType== customerType.INDIVIDUAL">
            <div class="form-group">
              <label class="title"><strong>Special Instructions</strong></label>
              <input class="form-control" formControlName="specialInstruction"
                     placeholder="eg: as of Poush End 2077" />
            </div>
          </div>

          <div class="col-md-12 mt-3" *ngIf="customerInfo?.customerType == customerType.INDIVIDUAL">
            <div class="form-group">
              <label class="title"><strong>Regularity of payments:</strong></label>
              <input class="form-control" formControlName="regularityOfPayments"
                        placeholder="Regularity of payments" />

            </div>
          </div>

          <div class="col-md-12 form-group">
            <b>WAIVERS, DEVIATIONS, DIFERRALS AND REBETS, <em>(IF ANY)</em></b>
            <div>
              <ckeditor [config]="ckeConfig"
                        formControlName="waiverConclusionRecommendation"></ckeditor>
            </div>
          </div>
        </div>
      </form>
      <div>
        <button (click)="saveCommonLoanData()"
                class="btn float-right d-flex justify-content-end" nbButton type="submit">Save
        </button>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
