<nb-card accent="primary">
  <nb-card-header>
    Customer Loan Information
  </nb-card-header>

  <nb-card-body>
    <nb-accordion>
      <nb-accordion-item #itemSiteVisit>
        <nb-accordion-item-header>
          <div class="row col-md-12">
            <div class="col-md-8">
              <span>SITE VISIT</span>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="customerInfo?.siteVisit" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
              <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!customerInfo?.siteVisit" class="fas fa-times-circle px-2"></em>
              </span>
            </div>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <app-site-visit #siteVisitComponent
                          (siteVisitDataEmitter)="saveSiteVisit($event)"
                          *ngIf="itemSiteVisit.expanded"
                          [customerInfo]="customerInfo"
                          [formValue]="customerInfo?.siteVisit" [fromProfile]="true"></app-site-visit>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item #ciclComponent>
        <nb-accordion-item-header>
          <div class="row col-md-12">
            <div class="col-md-8">
              <span>CICL</span>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="customerInfo?.cicl" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
              <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!customerInfo?.cicl" class="fas fa-times-circle px-2"></em>
              </span>
            </div>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <app-cicl #ciclComponent (ciclDataEmitter)="saveCICL($event)" [ciclValue]="ciclResponse"
                    [fromProfile]="true"></app-cicl>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item #itemFinancial>
        <nb-accordion-item-header>
          <div class="row col-md-12">
            <div class="col-md-8">
              <span
                  *ngIf="customerInfo?.customerType == customerType.INDIVIDUAL">INCOME & EXPENSES</span>
              <span *ngIf="customerInfo?.customerType == customerType.INSTITUTION">FINANCIAL</span>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="customerInfo?.financial" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
              <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!customerInfo?.financial" class="fas fa-times-circle px-2"></em>
              </span>
            </div>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <app-financial #financialComponent
                         (financialDataEmitter)="saveFinancial($event)"
                         *ngIf="itemFinancial.expanded"
                         [formData]="customerInfo?.financial"
                         [fromProfile]="true"></app-financial>
        </nb-accordion-item-body>
      </nb-accordion-item>


      <nb-accordion-item #itemIncomeFromAccount>
        <nb-accordion-item-header>
          <div class="row col-md-12">
            <div class="col-md-8">
              <span>INCOME FROM ACCOUNT</span>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="customerInfo?.incomeFromAccount" style="color:green"
                    title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
              <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!customerInfo?.incomeFromAccount" class="fas fa-times-circle px-2"></em>
              </span>
            </div>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <app-income-from-account (incomeFromAccountDataEmitter)="saveIncomeFromAccount($event)"
                                   *ngIf="itemIncomeFromAccount.expanded"
                                   [fromProfile]="true"
                                   [incomeFromAccountDataResponse]="incomeFromAccountDataResponse">
          </app-income-from-account>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item #itemNetTradingAssets *ngIf="customerInfo?.customerType === 'INSTITUTION'">
        <nb-accordion-item-header>
          <div class="row col-md-12">
            <div class="col-md-8">
              <span>{{client === clientName?.ICFC ? 'NET TRADING CURRENT ASSETS (NTCA)'
                  : 'NET TRADING ASSETS (NTA)'}}</span>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="customerInfo?.netTradingAssets" style="color:green"
                    title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
              <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!customerInfo?.netTradingAssets" class="fas fa-times-circle px-2"></em>
              </span>
            </div>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <ng-container
              *ngIf="(client === clientName?.ICFC) || (client === clientName?.MEGA); else otherBank">
            <app-nta-mega
                (netTradingAssetsEventEmitter)="saveNetTradingAssets($event)"
                *ngIf="itemNetTradingAssets.expanded"
                [fromProfile]=true
                [netTradingAssetsData]="netTradingAssets">
            </app-nta-mega>
          </ng-container>

          <ng-template #otherBank>
            <app-net-trading-assets
                (netTradingAssetsEventEmitter)="saveNetTradingAssets($event)"
                *ngIf="itemNetTradingAssets.expanded"
                [fromProfile]=true
                [netTradingAssetsData]="netTradingAssets">
            </app-net-trading-assets>
          </ng-template>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item #itemSecurity [nbSpinner]="spinner">
        <nb-accordion-item-header>
          <div class="row col-md-12">
            <div class="col-md-8">
              <span>SECURITY</span>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="customerInfo?.security !== null" style="color:green"
                    title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
              <span *ngIf="customerInfo?.security == null" style="color:red"
                    title="Status :Not Saved">
                <em class="fas fa-times-circle px-2"></em>
              </span>
            </div>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <app-security (securityDataEmitter)="saveSecurity($event)"
                        *ngIf="itemSecurity.expanded"
                        [calendarType]="calendarType"
                        [fromProfile]="true"
                        [isMicroCustomer]="isMicroCustomer"
                        [securityValue]="customerInfo?.security"
                        [shareSecurity]="customerInfo?.shareSecurity"></app-security>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item #itemGuarantor>
        <nb-accordion-item-header>
          <div class="row col-md-12">
            <div class="col-md-8">
              <span>GUARANTOR</span>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="customerInfo?.guarantors !== null" style="color:green"
                    title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
              <span *ngIf="customerInfo?.guarantors == null" style="color:red"
                    title="Status :Not Saved">
                <em class="fas fa-times-circle px-2"></em>
              </span>
            </div>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <app-guarantor #guarantorComponent
                         (guarantorDataEmitter)="saveGuarantor($event)"
                         *ngIf="itemGuarantor.expanded"
                         [calendarType]="calendarType"
                         [customerInfo]="customerInfo"
                         [fromProfile]="true"
                         [guarantorDetailValue]="customerInfo?.guarantors"></app-guarantor>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item #itemInsurance>
        <nb-accordion-item-header>
          <div class="row col-md-12">
            <div class="col-md-8">
              <span>INSURANCE</span>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="insurance?.length>0" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
              <span style="color:red" title="Status :Not Saved">
                <em *ngIf="insurance?.length == 0" class="fas fa-times-circle px-2"></em>
              </span>
            </div>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <app-insurance
              (insuranceDataEmitter)="saveInsurance($event)"
              *ngIf="itemInsurance.expanded"
              [customerInfo]="customerInfo"
              [fromProfile]="true" [insuranceDataFromModel]="customerInfo?.insurance"></app-insurance>
        </nb-accordion-item-body>
      </nb-accordion-item>


      <nb-accordion-item #itemloanChecklist>
        <nb-accordion-item-header>
          <div class="row col-md-12">
            <div class="col-md-8">
              <span>CREDIT CHECKLIST</span>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
              <span *ngIf="creditChecklistGeneral" style="color:green" title="Status : Saved">
                <em class="fas fa-check-circle px-2"></em>
              </span>
              <span style="color:red" title="Status :Not Saved">
                <em *ngIf="!creditChecklistGeneral" class="fas fa-times-circle px-2"></em>
              </span>
            </div>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <app-credit-checklist-general
              (creditChecklistGeneralEmitter)="saveCreditChecklist($event)"
              *ngIf="itemloanChecklist.expanded"
              [calendarType]="calendarType"
              [customerType]="customerInfo?.customerType"
              [formData]="customerInfo?.creditChecklist"
              [fromProfile]="true"
          ></app-credit-checklist-general>
        </nb-accordion-item-body>
      </nb-accordion-item>


    </nb-accordion>
  </nb-card-body>
</nb-card>
