<div class="col-md-12" *ngIf="fromProfile" >
    <nb-card>
        <nb-card-header>
            Financial-CCBL
        </nb-card-header>
        <nb-card-body>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="file"><b>Sign Sheet Upload</b></label>
                    <br>
                    <input type="file" accept="application/pdf" id="file" placeholder="Upload" nbButton (input)="upload($event)">
                    <span *ngIf="data?.file" class="col-md-3 img-hover flex-wrap"
                          nbTooltip="Financial CCBL">
                  <a (click)="commonService.openDocument(data?.file)" class="cursor"><em
                          [className]="commonService.SET_CLASS_NAME"></em>
                  </a>
                </span>
                </div>
            </div>
<div class="col-md-12">
    <form [formGroup]="formGroup">
        <div class = "col-md-12">
            <div class = "form-group">
                <label><strong>Key Financial Figure</strong></label>
                <ckeditor [config]="ckEditor" formControlName="financialFigure"> </ckeditor>
            </div>
        </div>
        <div class = "col-md-12">
            <div class = "form-group">
                <label><strong>Financial Highlights</strong></label>
                <ckeditor [config]="ckEditor" formControlName="financialHighlight"> </ckeditor>
            </div>
        </div>
        <div class = "col-md-12">
            <div class = "form-group">
                <label><strong>ASSESSMENT OF FACILITIES REQUIREMENT  </strong></label>
                <ckeditor [config]="ckEditor" formControlName="assesment"> </ckeditor>
            </div>
        </div>
    </form>
</div>
            <button class="float-right" nbButton (click)="save()" >Save</button>
        </nb-card-body>
    </nb-card>
</div>
<ng-container *ngIf="!fromProfile">
    <nb-card-header>
        Financial - CCBL
    </nb-card-header>
    <div class = "row">
        <div class="col-md-12 disable-print">
            <div class="form-group">
                <label><strong>Sign Sheet</strong></label>
                <br>
                <span style="height: 40px;width: 40px;" *ngIf="data?.file" class="col-md-3 img-hover flex-wrap"
                      nbTooltip="Financial CCBL">
                             <a (click)="commonService.openDocument(data?.file)" class="cursor"><em
                                     [className]="commonService.SET_CLASS_NAME"></em></a>
                </span>
            </div>
        </div>
        <div class="col-md-12">
            <label><strong>Financial Highlights</strong></label>
            <br>
            <table  style="width: 100%" [innerHTML]="data?.data?.financialHighlight | safeHtml" ></table>
        </div>
        <div class="col-md-12">
            <label><strong>Key Financial Figure</strong></label>
            <br>
            <table  style="width: 100%" [innerHTML]="data?.data?.financialFigure | safeHtml" ></table>
        </div>
        <div class="col-md-12 border-0" >
            <label><strong>ASSESSMENT OF FACILITIES REQUIREMENT  </strong></label>
            <br>
            <div class="col-md-12">
                <table  style="width: 100%" [innerHTML]="data?.data?.assesment | safeHtml" ></table>
            </div>
        </div>
    </div>
</ng-container>
