@import "src/app/feature/credit-administration/cad-document-template/progressive/progressive-legal-docs/progressive-legal-docs.component";
#Sincerely {
  margin-left: 100px;
}
.linespace{
  line-height: 2rem;
}
.fingerXap {
  width: 500px;
  margin: auto;
  text-align: center;
}
.fingerXap .signature-area{
  width:100%;
  border-style: none
}

#signature,
#signature2{
  margin-left: 700px;
}

.guaranter {
  display: flex;
  flex-wrap: initial;
  flex-direction: row;
}

.guaranter1 {
  width: 50%;
}

.guaranter2 {
  width: 50%;
  margin-left: 100px;
}

.unicode-size16{
  font-size: 16px;
}

.unicode-size2{
  font-size: 24px;
}

