.offer-style {
  font-size: 15px;
  line-height: 40px;

  p, li {
    line-height: inherit;
  }
}

.text-justify {
  text-justify: inter-word;
}

.form-control-sm {
  &.wide {
    min-width: 410px;
  }
}

.form-field {
  background: yellow;
  margin: 0px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;

  &:focus {
    outline: none;
  }

  .table-row {
    width: 32px;
  }

  .container-name div {
    display: inline-block;
    width: 500px;
    min-height: 50px;
    background-color: #eee;
    height: auto;
  }

  &.transparent {
    background: transparent;
  }
}

nb-card {
  max-height: 900px;
}

.nepaliFont {
  font-size: 18px;
  font-family: Preeti;

  &.font-size-normal {
    font-size: 16px;
  }
}


.table-bordered {
  border: none !important;

  td {
    border: 1px solid #000;
  }
}
