<div class="row mt-2">
  <div class="col-md-12">
    <p class="mt-3"><strong>Profitability to Bank</strong></p>
    <label style="font-size: 14px;"><strong>a. Profitability from the Clients</strong></label><br>
    <label style="font-size: 14px;"><strong>Account No: {{incomeFromAccount?.accountNo}}</strong></label>&nbsp; &nbsp; &nbsp; &nbsp;
    <label style="font-size: 14px;"><strong>Account Name: {{incomeFromAccount?.accountName}}</strong></label>
    <table class="table table-bordered table-responsive-md table-hover text-center table-sm sb-small">
      <thead>
      <tr class="sb-bg-dark text-white">
        <th>Particular</th>
        <th>During Review Period</th>
        <th>Projected For next Review Period</th>
      </tr>
      </thead>
      <tr>
        <td class="sb-bg-secondary text-white text-left pl-1">Administration Fee</td>
        <td class="text-right pr-1">Rs. {{incomeFromAccount?.administrationFeeDuring |currencyFormatter}}</td>
        <td class="text-right pr-1">Rs. {{incomeFromAccount?.administrationFeeAfterNext |currencyFormatter}}</td>
      </tr>
      <tr>
        <td class="sb-bg-secondary text-white text-left pl-1">Gross Interest</td>
        <td class="text-right pr-1">Rs. {{incomeFromAccount?.interestDuringReview |currencyFormatter}}</td>
        <td class="text-right pr-1">Rs. {{incomeFromAccount?.interestAfterNextReview |currencyFormatter}}</td>
      </tr>
      <tr>
        <td class="sb-bg-secondary text-white text-left pl-1">Free and Commission</td>
        <td class="text-right pr-1">Rs. {{incomeFromAccount?.commissionDuringReview |currencyFormatter}}</td>
        <td class="text-right pr-1">Rs. {{incomeFromAccount?.commissionAfterNextReview |currencyFormatter}}</td>
      </tr>
      <tr>
        <td class="sb-bg-secondary text-white text-left pl-1">Loan Processing Charge</td>
        <td class="text-right pr-1">Rs. {{incomeFromAccount?.loanProcessingDuringReview |currencyFormatter}}</td>
        <td class="text-right pr-1">Rs. {{incomeFromAccount?.loanProcessingAfterNextReview |currencyFormatter}}</td>
      </tr>
      <tr>
        <td class="sb-bg-secondary text-white text-left pl-1">Other Charges</td>
        <td class="text-right pr-1">
          Rs. {{incomeFromAccount?.otherChargesDuringReview |currencyFormatter}}
        </td>
        <td class="text-right pr-1">
          Rs. {{incomeFromAccount?.otherChargesAfterNextReview |currencyFormatter}}
        </td>
      </tr>
      <tr  class="font-weight-bold">
        <td class="sb-bg-secondary text-white text-left pl-1">Total</td>
        <td class="text-right pr-1">
          Rs. {{incomeFromAccount?.totalIncomeDuringReview |currencyFormatter}}
        </td>
        <td class="text-right pr-1">
          Rs. {{incomeFromAccount?.totalIncomeAfterNextReview |currencyFormatter}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-12">
    <label style="font-size: 14px;"><strong>b. Profitability from the Group</strong></label><br>
  </div>
  <div class="col-md-12" *ngFor="let group of groupProfitabilityData">
    <label style="font-size: 14px;"><strong>Group Account No: {{group?.accountNoGroup}}</strong></label>&nbsp; &nbsp; &nbsp; &nbsp;
    <label style="font-size: 14px;"><strong>Group Account Name: {{group?.accountNameGroup}}</strong></label>
    <table class="table table-bordered table-responsive-md table-hover text-center table-sm sb-small">
      <thead>
      <tr class="sb-bg-dark text-white">
        <th>Particular</th>
        <th>During Review Period</th>
        <th>Projected For next Review Period</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="sb-bg-secondary text-white text-left pl-1">Administration Fee</td>
        <td class="text-right pr-1">Rs. {{group?.administrationFeeDuringGroup |currencyFormatter}}</td>
        <td class="text-right pr-1">Rs. {{group?.administrationFeeAfterNextGroup |currencyFormatter}}</td>
      </tr>
      <tr>
        <td class="sb-bg-secondary text-white text-left pl-1">Gross Interest</td>
        <td class="text-right pr-1">Rs. {{group?.interestDuringReviewGroup |currencyFormatter}}</td>
        <td class="text-right pr-1">Rs. {{group?.interestAfterNextReviewGroup |currencyFormatter}}</td>
      </tr>
      <tr>
        <td class="sb-bg-secondary text-white text-left pl-1">Free and Commission</td>
        <td class="text-right pr-1">Rs. {{group?.commissionDuringReviewGroup |currencyFormatter}}</td>
        <td class="text-right pr-1">Rs. {{group?.commissionAfterNextReviewGroup |currencyFormatter}}</td>
      </tr>
      <tr>
        <td class="sb-bg-secondary text-white text-left pl-1">Loan Processing Charge</td>
        <td class="text-right pr-1">Rs. {{group?.loanProcessingDuringReviewGroup |currencyFormatter}}</td>
        <td class="text-right pr-1">Rs. {{group?.loanProcessingAfterNextReviewGroup |currencyFormatter}}</td>
      </tr>
      <tr>
        <td class="sb-bg-secondary text-white text-left pl-1">Other Charges</td>
        <td class="text-right pr-1">
          Rs. {{group?.otherChargesDuringReviewGroup |currencyFormatter}}
        </td>
        <td class="text-right pr-1">
          Rs. {{group?.otherChargesAfterNextReviewGroup |currencyFormatter}}
        </td>
      </tr>
      <tr  class="font-weight-bold">
        <th class="sb-bg-secondary text-white text-left pl-1">Total</th>
        <td class="text-right pr-1">
          Rs. {{group?.totalIncomeDuringReviewGroup |currencyFormatter}}
        </td>
        <td class="text-right pr-1">
          Rs. {{group?.totalIncomeAfterNextReviewGroup |currencyFormatter}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <table class="table table-bordered table-responsive-md table-hover text-center table-sm sb-small">
      <tr>
        <th class="sb-bg-secondary text-white" style="width: 50%">Grand Total of During Review Period</th>
        <th class="text-right pr-1" style="width: 50%">Rs. {{incomeFromAccount?.grandTotalDuring}}</th>
      </tr>
      <tr>
        <th class="sb-bg-secondary text-white" style="width: 50%">Grand Total of Projected For Next Review Period</th>
        <th class="text-right pr-1" style="width: 50%">Rs. {{incomeFromAccount?.grandTotalProjected}}</th>
      </tr>
    </table>
  </div>
</div>

