<hr class="print-line">
<div class="row mt-2">
    <div class="col-md-12">
        <p v><strong   class="fontSize-12">Earning, Profitability and Pricing</strong></p>
        <ng-container *ngIf="!individual;else inst">
            <span><strong class="fontSize-10">Earning From Customer</strong></span>
            <table class="table table-bordered table-responsive-md table-hover text-center table-sm sb-small">
                <thead>
                <tr class="sb-bg-dark text-white fontSize-10">
                    <th>Particular</th>
                    <th>Earning projected in last review period</th>
                    <th>During review period</th>
                    <th>Projected earnings for next one year</th>
                </tr>
                </thead>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10"><b>Loan Processing Charge</b></td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.processingLastReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.processingDuringReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.processingNextReview |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10"><b>Loan renewal charge</b></td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.renewalLastReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.renewalDuringReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.renewalNextReview |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1"><b>Exchange Earning</b></td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.exchangeLastReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.exchangeDuringReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.exchangeNextReview |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1"><b>Fees and commission</b></td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.feeCommissionLastReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.feeCommissionDuringReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.feeCommissionNextReview |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1"><b>Other Charges</b></td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.otherChargesLastReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.otherChargesDuringReview1 |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.otherChargesNextReview |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10"><b>Gross Interest</b></td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.grossLastReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.grossDuringReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.grossNextReview |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1">Overdraft</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.overDraftLastReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.overDraftDuringReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.overDraftNextReview |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">TR Loan</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.trLoanLastReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.trLoanDuringReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.trLoanNextReview |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">Demand Loan</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.demandLastReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.demandDuringReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.demandNextReview |currencyFormatter}}</td>
                </tr>
                <ng-container *ngIf="incomeFromAccount?.grossSubCateGory?.length > 0">
                    <tr *ngFor="let data of incomeFromAccount?.grossSubCateGory; let index = index">
                        <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">{{data?.name}}</td>
                        <td class="text-right pr-1 fontSize-10">Rs. {{data?.grossLast}}</td>
                        <td class="text-right pr-1 fontSize-10">Rs. {{data?.grossDuring}}</td>
                        <td class="text-right pr-1 fontSize-10">Rs. {{data?.grossNext}}</td>
                    </tr>
                </ng-container>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10"><b>Total</b></td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.totalLastReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.totalDuringReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.totalNextReview |currencyFormatter}}</td>
                </tr>
            </table>

            <span><strong class="fontSize-10">Profitability From Customer</strong></span>
            <table class="table table-bordered table-responsive-md table-hover text-center table-sm sb-small">
                <thead>
                <tr class="sb-bg-dark text-white fontSize-10">
                    <th>Particular</th>
                    <th>Amount in NRP</th>
                </tr>
                </thead>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">Interest Income</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.interestIncome |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">Cost at Base Rate</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.costBaseRate |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">Net Interest Surplus</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.netInterestSurplus |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">Commission / Fees Income</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.feeCommission |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">Other Income</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.otherIncome |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">Capital cost allocated - Non Funded</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.capitalCost |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">Economic Profit</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.economicProfit |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">Economic Profit Percentage</td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.economicProfitPercentage |currencyFormatter}}</td>
                </tr>
            </table>

            <span><strong class="fontSize-10">Risk Based Pricing</strong></span>
            <table class="table table-bordered table-responsive-md table-hover text-center table-sm sb-small">
                <thead>
                <tr class="sb-bg-dark text-white fontSize-10">
                    <th>S.No</th>
                    <th>Facility</th>
                    <th>Target Pricing</th>
                    <th>Existing Interest Rate</th>
                    <th>Difference</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let risk of incomeFromAccount?.riskBasedPrice; let ind = index">
                    <td class="sn">{{ind + 1}}</td>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">{{risk?.facility}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{risk?.targetPricing}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{risk?.exitingInterestRate}}</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{risk?.difference}}</td>
                </tr>
                </tbody>
            </table>
        </ng-container>
        <ng-template #inst>
            <table class="table table-bordered table-responsive-md table-hover text-center table-sm sb-small">
                <thead>
                <tr class="sb-bg-dark text-white fontSize-10">
                    <th>Particular</th>
                    <th>During Review Period</th>
                    <th>Projected For next Review Period</th>
                </tr>
                </thead>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">Gross Interest</td>
                    <td class="text-right pr-1 fontSize-10">Rs. {{incomeFromAccount?.interestDuringReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.interestAfterNextReview |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">Free and Commission</td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.commissionDuringReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.commissionAfterNextReview |currencyFormatter}}</td>
                </tr>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">Loan Processing Charge</td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.loanProcessingDuringReview |currencyFormatter}}</td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.loanProcessingAfterNextReview |currencyFormatter}}</td>
                </tr>
                <ng-container *ngIf="srdbAffiliatedId">
                    <tr>
                        <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">LC Commission</td>
                        <td class="text-right pr-1 fontSize-10">
                            Rs. {{incomeFromAccount?.lcCommissionDuringReview |currencyFormatter}}</td>
                        <td class="text-right pr-1 fontSize-10">
                            Rs. {{incomeFromAccount?.lcCommissionAfterNextReview |currencyFormatter}}
                        </td>
                    </tr>
                    <tr>
                        <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">Guarantee Commission</td>
                        <td class="text-right pr-1 fontSize-10">
                            Rs. {{incomeFromAccount?.guaranteeCommissionDuringReview |currencyFormatter}}</td>
                        <td class="text-right pr-1 fontSize-10">
                            Rs. {{incomeFromAccount?.guaranteeCommissionAfterNextReview |currencyFormatter}}
                        </td>
                    </tr>
                </ng-container>
                <tr>
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">Other Charges</td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.otherChargesDuringReview |currencyFormatter}}
                    </td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.otherChargesAfterNextReview |currencyFormatter}}
                    </td>
                </tr>
                <tr class="font-weight-bold">
                    <td class="sb-bg-secondary text-white text-left pl-1 fontSize-10">Total</td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.totalIncomeDuringReview |currencyFormatter}}
                    </td>
                    <td class="text-right pr-1 fontSize-10">
                        Rs. {{incomeFromAccount?.totalIncomeAfterNextReview |currencyFormatter}}</td>
                </tr>
            </table>
        </ng-template>
        <table class="table table-responsive-md table-bordered sb-small text-center table-sm">
            <thead>
            <tr class="sb-bg-dark text-white fontSize-10">
                <th>Remark</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-left pl-1 fontSize-10" [innerHTML]="incomeFromAccount?.incomeFromTheAccount"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<app-income-from-account-view *ngIf="!newCustomerFlag && individual" [individual]="individual"
                              [data]="incomeFromAccount"></app-income-from-account-view>
