<script src="product-paper-checklist.component.ts"></script>
<div class ="col-md-12" id ="paper-checklist">
<p><strong>Product: {{loan?.name}}</strong></p>
    <form [formGroup]="paperForm">
        <!--    section one-->
        <table class="table table-sm table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
            <thead class="sb-bg-dark">
            <tr>
                <th [colSpan]="fromLoan?'2':'3'">COMPLIANCE TO PRODUCT PAPER - CHECKLIST </th>
                <th *ngIf="fromLoan"><a href="javascript:void(0)" (click)="yesToAll()">Yes To All</a></th>
                <th *ngIf="fromLoan"><a  href="javascript:void(0)" (click)="noToAll()">No To All</a></th>
                <th *ngIf="fromLoan"><a  href="javascript:void(0)" (click)="naToAll()">Na To All</a></th>
            </tr>
            <tr>
                <th>S.N.</th>
                <th>Section 1 - Document Checklist</th>
                <th *ngIf="fromLoan">Yes</th>
                <th *ngIf="fromLoan">No</th>
                <th *ngIf="fromLoan">NA</th>
                <th *ngIf="!fromLoan">YES/NO</th>
            </tr>
            </thead>
            <tbody>
            <tr class="sb-bg-dark">
                <td><b>A</b></td>
                <td><b>Net Worth & Credit Information</b></td>
            </tr>
            <!--       first net worth section-->
            <ng-container *ngIf="loan?.name !== 'Education Loan'; else educationLoan;">
                <tr>
                    <td>1</td>
                    <td>CICL report dated ....... {{loan?.name==='Home Loan'?'':'2021'}} obtained</td>
                    <ng-container *ngIf="fromLoan">
                        <td  *ngFor="let option of yesNo" >
                            <input [value]="option" formControlName="ciclDate" name="ciclDate" type="radio">
                        </td>
                    </ng-container>
                    <td *ngIf="!fromLoan">{{formData?.ciclDate || 'Na'}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Internal Hot List and Rejection List checked</td>
                    <ng-container *ngIf="fromLoan">
                        <td  *ngFor="let option of yesNo" >
                            <input [value]="option" formControlName="internal" name="internal" type="radio">
                        </td>
                    </ng-container>
                    <td *ngIf="!fromLoan">{{formData?.internal}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Negative List (of Business/Profession) checked</td>
                    <ng-container *ngIf="fromLoan">
                        <td  *ngFor="let option of yesNo" >
                            <input [value]="option" formControlName="negative" name="negative" type="radio">
                        </td>
                    </ng-container>
                    <td *ngIf="!fromLoan">{{formData?.negative || 'Na'}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Credit reference if the applicants/guarantor maintains credit relationship with other FIs.</td>
                    <ng-container *ngIf="fromLoan">
                        <td  *ngFor="let option of yesNo" >
                            <input [value]="option" formControlName="reference" name="reference" type="radio">
                        </td>
                    </ng-container>
                    <td *ngIf="!fromLoan">{{formData?.reference || 'Na'}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Personal/Business bank account statements.</td>
                    <ng-container *ngIf="fromLoan">
                        <td  *ngFor="let option of yesNo" >
                            <input [value]="option" formControlName="statements" name="statements" type="radio">
                        </td>
                    </ng-container>
                    <td *ngIf="!fromLoan">{{formData?.statements || 'Na'}}</td>
                </tr>
            </ng-container>
            <ng-template #educationLoan>
                <tr>
                    <td>1</td>
                    <td>Internal Hot List and Rejection List checked</td>
                    <ng-container *ngIf="fromLoan">
                        <td  *ngFor="let option of yesNo" >
                            <input [value]="option" formControlName="internal" name="internal" type="radio">
                        </td>
                    </ng-container>
                    <td *ngIf="!fromLoan">{{formData?.internal}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Negative List (of Business/Profession) checked</td>
                    <ng-container *ngIf="fromLoan">
                        <td  *ngFor="let option of yesNo" >
                            <input [value]="option" formControlName="negative" name="negative" type="radio">
                        </td>
                    </ng-container>
                    <td *ngIf="!fromLoan">{{formData?.negative || 'Na'}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Credit reference if the applicants/guarantor maintains credit relationship with other FIs.</td>
                    <ng-container *ngIf="fromLoan">
                        <td  *ngFor="let option of yesNo" >
                            <input [value]="option" formControlName="reference" name="reference" type="radio">
                        </td>
                    </ng-container>
                    <td *ngIf="!fromLoan">{{formData?.reference || 'Na'}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Personal/Business bank account statements.</td>
                    <ng-container *ngIf="fromLoan">
                        <td  *ngFor="let option of yesNo" >
                            <input [value]="option" formControlName="statements" name="statements" type="radio">
                        </td>
                    </ng-container>
                    <td *ngIf="!fromLoan">{{formData?.statements || 'Na'}}</td>
                </tr>
            </ng-template>
            <tr class="sb-bg-dark">
                <td><b>B</b></td>
                <td><b>Fixed Asset Collateral Documents</b></td>
            </tr>
            <ng-container *ngIf="loan?.name === 'Auto Loan'; else otherFA;">
                <tr>
                    <td>1</td>
                    <td>
                        Quotation from authorized retailer
                    </td>
                    <ng-container *ngIf="fromLoan">
                        <td  *ngFor="let option of yesNo" >
                            <input [value]="option" formControlName="lalPurja" name="lalPurja" type="radio">
                        </td>
                    </ng-container>
                    <td *ngIf="!fromLoan">{{formData?.lalPurja || 'Na'}}</td>
                </tr>
            </ng-container>
            <ng-template #otherFA>
                <tr>
                    <td>1</td>
                    <td>Copy of the Land Ownership Certificate (Lal Purja)</td>
                    <ng-container *ngIf="fromLoan">
                        <td  *ngFor="let option of yesNo" >
                            <input [value]="option" formControlName="lalPurja" name="lalPurja" type="radio">
                        </td>
                    </ng-container>
                    <td *ngIf="!fromLoan">{{formData?.lalPurja || 'Na'}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Blueprint/Trace of the Land (Napi Naksa)</td>
                    <ng-container *ngIf="fromLoan">
                        <td  *ngFor="let option of yesNo" >
                            <input [value]="option" formControlName="bluePrint" name="bluePrint" type="radio">
                        </td>
                    </ng-container>
                    <td *ngIf="!fromLoan">{{formData?.bluePrint || 'Na'}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Boundary (Char Killa) Certificate</td>
                    <ng-container *ngIf="fromLoan">
                        <td  *ngFor="let option of yesNo" >
                            <input [value]="option" formControlName="boundary" name="boundary" type="radio">
                        </td>
                    </ng-container>
                    <td *ngIf="!fromLoan">{{formData?.boundary || 'Na'}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Building Completion Certificate if building also considered as collateral 			</td>
                    <ng-container *ngIf="fromLoan">
                        <td  *ngFor="let option of yesNo" >
                            <input [value]="option" formControlName="bcc" name="bcc" type="radio">
                        </td>
                    </ng-container>
                    <td *ngIf="!fromLoan">{{formData?.bcc || 'Na'}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Building Construction Approval (Nirman ijajat patra)</td>
                    <ng-container *ngIf="fromLoan">
                        <td  *ngFor="let option of yesNo" >
                            <input [value]="option" formControlName="bca" name="bca" type="radio">
                        </td>
                    </ng-container>
                    <td *ngIf="!fromLoan">{{formData?.bca || 'Na'}}</td>
                </tr>
                <tr *ngIf="loan?.name === 'Home Loan'">
                    <td>6</td>
                    <td>Photograph of Fixed Asset Collateral showing clear road access of minimum 8 feet width</td>
                    <ng-container *ngIf="fromLoan">
                        <td  *ngFor="let option of yesNo" >
                            <input [value]="option" formControlName="fac" name="fac" type="radio">
                        </td>
                    </ng-container>
                    <td *ngIf="!fromLoan">{{formData?.fac}}</td>
                </tr>
            </ng-template>
            <tr class="sb-bg-dark">
                <td><b>C</b></td>
                <td><b>Income Documents</b></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    Salary Certificate issued by employer (dated within last 60 days of loan application)
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="salaryCertificate" name="salaryCertificate" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.salaryCertificate || 'Na'}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    Pensioners: Pension book/Identification
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="pension" name="pension" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.pension || 'Na'}}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    Rental income: Copy of rental agreement/contract supported by Land ownership certificate of the property rented.
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="rental" name="rental" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.rental || 'Na'}}</td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    Professionals (Medical practitioners, Engineers and Chartered Accountants): Copy of academic qualification and certified income statement
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="professional" name="professional" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.professional || 'Na'}}</td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    Business income (self-employed applicants): Financial statements of the past 2 years supported by firm registration certificate and tax/PAN certificate.
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="businessIncome" name="businessIncome" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.businessIncome || 'Na'}}</td>
            </tr>
            <tr *ngIf="loan?.name === 'Home Loan'">
                <td>6</td>
                <td>
                    Agriculture income (applicants owning agricultural land) : Income substantiating documents certified by Administrative Office of Nepal Government like Ward Office
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="agricultureIncome" name="agricultureIncome" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.agricultureIncome}}</td>
            </tr>

            </tbody>
        </table>
        <!--   section two-->
        <table class="table table-sm table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
            <thead class="sb-bg-dark">
            <th>S.N.</th>
            <th> Section 2 - Compliance To HMLN Product Paper Parameters</th>
            <th *ngIf="fromLoan">YES</th>
            <th *ngIf="fromLoan">NO</th>
            <th *ngIf="fromLoan">NA</th>
            <th *ngIf="!fromLoan">YES/NO</th>
            </thead>
            <tbody>
            <tr class="sb-bg-dark">
                <td><b>A</b></td>
                <td><b>Loan Structure</b></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    Loan amount is within the delegated CAD (Both Account and Group Exposure)
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="loanAmount" name="loanAmount" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.loanAmount || 'Na'}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    Credit chain checked and verified
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="creditChain" name="creditChain" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.creditChain || 'Na'}}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>

                    <p  *ngIf="loan?.name === 'Home Equity Instalment Credit' || loan?.name === 'Home Equity Line of Credit'"> Loan Tenure:
                        HEIC: Minimum 1 year, Maximum 15 years
                        HELOC: 12 months or less
                    </p>
                    <p  *ngIf="loan?.name === 'Education Loan'">
                        Loan Tenure: Maximum 180 months excluding moratorium period
                    </p>
                    <p  *ngIf="loan?.name === 'Auto Loan'">
                        Loan Tenure:
                        New Vehicles: Minimum 1 year, Maximum 7 years ; (Maximum 10 years for mortgaged borrowers availing HMLN and HELN)
                        Used Vehicles: Minimum 1 year, Maximum 5 years
                        Refinance: Tenure to be restricted to remaining tenure with FI from where the loan is being taken over
                        (Age of used and refinanced vehicle not to exceed 7 years at maturity)

                    </p>

                    <p *ngIf="loan?.name === 'Home Loan'">Loan Tenure: Minimum 12 months and Maximum 480 months or as per Product Paper</p>
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="loanTenure" name="loanTenure" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.loanTenure || 'Na'}}</td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                   <p *ngIf="loan?.name === 'Home Equity Instalment Credit' || loan?.name === 'Home Equity Line of Credit'"> Loan Amount:
                       HEIC: Minimum NPR 500K, Maximum NPR 15,000K
                       HELOC: Minimum NPR 500K, Maximum NPR 5,000K
                   </p>
                    <p *ngIf="loan?.name === 'Home Loan'">Loan Amount: Minimum 250K and Maximum 50,000K</p>
                    <p *ngIf="loan?.name === 'Auto Loan'">Loan Amount: Minimum NPR 500K and Maximum NPR 10,000K</p>
                    <p *ngIf="loan?.name === 'Education Loan'">Loan Amount: Minimum 500K and Maximum 7,000K (For Diploma/Vocational Education Courses, Maximum NPR 4,500K)</p>
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="loanAmountMax" name="loanAmountMax" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.loanAmountMax || 'Na'}}</td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <p *ngIf="loan?.name === 'Home Loan'">
                        Loan to Value (LTV):
                        Property located inside/outside Kathmandu valley: Maximum 60% of the FMV.
                        <b>First Home Buyer</b> -Maximum 70% of FMV
                        <br>- All the criteria as per NRB Directive 3/078 – 11.4.Kha has been met
                    </p>
                    <p *ngIf="loan?.name === 'Home Equity Instalment Credit' || loan?.name === 'Home Equity Line of Credit'">
                        Loan to Value (LTV):
                        Property located inside Kathmandu valley: Maximum 40% of the FMV
                        Property located outside Kathmandu valley: Maximum 50% of the FMV
                    </p>
                    <p *ngIf="loan?.name === 'Auto Loan'">
                        Loan to Value (LTV):
                        New Vehicles: Maximum 50% of the FMV (quoted price), Maximum 80% of FMV for electric vehicles
                        Used Vehicles: Maximum 50% of FMV or NPR 4,000K, whichever is lower
                        Refinance: Maximum 50% of FMV or NPR 4,000K or loan outstanding with existing FI, whichever is lower.

                    </p>
                    <p *ngIf="loan?.name === 'Education Loan'">
                        Loan to Value (LTV): Up to 75% of the FMV of collateral or up to 95% of value of Fixed Deposit and/or Government Bond
                    </p>
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="ltv" name="ltv" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.ltv || 'Na'}}</td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                   <p *ngIf="loan?.name!=='Education Loan'">Group exposure aggregated, as per the NRB’s definition of a group (If applicable)</p>
                   <p *ngIf="loan?.name ==='Education Loan'">Drawdown: Up to 100% of cost of study (including cost of travelling, living and accommodation of student/dependent spouse)</p>
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="groupExposure" name="groupExposure" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.groupExposure || 'Na'}}</td>
            </tr>
            <tr *ngIf="loan?.name ==='Education Loan'">
                <td>7</td>
                <td>
                    Group exposure aggregated, as per the NRB’s definition of a group (If applicable)
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="aggregate" name="aggregate" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.aggregate || 'Na'}}</td>
            </tr>
            <tr class="sb-bg-dark">
                <td><b>B</b></td>
                <td><b>Age of Borrower/Guarantor</b></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                   <p *ngIf="loan?.name ==='Education Loan'">Age of Borrower/Guarantor: Minimum 18 years at the time of application and maximum 65 years at the time of maturity of loan</p>
                    <p *ngIf="loan?.name!=='Education Loan'">Age of Borrower: Minimum 21 years at the time of application and 70 years at the time of maturity of the Loan</p>
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="ageOfBorrower" name="ageOfBorrower" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.ageOfBorrower || 'Na'}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <p *ngIf="loan?.name !=='Education Loan'">Age of borrower, co-borrower or guarantor has not exceeded 70 years at the time of loan application</p>
                    <p *ngIf="loan?.name ==='Education Loan'"> Age of at least one applicant/guarantor meets the age criteria</p>
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="ageOfCoBorrower" name="ageOfCoBorrower" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.ageOfCoBorrower || 'Na'}}</td>
            </tr>
            <tr class="sb-bg-dark">
                <td><b>C</b></td>
                <td><b>Debt Burden Ratio (DBR)</b></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                   <p *ngIf="loan?.name === 'Home Equity Instalment Credit' || loan?.name === 'Home Equity Line of Credit'">
                       DBR: Maximum 60% and Stretched DBR: Maximum 75%, Gross DBR=50%
                   </p>
                    <p *ngIf="loan?.name === 'Home Loan'">
                        DBR: Maximum 50% of GMI and 60% of GMI for First Home Buyer.
                    </p>
                    <p *ngIf="loan?.name === 'Auto Loan'">
                        DBR =50% of Gross Monthly Income
                    </p>
                    <p *ngIf="loan?.name === 'Education Loan'">
                        DBR: Maximum 60% and Stretched DBR: Maximum 75% (reference interest rate 14%)
                    </p>
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="dbr" name="dbr" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.dbr || 'Na'}}</td>
            </tr>
            <tr class="sb-bg-dark">
                <td><b>D</b></td>
                <td><b>Interest Rate & Fees</b></td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    Interest rate: As per latest scheme rate
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="interestRate" name="interestRate" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.interestRate || 'Na'}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    Loan Administration Fee:  As per SSC or Product Paper
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="loanFee" name="loanFee" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.loanFee || 'Na'}}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    Commitment fee: As per Product Paper / Internal Circular / SSC / Latest NRB directive
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="commitmentFee" name="commitmentFee" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.commitmentFee || 'Na'}}</td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    Swap Fee: As per Product Paper / Internal Circular / SSC / Latest NRB directive
                </td>
                <ng-container *ngIf="fromLoan">
                    <td  *ngFor="let option of yesNo" >
                        <input [value]="option" formControlName="swapFee" name="swapFee" type="radio">
                    </td>
                </ng-container>
                <td *ngIf="!fromLoan">{{formData?.swapFee || 'Na'}}</td>
            </tr>

            </tbody>
        </table>
    </form>
</div>
