<div class="tab-pane" id="basicInfo">
    <div class="wizard-title text-center"><h1>Basic Information</h1></div>
    <div class="form-group">
        <form class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="basicInfo">
            <!-- START ROW -->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="title" for="customerName">Customer Name</label>
                        <input id="customerName" formControlName="customerName" name="customerName" type="text"
                               class="form-control form-control-error" placeholder="Applicant's Full Name" required
                               minlength="2">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="title" for="customerID">Customer ID</label>
                        <input id="customerID" formControlName="customerId" name="customerId" type="text"
                               class="form-control" placeholder="8 alpha numeric customer ID" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="title" for="email">Email</label>
                    <input id="email" formControlName="email" name="email" type="email" class="form-control"
                           placeholder="eg. xyz@abc.com" required>
                </div>
            </div>
            <!-- END ROW -->
            <!-- START ROW -->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="title" for="province">Province</label>
                        <input id="province" formControlName="province" name="province" type="text" class="form-control"
                               placeholder="Province" required minlength="2">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="title" for="district">District</label>
                        <input id="district" formControlName="district" name="district" type="text" class="form-control"
                               placeholder="District" required minlength="2">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="title" for="phone">Municipalities or VDC</label>
                        <input id="municipalitiesOrVDC" formControlName="municipalitiesOrVDC" name="municipalitiesOrVDC"
                               type="text" class="form-control" placeholder="Municipalities or VDCr" required>
                    </div>
                </div>
            </div>
            <!-- END ROW -->
            <!-- START ROW -->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="title" for="mobile">Mobile</label>
                        <input id="mobile" formControlName="mobile" name="mobile" type="text" class="form-control"
                               placeholder="Mobile number" required pattern="[0-9]{10}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="title" for="phone">Phone</label>
                        <input id="phone" formControlName="telephone" name="telephone" type="text" class="form-control"
                               placeholder="Landline number" required pattern="[0-9]{9}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="title" for="accountNo">Account No.</label>
                        <input id="accountNo" formControlName="accountNo" name="accountNo" type="text"
                               class="form-control" placeholder="Applicant's Account Number" required>
                    </div>
                </div>
            </div>
            <!-- END ROW -->
            <!-- START ROW -->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="title" for="citizenshipNumber">Citizenship Number</label>
                        <input id="citizenshipNumber" type="text" formControlName="citizenshipNumber"
                               name="citizenshipNumber" class="form-control" placeholder="Citizenship Number" required>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="title" for="citizenshipIssuedPlace">Issued Place</label>
                        <input id="citizenshipIssuedPlace" formControlName="citizenshipIssuedPlace"
                               name="citizenshipIssuedPlace" type="text" class="form-control"
                               placeholder="Citizenship Issued Date" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="title" for="customercitizenshipIssuedDate">Issued Date</label>
                        <input id="customercitizenshipIssuedDate" formControlName="citizenshipIssuedDate"
                               name="customercitizenshipIssuedDate" type="date" class="form-control"
                               placeholder="Citizenship Issued Date" required>
                    </div>
                </div>
            </div>
            <!-- END ROW -->
            <div class="text-center">
                <input class="btn btn-sm btn-flat btn-primary" type="submit" value="Next"/>
            </div>


        </form>
    </div>
