<div class="row">
    <div class="col-md-12">
        <ol>
            <li>
                <p><b>PROPOSAL: </b>
                    To seek approval for providing <b>{{loanDataHolder?.companyInfo?.customerCategory | replace: '_' : ' '}}</b>
                    of NRP <b>{{totalProposed}}</b> to M/s <b>{{loanDataHolder?.loanHolder?.name}}</b> with details of under:</p>
            </li>
            <li>
                <p><strong>APPROVING AUTHORITY:</strong>
                    <app-role-heirarchy-chain
                            [refId]="loanDataHolder?.id" [loanDataHolder]="loanDataHolder"
                            [branchId]="loanDataHolder?.branch?.id"
                            [combinedLoanId]="loanDataHolder?.combinedLoan?.id"
                            [loanFlags]="loanDataHolder?.loanHolder?.loanFlags">
                    </app-role-heirarchy-chain>
                </p>
            </li>
            <li>
                <p><strong>PURPOSE OF CREDIT FACILITIES:</strong></p>
                <app-proposal-justification-summary [customerAllLoanList]="customerAllLoanList"
                                                    [isDetailedView]="isDetailedView"
                                                    [proposalData]="loanDataHolder?.proposal"></app-proposal-justification-summary>

            </li>
            <li>
                <!-- details of the customer -->
                <p>
                    <strong>DETAILS OF THE CUSTOMER:</strong><br>
                    <app-upto-details-of-the-customer [companyInfo]="loanDataHolder?.companyInfo"
                                                      [loanDataHolder]="loanDataHolder"></app-upto-details-of-the-customer>
                </p>
            </li>

            <li>
                <!-- Proposal-view of the customer -->
                <p>
                    <strong>CURRENT STATUS AND PRESENT PROPOSAL</strong><br>
                    <app-proposal-summary *ngIf="loanDataHolder?.proposal"
                                          [loanDataHolder]="loanDataHolder"
                                          [customerAllLoanList]="customerAllLoanList"
                                          [proposalData]="loanDataHolder?.proposal"></app-proposal-summary>
                </p>
            </li>
            <li *ngIf="loanDataHolder?.security">
                <!-- Security Summary -->
                <p>
                    <strong>SECURITY ARRANGEMENT</strong><br>

                    <app-security-summary *ngIf="loanDataHolder?.security"
                                          [shareSecurity]="shareSecurityData"
                                          [formData]="securityData"
                                          [securityId]="loanDataHolder?.security?.id"
                                          [collateralData]="loanDataHolder?.collateralSiteVisits"
                                          [docStatus]="loanDataHolder?.documentStatus"> </app-security-summary>
                </p>
            </li>
            <li *ngIf="loanDataHolder?.financial">
                <!-- Key financial -->
                <p>
                    <strong>KEY FINANCIAL FIGURES</strong><br>
                    <app-financial-summary *ngIf="loanDataHolder?.financial"
                                           [formData]="loanDataHolder?.financial"
                                           [loanType]="loanDataHolder?.loanCategory"> </app-financial-summary>
                </p>
            </li>

            <li *ngIf="loanDataHolder?.loanHolder?.mgroupInfo">
                <!-- group position -->
                <strong>GROUP POSITION <em>(including the present proposal)</em></strong>
                as of <b>{{loanDataHolder?.loanHolder?.mgroupInfo?.groupExposureDate
                ? (loanDataHolder?.loanHolder?.mgroupInfo?.groupExposureDate | date) : 'NA'}}</b>
                <app-m-group-summary
                        [customerCategory]="'executing'"
                        [mGroup]="loanDataHolder?.loanHolder.mgroupInfo"></app-m-group-summary>
            </li>

            <li>
                <!-- signature -->
                <p>
                    <strong>RECOMMENDATIONS, REVIEW, AND APPROVAL</strong><br>
                    <app-signature-section [loanDataHolder]="loanDataHolder"></app-signature-section>
                </p>
            </li>
        </ol>
    </div>
</div>
