@import "../progressive-offer-letter.component";

#fingerXap {
  max-width: 600px;
  width: 100%;
}

.longInput{
  width: 400px;
}

.extendedLongInput{
  width: 600px;
}

.mediumInputField{
  width: 270px;
}

.shortInput{
  width: 50px;
}

li {
  line-height: 40px;
}

p {
  line-height: 40px;
}
