@import "src/app/feature/credit-administration/cad-document-template/progressive/progressive-offer-letter/progressive-offer-letter.component";
*{
margin-left:10px;
margin-right:5px;
text-align: justify;
}
@media print {
  .page-break { page-break-before: always; }
}