@import "src/app/feature/credit-administration/cad-document-template/progressive/progressive-offer-letter/progressive-offer-letter.component";
*{
  margin-left:10px;
  margin-right:5px;
  text-align: justify;
}

.unicode-size{
  font-size:16px;
}

.unicode-size2{
  font-size: 24px;
}

@media print {
  .page-break { page-break-before: always; }
}

span {
  line-height: 1;
}

.nepaliFont{
  font-family: Preeti;
}

table { overflow: visible !important; }
thead { display: table-header-group !important; }
tr { page-break-inside: avoid !important; }
