@page {
  size: A4;
  margin: 17mm 17mm 17mm 17mm;
}
table { page-break-inside:auto }
tr    { page-break-inside:avoid;
        page-break-after:auto;}
thead { display:table-header-group }
tfoot { display:table-footer-group }
@media print{
  div.divFooter{
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  tr, td {
    break-after: auto;
    break-inside: avoid;
    line-height: 1.9;
  }
}
input{
  font-size: 16px !important;
}
.nepaliList {
  list-style-type: devanagari !important;
}
table{
  text-align: justify !important;
  line-height: 1.9;
}
.nep {
  font-size: 16px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 50px;
}

.form-field {
  background: yellow;
  margin: 0px 5px 5px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
  &:focus {
    outline: none;
  }
}

nb-card{
  max-height: 100vh !important;
}

li {
  list-style-type: none;
  line-height: 1.9;
}

.disclist > li{
  list-style-type: disc;
}
.hello{
  width: 95%;
  float: right;
}
.hello >tr{
  border: 1px solid black !important;
}
.hello > tr > td{
  border: 1px solid black !important;
}

.page-break {
  page-break-after: always !important;
}
