.nepaliFont{
  font-size: 16px;
}
table {
  text-align: justify !important;
  line-height: 1.9;
}
p{
  line-height: 1.9;
}
.nepaliList {
  list-style-type: devanagari;
  line-height: 1.9;
}
.nepaliList > li {
  list-style-type: devanagari;
  line-height: 1.9;
}
.nep {
  font-size: 16px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 70px;
}
@page {
  size: A4;
  margin: 17mm 17mm 17mm 17mm;
}
.hello{
  width: 95%;
  float: right;
}
.hello >tr{
  border: 1px solid black !important;
}
.hello > tr > td{
  border: 1px solid black !important;
}
@media print {
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .full-width{
    width: 100%;
  }
}
.disclist > li{
  list-style-type: disc;
}
