<section>
    <nb-card>
        <nb-card-body>
            <div class="box box-primary">
                <form role="form" (ngSubmit)="onSubmit()" [formGroup]="loanForm">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name"><b>Customer Name</b></label>
                                    <input type="text" formControlName="customerName"
                                           [ngClass]="{ 'is-invalid':submitted && form.customerName.errors}"
                                           class="form-control rounded" id="name"
                                           placeholder="Enter name"/>
                                    <div *ngIf="submitted && form.customerName.errors" class="invalid-feedback">
                                        <div *ngIf="form.customerName.errors.required">Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group rounded">
                                    <label for="citizenshipNumber"><b>Citizenship Number</b></label>
                                    <div class="input-group mb-3">
                                        <input type="text" formControlName="citizenshipNumber"
                                               class="form-control rounded"
                                               [ngClass]="{ 'is-invalid':submitted && form.citizenshipNumber.errors}"
                                               id="citizenshipNumber" placeholder="Enter citizenship number"
                                               min="0"/>
                                        <div class="input-group-append">
                                            <button nbButton outline status="primary" size="small"
                                                    (click)="searchByCitizenship()">Search
                                            </button>
                                        </div>
                                        <div *ngIf="submitted && form.citizenshipNumber.errors"
                                             class="invalid-feedback">
                                            <div *ngIf="form.citizenshipNumber.errors.required">
                                                Citizenship number is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row" *ngIf="!personal">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="companyName"><b>Company Name</b></label>
                                    <input type="text" formControlName="companyName"
                                           [ngClass]="{ 'is-invalid':submitted && form.companyName.errors && !personal}"
                                           class="form-control rounded" id="companyName"
                                           placeholder="Enter company name"/>
                                    <div *ngIf="submitted && form.companyName.errors && !personal"
                                         class="invalid-feedback">
                                        <div *ngIf="form.companyName.errors.required">Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group rounded">
                                    <label for="registrationNumber"><b>Registration Number</b></label>
                                    <div class="input-group mb-3">
                                        <input type="text" formControlName="registrationNumber"
                                               class="form-control rounded"
                                               [ngClass]="{ 'is-invalid':submitted && form.registrationNumber.errors && !personal}"
                                               id="registrationNumber" placeholder="Enter registration number"
                                               min="0"/>
                                        <div class="input-group-append">
                                            <button nbButton outline status="primary" size="small"
                                                    (click)="searchByRegNO()">Search
                                            </button>
                                        </div>
                                        <div *ngIf="submitted && form.registrationNumber.errors && !personal"
                                             class="invalid-feedback">
                                            <div *ngIf="form.registrationNumber.errors.required">
                                                registration number is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contact"><b>Contact Number</b></label>
                                    <input type="text" formControlName="contactNumber" class="form-control rounded"
                                           id="contact"
                                           [ngClass]="{ 'is-invalid':submitted && form.contactNumber.errors}"
                                           placeholder="Enter Contact Number"/>
                                    <span><sup>*</sup> Multiple number can be input with commas.</span>
                                    <div *ngIf="submitted && form.contactNumber.errors" class="invalid-feedback">
                                        <div *ngIf="form.contactNumber.errors.required">Contact number is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="interest"><b>Interest Rate</b></label>
                                    <input type="number" formControlName="interestRate" class="form-control rounded"
                                           id="interest"
                                           [ngClass]="{ 'is-invalid':submitted && form.interestRate.errors}"
                                           placeholder="Enter interest rate"
                                           min="0"/>
                                    <div *ngIf="submitted && form.interestRate.errors" class="invalid-feedback">
                                        <div *ngIf="form.interestRate.errors.required">
                                            Interest is required.
                                        </div>
                                        <div *ngIf="form.interestRate.errors.min">
                                            Interest Rate can not be negative value.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="amount"><b>Proposed Amount</b></label>
                                    <input type="number" formControlName="proposedAmount" class="form-control rounded"
                                           id="amount"
                                           [ngClass]="{ 'is-invalid':submitted && form.proposedAmount.errors}"
                                           placeholder="Enter proposed amount"
                                           min="0"/>
                                    <div *ngIf="submitted && form.proposedAmount.errors" class="invalid-feedback">
                                        <div *ngIf="form.proposedAmount.errors.required">
                                            Amount is required
                                        </div>
                                        <div *ngIf="form.proposedAmount.errors.min">
                                            Amount Can not be negative value.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label><b>Security</b></label>
                                    <ng-select [items]="dropdownList"
                                               class="form-control"
                                               bindLabel="name"
                                               bindValue="id"
                                               [multiple]="true"
                                               placeholder="Select Security"
                                               formControlName="security"
                                               [ngClass]="{'is-invalid':submitted &&  form.security.errors}">
                                    </ng-select>
                                    <div *ngIf="submitted && form.security.errors" class="invalid-feedback">
                                        <div *ngIf="form.security.errors.required">
                                            Security is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tenureDuration"><b>Tenure Duration In Month</b></label>
                                    <input type="number" formControlName="tenureDuration" class="form-control rounded"
                                           id="tenureDuration"
                                           [ngClass]="{ 'is-invalid':submitted && form.tenureDuration.errors}"
                                           placeholder="Enter Tenure Duration"
                                           min="0"/>
                                    <div *ngIf="submitted && form.tenureDuration.errors" class="invalid-feedback">
                                        <div *ngIf="form.tenureDuration.errors.required">
                                            Tenure Duration is required
                                        </div>
                                        <div *ngIf="form.tenureDuration.errors.min">
                                            Tenure Duration can not be negative value.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label><b>Priority</b></label>
                                <ng-select [items]="dropdownPriorities"
                                           class="form-control"
                                           bindLabel="name"
                                           bindValue="id"
                                           [multiple]="false"
                                           placeholder="Select the priority level"
                                           formControlName="priority"
                                           [ngClass]="{'is-invalid':submitted &&  form.priority.errors}">
                                </ng-select>
                                <div *ngIf="submitted && form.priority.errors" class="invalid-feedback">
                                    <div *ngIf="form.priority.errors.required">
                                        Priority is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fmvTotal"><b>Total FMV</b></label>
                                    <input type="number" formControlName="fmvTotal" class="form-control rounded"
                                           id="fmvTotal"
                                           [ngClass]="{ 'is-invalid':submitted && form.fmvTotal.errors}"
                                           placeholder="Enter Total FMV"
                                           min="0"/>
                                    <div *ngIf="submitted && form.fmvTotal.errors" class="invalid-feedback">
                                        <div *ngIf="form.fmvTotal.errors.required">
                                            Total FMV is required
                                        </div>
                                        <div *ngIf="form.fmvTotal.errors.min">
                                            Total FMV can not be negative value.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="totalLoanLimit"><b>Total Loan Limit</b></label>
                                    <input type="number" formControlName="totalLoanLimit" class="form-control rounded"
                                           id="totalLoanLimit"
                                           [ngClass]="{ 'is-invalid':submitted && form.totalLoanLimit.errors}"
                                           placeholder="Enter Total Loan Limit"
                                           min="0"/>
                                    <div *ngIf="submitted && form.totalLoanLimit.errors" class="invalid-feedback">
                                        <div *ngIf="form.totalLoanLimit.errors.required">
                                            Total Loan Limit is required.
                                        </div>
                                        <div *ngIf="form.totalLoanLimit.errors.min">
                                            Total Loan Limit can not be negative value.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="groupExpo"><b>Group Exposure</b></label>
                                    <input type="text" formControlName="groupExpo" class="form-control rounded"
                                           id="groupExpo"
                                           [ngClass]="{ 'is-invalid':submitted && form.groupExpo.errors}"
                                           placeholder="Enter Group Exposure"/>
                                    <div *ngIf="submitted && form.groupExpo.errors" class="invalid-feedback">
                                        <div *ngIf="form.groupExpo.errors.required">
                                            Group Exposure is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fmvFundingPercent"><b>Fair Market Value(FMV) Funding % </b></label>
                                    <input type="number" formControlName="fmvFundingPercent"
                                           class="form-control rounded"
                                           id="fmvFundingPercent"
                                           [ngClass]="{ 'is-invalid':submitted && form.fmvFundingPercent.errors}"
                                           placeholder="Enter Fair Market Value(FMV) Funding %"
                                           min="0"/>
                                    <div *ngIf="submitted && form.fmvFundingPercent.errors" class="invalid-feedback">
                                        <div *ngIf="form.fmvFundingPercent.errors.required">
                                            Fair Market Value(FMV) Funding % is required.
                                        </div>
                                        <div *ngIf="form.fmvFundingPercent.errors.min">
                                            Fair Market Value(FMV) Funding % Can not be negative value.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="serviceChargeType"><b>Service Charge Type</b></label>
                                <div class="row ml-2">
                                    <nb-radio-group class="col-md-4 d-contents form-control" id="serviceChargeType"
                                                    name="serviceChargeType" formControlName="serviceChargeType"
                                                    [ngClass]="{ 'is-invalid':submitted && form.serviceChargeType.errors}">
                                        <nb-radio class="form-group" value="Percentage">Percentage</nb-radio>
                                        <nb-radio class="form-group" value="Flat">Flat</nb-radio>
                                    </nb-radio-group>
                                </div>
                                <div *ngIf="submitted && form.serviceChargeType.errors" class="invalid-feedback">
                                    <div *ngIf="form.serviceChargeType.errors.required">Tenure Duration is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="serviceChargeAmount"><b>Service Charge
                                    In {{loanForm.get('serviceChargeType').value}}</b></label>
                                <input type="number" formControlName="serviceChargeAmount" class="form-control rounded"
                                       id="serviceChargeAmount"
                                       [ngClass]="{ 'is-invalid':submitted && form.serviceChargeAmount.errors}"
                                       placeholder="Enter Tenure Duration"
                                       min="0"/>
                                <div *ngIf="submitted && form.serviceChargeAmount.errors" class="invalid-feedback">
                                    <div *ngIf="form.serviceChargeAmount.errors.required">
                                        Service Charge is required.
                                    </div>
                                    <div *ngIf="form.serviceChargeAmount.errors.min">
                                        Service Charge Can not be negative value.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="initialDocuments.length > 0">
                        <div class="col-md-6">
                            <div class="box-header with-border">
                                <h3 class="box-title"><b>Document for initial phase</b></h3>
                                <em><span
                                        style="color:red;">(select the image in .png or .jpg format and smaller than 10Mb)</span></em>
                            </div>
                            <div *ngIf="errorMessage">
                                <span class="color" style="color:red"> Maximum Size Exceeds!!!</span>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped table-bordered table-hover ">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Document Type</th>
                                        <th>Upload</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let document of initialDocuments; let i=index">
                                        <td>
                                            {{i + 1}}
                                        </td>
                                        <td>{{document.name}}</td>
                                        <td><input type="file" class="form-control-file" id="initial"
                                                   formControlName="file"
                                                   [ngClass]="{'is-invalid':submitted && form.file.errors}"
                                                   accept=".png, .jpg" multiple=""
                                                   (change)="documentUploader($event,document.name)">
                                            <div *ngIf="submitted && form.file.errors"
                                                 class="invalid-feedback">
                                                <div *ngIf="form.file.errors.required">Please upload the
                                                    required
                                                    documents
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div *ngFor="let path of imageUrl">
                                    <img width="100%" id="image" [src]="path"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="recommendation"><b>Recommendation/Conclusion</b></label>
                                <textarea class="form-control rounded" formControlName="recommendation"
                                          id="recommendation"
                                          rows="3"
                                          [ngClass]="{ 'is-invalid':submitted && form.recommendation.errors}">
                            </textarea>
                                <div *ngIf="submitted && form.recommendation.errors" class="invalid-feedback">
                                    <div *ngIf="form.recommendation.errors.required">Recommendation is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="waiver"><b>Waiver</b></label>
                                <textarea class="form-control rounded" formControlName="waiver" id="waiver"
                                          rows="3" [ngClass]="{ 'is-invalid':submitted && form.waiver.errors}">
                                </textarea>
                                <div *ngIf="submitted && form.waiver.errors" class="invalid-feedback">
                                    <div *ngIf="form.waiver.errors.required">Waiver is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="hasPreviousLoan">
                <p><b>Previous Loans</b>
                    <button class="float-right" nbButton outline size="small" (click)="hidePreviousLoans()">Hide
                    </button>
                </p>
                <table class="table table-condensed table-bordered">
                    <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Loan</th>
                        <th>Branch</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let loan of previousLoans; let i = index"
                        (click)="openLoan(loan.loan.id,loan.id)"
                        class="cursor">
                        <td>{{i + 1}}</td>
                        <td>{{loan?.loan?.name}}</td>
                        <td>{{loan?.branch?.name}}</td>
                        <td>{{loan?.documentStatus}}</td>
                    </tr>
                    </tbody>
                </table>
                <hr/>
            </div>
        </nb-card-body>
    </nb-card>
</section>
