<section>
  <nb-card>
    <nb-card-body>
      <div class="box box-primary">
        <form (ngSubmit)="onSubmit()" [formGroup]="loanForm" role="form">
          <div class="box-body">
            <!-- Customer Information Starts -->
            <div class="row">
              <div class="col-md-12">
                <h5>Customer Information
                  <small
                      *ngIf="customerFormField.isOldCustomer" style="color:red;">
                    (Note: Any change in old customer information will be
                    over-written.)
                  </small>
                </h5>
                <hr/>
              </div>
            </div>
            <div class="row">
              <div *ngIf="customerFormField.showFormField" class="col-md-4">
                <div class="form-group">
                  <label for="name"><strong>Customer Name</strong></label>
                  <input [ngClass]="{ 'is-invalid':submitted && form.customerName.errors}"
                         class="form-control rounded"
                         formControlName="customerName"
                         id="name" placeholder="Enter name"
                         type="text"/>
                  <div *ngIf="submitted && form.customerName.errors" class="invalid-feedback">
                    <div *ngIf="form.customerName.errors.required">Name is required</div>
                  </div>
                </div>
              </div>
              <div *ngIf="customerFormField.showFormField" class="col-md-4">
                <div class="form-group">
                  <label for="dob"><strong>Date Of Birth</strong></label>
                  <input [nbDatepicker]="dobPicker"
                         [ngClass]="{ 'is-invalid':submitted && form.dob.errors}"
                         class="form-control rounded"
                         formControlName="dob"
                         id="dob" placeholder="Enter Date Of Birth"
                         type="text"/>
                  <nb-datepicker #dobPicker></nb-datepicker>
                  <div *ngIf="submitted && form.dob.errors"
                       class="invalid-feedback">
                    <div *ngIf="form.dob.errors.required">Date Of Birth is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group rounded">
                  <label for="citizenshipNumber"><strong>Citizenship Number</strong></label>
                  <div class="input-group mb-3">
                    <input
                        (change)="searchByCitizenship()"
                        [ngClass]="{ 'is-invalid':submitted && form.citizenshipNumber.errors}"
                        class="form-control rounded"
                        formControlName="citizenshipNumber"
                        id="citizenshipNumber"
                        min="0" placeholder="Enter citizenship number"
                        type="text"/>
                    <div class="input-group-append">
                      <button (click)="searchByCitizenship()" nbButton outline size="small"
                              status="primary">Search
                      </button>
                    </div>
                    <div *ngIf="submitted && form.citizenshipNumber.errors"
                         class="invalid-feedback">
                      <div *ngIf="form.citizenshipNumber.errors.required">
                        Citizenship number is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div *ngIf="customerFormField.showFormField" class="col-md-4">
                <div class="form-group">
                  <label for="contact"><strong>Contact Number</strong></label>
                  <input [ngClass]="{ 'is-invalid':submitted && form.contactNumber.errors}"
                         class="form-control rounded" formControlName="contactNumber"
                         id="contact"
                         placeholder="Enter Contact Number"
                         type="text"/>
                  <span><small><sup>*</sup> Multiple number can be comma separated.</small></span>
                  <div *ngIf="submitted && form.contactNumber.errors" class="invalid-feedback">
                    <div *ngIf="form.contactNumber.errors.required">Contact number is required</div>
                  </div>
                </div>
              </div>
              <div *ngIf="customerFormField.showFormField" class="col-md-4">
                <div class="form-group">
                  <label for="occupation"><strong>Occupation</strong></label>
                  <input [ngClass]="{'is-invalid':submitted &&  form.occupation.errors}"
                         class="form-control rounded" formControlName="occupation"
                         id="occupation"
                         placeholder="Enter Occupation"
                         type="text"/>
                  <div *ngIf="submitted && form.occupation.errors && !personal"
                       class="invalid-feedback">
                    <div *ngIf="form.occupation.errors.required">Occupation is required</div>
                  </div>
                </div>
              </div>
              <div *ngIf="customerFormField.showFormField" class="col-md-4">
                <div class="form-group">
                  <label for="incomeSource"><strong>Income Source</strong></label>
                  <input [ngClass]="{'is-invalid':submitted &&  form.incomeSource.errors}"
                         class="form-control rounded" formControlName="incomeSource"
                         id="incomeSource"
                         placeholder="Enter Income Source"
                         type="text"/>
                  <div *ngIf="submitted && form.incomeSource.errors && !personal"
                       class="invalid-feedback">
                    <div *ngIf="form.incomeSource.errors.required">Income Source is required</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Customer Information Ends -->

            <!-- Company Information Starts -->
            <div *ngIf="!personal">
              <div class="row">
                <div class="col-md-12">
                  <h5>Company Information
                    <small
                        *ngIf="companyFormField.isOldCustomer" style="color:red;">
                      (Note: Any change in old company information will be
                      over-written.)
                    </small>
                  </h5>
                  <hr/>
                </div>
              </div>
              <div class="row">
                <div *ngIf="companyFormField.showFormField" class="col-md-4">
                  <div class="form-group">
                    <label for="companyName"><strong>Company Name</strong></label>
                    <input
                        [ngClass]="{ 'is-invalid':submitted && form.companyName.errors && !personal}"
                        class="form-control rounded"
                        formControlName="companyName"
                        id="companyName" placeholder="Enter company name"
                        type="text"/>
                    <div *ngIf="submitted && form.companyName.errors && !personal"
                         class="invalid-feedback">
                      <div *ngIf="form.companyName.errors.required">Name is required</div>
                    </div>
                  </div>
                </div>
                <div *ngIf="companyFormField.showFormField" class="col-md-4">
                  <div class="form-group">
                    <label for="companyEstablishmentDate"><strong>Establishment Date</strong></label>
                    <input [nbDatepicker]="establishmentPicker"
                           [ngClass]="{ 'is-invalid':submitted && form.companyEstablishmentDate.errors}"
                           class="form-control rounded"
                           formControlName="companyEstablishmentDate"
                           id="companyEstablishmentDate" placeholder="Enter Establishment Date"
                           type="text"/>
                    <nb-datepicker #establishmentPicker></nb-datepicker>
                    <div *ngIf="submitted && form.companyEstablishmentDate.errors"
                         class="invalid-feedback">
                      <div *ngIf="form.companyEstablishmentDate.errors.required">Establishment
                        Date
                        is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group rounded">
                    <label for="registrationNumber"><strong>Registration Number</strong></label>
                    <div class="input-group mb-3">
                      <input
                          (change)="searchByRegNO()"
                          [ngClass]="{ 'is-invalid':submitted && form.registrationNumber.errors && !personal}"
                          class="form-control rounded"
                          formControlName="registrationNumber"
                          id="registrationNumber"
                          min="0" placeholder="Enter registration number"
                          type="text"/>
                      <div class="input-group-append">
                        <button (click)="searchByRegNO()" nbButton outline size="small"
                                status="primary">Search
                        </button>
                      </div>
                      <div *ngIf="submitted && form.registrationNumber.errors && !personal"
                           class="invalid-feedback">
                        <div *ngIf="form.registrationNumber.errors.required">
                          registration number is required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div *ngIf="companyFormField.showFormField" class="col-md-4">
                  <div class="form-group">
                    <label for="panNumber"><strong>PAN</strong></label>
                    <div class="input-group mb-3">
                      <input
                          [ngClass]="{ 'is-invalid':submitted && form.companyPAN.errors && !personal}"
                          class="form-control rounded"
                          formControlName="companyPAN"
                          id="panNumber"
                          placeholder="Enter PAN"
                          type="text"/>
                      <div *ngIf="submitted && form.companyPAN.errors && !personal"
                           class="invalid-feedback">
                        <div *ngIf="form.companyPAN.errors.required">
                          PAN is required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="companyFormField.showFormField" class="col-md-4">
                  <div class="form-group">
                    <label for="businessType"><strong>Business Type</strong></label>
                    <ng-select [items]="businessTypes"
                               [multiple]="false"
                               [ngClass]="{'is-invalid':submitted &&  form.businessType.errors}"
                               bindLabel="value"
                               bindValue="key"
                               class="form-control"
                               formControlName="businessType"
                               id="businessType"
                               placeholder="Select Business Type">
                    </ng-select>
                    <div *ngIf="submitted && form.businessType.errors && !personal"
                         class="invalid-feedback">
                      <div *ngIf="form.businessType.errors.required">Business Type is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Company Information Ends -->

            <!-- Loan Information Starts -->
            <div class="row">
              <div class="col-md-12">
                <h5>Loan Information</h5>
                <hr/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="amount"><strong>Proposed Amount</strong></label>
                  <input [ngClass]="{ 'is-invalid':submitted && form.proposedAmount.errors}"
                         class="form-control rounded" formControlName="proposedAmount"
                         id="amount"
                         min="0"
                         placeholder="Enter proposed amount"
                         type="number"/>
                  <div *ngIf="submitted && form.proposedAmount.errors" class="invalid-feedback">
                    <div *ngIf="form.proposedAmount.errors.required">
                      Amount is required
                    </div>
                    <div *ngIf="form.proposedAmount.errors.min">
                      Amount Can not be negative value.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="interest"><strong>Interest Rate</strong></label>
                  <input [ngClass]="{ 'is-invalid':submitted && form.interestRate.errors}"
                         class="form-control rounded" formControlName="interestRate"
                         id="interest"
                         min="0"
                         placeholder="Enter interest rate"
                         type="number"/>
                  <div *ngIf="submitted && form.interestRate.errors" class="invalid-feedback">
                    <div *ngIf="form.interestRate.errors.required">
                      Interest Rate is required.
                    </div>
                    <div *ngIf="form.interestRate.errors.min">
                      Interest Rate can not be negative value.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="tenureDuration"><strong>Tenure Duration In Month</strong></label>
                  <input [ngClass]="{ 'is-invalid':submitted && form.tenureDuration.errors}"
                         class="form-control rounded" formControlName="tenureDuration"
                         id="tenureDuration"
                         min="0"
                         placeholder="Enter Tenure Duration"
                         type="number"/>
                  <div *ngIf="submitted && form.tenureDuration.errors" class="invalid-feedback">
                    <div *ngIf="form.tenureDuration.errors.required">
                      Tenure Duration is required
                    </div>
                    <div *ngIf="form.tenureDuration.errors.min">
                      Tenure Duration can not be negative value.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label><strong>Security</strong></label>
                  <ng-select [items]="security"
                             [multiple]="true"
                             [ngClass]="{'is-invalid':submitted &&  form.security.errors}"
                             bindLabel="value"
                             bindValue="key"
                             class="form-control"
                             formControlName="security"
                             placeholder="Select Security">
                  </ng-select>
                  <div *ngIf="submitted && form.security.errors" class="invalid-feedback">
                    <div *ngIf="form.security.errors.required">
                      Security is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label><strong>Priority</strong></label>
                <ng-select [items]="dropdownPriorities"
                           [multiple]="false"
                           [ngClass]="{'is-invalid':submitted &&  form.priority.errors}"
                           bindLabel="name"
                           bindValue="id"
                           class="form-control"
                           formControlName="priority"
                           placeholder="Select the priority level">
                </ng-select>
                <div *ngIf="submitted && form.priority.errors" class="invalid-feedback">
                  <div *ngIf="form.priority.errors.required">
                    Priority is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="fmvTotal"><strong>Total FMV</strong></label>
                  <input [ngClass]="{ 'is-invalid':submitted && form.fmvTotal.errors}"
                         class="form-control rounded" formControlName="fmvTotal"
                         id="fmvTotal"
                         min="0"
                         placeholder="Enter Total FMV"
                         type="number"/>
                  <div *ngIf="submitted && form.fmvTotal.errors" class="invalid-feedback">
                    <div *ngIf="form.fmvTotal.errors.min">
                      Total FMV can not be negative value.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="fmvFundingPercent"><strong>Fair Market Value(FMV) Funding % </strong></label>
                  <input [ngClass]="{ 'is-invalid':submitted && form.fmvFundingPercent.errors}"
                         class="form-control rounded"
                         formControlName="fmvFundingPercent"
                         id="fmvFundingPercent"
                         min="0"
                         placeholder="Enter Fair Market Value(FMV) Funding %"
                         type="number"/>
                  <div *ngIf="submitted && form.fmvFundingPercent.errors" class="invalid-feedback">
                    <div *ngIf="form.fmvFundingPercent.errors.required">
                      Fair Market Value(FMV) Funding % is required.
                    </div>
                    <div *ngIf="form.fmvFundingPercent.errors.min">
                      Fair Market Value(FMV) Funding % Can not be negative value.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="dvTotal"><strong>Total Distress Value</strong></label>
                  <input [ngClass]="{ 'is-invalid':submitted && form.dvTotal.errors}"
                         class="form-control rounded" formControlName="dvTotal"
                         id="dvTotal"
                         min="0"
                         placeholder="Enter Total DV"
                         type="number"/>
                  <div *ngIf="submitted && form.dvTotal.errors" class="invalid-feedback">
                    <div *ngIf="form.dvTotal.errors.min">
                      Total DV can not be negative value.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div *ngIf="personal" class="col-md-4">
                <div class="form-group">
                  <label for="individualExposure"><strong>Individual Exposure</strong></label>
                  <input [ngClass]="{ 'is-invalid':submitted && form.individualExposure.errors}"
                         class="form-control rounded" formControlName="individualExposure"
                         id="individualExposure"
                         placeholder="Enter Individual Exposure"
                         type="number"/>
                  <div *ngIf="submitted && form.individualExposure.errors" class="invalid-feedback">
                    <div *ngIf="form.individualExposure.errors.required">
                      Individual Exposure is required
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!personal" class="col-md-4">
                <div class="form-group">
                  <label for="institutionExposure"><strong>Institution Exposure</strong></label>
                  <input [ngClass]="{ 'is-invalid':submitted && form.institutionExposure.errors}"
                         class="form-control rounded" formControlName="institutionExposure"
                         id="institutionExposure"
                         placeholder="Enter Institution Exposure"
                         type="number"/>
                  <div *ngIf="submitted && form.institutionExposure.errors"
                       class="invalid-feedback">
                    <div *ngIf="form.institutionExposure.errors.required">
                      Institution Exposure is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="totalLoanLimit"><strong>Total Loan Limit</strong></label>
                  <input [ngClass]="{ 'is-invalid':submitted && form.totalLoanLimit.errors}"
                         class="form-control rounded" formControlName="totalLoanLimit"
                         id="totalLoanLimit"
                         min="0"
                         placeholder="Enter Total Loan Limit"
                         type="number"/>
                  <div *ngIf="submitted && form.totalLoanLimit.errors" class="invalid-feedback">
                    <div *ngIf="form.totalLoanLimit.errors.required">
                      Total Loan Limit is required.
                    </div>
                    <div *ngIf="form.totalLoanLimit.errors.min">
                      Total Loan Limit can not be negative value.
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="personal" class="col-md-4">
                <div class="form-group">
                  <label for="interestCoverageRatio"><strong>Interest Coverage Ratio</strong></label>
                  <input [ngClass]="{ 'is-invalid':submitted && form.incomeCoverageRatio.errors}"
                         class="form-control rounded" formControlName="incomeCoverageRatio"
                         id="interestCoverageRatio"
                         min="0"
                         placeholder="Enter Interest Coverage Ratio"
                         type="number"/>
                  <div *ngIf="submitted && form.incomeCoverageRatio.errors"
                       class="invalid-feedback">
                    <div *ngIf="form.incomeCoverageRatio.errors.required">
                      Interest Coverage Ratio is required.
                    </div>
                    <div *ngIf="form.incomeCoverageRatio.errors.min">
                      Interest Coverage Ratio can not be negative value.
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!personal" class="col-md-4">
                <div class="form-group">
                  <label for="debtServiceCoverageRatio"><strong>Debt Service Coverage Ratio</strong></label>
                  <input
                      [ngClass]="{ 'is-invalid':submitted && form.debtServiceCoverageRatio.errors}"
                      class="form-control rounded" formControlName="debtServiceCoverageRatio"
                      id="debtServiceCoverageRatio"
                      min="0"
                      placeholder="Enter Debt Service Coverage Ratio"
                      type="number"/>
                  <div *ngIf="submitted && form.debtServiceCoverageRatio.errors"
                       class="invalid-feedback">
                    <div *ngIf="form.debtServiceCoverageRatio.errors.required">
                      Debt Service Coverage Ratio is required.
                    </div>
                    <div *ngIf="form.debtServiceCoverageRatio.errors.min">
                      Debt Service Coverage Ratio can not be negative value.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="groupExpo"><strong>Group Exposure</strong></label>
                  <input [ngClass]="{ 'is-invalid':submitted && form.groupExpo.errors}"
                         class="form-control rounded" formControlName="groupExpo"
                         id="groupExpo"
                         placeholder="Enter Group Exposure"
                         type="number"/>
                  <div *ngIf="submitted && form.groupExpo.errors" class="invalid-feedback">
                    <div *ngIf="form.groupExpo.errors.required">
                      Group Exposure is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label for="serviceChargeType"><strong>Service Charge Type</strong></label>
                <div class="row ml-2">
                  <nb-radio-group
                      [ngClass]="{ 'is-invalid':submitted && form.serviceChargeType.errors}"
                      class="col-md-4 d-contents form-control"
                      formControlName="serviceChargeType" id="serviceChargeType"
                      name="serviceChargeType">
                    <nb-radio class="form-group" value="Percentage">Percentage</nb-radio>
                    <nb-radio class="form-group" value="Flat">Flat</nb-radio>
                  </nb-radio-group>
                </div>
                <div *ngIf="submitted && form.serviceChargeType.errors" class="invalid-feedback">
                  <div *ngIf="form.serviceChargeType.errors.required">Tenure Duration is required
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label for="serviceChargeAmount"><strong>Service Charge
                  In {{loanForm.get('serviceChargeType').value}}</strong></label>
                <input [ngClass]="{ 'is-invalid':submitted && form.serviceChargeAmount.errors}"
                       class="form-control rounded" formControlName="serviceChargeAmount"
                       id="serviceChargeAmount"
                       min="0"
                       placeholder="Service Charge"
                       type="number"/>
                <div *ngIf="submitted && form.serviceChargeAmount.errors" class="invalid-feedback">
                  <div *ngIf="form.serviceChargeAmount.errors.required">
                    Service Charge is required.
                  </div>
                  <div *ngIf="form.serviceChargeAmount.errors.min">
                    Service Charge Can not be negative value.
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!personal" class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="keyPersonName"><strong>Key Person Name</strong></label>
                  <input
                      [ngClass]="{ 'is-invalid':submitted && form.keyPersonName.errors}"
                      class="form-control rounded"
                      formControlName="keyPersonName"
                      id="keyPersonName" placeholder="Enter key person name"
                      type="text"/>
                  <div *ngIf="submitted && form.keyPersonName.errors"
                       class="invalid-feedback">
                    <div *ngIf="form.keyPersonName.errors.required">Key Person Name is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dealingProductName"><strong>Dealing Product Name</strong></label>
                  <input
                      [ngClass]="{ 'is-invalid':submitted && form.dealingProductName.errors}"
                      class="form-control rounded"
                      formControlName="dealingProductName"
                      id="dealingProductName" placeholder="Enter dealing product name"
                      type="text"/>
                  <div *ngIf="submitted && form.dealingProductName.errors"
                       class="invalid-feedback">
                    <div *ngIf="form.dealingProductName.errors.required">Dealing Product Name is
                      required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Loan Information Ends -->
          </div>
          <div *ngIf="initialDocuments.length > 0" class="row">
            <div class="col-md-6">
              <div class="box-header with-border">
                <h3 class="box-title"><strong>Document for initial phase</strong></h3>
                <em><span
                    style="color:red;">(Select file smaller than 5MB)</span></em>
              </div>
              <div *ngIf="errorMessage">
                <span class="color" style="color:red"> {{errorMessage}}</span>
              </div>
              <div class="box-body">
                <table class="table  table-bordered table-hover text-center table-sm sb-small ">
                  <thead>
                  <tr class="text-white sb-bg-dark">
                    <th>S.N</th>
                    <th>Document Type</th>
                    <th>Upload</th>
                    <th>Upload Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let document of initialDocuments; let i=index">
                    <td>
                      {{i + 1}}
                    </td>
                    <td>{{document.name}}</td>
                    <td><input (change)="documentUploader($event,document.name, i)"
                               [ngClass]="{'is-invalid':submitted && form.file.errors}"
                               class="form-control-file"
                               formControlName="file"
                               id="uploadDocument{{i}}" multiple=""
                               type="file">
                      <div *ngIf="submitted && form.file.errors"
                           class="invalid-feedback">
                        <div *ngIf="form.file.errors.required">Please upload the
                          required
                          documents
                        </div>
                      </div>
                    </td>
                    <td>
                                            <span *ngIf="document.checked"
                                                  style="color:limegreen"><i
                                                class="fas fa-check-circle"></i></span>
                      <span *ngIf="!document.checked || document.checked === null"
                            style="color:red"><i class="fas fa-times-circle"></i></span>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div *ngFor="let path of imageUrl">
                  <img [src]="path" id="image" width="100%"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="recommendation"><strong>Recommendation/Conclusion</strong></label>
                <textarea [ngClass]="{ 'is-invalid':submitted && form.recommendation.errors}"
                          class="form-control rounded"
                          formControlName="recommendation"
                          id="recommendation"
                          rows="3">
                            </textarea>
                <div *ngIf="submitted && form.recommendation.errors" class="invalid-feedback">
                  <div *ngIf="form.recommendation.errors.required">Recommendation is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="waiver"><strong>Waiver</strong></label>
                <textarea [ngClass]="{ 'is-invalid':submitted && form.waiver.errors}"
                          class="form-control rounded" formControlName="waiver"
                          id="waiver" rows="3">
                                </textarea>
                <div *ngIf="submitted && form.waiver.errors" class="invalid-feedback">
                  <div *ngIf="form.waiver.errors.required">Waiver is required</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="hasPreviousLoan">
        <p><strong>Previous Loans</strong>
          <button (click)="hidePreviousLoans()" class="float-right" nbButton outline size="small">
            Hide
          </button>
        </p>
        <table class="table table-condensed table-bordered text-center table-sm sb-small">
          <thead>
          <tr class="text-white sb-bg-dark">
            <th>S.N</th>
            <th>Loan</th>
            <th>Branch</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr (click)="openLoan(loan.loan.id,loan.id)"
              *ngFor="let loan of previousLoans; let i = index"
              class="cursor">
            <td>{{i + 1}}</td>
            <td>{{loan?.loan?.name}}</td>
            <td>{{loan?.branch?.name}}</td>
            <td>{{loan?.documentStatus}}</td>
          </tr>
          </tbody>
        </table>
        <hr/>
      </div>
    </nb-card-body>
  </nb-card>
</section>
