*{
  line-height: 1.9em;
  font-size: 19px;
}
.nep {
  font-size: 16px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
}
.form-field {
  background: yellow;
  margin: 0px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
  &:focus {
    outline: none;
  }
  .container-name div {
    display: inline-block;
    width: 500px;
    min-height: 50px;
    background-color: #eee;
    height: auto;
  }
}

ol.conditions-list{
  list-style: devanagari;
  text-align: justify !important;
}

@media screen {
  .print-only {
    display: none;
  }

  .disable-print {
    display: inline;

  }
}

@media print {
  .print-only {
    display: inline;
  }
  div.align {
    font-size: 19px;
    line-height: 1.9;
    text-align: justify;
    text-justify: inter-word;
    margin: 10px 70px;
  }

}
