.nepaliFont{
  font-size: 16px;
}
.outside{
  font-size: 28px !important;
}
.outsidenum{
  font-size: 24px ;
}
.num{
  font-size: 22px !important;
}
.inside{
  font-size: 24px;
}
table {
  text-align: justify !important;
}
.nepaliList {
  list-style-type: devanagari;
}
.nep {
  font-size: 20px;
  line-height: 1.9 !important;
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 70px;
}
.logo-container {
  display: flex;
  width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  margin: 10px 70px;
}
footer {
  font-size: 9px;
  color: red;
  text-align: center;
  margin-top: 20px;
}

.hello{
  width: 95%;
  float: right;
}

@media print {
  @page {
    size: A4;
    margin: 17mm 17mm 17mm 17mm;
  }

  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
  }


}
