@import "src/app/feature/credit-administration/cad-document-template/progressive/progressive-legal-docs/progressive-legal-docs.component";

.longInput{
  width: 400px;
}

.extendedLongInput{
  width: 600px;
}

.longMediumInput {
  width: 400px;
}

.mediumInputField{
  width: 270px;
}

.shortInput{
  width: 50px;
}

li {
  line-height: 40px;
}

p {
  line-height: 40px;
}
