<div class="container text-justify col-md-12 p-0">
    <form [formGroup]="form">
        <div>
            <table class="table table-bordered mainTable">
                <tbody>
                <tr *ngIf="isFixed || isFloating">
                    <td width="15%"><strong>अग्रिम भुक्तानी शुल्क र/वा स्वाप
                        (Swap) शुल्कः </strong>
                    </td>
                    <td width="85%">
                        <ng-container *ngIf="isFloating">
                            <strong>परिवर्तनीय ब्याजदर सम्बन्धमा </strong><br>
                            <div>
                                स्वीकृत अधिविकर्ष तथा नविकरणीय प्रकृतिका कर्जाको तथा निश्चित अवधि वा भुक्तानी तालिका
                                बमोजिम
                                भुक्तानी हुने प्रकृतिका आवधिक वा दीर्घकालिन कर्जाको किस्ता तालिका भन्दा अगावैे ऋणकर्जा
                                अग्रिम भुक्तानी भएमा र/वा अन्य कुनै बैंक तथा वित्तीय संस्थाबाट ऋणकर्जा स्वीकृत गरी यस
                                बैंकको
                                ऋण कर्जा भुक्तान गरिएमा यसरी अग्रिम भुक्तानी गरिने ऋणकर्जा रकममा हालका लागि देहाय बमोजिम
                                <strong>अग्रिम भुक्तानी शुल्क र/वा स्वाप (Swap)शुल्क </strong> लाग्नेछ तर उल्लिखित दरहरु
                                समय
                                समयमा नेपाल राष्ट्र बैंकको निर्देशन बमोजिम परिवर्तन भई थप/घट हुनसक्नेछन ।
                            </div>
                            <table class="table table-sm table-bordered text-center table-sm sb-small innerTable">
                                <tr>
                                    <th>अग्रिम भुक्तानी समय अवधि</th>
                                    <th>अग्रिम भुक्तानी शुल्क दर</th>
                                </tr>
                                <tr>
                                    <td>कर्जा प्रवाह भएको मितिले २ वर्ष भित्र</td>
                                    <td>अग्रिम भुक्तानी रकमको ०.७५%</td>
                                </tr>
                                <tr>
                                    <td>२ वर्ष देखि ५ वर्ष भित्र</td>
                                    <td>अग्रिम भुक्तानी रकमको ०.३७५%</td>
                                </tr>
                                <tr>
                                    <td>५ वर्ष भन्दा पछि</td>
                                    <td>अग्रिम भुक्तानी रकमको ०.१५%</td>
                                </tr>
                            </table>
                            <div>
                                <i>नेपाल राष्ट्र बैंकको निर्देशन बमोजिम रु ५० लाखसम्मको सीमा कायम भएको जुनसुकै प्रकारको
                                    कर्जा भुक्तानी गर्दा अग्रिम भुक्तानी शूल्क लाग्ने छैन । सो सीमाभन्दा बढीको कर्जाको
                                    हकमा कर्जा लिँदा बखत तोकिएको शर्त वा ब्याजदर थप/परिवर्तन भएको कारण अग्रिम रुपमा
                                    कर्जा चुक्ता गर्न चाहेमा त्यस्तो अग्रिम भुक्तानी गरे बापत कुनै किसिमको शुल्क लिइने
                                    छैन । तर उल्लिखित सिमा समय समयमा नेपाल राष्ट्र बैंकको निर्देशन बमोजिम परिवर्तन भई
                                    थप/घट भएमा सोहिबमोजिम अग्रिम भुक्तानी शुल्क दर कार्यान्वयन गरिनेछ ।
                                </i>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="isFixed">
                            <strong>स्थिर ब्याजदर सम्बन्धमा</strong>
                            <div>निश्चित अवधि वा भुक्तानी तालिका बमोजिम भुक्तानी हुने प्रकृतिका आवधिक वा दीर्घकालिन
                                कर्जाको किस्ता तालिका भन्दा अगावैे ऋणकर्जा भुक्तानी गरिएमा र/वा अन्य कुनै बैंक तथा
                                वित्तीय संस्थाबाट ऋणकर्जा स्वीकृत गरी यस बैंकको ऋण कर्जा भुक्तान गरिएमा अग्रिम भुक्तानी
                                गरिने ऋणकर्जा रकममा हालका लागि ०.७५% का दरले <strong>अग्रिम भुक्तानी शुल्क र/वा स्वाप
                                (Swap) शुल्क </strong> लाग्नेछ तर उल्लिखित दर समय समयमा नेपाल राष्ट्र बैंकको
                                निर्देशन बमोजिम परिवर्तन भई थप/घट हुनसक्नेछन ।
                            </div>
                        </ng-container>
                    </td>
                </tr>
                <tr *ngIf="tempData?.retailGlobalForm?.loanCommitmentCheck === true">
                    <td width="15%"><strong>ऋण प्रतिबद्धता शुल्क </strong></td>
                    <td>
                        <div>
                            <ng-container *ngIf="isAutoLoan || isEducationLoan || isHomeLoan || isMortgageLoan || isPersonalLoan">
                                स्वीकृत दीर्घकालिन कर्जा सिमा पुर्ण वा आंशिक रुपमा उपयोग नभएमा सो उपयोग नभएको कर्जा सिमामा
                                <input class="form-field form-control-sm d-print-none"
                                       name="PODPercentage"
                                       formControlName="PODPercentage"
                                       value="०.१५"
                                       type="text"/>
                                <span class="print-only font-weight-bold">{{tempData.retailGlobalForm.loanCommitmentCheck && tempData?.retailGlobalForm?.loanCommitmentFeeInPercentCT || '______________________'}}</span>
                                प्रतिशतका दरले प्रतिबद्धता शुल्क लाग्नेछ ।
                            </ng-container>
                            <br>
                            <ng-container *ngIf="isPersonalOD || isNabilSahayatri || isPersonalWoCollateral || isShareLoan || isShareLoanDemand">
                                अल्पकालिन तथा चालु पुञजी प्रकृतिका कोषमा आधारित स्वीकृत कर्जा सुविधाका हकमा स्वीकृत कर्जा
                                सिमाको औसत ६० प्रतिशत भन्दा कम उपयोग भएमा कम उपयोग भएको औसत कर्जा रकमको
                                <input class="form-field form-control-sm d-print-none"
                                       name="PODPercentage"
                                       formControlName="PODPercentage"
                                       value="०.१५"
                                       type="text"/>
                                <span class="print-only font-weight-bold">{{tempData.retailGlobalForm.loanCommitmentCheck && tempData?.retailGlobalForm?.loanCommitmentFeeInPercentCT || '______________________'}}</span> प्रतिशतका
                                दरले प्रतिबद्धता शुल्क नवीकरण/पुनरावलोकन गरीएको समयमा वा बैंकले मागेको समयमा तिर्नु बुझाउनु
                                पर्ने छ ।
                            </ng-container>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="15%"><strong>ऋण प्रशासनिक शुल्कः</strong></td>
                    <td>
                        <ul>
                            <li>
                                कर्जा सूचना केन्द्र लिमिटेडबाट सुचना प्राप्त गर्न सोध पुछ खर्च, अन्य बैंकबाट प्राप्त
                                गरिने साख सूचना, घर/जग्गाको मूल्याङ्कन, रजिष्ट्रेशन, ब्लु प्रिन्ट तथा ट्रेश नक्सा लिंदा
                                लाग्ने शुल्क, सुरक्षित कारोबार रजिष्ट्रेशन तथा अन्य आवश्यक सूचना प्राप्त गर्न र आधिकारिक
                                निकायमा रजिष्ट्रेशन गर्न लाग्ने शुल्क तथा कुनै पनि खर्च, आदि बास्तबिक रकम ऋणी स्वयंले नै
                                तिर्न बुझाउनु पर्नेछ । उक्त रकम तपाईको खातामा खर्च जनाई कटृा गरी भुक्तानी गरिनेछ ।
                            </li>
                            <li>
                                तपाई ऋणी तथा तपाई संग सम्बन्धीत व्यक्ति/फर्म/कम्पनीहरुको साख सूचना प्रदान गरे बापत प्रति
                                सूचना रु २,०००/- शुल्क लाग्नेछ । उक्त शुल्क तपाईको खातामा खर्च जनाई कट्टा गरी लिईनेछ ।
                            </li>
                            <li>
                                बिमा बापतको शुल्क वा धितो मूल्यांकन/पूर्नमूल्यांकन शुल्क बापतको बास्तबिक रकम तपाईं ऋणी
                                स्वयंले नै तिर्नु बुझाउनु पर्नेछ । सो सेवा सम्बन्धी कुनै वक्यौता रहि सम्बन्धीत पक्षले
                                बैंक समक्ष माग गरेमा बैंकले तपाईलाई पूर्व सूचना नदिई तपाईको खातामा खर्च जनाई सम्बन्धीत
                                पक्षलाई भुक्तानी दिन सक्नेछ ।
                            </li>
                            <li>
                                ऋणकर्जा सुविधाको सुरक्षण स्वरुप बैंकको पक्षमा धितोबन्धक लेखीदिएको घर/जग्गाहरु/सवारी
                                साधन फुकुवा गर्दाको बखत फुकुवा बापत प्रति धितोबन्धक तमसुक/सवारी साधन रु. १,०००/- का
                                दरले धितो फुकुवा शुल्क लाग्नेछ । साथै बैंकको पक्षमा धितोबन्धक लेखिदिएको घर/जग्गाहरुको
                                जग्गाधनी प्रमाणपत्र निश्चित समयको लागि माग गरी फिर्ता लैजादा प्रति पटक रु. ५००/- का दरले
                                शुल्क लाग्नेछ । <br>
                                स्वीकृत ऋणकर्जा सुविधाहरुको ब्याजदर परिवर्तन बाहेक ऋणीको अनुरोधमा अन्य कुनै पनि
                                शर्तबन्देजहरु परिवर्तन वा संशोधन भएमा प्रत्येक परिवर्तन वा संसोधनका लागि रु. एक करोड
                                सम्मको कर्जाका लागि रु. २,५००/- र रु. एक करोड भन्दा माथिको कर्जाका लागि रु. ५,०००/-
                                परिवर्तन/संशोधन शुल्क लाग्नेछ ।
                            </li>
                            <li *ngIf="isAutoLoan">
                                धितो सुरक्षणमा रहेको चल सम्पत्तीहरु सुरक्षित कारोबार ऐन २०६३ बमोजिम बैंकले सम्बन्धित
                                निकायमा विवरण दर्ता (रजिष्ट्रेशन) गराउने तथा सोमा संसोधन र निरन्तरता कायम गराउन सक्ने
                                अधिकार बैंकलाई प्रदान गरिएको मानिनेछ ।
                            </li>
                            <li *ngIf="isShareLoan">
                                शेयर फुक्का बापत प्रती कम्पनी रु ५०० शुल्क लाग्नेछ । उक्त शुल्क ऋणीको खातामा खर्च जनाई
                                कट्टा गरी लिईनेछ ।
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
