<nb-card class="bg-white">
    <nb-card-body>
        <section class="container mt-5" style="width:600px; margin:0 auto;">
            <p class="form-group m-4 display-4" style="font-size:45px ;">First, let's find your account</p>
            <p class="form-group m-4 lead">Please enter your email</p>
            <div class="m-4 form-group">
                <label for="email" style="font-size:15px;" class="lead">Email*</label>
                <input class="form-control" type="text" id="email" name="email" [(ngModel)]="email"
                       placeholder="Enter your email"/>
            </div>
            <div class="m-4">
                <a routerLink="/" routerLinkActive="active">
                    <button class="btn btn-primary m-4">Cancel</button>
                </a>
                <a routerLink="/resentForgotPassword" routerLinkActive="active">
                    <button class="btn btn-primary m-4">Find Account</button>
                </a>
            </div>
        </section>
    </nb-card-body>
</nb-card>
