<div class="container nep text-justify">
    <div class="row">
        <div class="col-md-12 viewFull" style="overflow-y: auto;height:500px;">
            <form (ngSubmit)="submit()" [formGroup]="promissoryNoteCompany" class="nepali"
                  id="promissoryNoteCompanyPrint">
                <div class="nep">
                    <div>

                        <p class="text-center pt-3" style="font-size:24pt;"><b>प्रतिज्ञा पत्र </b></p>
                        <p class="text-center" style="font-size:24pt;"><b>(PROMISSORY NOTE)</b></p>
                        <p class="text-right"> मितिः २०७<input
                                class="form-field form-control-sm nepaliFont disable-print"
                                formControlName="year"
                                placeholder=""
                                type="text" size="1"/><span
                                class="print-only nepaliFont"><b>{{ promissoryNoteCompany.get('year').value ? promissoryNoteCompany.get('year').value : '========='}}</b></span>.<input
                                class="form-field form-control-sm nepaliFont disable-print"

                                formControlName="month"
                                placeholder=""
                                type="text" size="2"/><span
                                class="print-only nepaliFont"><b>{{ promissoryNoteCompany.get('month').value ? promissoryNoteCompany.get('month').value : '========='}}</b></span>.<input
                                class="form-field form-control-sm nepaliFont disable-print"
                                formControlName="day"
                                placeholder=""
                                type="text" size="2"/><span
                                class="print-only nepaliFont"><b>{{ promissoryNoteCompany.get('day').value ? promissoryNoteCompany.get('day').value : '========='}}</b></span>
                        </p>
                        <p>रु <input class="form-field form-control-sm nepaliFont disable-print"
                                     formControlName="amount"
                                     placeholder=""
                                     type="text"/>
                            <br>

                            (अक्षरेपी <input class="form-field form-control-sm nepaliFont disable-print col-3"
                                             formControlName="amountInWords"
                                             placeholder=""
                                             type="text"/><span
                                    class="print-only nepaliFont"><b>{{ promissoryNoteCompany.get('amountInWords').value ? promissoryNoteCompany.get('amountInWords').value : '========='}}</b></span>
                            )</p>
                        <p>
                            लिखितम् <input class="form-field form-control-sm nepaliFont disable-print"
                                           formControlName="actDetails"
                                           placeholder=""
                                           type="text"/><span
                                class="print-only nepaliFont"><b>{{ promissoryNoteCompany.get('actName').value ? promissoryNoteCompany.get('actName').value : '========='}}</b></span>
                            ऐन <input class="form-field form-control-sm nepaliFont disable-print"
                                      formControlName="actDate"
                                      placeholder=""
                                      type="text"/>
                            बमोजिम नेपाल सरकार <input class="form-field form-control-sm nepaliFont disable-print"
                                                      formControlName="headName"
                                                      placeholder=""
                                                      type="text"/>
                            मा मिति <input class="form-field form-control-sm nepaliFont disable-print"
                                           formControlName="registrationDate"
                                           placeholder=""
                                           type="text"/>
                            मा दर्ता नं. <input class="form-field form-control-sm nepaliFont disable-print"
                                                formControlName="registrationNumber"
                                                placeholder=""
                                                type="text"/>
                            अन्तर्गत दर्ता भइ <input class="form-field form-control-sm nepaliFont disable-print"
                                                     formControlName="firmDistrict"
                                                     placeholder=""
                                                     type="text"/>
                            जिल्ला, <input class="form-field form-control-sm nepaliFont disable-print"
                                           formControlName="firmName"
                                           placeholder=""
                                           type="text"/>
                            न.पा/गा.वि.स./गाँउपालिका वडा नं <input
                                class="form-field form-control-sm nepaliFont disable-print"
                                formControlName="firmWardNumber"
                                placeholder=""
                                type="text"/>
                            <input
                                    class="form-field form-control-sm nepaliFont disable-print"
                                    formControlName="firmAddress"
                                    placeholder=""
                                    type="text"/>
                            रजिष्टर्ड कार्यालय रहेकोे श्री <input
                                class="form-field form-control-sm nepaliFont disable-print"
                                formControlName="companyName"
                                placeholder=""
                                type="text"/>
                            को हकमा र तर्फबाट अख्तियारप्राप्त संचालक <input
                                class="form-field form-control-sm nepaliFont disable-print"
                                formControlName="grandfatherName"
                                placeholder=""
                                type="text"/>
                            को नाती /नातिनी /बुहारी <input
                                class="form-field form-control-sm nepaliFont disable-print"
                                formControlName="fatherName"
                                placeholder=""
                                type="text"/>
                            को छोरा / छोरी / श्रीमती <input
                                class="form-field form-control-sm nepaliFont disable-print"
                                formControlName="district"
                                placeholder=""
                                type="text"/>
                            जिल्ला <input
                                class="form-field form-control-sm nepaliFont disable-print"
                                formControlName="municipality"
                                placeholder=""
                                type="text"/>
                            न.पा/गा.वि.स. वडा नं. <input
                                class="form-field form-control-sm nepaliFont disable-print"
                                formControlName="wardNumber"
                                placeholder=""
                                type="text"/>
                            बस्ने बर्ष <input
                                class="form-field form-control-sm nepaliFont disable-print"
                                formControlName="age"
                                placeholder=""
                                type="text"/>
                            को/की श्री/श्रीमती/सुश्री <input
                                class="form-field form-control-sm nepaliFont disable-print"
                                formControlName="directorName"
                                placeholder=""
                                type="text"/>
                            (ना.प्र.नं. <input
                                class="form-field form-control-sm nepaliFont disable-print"
                                formControlName="directorCitizenshipNumber"
                                placeholder=""
                                type="text"/>
                            , जारी मिति <input
                                class="form-field form-control-sm nepaliFont disable-print"
                                formControlName="directorCitizenshipIssueDate"
                                placeholder=""
                                type="text"/>
                            , जारी गर्ने कार्यालय <input
                                class="form-field form-control-sm nepaliFont disable-print"
                                formControlName="directorCitizenshipIssueDistrict"
                                placeholder=""
                                type="text"/>
                            )–१ आगे, तपाई श्री नविल बैंक लिमिटेडले भुक्तानी माग गरेका बखत तपाईलाई वा तपाईले निर्देशन
                            दिएको वा अह्राएको ब्यक्ति/संस्थालाई रु.<input
                                class="form-field form-control-sm nepaliFont disable-print"
                                formControlName="amount"
                                placeholder=""
                                type="text"/>
                            । (अक्षरेपी <input class="form-field form-control-sm nepaliFont disable-print col-3"
                                               formControlName="amountInWords"
                                               placeholder=""
                                               type="text"/>
                            ) र भुक्तानी हुने दिन सम्मको बार्षिक <input class="form-field form-control-sm nepaliFont disable-print col-3"
                                                                        formControlName="interest"
                                                                        placeholder=""
                                                                        type="text"/>
                            प्रतिशतका दरले हुने व्याज रकम समेत एकमुष्ट तिर्न बुझाउन प्रतिज्ञा/कवुल गरी यो
                            प्रतिज्ञापत्रको लिखत गरी तपाई नविल बैंक लिमिटेड, शाखा कार्यालय <input class="form-field form-control-sm nepaliFont disable-print col-3"
                                                                                                  formControlName="branchName"
                                                                                                  placeholder=""
                                                                                                  type="text"/>
                            लाई दिएँ/दियौं ।
                        </p>
                        <div class="clearfix">
                        <p class="sign col-md-3 float-right">
                            <b><u>प्रतिज्ञा गर्ने व्यक्तिको </u></b><br><br>
                            हस्ताक्षरः <br><br>
                            छापः
                        </p>
                        </div>
                        <p class = "text-center">
                            <b><u>साक्षी</u></b>
                        </p>
                        <div>
                            <p>१.<input
                                    class="form-field form-control-sm nepaliFont disable-print"
                                    formControlName="district"
                                    placeholder=""
                                    type="text"/>
                                जिल्ला <input
                                        class="form-field form-control-sm nepaliFont disable-print"
                                        formControlName="municipality"
                                        placeholder=""
                                        type="text"/>
                                न.पा/गा.वि.स. वडा नं. <input
                                        class="form-field form-control-sm nepaliFont disable-print"
                                        formControlName="wardNumber"
                                        placeholder=""
                                        type="text"/>
                                बस्ने बर्ष <input
                                        class="form-field form-control-sm nepaliFont disable-print"
                                        formControlName="age"
                                        placeholder=""
                                        type="text"/>
                                को/की <input
                                        class="form-field form-control-sm nepaliFont disable-print"
                                        formControlName="witnessName"
                                        placeholder=""
                                        type="text"/>
                            </p>
                            <p>२.<input
                                    class="form-field form-control-sm nepaliFont disable-print"
                                    formControlName="district"
                                    placeholder=""
                                    type="text"/>
                                जिल्ला <input
                                        class="form-field form-control-sm nepaliFont disable-print"
                                        formControlName="municipality"
                                        placeholder=""
                                        type="text"/>
                                न.पा/गा.वि.स. वडा नं. <input
                                        class="form-field form-control-sm nepaliFont disable-print"
                                        formControlName="wardNumber"
                                        placeholder=""
                                        type="text"/>
                                बस्ने बर्ष <input
                                        class="form-field form-control-sm nepaliFont disable-print"
                                        formControlName="age"
                                        placeholder=""
                                        type="text"/>
                                को/की <input
                                        class="form-field form-control-sm nepaliFont disable-print"
                                        formControlName="witnessName"
                                        placeholder=""
                                        type="text"/>
                            </p>
                            <p>३. कारणीले प्रस्तुत लिखत मेरो सामुन्ने सहिछाप गरेको हो भनी सनाखत गर्ने नविल बैंक लिमिटेडका कर्मचारी
                                <input
                                    class="form-field form-control-sm nepaliFont disable-print"
                                    formControlName="bankWitness"
                                    placeholder=""
                                    type="text"/></p>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
