<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <a routerLink="/home/admin/roleList">
            <app-icon-card title="Roles" type="info" detail="{{roleCount}}">
                <i class="fas fa-user-alt"></i>
            </app-icon-card>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <app-icon-card title="Active" type="success" detail="{{activeCount}}">
            <i class="fas fa-user-circle"></i>
        </app-icon-card>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <app-icon-card title="Inactive" type="warning" detail="{{inactiveCount}}">
            <i class="far fa-user-circle"></i>
        </app-icon-card>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <div class=row>
                    <div class="col-md-3">
                        <label for="configureRole">Configure Permissions for Role</label>
                        <select (change)="roleChanged($event.target.value)" class="form-control"
                                id="configureRole">
                            <option [ngValue]="null" hidden>Select Role</option>
                            <option *ngFor="let role of roleList" value="{{role.id}}" [selected]="role.id == roleId">
                                {{role.roleName}}</option>
                        </select>
                    </div>
                    <div class="col-md-9 d-flex justify-content-end">
                        <div>
                            <button nbButton outline status="success" (click)="onOpen()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="col-md-12">
                    <app-spinner *ngIf="spinner" class="d-flex justify-content-center"></app-spinner>
                    <section *ngIf="compareCheckedPermission.length > 0">
                        <div class="row">
                            <div *ngFor="let permission of compareCheckedPermission;" class="col-md-4">
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="{{'perm-' + permission.id}}"
                                           value="{{permission.id}}"
                                           [checked]="permission.checked"
                                           (change)="updateCheckedOptions($event.target.value,$event.target.checked)"
                                    />
                                    <label class="form-check-label"
                                           for="{{'perm-' + permission.id}}">{{permission.permissionName}}</label>
                                </div>

                                <!--</ng-template>-->
                                <div [ngbCollapse]="!permission.checked"
                                     id="{{permission.id}}">
                                    <!--<div class="col-md-12">-->
                                    <!--<div class="row">-->
                                    <!--<div class=" col-md-3"-->
                                    <!--*ngFor="let api of permission.apiList;let i=index">-->
                                    <!--<input class="big-checkbox {{permission.id+api.type}}"-->
                                    <!--[checked]="api.checked"-->
                                    <!--(change)="updateCheckapiOptions(permission.id,$event.target.value,
                                    $event.target.checked,i)"-->
                                    <!--type="checkbox" value="{{api.id}}"/>-->
                                    <!--<span>{{api.apis}}</span></div>-->

                                    <!--</div>-->
                                    <!--</div>-->
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class=" col-md-6"
                                                 *ngFor="let api of permission.apiList; let i=index">
                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input"
                                                           id="{{'api-' + permission.id}}"
                                                           value="{{api.id}}"
                                                           [checked]="api.checked"
                                                           (change)="updateCheckapiOptions(permission.id,
                                                           $event.target.value, $event.target.checked, i)"/>
                                                    <label class="form-check-label"
                                                           for="{{'api-' + permission.id}}">{{api.type}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--</ng-template>-->
                            </div>

                        </div>
                        <hr>
                        <button type="submit" nbButton status="info" (click)="save()">Save</button>
                    </section>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
