@import '../../progressive-legal-docs.component';
@media print {
  .pagebreak { page-break-before: always; }
}
//body {
//  overflow-y: visible;
//}
#fingerXap {
  width: 250px;
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}

.viewFull {
  max-height: 85vh;
  text-align: justify;
  display: inline;
}
.uniFont{
  font-size: 16px !important;
}

span {
  line-height: 1;
}

.size24 {
  font-size: 24px;
}

tr {
  break-inside: initial;
}
