@import '../../progressive-legal-docs.component';

#fingerXap {
  width: 500px;

  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}

.viewFull {
  max-height: 85vh;
  text-align: justify;

}
