//$color-bank: #aa2e20;
//$color-bank-dark: #bb392bd1;

// tinau mission
//$color-bank: #3A7F56;
//$color-bank-dark: #282872;

//shine rasunga
//$color-bank:#B82268;
//$color-bank-dark:#085DA1;
//Jyoti bikas bank
//$color-bank: #0265AC;
//$color-bank-dark: #D3A22C;

//sb solution
$color-bank: #f9ff1b;
$color-bank-dark: #007bff;

.bank-hr {
  height: 1px;
  background-color: $color-bank;
  border: none;
}

.bank-text-color {
  color: $color-bank;
}

.bank-btn-color {
  background-color: $color-bank-dark;
  color: #ffffff;
}

.bank-header-color {
  background-color: $color-bank-dark;
  color: #ffffff;
}

.d-contents {
  display: contents;
}

.cursor {
  cursor: pointer;
}

@font-face {
  font-family: 'Preeti';
  src: url('/assets/font/PREETI.TTF') format("opentype");
}

.nepaliFont {
  font-size: 22px;
  font-family: Preeti;
}

.nb-menu {
  color: #b8403a;
}


.zoom:hover {
  transform: scale(2.5);
}

.viewFull:fullscreen {
  background: white;
}

.advanced-pie-legend > .legend-items-container > .legend-items > .legend-item > .item-value {
  margin-top: 0 !important;
}

.advanced-pie-legend > .legend-items-container > .legend-items > .legend-item > .item-label {
  margin-top: 0 !important;
}

.advanced-pie-legend > .total-label {
  margin-top: 20px !important;
}
