//$color-bank: #aa2e20;
//$color-bank-dark: #bb392bd1;

// tinau mission
//$color-bank: #3A7F56;
//$color-bank-dark: #282872;

//shine rasunga
//$color-bank:#B82268;
//$color-bank-dark:#085DA1;
//Jyoti bikas bank
//$color-bank: #0265AC;
//$color-bank-dark: #D3A22C;

//sb solution
$color-bank: #f9ff1b;
$color-bank-dark: #007bff;

.bank-hr {
  height: 1px;
  background-color: $color-bank;
  border: none;
}

.bank-text-color {
  color: $color-bank;
}

.bank-btn-color {
  background-color: $color-bank-dark;
  color: #ffffff;
}

.bank-header-color {
  background-color: $color-bank-dark;
  color: #ffffff;
}

.d-contents {
  display: contents;
}

.cursor {
  cursor: pointer;
}

@font-face {
  font-family: 'Preeti';
  src: url('/assets/font/PREETI.TTF') format("opentype");
}

.nepaliFont {
  font-size: 22px;
  font-family: Preeti;
}

.nb-menu {
  color: #b8403a;
}


.zoom:hover {
  transform: scale(2.5);
}

.viewFull:fullscreen {
  background: white;
}

.advanced-pie-legend > .legend-items-container > .legend-items > .legend-item > .item-value {
  margin-top: 0 !important;
}

.advanced-pie-legend > .legend-items-container > .legend-items > .legend-item > .item-label {
  margin-top: 0 !important;
}

.advanced-pie-legend > .total-label {
  margin-top: 20px !important;
}

.shake-infinite {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


.sb-small {
  font-size: 70%;
  font-weight: 400;
}

.sb-medium {
  font-size: 80%;
  font-weight: 400;
}

.sb-bg-dark {
  background-color: #0E63AE !important;
}
.f-18{
  font-size: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.table-sm th, .table-sm td {
  padding: 0;
}

.nb-card-header {
  padding: 0;
}

.sb-bg-secondary {
  background-color: #6EB1DF !important;
}
/* shake keyframes */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }

}
.table-input{
  border: none;
  outline: none;
}

.neb-error-feedback{
  color: red;
  margin-left: 5px;
}
.sn{
  width: 3%;
}

