
$color-bank: #30A54C;
$color-bank-dark: #E5322D;

.bank-hr {
  height: 1px;
  background-color: $color-bank;
  border: none;
}

.bank-text-color {
  color: $color-bank;
}

.bank-btn-color {
  background-color: $color-bank-dark;
  color: #ffffff;
}

.bank-header-color {
  background-color: $color-bank-dark;
  color: #ffffff;
}

.d-contents {
  display: contents;
}

.cursor {
  cursor: pointer;
}

@font-face {
  font-family: 'Preeti';
  src: url('/assets/font/PREETI.TTF') format("opentype");
}

.nepaliFont {
  font-size: 26px !important;
  font-family: Preeti;
}

.nb-menu {
  color: #b8403a;
}


.zoom:hover {
  transform: scale(2.5);
}

.viewFull:fullscreen {
  background: white;
}

.advanced-pie-legend > .legend-items-container > .legend-items > .legend-item > .item-value {
  margin-top: 0 !important;
}

.advanced-pie-legend > .legend-items-container > .legend-items > .legend-item > .item-label {
  margin-top: 0 !important;
}

.advanced-pie-legend > .total-label {
  margin-top: 20px !important;
}

.shake-infinite {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


.sb-small {
  font-size: 85%;
  font-weight: 500;
}

.sb-medium {
  font-size: 80%;
  font-weight: 400;
}

.sb-bg-dark {
  background-color: #05B259 !important;
}
.f-18{
  font-size: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.table-sm th, .table-sm td {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.nb-card-header {
  padding: 0;
}

.sb-bg-secondary {
  background-color: #05AF79 !important;
}
/* shake keyframes */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }

}
.table-input{
  border: none;
  outline: none;
}

.neb-error-feedback{
  color: red;
  margin-left: 5px;
}
.sn{
  width: 3%;
}
.cellInput {
  border: none;
  outline: none;
}

.form-control-tiny {
  height: calc(1.5em + 0.35rem + 2px);
  padding: 0.19rem 0.45rem;
  font-size: 0.7375rem;
  line-height: 2;
  border-radius: 0.1rem;
  font-family: 'Microsoft Sans Serif' , Arial, Helvetica, Verdana;
}

button {
  border-color: transparent !important;
  margin-left: 5px !important;
}
.model-full{
  height: 100vh;
  overflow: auto;
  display: block !important;
  width:100vw !important;
  max-width:100vw !important;
  .modal-xl{
    max-width: 100%;
  }
}

@media print {
  @page {
    margin: 200px 100px 100px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .pageBreak {
    page-break-before: always !important;
    page-break-after: always !important;
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: transparent;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: transparent;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: transparent;
  }
}

.nepaliList {
  list-style-type: devanagari !important;
  li {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.9;
  }
}
