@import '../../progressive-legal-docs.component';
*{
  line-height: 1.3;
}
.viewFull {
    max-height: 85vh;
    text-align: justify;
  }
  .nepaliFont{
    font-size: 25px;
  }
  .nepaliFont1{
    font-size: 16px;
  }
  @media print {
    .page-break { page-break-before: always; }
  }

  .fingerXap {
    width: 500px;
    margin: auto;
    text-align: center;
  }

  span {
    line-height: 1;
  }


