<div *ngIf="!isBusinessLoan">
  <div class="row mt-3">
    <div class="col-md-12">
      <p><strong>Financial Position and Repayment Capacity of the Borrower</strong></p>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered text-right table-sm sb-small text-center">
            <thead>
            <tr>
              <th class="text-center" colspan="6">Income of Borrower</th>
            </tr>
            <tr class="text-white sb-bg-dark">
              <th>S.N</th>
              <th>Source of Income</th>
              <th>Organization</th>
              <th>Amount</th>
              <th>Age Of Income Generated</th>
              <th>Remarks</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let incomeOfBorrower of financialData?.initialForm?.incomeOfBorrower; let i = index;">
              <td>{{i + 1}}</td>
              <td class="text-left pl-1">{{incomeOfBorrower.incomeSource}}</td>
              <td class="text-left pl-1">{{incomeOfBorrower.organization}}</td>
              <td class="text-right pr-1">Rs. {{incomeOfBorrower.amount | currencyFormatter}}</td>
              <td>{{incomeOfBorrower.ageOfIncomeGenerated|| '0'}} months</td>
              <td class="text-left pl-1">{{incomeOfBorrower.remarks}}</td>
            </tr>
            <tr>
              <td class="text-left pl-1" colspan="3"><strong>Total Income</strong></td>
              <td colspan="3" class="text-right pr-1">
                <strong>Rs. {{financialData?.initialForm?.totalIncome | currencyFormatter}}</strong>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-sm sb-small text-center">
            <thead>
            <tr>
              <th class="text-center" colspan="5">Expenses of Borrower</th>
            </tr>
            <tr class="text-white sb-bg-dark">
              <th>S.N</th>
              <th>Particulars</th>
              <th>Amount</th>
              <th>Remarks</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let expensesOfBorrower of financialData?.initialForm?.expensesOfBorrower; let i = index;">
              <td>{{i + 1}}</td>
              <td class="text-left pl-1">{{expensesOfBorrower.particulars}}</td>
              <td class="text-right pr-1">Rs. {{expensesOfBorrower.amount | currencyFormatter}}</td>
              <td class="text-left pl-1">{{expensesOfBorrower.remarks}}</td>
            </tr>
            <tr>
              <td class="text-left pl-1" colspan="3"><strong>Total Expense</strong></td>
              <td colspan="2" class="text-right pr-1">
                <strong>Rs. {{financialData?.initialForm?.totalExpense | currencyFormatter}}</strong>
              </td>
            </tr>
            <tr>
              <td class="text-left pl-1" colspan="3"><strong>Net Saving</strong></td>
              <td colspan="2" class="text-right pr-1">
                <strong>Rs. {{financialData?.initialForm?.netSaving | currencyFormatter}}</strong>
              </td>
            </tr>
            <tr>
              <td class="text-left pl-1" colspan="3"><strong>Total EMI of client including present proposal</strong></td>
              <td colspan="2" class="text-right pr-1">
                <strong>Rs. {{financialData?.initialForm?.emiWithProposal | currencyFormatter}}</strong>
              </td>
            </tr>
            <tr>
              <td class="text-left pl-1" colspan="3"><strong>EMI / Gross Monthly Income</strong></td>
              <td colspan="2" class="text-right pr-1">
                <strong>{{financialData?.initialForm?.totalEMIInterest}}</strong>
              </td>
            </tr>
            <tr>
              <td class="text-left pl-1" colspan="3"><strong>EMI / Net Monthly Income</strong></td>
              <td colspan="2" class="text-right pr-1">
                <strong>{{financialData?.initialForm?.emiNetMonthly | currencyFormatter}}</strong>
              </td>
            </tr>

            <tr class="text-white sb-bg-dark">
              <th colspan="4">Note</th>
            </tr>
            <tr>
              <td class="text-left pl-1" colspan="4">{{financialData?.initialForm?.note}}</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<table *ngIf="!isBusinessLoan" class="table table-condensed  table-sm table-bordered table-responsive-md text-center table-sm sb-small">
  <thead>
  <tr class="text-white sb-bg-dark">
    <th colspan="5">Borrower Repayment Capacity</th>
  </tr>
  <tr  class="text-white sb-bg-dark">
    <th>Gross Total Income</th>
    <th>Existing Obligation at other Bank</th>
    <th>Proposed and Existing Obligation at Our Bank</th>
    <th>Total Bank Obligation</th>
    <th>Total Bank Obligation to Gross Income Ratio</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="text-right">Rs. {{financialData?.initialForm?.totalIncome | currencyFormatter}}</td>
    <td class="text-right">Rs. {{financialData?.initialForm?.existingObligationOtherBank | currencyFormatter}}</td>
    <td class="text-right">Rs. {{financialData?.initialForm?.totalObligationCurrentBank | currencyFormatter}}</td>
    <td class="text-right">Rs. {{financialData?.initialForm?.totalBankObligation | currencyFormatter}}</td>
    <td>{{financialData?.initialForm?.obligationGrossIncomeRatio | percent}}</td>

  </tr>

  </tbody>

</table>


<div *ngIf="isBusinessLoan">
  <div class="row mt-3">
    <div class="col-md-12">
      <p><strong>Financial Highlights of the Entity</strong></p>
      <table *ngIf="auditorList.length > 0" class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
        <tr>
          <th class="text-center sb-bg-dark text-white" colspan="7">Financial Auditor Detail Information</th>
        </tr>
        <tr class="sb-bg-secondary text-white">
          <th scope="col" class="sn">S.N</th>
          <th scope="col">Audited</th>
          <th scope="col">Audit Firm</th>
          <th scope="col">Propriete/Partner</th>
          <th scope="col">Membership No.</th>
          <th scope="col">Certificate of Practice</th>
          <th scope="col">Class</th>
        </tr>
        <tr *ngFor="let auditor of auditorList; let i = index">
          <td><strong>{{i + 1}}</strong></td>
          <td class="text-right pr-1">{{auditor['audited']}}</td>
          <td class="text-left pl-1">{{auditor['auditFirm']}}</td>
          <td class="text-left pl-1">{{auditor['proprietePartner']}}</td>
          <td class="text-right pr-1">{{auditor['membershipNo']}}</td>
          <td class="text-left pl-1">{{auditor['certificateOfPractice']}}</td>
          <td class="text-left pl-1">{{auditor['class']}}</td>
        </tr>
      </table>
      <div *ngIf="activateOldFinancialSummary" class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-sm sb-small">
            <thead>
            <tr class="sb-bg-dark text-white">
              <th>S.No.</th>
              <th>Particulars/Years:</th>
              <th *ngFor="let fiscalYear of financialData?.fiscalYear">{{fiscalYear}}</th>
            </tr>
            </thead>
            <tbody>

            <tr class="sb-bg-secondary">
              <td [attr.colspan]="2 + 1 + financialData?.fiscalYear?.length" class="text-center">
                <strong>Major
                  Financial Indicators</strong></td>
            </tr>
            <tr>
              <td>1</td>
              <td class="text-left pl-1"><strong>Current Ratio (in times)</strong></td>
              <td *ngFor="let currentRatio of financialData['keyIndicatorsData']?.currentRatio" class="text-left pl-1">
                {{currentRatio.value | currencyFormatter}}</td>
            </tr>
            <tr>
              <td>2</td>
              <td class="text-left pl-1"><strong>Operating Profit Margin (%)</strong></td>
              <td *ngFor="let operatingProfitKI of financialData['keyIndicatorsData']?.operatingProfitKI" class="text-left pl-1">
                {{operatingProfitKI.value | currencyFormatter}}</td>
            </tr>
            <tr>
              <td>3</td>
              <td class="text-left pl-1"><strong>Inventory Turnover Ratio (in times)</strong></td>
              <td *ngFor="let inventoryTurnoverRatio of financialData['keyIndicatorsData']?.inventoryTurnoverRatio" class="text-left pl-1">
                {{inventoryTurnoverRatio.value | currencyFormatter}}</td>
            </tr>
            <tr>
              <td>4</td>
              <td class="text-left pl-1"><strong>Interest Coverage Ratio (in times)</strong></td>
              <td *ngFor="let interestCoverageRatio of financialData['keyIndicatorsData']?.interestCoverageRatio">
                {{interestCoverageRatio.value | currencyFormatter}}</td>
            </tr>
            <tr>
              <td>5</td>
              <td class="text-left pl-1"><strong>Debtor/Receivable Turnover Ratio (in times)</strong></td>
              <td *ngFor="let debtorTurnOverRatio of financialData['keyIndicatorsData']?.debtorTurnOverRatio">
                {{debtorTurnOverRatio.value | currencyFormatter}}</td>
            </tr>
            <tr>
              <td>6</td>
              <td class="text-left pl-1"><strong>Debt-Equity Ratio - General (in times)</strong></td>
              <td *ngFor="let debtServiceCoverageRatio of financialData['keyIndicatorsData']?.debtServiceCoverageRatio">
                {{debtServiceCoverageRatio.value | currencyFormatter}}</td>
            </tr>
            <tr>
              <td>7</td>
              <td class="text-left pl-1"><strong>Net Profit Margin (%)</strong></td>
              <td *ngFor="let currentAssetValue of financialData['keyIndicatorsData']?.netProfitMargin">
                {{currentAssetValue.value | currencyFormatter}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <app-financial-risk-summary
              [formData]="formData">
      </app-financial-risk-summary>
    </div>
  </div>

</div>

<div class="row mt-3" *ngIf="isBusinessLoan">
  <div class="col-md-12">
    <p><strong>Financial Statements Justification:</strong></p>
    <hr>
    <p class="sb-small"><strong>Income Statement:</strong></p>
    <p [innerHTML]="financialData['incomeStatementData']?.justificationIncomeStatement | safeHtml"></p>
    <hr>
    <p class="sb-small"><strong>Balance Sheet:</strong></p>
    <p [innerHTML]="financialData['balanceSheetData']?.justificationBalanceSheet | safeHtml"></p>
    <hr>
    <p class="sb-small"><strong>Cash Flow Statement:</strong></p>
    <p [innerHTML]="financialData['cashFlowStatementData']?.justificationCashFlowStatement | safeHtml"></p>
    <hr>
    <p class="sb-small"><strong>Key Indicators:</strong></p>
    <p [innerHTML]="financialData['keyIndicatorsData']?.justificationKeyIndicators | safeHtml"></p>
  </div>
</div>
