@import '../../progressive-legal-docs.component';

@media print {
  .page-break { page-break-before: always; }
}
/**{
  line-height: 1.9em;
}*/
.tableGuarantor {
  width:100%;
  height: 120px;
}

#fingerXap {
  width: 250px;
  margin-left: 10px;
  text-align: center;
}
.change{
  font-size: 16px;
}

table {
  width: 100%;
  text-align: center;

}

.viewFull {
  max-height: 85vh;
  text-align: justify;
}

.unicode-size{
  font-size: 16px;
}

.unicode-size2{
  font-size: 24px;
}



