p{
  line-height: 1.9;
  text-align: justify;
}
.nepaliFont{
  font-size: 16px;
}
.outside{
  font-size: 28px !important;
}
.outsidenum{
  font-size: 26px ;
}
.num{
  font-size: 22px !important;
}
.inside{
  font-size: 16px;
}

table {
  td{
    text-align: justify;
  }
}
