<div class="container text-justify">

    <div class="col-md-12 viewFull">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h6 class="text-center">बिषयःकर्जा तमसुक<br>
                </h6>

            <br>
           <div class="row">
               <p>
                   लिखितम् धनीका नाम प्रचलित वित्तीय संस्था तथा वित्तीय संस्था सम्बन्धी ऐन,
                   बमोजिमदर्ता भई काठमाण्डौ जिल्ला, काठमाण्डौ महानगरपालिकावडा नं. २२स्थित
                   रजिष्टर्ड कार्यालय रहेको प्रोग्रेशिभफाईनान्सलिमिटेडको <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   जिल्ला <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   गा.पा.÷न.पा.÷उ.म.न.पा.÷म.न.पा.वडा नं.<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   स्थित <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   शाखाकार्यालय (जसलाई यस उप्रान्त यस लिखतमा“धनीवित्तीय संस्था”भनिएको)लिखत
                   गरी दिनेकानाम<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">को
                   नाति÷नातिनि<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   को छोरा÷छोरी <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">को
                   पति÷पत्नी<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   जिल्ला<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   गा.पा.÷न.पा.÷म.न.पा.वडा नं.<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   (साबिक <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   गा.बि.स.÷न.पा.वडा न.<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">),
                   स्थायी ठेगानाभई हाल <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   गा.पा.÷न.पा.÷म.न.पा.वडा नं.<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">)
                   बस्ने वर्ष <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   को <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   (ना.प्र.नं.<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   मिति<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   जि.प्र.का.) <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">)
                   वानेपाल सरकार, <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   मन्त्रालय<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">विभाग÷कम्पनी
                   रजिष्ट्रारको कार्यालय<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   मा<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   ऐन <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   अन्तर्गत मिति<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   माप्रा.लि.नं.÷प्रा.फा.नं.÷सा.फा.नं. <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   मादर्ता भई करदता सेवाकार्यालय <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   बाटमिति <input class="form-field nepaliFont form-control-sm" type="text" formControlName=""> मा
                   स्थायी लेखानम्बर (पान) दर्ता प्रमाणपत्र न<input class="form-field nepaliFont form-control-sm" type="text" formControlName=""> को प्रमाणपत्र प्राप्त..................
                   जिल्ला<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   गा.पा.÷न.पा.÷म.न.पा. वडा नं. <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   मा रजिष्टर्डकार्यालय
                   रहेको <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   (जसलाई यसउप्रान्त यस लिखतमाऋणीभनिएको छ) कातर्पmबाटअधिकार प्राप्त
                   संचालक÷प्रोप्राईटर÷साझेदार÷प्रतिनिधि<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   को नाति÷नातिनि<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">को
                   छोरा÷छोरी <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">को
                   पति÷पत्नी<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   जिल्ला<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   गा.पा.÷न.पा.÷म.न.पा.वडा नं<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   स्थायी ठेगानाभई हाल <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   जिल्ला <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   गा.पा.÷न.पा.÷म.न.पा.वडा न. <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   बस्ने वर्ष <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   को <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   (ना.प्र.नं. <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   मिति<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   जि.प्र.का. <input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   )आगे म÷हामीऋणीको व्यापार÷व्यवसाय सञ्चालनगर्न
                   ऋणकर्जा तथा बैंकिङ्ग सुविधाहरुको आवश्यकता परी तपाई धनीवित्तीय संस्थासंग लिखितअनुरोध गरेकोमातपाई
                   धनीवित्तीय संस्थाले म÷हामीऋणीको नाममाजारी गरेको मिति<input class="form-field nepaliFont form-control-sm" type="text" formControlName="">
                   को ऋण स्वीकृतीपत्रअनुसार स्वीकृत निम्नानुसारका
                   ऋणकर्जा तथा बैंकिङ्ग सुविधाहरु सोहीऋण स्वीकृतीपत्रमाउल्लिखिततरिकाबमोजिमप्राप्तगर्ने गरी यो ऋणकर्जाको तमसुक गरी दिएको ठीक साँचो हो ।
                   तपाई धनीवित्तीय संस्थाबाटप्राप्तऋणकर्जा तथा बैंकिङ्ग सूविधाहरुमालाग्ने व्याज, कमिशन, शूल्कआदितलउल्लेखित स्वीकृत सम्बन्धितऋणकर्जा तथा
                   बैंकिङ्ग सुविधाखण्ड–खण्डमाउल्लेख भएको दर अनुसार तिरी बुझाई सोहीखण्डमा लेखिएको मितिभित्रमावा स्वीकृत ऋणकर्जा तथा बैंकिङ्ग
                   सूविधानविकरणभएमानविकरण हूं‘दाकाबखततपाई धनीवित्तीय संस्थाले म÷हामीऋणीकानाममाजारी गर्ने ऋण स्वीकृतिपत्रमातोकिएको
                   मितिभित्रमाऋणकर्जाको सम्पूर्ण साँवाव्याजचूक्ताभूक्तानगर्नेछु÷छौं । म÷हामीऋणीकानाममा स्वीकृत बैंकिङ्ग सुविधा(ग्यारेन्टीबण्डतथाअन्यविभिन्नशीर्षक अन्तर्गत)
                   को कर्जा उपभोग गर्दा तपाई धनीवित्तीय संस्था उपर कुनै थपदायित्वश्रृजनाभएमात्यस्तो थपदायित्वतपाई धनीवित्तीय संस्थाले मागगर्नासाथतिर्ने बूझाउने छु÷छौं ।
                   स्वीकृत ऋणकर्जा तथाभविष्यमातपाई धनीवित्तीय संस्थाले उपलव्ध गराउने थपऋणकर्जा तथा सूविधा समेतको सुरक्षणबापतम÷हामीऋणीको निजीश्रोतबाटखरिद
                   गरेको, श्रृजनाभएको र तपाई धनीवित्तीय संस्थाबाटप्राप्तऋणकर्जाबाटखरिद वाआयात गरेको÷श्रृजना गरेको लगायतम÷हामीऋणीको नाममा रहे÷भएको सम्पूर्ण
                   चल÷अचल सम्पत्तितथाभविष्यमाम÷हामीऋणीको नाममाकायमहुने श्री सम्पत्तितथाम÷हामीऋणीले भूक्तानीप्राप्तगर्न बाँकी
                   रकमहरु (Accounts Receivable) समेत यसै लिखतबाटतपाई धनीवित्तीय संस्थाको नाममा सुरक्षणलेखिदिएको छु÷छौं ।
                   सोको अलावातपसिलमाउल्लेख गरे बमोजिमको सम्पत्ति समेत छूट्टै लिखतबाटतपाई धनीवित्तीय संस्थाको नाममाधितोबन्धकलिखत गरिदिएकोछु÷गरिदिनेछु ।
                   प्राप्तऋणकर्जाको तपाई धनीवित्तीय संस्थालाई तिर्नुपर्ने साँवा, व्याज, थपब्याज, कमिशनशुल्कआदि यसै लिखततथाउल्लेखितऋण स्वीकृतीपत्रानूसार
                   तोकिएको तरिकाबमोजिमनतिरे÷नबुझाएमावाबुझाउनआलटाल गरेमावाकिस्ताखिलाफी गरेमावाऋण स्वीकृतिपत्रतथा यसै लिखतको कुनै सर्त उल्लंघन गरेमा
                   समेत म÷हामीऋणीको नाममातपाई धनीवित्तीय संस्थामाखोलेको निक्षेप खातामाजम्मा रहेको रकमबाटकट्टा गरी तथाधितो लेखिदिएको
                   सुरक्षणप्रचलितकानूनबमोजिमलिलामबिक्रीवाअन्यव्यवस्था गरी तपाई धनीवित्तीय संस्थाको सम्पूर्ण लेनाअसूलउपर गरि लिनूहोला । कथमकदाचितधितो
                   लेखिदिएको सम्पत्तिकच्चानकरा ठहरी लिलामबिक्रीहुननसकेमावालिलामबिक्रीहुँदा समेत तपाई धनीवित्तीय संस्थाको सम्पूर्ण लेनाअसूलउपर नभएमा
                   मेरो÷हाम्रो÷ऋणीकोघरघरानाको श्रीसम्पत्तिबाटअसूलउपर गरि लिनुहोला । नेपाल राष्ट्र बैंकद्धारा बैंकतथावित्तीय संस्थाहरुलाई जारी गरिएको कर्जा
                   सूचनातथाकालोसूचीव्यवस्थासम्बन्धीनिर्देशनबमोजिमम÷हामी÷ऋणीलाई कालोसुचीमा समावेश गरेमा मेरो÷हाम्रो÷ऋणीकोमञ्जुरीछभनीकिनाराका साक्षीका
                   रोहबरमातपाई धनीवित्तीय संस्थाको कार्यालयमाबसी यो लिखतमा सहीछाप गरी तपाई धनीवित्तीय संस्थालाई दिया÷दियौं ।
               </p>
           </div>
            <br>
            <p class="text-center"><b>स्वीकृत ऋणकर्जाको बिवरण</b></p>
            <div>
                <table class="table-responsive-md table table-bordered text-center">
                    <thead>
                    <tr>
                        <th>ऋणकर्जा वा बैंकिङ्ग
                            सूबिधाकिसिम</th>
                        <th>
                            रकम
                        </th>
                        <th>व्याज/कमिशन</th>
                        <th>कर्जाको अबधि</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td><input class="form-field nepaliFont form-control-sm" type="text" formControlName=""></td>
                        <td><input class="form-field nepaliFont form-control-sm" type="text" formControlName=""></td>
                        <td><input class="form-field nepaliFont form-control-sm" type="text" formControlName=""></td>
                        <td><input class="form-field nepaliFont form-control-sm" type="text" formControlName=""></td></tr>
                    </tbody>
                </table>
            </div>
            <br>
            <p class="text-center"><b>धितोसुरक्षणबापत रहेको/रहने सम्पत्तीको विवरण</b></p>
            <div style="width: 500px">
                <table  class="table table-bordered text-center">
                    <thead>
                    <tr>
                        <th >सि.नं.</th>
                        <th >धितोको बिवरण
                        </th>
                        <th>जिल्ला</th>
                        <th>गा.पा.÷न.पा./ <br>
                            म.न.पा.</th>
                        <th>वडा नं.</th>
                        <th>
                            कि.नं
                        </th>
                        <th>क्षेत्रफल</th>
                        <th>रजिष्टे«शन नं.</th>
                        <th>धनीको नाम थर र वतन</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td><input class="form-field nepaliFont form-control-sm" type="text" formControlName=""></td>
                        <td><input class="form-field nepaliFont form-control-sm" type="text" formControlName=""></td>
                        <td><input class="form-field nepaliFont form-control-sm" type="text" formControlName=""></td>
                        <td><input class="form-field nepaliFont form-control-sm" type="text" formControlName=""></td>
                        <td><input class="form-field nepaliFont form-control-sm" type="text" formControlName=""></td>
                        <td><input class="form-field nepaliFont form-control-sm" type="text" formControlName=""></td>
                        <td><input class="form-field nepaliFont form-control-sm" type="text" formControlName=""></td>
                        <td><input class="form-field nepaliFont form-control-sm" type="text" formControlName=""></td>
                        <td><input class="form-field nepaliFont form-control-sm" type="text" formControlName=""></td></tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>

</div>
