<nb-card [nbSpinner]="spinner" accent="primary">
  <nb-card-header>
    <div class="row shadow-sm">
      <div class="col-md-2">
        <strong>Associate Group:</strong> <span>{{customerInfo?.customerGroup != undefined ?  customerInfo?.customerGroup?.groupCode : ' N/A'}}</span>
      </div>
      <div class="offset-4 col-md-6 float-right">
        <button [nbPopover]="groupWindow" class="float-right mb-3" nbButton size="small" [nbPopoverPlacement]="'left'">
          Groups
          <nb-icon icon="arrow-down-outline"></nb-icon>
        </button>
        <div class="row">
          <ng-template #groupWindow>
            <app-group-tagging [customerData]="customerInfo"></app-group-tagging>
          </ng-template>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="bg-light mb-3">
      <div class="row">
        <div class="col">
          <a (click)="editCustomer(1)" *ngIf="!isEdited" class="p-2 cursor"><i
              class="fa fa-edit"></i></a>
        </div>
      </div>
      <div class="p-5 row">
        <div class="d-flex col-md-3">
          <div class="profile-img">
            <label class="container" for="file-input">
              <img *ngIf="customer.profilePic !==null " class="image"
                   src="{{restUrl+'/'+customer.profilePic}}"/>
              <div *ngIf="customer.profilePic == null || customer.profilePic == undefined"
                   class="bg-info no-img">
                <div>
                  <span class="text">NA</span>
                </div>

              </div>

            </label>

            <input (change)="profileUploader($event)" hidden id="file-input" type="file"/>
            <!--<span *ngIf="fileUploadError == true" style="color:red;">File Upload Failed</span>-->
          </div>
        </div>
        <div *ngIf="!isEdited" class="col-md-9 mt-3 py-4">

          <div class="row">
            <span> <b>Name :</b> {{customer.customerName}}</span></div>
          <div class="row">
            <span> <b>Date Of Birth :</b> {{customer.dob | date}}</span></div>

          <div class="row">
                    <span> <b>Address :</b> {{customer?.province?.name}}
                      , {{customer?.district?.name}}
                      , {{customer?.municipalities?.name}}, {{customer?.street}},
                      {{customer?.wardNumber}}</span></div>
          <div class="row">
            <span> <b>Email :</b> {{customer.email }}</span></div>
          <div class="row">
            <span> <b>Contact :</b> {{customer.contactNumber }}</span></div>

        </div>
        <div *ngIf="isEdited" class="col-md-9 mt-3 py-4">
          <form [formGroup]="basicForm">
            <div class="row form-inline">
                        <span> <b>Name :</b> <input formControlName="customerName"
                                                    placeholder="name"
                                                    type="text"></span></div>
            <div class="row form-inline">
                        <span> <b>Date Of Birth :</b>      <input [nbDatepicker]="dob"
                                                                  class="form-control"
                                                                  formControlName="dob"
                                                                  id="dob"
                                                                  name="dob"
                                                                  placeholder="Customer Date of birth">
                         <nb-datepicker #dob></nb-datepicker></span></div>

            <div class="row">
                    <span> <b>Address :</b> <select
                        (change)="getDistricts(this.basicForm.get('province').value)"
                        formControlName="province"
                        id="province"
                        name="province">
                                <option [value]="null" hidden>Select Province</option>
                                <option *ngFor="let provinceVal of provinceList"
                                        [ngValue]="provinceVal"
                                        [selected]="provinceVal.id === province?.id">
                                    {{provinceVal.name}}
                            </select>
                        <select (change)="getMunicipalities(this.basicForm.get('district').value)"
                                formControlName="district"
                                id="district"
                                name="district">
                                <option [ngValue]="null" hidden>Select District</option>
                                <option *ngFor="let districtVal of districtList"
                                        [ngValue]="districtVal"
                                        [selected]="districtVal.id === district?.id">{{districtVal.name}}

                                </option>
                            </select>
                           <select formControlName="municipalities"
                                   id="municipality"
                                   name="municipality">
                                <option [ngValue]="null" hidden>Select Municipality</option>
                                <option *ngFor="let municipalityVal of municipalitiesList"
                                        [ngValue]="municipalityVal"
                                        [selected]="municipalityVal.id === municipality?.id">
                                    {{municipalityVal.name}}
                                </option>
                            </select>
                        <input formControlName="street" placeholder="street Address"
                               type="text">
                             <input formControlName="wardNumber" placeholder="ward no."
                                    type="text" width="20px">

                      </span></div>
            <div class="row">
                        <span> <b>Email :</b>   <input formControlName="email" placeholder="name"
                                                       type="text"></span></div>
            <div class="row">
                        <span> <b>Contact :</b>   <input formControlName="contactNumber"
                                                         placeholder="name"
                                                         type="text"></span></div>
          </form>

        </div>
      </div>
      <div class="row justify-content-end">
        <button (click)="editCustomer(0)" *ngIf="isEdited" nbButton size="small"
                status="warning" type="button">Cancel
        </button>
        <div class="px-2">
          <button (click)="saveBasic()" *ngIf="isEdited" nbButton size="small"
                  status="danger" type="button">Save
          </button>
        </div>
        <div class="px-2">
          <button (click)="openSelectLoanTemplate()" *ngIf="!isEdited"
                  nbButton size="small" type="button">Apply Loan
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="d-block mb-3">
          <span class="d-flex justify-content-end text-success text-uppercase">
            <b>Aggregated Amount : {{totalProposalAmount |number}}</b>
          </span>
        </div>
        <nb-card accent="primary">
          <nb-card-header>
            Loan History
            <div class="float-right" nbTooltip="">Total Loan Amount
              : {{totalLoanProposedAmount | number}}
            </div>
          </nb-card-header>
          <nb-card-body>
            <app-customer-group-loan (messageToEmit)="getTotalLoanAmount($event)"
                                     [fetchType]="fetchLoan.CUSTOMER_LOAN"
                                     [customerInfo]="customerInfo" *ngIf="customerInfo"
                                     [formValue]="customer"></app-customer-group-loan>
          </nb-card-body>
        </nb-card>
        <nb-card accent="primary">
          <nb-card-header>
            Customer Groups
            <div class="float-right" nbTooltip="{{totalGroupAmount | number}}">Total Group Amount
              : {{totalGroupAmount | number}}
            </div>
          </nb-card-header>
          <nb-card-body>
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>
                  <div class="row col-md-12">
                    <div class="col-md-6">
                      <span>Groups</span>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                      Total Amount :  {{(proposeAmountOfGroup | number)}}
                    </div>
                  </div>
                </nb-accordion-item-header>
                <nb-accordion-item-body *ngIf="customerInfo !== undefined">
                  <app-customer-list-group (messageToEmit)="getTotalLoanAmount($event)"
                                           [customerInfoData]="customerInfo"></app-customer-list-group>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>


          </nb-card-body>

        </nb-card>
      </div>
      <div class="col-md-4">
        <nb-card accent="primary">
                    <nb-card-header>
                        <div class="row justify-content-lg-start">
                            <div class="col-md-6">KYC</div>
                            <div class="col-md-6 ">
                                <div class="px-2 text-right">
                                    <button nbButton size="tiny"><a  (click)="openKycModal()"  class="cursor"><i
                                        class="fa fa-edit"></i></a></button>
                                </div>
                            </div>
                        </div>
                    </nb-card-header>

          <nb-card-body>
            <div (click)="checkKycLoan(customerRelative)"
                 *ngFor="let customerRelative of customer.customerRelatives" class="cursor">
              <div class="row">
                <div class="col-md-5">
                  <span> <b>Name</b></span></div>
                <div class="col-md-1">
                  <span> <b>:</b></span></div>
                <div class="col-md-5">{{customerRelative.customerRelativeName}}</div>
              </div>

              <div class="row">
                <div class="col-md-5">
                  <span> <b>Relation</b></span></div>
                <div class="col-md-1">
                  <span> <b>:</b></span></div>
                <div class="col-md-5">{{customerRelative.customerRelation}}</div>
              </div>

              <div class="row">
                <div class="col-md-5">
                  <span> <b>Citizenship no</b></span></div>
                <div class="col-md-1">
                  <span> <b>:</b></span></div>
                <div class="col-md-5">{{customerRelative.citizenshipNumber}}</div>
              </div>

              <div class="row">
                <div class="col-md-5">
                  <span> <b>Issued Place</b></span></div>
                <div class="col-md-1">
                  <span> <b>:</b></span></div>
                <div class="col-md-5">{{customerRelative.citizenshipIssuedPlace}}</div>
              </div>

              <div class="row">
                <div class="col-md-5">
                  <span> <b>Issued Date</b></span></div>
                <div class="col-md-1">
                  <span> <b>:</b></span></div>
                <div class="col-md-5">{{customerRelative.citizenshipIssuedDate | date}}</div>
              </div>

              <hr>


            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-customer-loan-information
            (triggerCustomerRefresh)="refreshCustomerInfo()"
            *ngIf="customerInfo && maker"
            [customerInfoId]="customerInfoId"
            [customerInfo]="customerInfo"></app-customer-loan-information>
        <app-customer-loan-information-view *ngIf="!maker" [customerInfo]="customerInfo" ></app-customer-loan-information-view>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
     <app-customer-doc [customerInfo]="customerInfo" *ngIf="customerInfo" (refreshCustomerInfo)="refreshCustomerInfo()"></app-customer-doc>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #loanListTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Apply</h4>
    <a (click)="onClose()" aria-label="Close" class="close pull-right cursor">
      <span aria-hidden="true">&times;</span>
    </a>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="f.form.valid && openLoanForm()">
      <div class="col-md-12 row">

        <div class="col-md-6">
          <select #type="ngModel"
                  [(ngModel)]="applyForm.loanId"
                  [ngClass]="{ 'is-invalid': f.submitted && type.invalid }"
                  class="form-control rounded"
                  name="loanId" required>
            <option [ngValue]="undefined" hidden> select Loan Type</option>
            <option *ngFor="let allList of loanList"
                    [ngValue]="allList.id">{{allList.name}}</option>
          </select>
        </div>

      </div>

      <div class="col-md-12 py-2">
        <button class="btn btn-success float-right" type="submit"
        >Next
        </button>
      </div>
    </form>
  </div>

</ng-template>
