
sup {
  color: red;
}

.img :hover {
  cursor: pointer;
}

.image {
  opacity: 1;

  /* transition: .5s ease; */
  backface-visibility: hidden;
}


.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}


.no-img {

  width: 10rem;
  height: 10rem;
  /* width: 120px;
  height: 120px; */
  margin-right: 25px;
  border-radius: 50%;

  padding-top: 40%;

  color: whitesmoke;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.image {
  width: 10rem;
  height: 10rem;
  /* width: 120px;
  height: 120px; */
  margin-right: 25px;
  border-radius: 50%;

  text-align: center;
}


input,
textarea, select {
  background: transparent;

  border: none;

  border-bottom: 1px solid black;

}

.white-color{
  color: white;
}
.vr {
  border-left: 0.5px solid black;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 10px;
  bottom: 10px;
}



