@import '../../progressive-legal-docs.component';
.viewFull {
  max-height: 85vh;
  text-align: justify;
}
@media print {
  .page-break { page-break-before: always; }
}

.fingerXap {
  width: 500px;
  margin: auto;
  text-align: center;
}

span{
  line-height: 1;
}

.size16 {
  font-size: 16px;
}

.size24{
  font-size: 24px;
}

