<div class="text-justify">
    <div class="col-md-12 viewFull">
        <strong>बित्तीय शर्तहरु </strong>
        <div class="row">
            <div class="col-md-12">
                <ol class="conditions-list">
                    <li>
                        सम्पूर्ण ऋणकर्जाहरुको ब्याज, किस्ता, शुल्क, कमिसन, मार्जिन, हर्जाना ब्याज र अन्य बाँकी
                        बक्यौता
                        भुक्तानी
                        तपाईंको खातामा सिधै खर्च जनाई असुल गरिनेछ ।
                    </li>
                    <li>
                        साँवा र/वा ब्याज वा किस्ता भुक्तानी मितिको दिन भुक्तानीका लागि तपाईंको खातामा पर्याप्त रकम
                        हुनुपर्नेछ र सोही खातामा खर्च जनाई साँवा, ब्याज वा बाँकी रकम असुल गरिनेछ । साँवा, ब्याज वा
                        किस्ता
                        भुक्तानी मितिको दिनमा यदि तपाईंको खातामा पर्याप्त रकम नभएमा सो मितिमा उक्त खातामा जे जति
                        रकम छ सो बराबर खर्च जनाईनेछ । सो रकम सर्वप्रथम ब्याजमा समायोजन गरिनेछ र बाँकी साँवामा
                        समायोजन गरिनेछ । अपुग रकम यदी कुनै भए तपाईंबाट असुल उपर गरिनेछ ।
                    </li>
                    <li>
                        माथि उल्लिखित हर्जाना ब्याज (Penal Interest) तथा बिलम्ब भुक्तानी शुल्क (Late Payment Fee) र
                        अन्य
                        सेवा सुविधा बापत तिर्नु बुझाउनु पर्ने शुल्क बैंकले आफ्नो आधिकारिक website मा सूचना प्रकाशित
                        गरी
                        समय समयमा परिवर्तन गर्न सक्नेछ र यसरी प्रकाशित गरी शुल्क, दस्तुर तथा व्याज दरहरु परीवर्तन
                        गरेमा
                        माथि उल्लिखित शुल्क,
                        दस्तुर तथा व्याजदरहरु समेत परिवर्तन भएको मानिनेछ । सो परिवर्तित शुल्क, दस्तुर तथा ब्याजदर
                        बमोजिमको रकम तिर्न
                        बुझाउन ऋणी मञ्जुर गर्दछ ।
                    </li>
                    <li>
                        बैंकबाट प्राप्त गर्नुहुने अन्य सेवा सुविधा सम्बन्धी शुल्क, दस्तुर तथा शर्तहरु यस बैंकको
                        आधिकारिक
                        website
                        मा प्रकाशित शुल्क सम्बन्धी विवरणमा उल्लेख भए अनुसार हुनेछ ।
                    </li>
                    <li>
                        बिमा बापतको शुल्क वा धितो मुल्याङकन/पुर्नमुल्याङकन शुल्क बापतको बास्तबिक रकम तपाईं ऋणी
                        स्वयंले नै तिर्नु बुझाउनु पर्नेछ । सो सेवा सम्बन्धी कुनै वक्यौता रही सम्बन्धित पक्षले बैंक
                        समक्ष
                        माग गरेमा
                        बैंकले तपाईलाई पूर्व सूचना दिई वा नदिई तपाईको खातामा खर्च जनाई सम्बन्धित पक्षलाई भुक्तानी
                        दिन
                        सक्नेछ ।
                    </li>
                    <li>
                        कर्जा सूचना केन्द्र लिमिटेडबाट सुचना प्राप्त गर्न सोध पुछ खर्च, अन्य बैंकबाट प्राप्त गरिने
                        साख
                        सूचना,
                        घर/जग्गाको मुल्याङ्कन, रजिष्ट्रेशन, ब्लु प्रिन्ट तथा टेश नक्सा लिँदा लाग्ने शुल्क, सुरक्षित
                        कारोबार
                        रजिष्टेशन तथा अन्य आवश्यक सूचना प्राप्त गर्न र आधिकारिक निकायमा रजिष्ट्रेशन गर्न लाग्ने
                        शुल्क
                        तथा कुनै पनि खर्च, आदि बास्तबिक रकम ऋणी स्वयंले नै तिर्न बुझाउनु पर्नेछ । उक्त रकम तपाईको
                        खातामा खर्च जनाई कट्टृा गरी भुक्तानी गरिनेछ ।
                    </li>
                    <li>
                        बैंकको पूर्व सहमति बेगर तपाईंले अन्य बैंक तथा वित्तिय संस्थाहरुबाट ऋणकर्जा सुविधाहरु प्राप्त
                        गर्न सक्नुहुने छैन ।
                    </li>
                    <li>
                        अन्य बैंक तथा वित्तिय संस्थाहरु सहित कूल ऋणकर्जा सुविधाको सीमा यस ऋणकर्जा सुविधा माग
                        निवेदनमा
                        संलग्न बहुबैंकिङ घोषणा भन्दा बढी हुने अवस्था श्रृजना भएमा यस बैंकलाई अविलम्ब जानकारी गराउनु
                        पर्नेछ ।
                    </li>
                    <li>
                        नियमित कारोवार/ व्यवसाय वा ऋणीले उत्पादन गर्ने बस्तु वा सेवाको विक्रिबाट आर्जन गरिएको
                        सम्पूर्ण
                        रकम ऋणीको नाममा हामीसंग खोलिएको चल्ती/अधिविकर्ष खातामा जम्मा गर्नुपर्नेछ ।
                    </li>
                    <li>
                        ऋणकर्जा सुविधा सम्बन्धमा वा सोको असुली सम्बन्धमा यदि कानूनी वा अदालती प्रकृयामा गएको
                        अवस्थामा सो कानूनी वा अदालती प्रकृयामा लागेका सम्पूर्ण खर्चहरु ऋणीबाटै असुल उपर गरिनेछ वा
                        तपाईको खाताबाट खर्च जनाई कट्टा गरी लिइनेछ । साथै यस ऋण कर्जा सुबिधा सम्बन्धी अन्य कुनै
                        पक्षले
                        बैंकको विपक्षमा मुद्दा गरिएको खण्डमा पनि सो सम्बन्धी खर्चहरु तपाईको खाताबाट खर्च जनाई कट्टा
                        गरी
                        लिईनेछ ।
                    </li>
                    <li>
                        धितो सुरक्षणमा रहेका सम्पति, व्यवसाय वा आय स्रोतको अवस्थाहरुमा भौतिक र/वा प्रतिकूल परिवर्तन
                        भएमा
                        ऋणकर्जा चुक्ताभुक्तानी गर्न उचित सूचना र कारणहरु निर्धारण गरी ऋण सुविधाहरुका रकम चुक्ता
                        भुक्तानीका लागि अनुरोध गर्ने बैंकको अधिकार सुरक्षित रहनेछ ।
                    </li>
                    <li>
                        तपाईले यस ऋणकर्जा स्वीकृत पत्रमा उल्लिखित शर्त बन्देजहरु उल्लंघन गरेमा वा ऋणकर्जा सुविधाहरु
                        कुनैपनि कारणले बैकले फिर्ता भुक्तानी माग गरेमा सो माग गरिएको मिति बाटै भाका नाघेको कर्जा
                        हुनेछ
                        र सोमा समेत माथि उल्लिखित हर्जाना ब्याज तथा बिलम्ब शुल्क लाग्नेछ ।
                    </li>
                    <li>
                        एकै समुह भित्र पर्ने विभिन्न व्यक्ति वा संस्थाको नाममा प्राप्त गरिएको ऋणकर्जा सुविधाहरु
                        मध्ये
                        समुह
                        भित्रका अन्य कुनै पनि व्यक्ति वा संस्थाको नामको कुनै पनि ऋणकर्जा वा बैंकिङ्ग सुविधा
                        अन्तरगतको
                        दायित्व भुक्तानी/वहन गर्न असक्षम भएमा असक्षम भएको नामको ऋणकर्जा सुविधा नियमित वा
                        सामान्यिकरण नभएसम्म समुह भित्रको स्वीकृत सम्पूर्ण ऋणकर्जा सुविधा पूर्ण वा आंशिक रुपमा
                        रोक्न/रद्ध
                        गर्न/निलम्बन
                        गर्न र घटाउने बैंकको अधिकार सुरक्षित रहनेछ ।
                    </li>
                    <li>
                        माथि उल्लिखित स्वीकृत ऋणकर्जा सुविधाको सीमाहरु अप्रतिबद्ध सीमाहरु हुन् र तपाईंलाई पूर्व
                        सूचना
                        दिई
                        वा नदिई सो ऋणकर्जा सुविधाहरुको सम्पुर्ण कर्जा सुविधा सीमा वा उपयोग नगरिएका अंशहरु रोक्न/रद्ध
                        गर्न/निलम्बन
                        गर्न र घटाउन बैंकको अधिकार सुरक्षित रहनेछ ।
                    </li>
                    <li *ngIf="isNaturalPerson === 'No'">
                        <!--Not applicable if borrower is natural person-->
                        बैकबाट जुन प्रयोजनार्थ ऋणकर्जा सुबिधा प्रवाह गरीएको हो सोमा प्रयोग नगरी अन्य उद्देश्यमा
                        प्रयोग
                        गर्ने
                        (Diversion of Fund), व्यवसायबाट आर्जित रकम ऋण तिर्नमा नलगाई अन्य कार्यमा प्रयोग गर्ने
                        (Siphoning off), अन्य सम्पत्ति सिर्जना गर्ने, अल्पकालीन कर्जाबाट दीर्घकालीन उपयोग गर्ने तथा
                        सहायक
                        कम्पनी वा अन्य फर्ममा ऋण तथा पूजी साधन प्रवाह गर्न जस्ता कार्य गर्न पाइनेछैन ।
                    </li>
                    <li *ngIf="isNaturalPerson === 'No'">
                        <!--Not applicable if borrower is natural person-->
                        ऋणीले आर्थिक बर्ष समाप्त भएको तिन महिना भित्र आफ्नो व्यवसायको लेखापरिक्षण भएको बार्षिक
                        वासलात र नाफा नोक्सान एवं नगद प्रवाह हिसाब बैंकमा पेश गर्नु पर्नेछ ।
                    </li>
                    <li *ngIf="isNaturalPerson === 'No'">
                        <!--Not applicable if borrower is natural person-->
                        बैंकको पूर्व सहमति बेगर तपाईंको व्यवसायमा संचित रहेको नाफा, जगेडा कोष र संचालकहरुबाट प्राप्त
                        कर्जा निकाल्न र चुक्ता भुक्तान गर्न पाईनेछैन ।
                    </li>
                    <li *ngIf="isNaturalPerson === 'No'">
                        <!--Not applicable if borrower is natural person-->
                        कम्पनीले आर्थिक अवस्था सुधार्नको लागि स्वलगानी थप्नु पर्ने अवस्था भएमा सोही अनुसार आवश्यक
                        पुँजी
                        जुटाई वा स्वलगानी थपी बैंकलाई स्विकार्य हुने अवस्थामा ल्याउनुपर्नेछ ।
                    </li>
                    <li *ngIf="isNaturalPerson === 'No'">
                        <!--Not applicable if borrower is natural person-->
                        बैंकको लिखित सहमति बेगर ऋणी फर्म/कम्पनीको स्वामित्व, शेयर संरचनामा परिवर्तन, शेयर विक्रि वा
                        नामसारी गर्न पाईने छैन र बैंकको सहमति बेगर स्वामित्व संरचनामा परिवर्तन वा नामसारी गरेमा यस
                        ऋण सुविधा स्वीकृति पत्रको उल्लंघन भएको मानिनेछ ।
                    </li>
                    <li *ngIf="freeText?.section9.freeText1">
                        <span class="nepaliFont">
                            {{freeText?.section9.freeText1}}
                        </span>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="col-md-12 viewFull">
        <strong>अन्य शर्तहरु</strong>
        <div class="row mt-2">
            <div class="col-md-12">
            <ol class="conditions-list">
                <li>
                    बैंकको पक्षमा धितोबन्धक वा अन्य जुनसुकै रुपमा हक सुरक्षित रहेको सम्पत्तिहरु/सुरक्षणहरु
                    बैंकको लिखित सहमति बेगर अन्य पक्षहरुको हक वा हितमा कुनै पनि तवरले पुनः धितोबन्धक
                    वा अन्य कुनै व्यहोराले तेश्रो पक्षको हक श्रृजना गरी दिन पाईने छैन ।
                </li>
                <li>
                    बैंक अभिलेखमा रहेको तपाईंको अन्तिम ठेगानामा बैंकका सूचना तपाईंलाई प्रेषित गरिएमा सूचना
                    प्रभावकारी रुपमा पे्रषित गरिएको मानिनेछ ।
                </li>
                <li>
                    यदि ऋणीले यस ऋणकर्जा स्वीकृति पत्रमा उल्लिखित कुनै पनि शर्तबन्देजहरु उल्लंघन गरेमा र/वा
                    यदि ऋणीले स्वयंले टाट पल्टेको घोषणा गरेमा र/वा यदि आधिकारिक निकायबाट ऋणीलाई
                    विघटन (Liquidation) गर्ने प्रकृया चालेमा र/वा यदि ऋणीले फौजदारी कसुरजन्य काम कारवाही
                    गरेमा र/वा ऋणीले बैंक बिरुद्ध कुनै न्यायिक वा अर्ध न्यायिक निकायमा मुद्धा दायर गरेमा त्यसलाई
                    बैंकले ऋणकर्जाको दायित्व भुक्तानी गर्न (Default) भएको रुपमा लिनेछ ।
                    यसरी ऋणकर्जाको दायित्व भुक्तानी गर्न असक्षम भएको अवस्थामा बैंकको लेना
                    असुलीका लागि विना कुनै पूर्र्व सूचना तपाईंको तस्बिर सहितको ऋण चुक्ता गर्न सार्वजनिक
                    सूचना प्रकाशन गर्ने एवं नेपाल राष्ट्र बैंकको निर्देशन बमोजिम तपाईंको नाम कालो सूचीमा
                    समावेश गर्ने लगायतका कानूनी कार्य गर्ने बैंकको अधिकार सुरक्षित रहनेछ ।
                    ऋणकर्जा भुक्तानी गर्न असक्षम भएमा बैंकको नियम विनियम बमोजिम हर्जाना ब्याज लाग्नेछ ।
                </li>
                <li>
                    यस स्वीकृति पत्र बमोजिम स्वीकृत विभिन्न ऋणकर्जा तथा बैंकिङ सुविधाहरुको सुरक्षणको रुपमा
                    रहेको
                    तथा तपाईको अधिनमा र/वा स्वामित्वमा रहेको/रहने सम्पत्तिहरु समेत समुह भित्र पर्ने अन्य व्यक्ति
                    वा
                    फर्म/संस्थाको नाममा स्वीकृत सम्पूर्ण ऋणकर्जा तथा बैंकिङ सुविधाहरुको लागि समेत सुरक्षण वापत
                    हुन रहन तपाईंको मञ्जुरी रहेको र सम्बन्धित ऋण स्वीकृति पत्रहरु बमोजिम तपाईंको वा तपाईंको
                    समुह भित्र पर्ने अन्य व्यक्ति वा फर्म/संस्थाको नाममा स्वीकृत सम्पूर्ण ऋणकर्जा तथा बैंकिङ
                    सुविधाहरु चुक्ताभुक्तान गर्न वा शर्तबन्देजहरुको पालना गर्न असक्षम (Default) रहेको अवस्थामा
                    सम्बन्धित ऋणकर्जा सुविधाका स्वीकृति पत्रहरुमा उल्लिखित सुरक्षणहरुका साथसाथै यस ऋणकर्जा
                    सुविधाको स्वीकृति पत्रमा उल्लिखित धितो सुरक्षणबाट समेत बैंकको लेना रकम असुल गर्न समेत
                    बैंकको अधिकार सुरक्षित रहनेछ ।
                </li>
                <li>
                    कर्जाका लागि बैंकलाई प्रदान गर्नुभएको/गर्नु हुने सम्पूर्ण कागजात एवं सूचना ठीक साँचो
                    छन्/हुनेछन्
                    भन्ने कुरा तपाई पुनस्पुष्टी गर्नुहुन्छ र अन्यथा भएमा यसको संपूर्ण जिम्मेवारी तपाईको हुनेछ र
                    सो
                    अवस्थामा बैंकले सम्पूर्ण ऋण कर्जा सुविधाहरु फिर्ता भुक्तानी माग गर्न/रद्द गर्न सकिनेछ ।
                </li>
                <li>
                    ऋणी, जमानतकर्ता वा ऋणी फर्म, कम्पनी वा संस्था भए सोका प्रोप्राईटर, संचालक, साझेदार,
                    नेपाल राष्ट्र बैंकले तोकिए बमोजिमको प्रतिशतभन्दा बढी शेयर लिने शेयरधनी वा अन्य कुनै प्रकारको
                    स्वामित्व हुने व्यक्ति, उल्लिखित सबै ब्यक्तिका परिवार तथा निजहरु कहीं कतै हिताधिकारी भए सोको
                    विवरण तथा निजहरुको परिचय खुल्ने प्रमाण समेत यस बैंकमा पेश गनुपर्नेछ ।
                </li>
                <li>
                    प्रचलित ऐन, नियम, नेपाल राष्ट्र बैंकको निर्देशन तथा यस बैंकको निति, नियम तथा तिनमा
                    समय समयमा हुने संशोधन सहितको शर्तहरु पालना गर्न ऋणी/ऋणी फर्म/ऋणी कम्पनी/ऋणी
                    संस्था मँजुर गर्नुका साथै माथि उल्लिखित सम्पुर्ण समेतबाट स्वीकृत ऋणकर्जा बैंकिङ्ग सुविधा
                    प्रशासित तथा सँचालित हुने कुरामा समेत ऋणी/ऋणी फर्म/ऋणी कम्पनी/ऋणी संस्था मँजुर गर्दछ ।
                </li>
                <li *ngIf="isloanAmountAbove50Crore === 'Yes'">
                    <!--                        (Applicable Incase of loan is above Rs.50 core)-->
                    नेपाल राष्ट्र बैंकबाट जारी निर्देशन बमोजिम यस बैंकबाट तहाँको फर्म/कम्पनी/संस्थाको नाममा
                    स्वीकृत
                    कर्जा प्रवाह/नविकरण गर्न अगावै क्रेडिट रेटिङ्ग एजेन्सीबाट आफ्नो फर्म/कम्पनी/संस्थाको क्रेडिट
                    रेटिङ्ग
                    गराई सो को प्रतिवेदन यस बैंकमा पेश गर्नुपर्नेछ ।
                </li>
                <li *ngIf="isworkingCapitalAbove25Crore === 'Yes'">
                    <!--                        (Applicable Incase of Working Capital is above Rs.25 core)-->
                    नेपाल राष्ट्र बैंकबाट जारी निर्देशन बमोजिम यस बैंकबाट तहाँको फर्म/कम्पनी/संस्थाको नाममा
                    चालुपुँजी
                    प्रकृतिका कर्जाहरु स्वीकृत तथा नवीकरण/पुनरावलोकन गर्दाका वखत चालु सम्पत्ति तथा दायित्वको
                    विस्तृत
                    विवरण लेखापरीक्षकवाट प्रमाणित गराई बैंकमा बुझाउनु पर्नेछ ।
                </li>
                <li *ngIf=" loanHolderData !== 'PRIVATE_PUBLIC'">
                    <!--                        (Not applicable of Pvt ltd company)-->
                    तहां फर्मको दर्ता प्रमाणपत्रको अवधि समाप्त हुन अगावै सम्बन्धित कार्यालयबाट नविकरण गर्ने
                    दायित्व ऋणी फर्मका
                    प्रोप्राईटर/साझेदारहरुको हुनेछ र नविकरण पश्चात सोको प्रतिलिपि यस बैंकमा पेश गर्नु पर्नेछ ।
                    दर्ता प्रमाणपत्रको अवधि समाप्त भएका फर्मको ऋणकर्जा सुविधा स्वीकृत/नविकरण हुनेछैन र साथै
                    तहांले उपभोग गर्दै आउनुभएका सम्पूर्ण ऋण कर्जा सुविधाहरु दर्ता नविकरण नभएका कारण फिर्ता
                    भुक्तानी माग गर्ने/रद्द गर्ने अधिकार बैंकमा सुरक्षित रहनेछ ।
                </li>
                <li *ngIf="freeText?.section9.freeText2">
                    <span class="nepaliFont">
                        {{freeText?.section9.freeText2}}
                    </span>
                </li>
            </ol>
                </div>
        </div>
    </div>
</div>
