*{
  line-height: 1.9em;
  font-size: 19px;
}
ol.conditions-list{
  list-style: devanagari;
  padding-left: 20px;
  line-height: 40px !important;
  padding-bottom: 5px;
  text-align: justify !important;
}
p, ol li {
  font-size: 19px;
  line-height: 1.9em;
}
ol li {
  padding-left: 1em;
}
