nb-card.custom{
  height: 100vh;
  overflow-y: scroll;
  width: 100vw;
}

ol{
  font-family: "Times New Roman", Times, serif;
}

@media screen {
  .disable-print{
    display: block;
  }

  .print-only{
    display: none;
  }
  .box{
    border: 2px solid;
    height: 20vh;
    width: auto;
  }
}

@media print {
  .box{
    border: 2px solid;
    height: 7vh;
    width: auto;
  }
}

  .hide{
    visibility: hidden;
  }


