<div class="row mt-3">
    <div class="col-md-12">
        <p><strong>Security (already obtained)</strong></p>
        <strong *ngIf="existingSecurityOnly?.length > 0 || allExistingSecurity?.length > 0">Existing</strong>
        <div class="row" *ngIf="existingSecurityOnly?.length > 0">
            <div class="col-md-12">
                <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
                    <tr class="sb-bg-dark text-white">
                        <th>S.N</th>
                        <th>Real estate collateral</th>
                        <th>MV</th>
                        <th>FMV</th>
                        <th>DV</th>
                    </tr>
                    <ng-container>
                        <tr *ngFor="let detail of existingSecurityOnly; let i= index">
                            <td class="text-center">{{i + 1}}</td>
                            <td>{{detail?.securityName}}</td>
                            <td>{{detail?.considerValue | currencyFormatter}}</td>
                            <td>{{detail?.marketValue | currencyFormatter}}</td>
                            <td>{{detail?.distressValue | currencyFormatter}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="font-weight-bold">Total</td>
                            <td class="font-weight-bold">{{realEstateExistingTotal?.considerValue | currencyFormatter}}</td>
                            <td class="font-weight-bold">{{realEstateExistingTotal?.marketValue | currencyFormatter}}</td>
                            <td class="font-weight-bold">{{realEstateExistingTotal?.distressValue | currencyFormatter}}</td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>

        <div class="row" *ngIf="nonEstateExistingSecurityOnly?.length > 0">
            <div class="col-md-12">
                <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
                    <tr class="sb-bg-dark text-white">
                        <th>S.N</th>
                        <th>Real estate collateral</th>
                        <th>Amount</th>
                    </tr>
                    <ng-container>
                        <tr *ngFor="let detail of nonEstateExistingSecurityOnly; let i= index">
                            <td class="text-center">{{i + 1}}</td>
                            <td>{{detail?.securityName}}</td>
                            <td>{{detail?.totalAmount}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="font-weight-bold">Total</td>
                            <td class="font-weight-bold">Rs. {{nonRealEstateExistingTotal?.totalAmount | currencyFormatter}}</td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>

        <p><strong>Security (to be obtained)</strong></p>
        <strong *ngIf="proposeAndExistingSecurity?.length > 0 ">Proposed</strong>
        <div class="row" *ngIf="proposeAndExistingSecurity?.length > 0">
            <div class="col-md-12">
                <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
                    <tr class="sb-bg-dark text-white">
                        <th>S.N</th>
                        <th>Real estate collateral</th>
                        <th>MV</th>
                        <th>FMV</th>
                        <th>DV</th>
                    </tr>
                    <ng-container>
                        <tr *ngFor="let detail of proposeAndExistingSecurity; let i= index">
                            <td class="text-center">{{i + 1}}</td>
                            <td>{{detail?.securityName}}</td>
                            <td>{{detail?.considerValue}}</td>
                            <td>{{detail?.marketValue}}</td>
                            <td>{{detail?.distressValue}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="font-weight-bold">Total</td>
                            <td class="font-weight-bold">{{realEstateProposeTotal?.considerValue | currencyFormatter}}</td>
                            <td class="font-weight-bold">{{realEstateProposeTotal?.marketValue | currencyFormatter}}</td>
                            <td class="font-weight-bold">{{realEstateProposeTotal?.distressValue | currencyFormatter}}</td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>
        <div class="row" *ngIf="nonEstateProposeExistingSecurity?.length > 0">
            <div class="col-md-12">
                <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
                    <tr class="sb-bg-dark text-white">
                        <th>S.N</th>
                        <th>Real estate collateral</th>
                        <th>Amount</th>
                    </tr>
                    <ng-container>
                        <tr *ngFor="let detail of nonEstateProposeExistingSecurity; let i= index">
                            <td class="text-center">{{i + 1}}</td>
                            <td>{{detail?.securityName}}</td>
                            <td>{{detail?.totalAmount | currencyFormatter}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="font-weight-bold">Total</td>
                            <td class="font-weight-bold">Rs. {{nonRealEstateProposeTotal?.totalAmount | currencyFormatter}}</td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>

</div>
