<div class="row mt-1">
    <div class="col-md-12">
        <table class="table table-bordered text-center table-sm sb-small" *ngIf="files!==null">
            <tbody>
            <tr *ngFor="let data of files; let index = index">
                <td class="text-left">{{(index +1)}}</td>
                <td  class="text-left">{{data?.name}}</td>
            </tr>
            <tr>
                <td>Expected Loss Given Default</td>
                <td class="text-left">{{fixedAssets?fixedAssets:'0'}}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
