.text-round {
  background-color: #000000;
  padding: 3px;
  color: #ffffff;
  border-radius: 100%;
  text-align: center;
  margin: 1px;
  font-style: normal;
}
th, td {
  vertical-align: middle!important;
}
table, th, td {
  border: 1px solid black !important;
}
@media print {
  .summary {
    * {
      font-family: Cambria !important;
      font-size: 18pt !important;
    }
    .header {
      font-family: Cambria !important;
      font-size: 20pt !important;
      padding-top: 32px !important;
    }
    .sub-header {
      font-family: Cambria !important;
      font-size: 18pt !important;
      margin-top: 10px;
      font-weight: bold;
    }
  }
  .tablex {
    width: 100%;
    table-layout: fixed;
    .sub {
      width: 4% !important;
    }
  }
}
