<div class="row mt-3 summary">
    <div class="col-md-12 sb-small">
        <p class="header"><strong class="header">Facility Schedule</strong> <em class="text-danger sb-small"> &nbsp;Bold
            row indicates
            current loan proposal</em></p>
        <ul>
            <li class="sb-medium"><i class="fas fa-check-circle"></i> = Approved Loan
            </li>
            <li class="sb-medium"><span><sup>*</sup>  INT : Interest Rate ,<sup>*</sup> BR : Base Rate ,<sup>*</sup> PR : Premium Rate
                <span *ngIf="!consumerFinance">,<sup>*</sup> COM : Commission ,<sup>*</sup> CM : Cash margin</span></span>
            </li>
            <li class="sb-medium"><span><sup>*</sup>  LAF : Loan Administration Fee ,<sup>*</sup> CF : Commitment Fee ,
                <sup>*</sup> PF : Prepayment Fee,<sup>*</sup> SF : Swap Fee
                <sup>*</sup> TDM : Tenure Duration in Months,<sup>*</sup> TPT : Total Paid Tenure,
            <sup>*</sup> TPT : Total Remaining Tenure</span>
            </li>
            <li class="sb-medium"><span><sup>*</sup> <i style="color:red">All Currency in NPR.</i>  </span>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-12">
    <div class="row">

    </div>
</div>
<div class="row">
    <div class="col-md-12 px-3">
        <table class="table table-bordered  table-sm  text-center summary table-responsive-md tablex">
            <thead>
            <tr class="sb-bg-gray">
                <th class="sub" >S.N</th>
                <th> Facility</th>
                <th>Existing Limit</th>
                <th *ngIf="!isRemit">Out<br>standing</th>
                <th *ngIf="!isRemit">Enhance<br>ment</th>
                <th *ngIf="!isRemit">Sett<br>lement</th>
                <th>Proposed <br> Limit</th>
                <!--        for non funded commision and cash margin combination to be view-->

                <ng-container *ngIf="consumerFinance; else rate;">
                    <th *ngIf="!isRemit">Existing INT</th>
                    <th>Proposed INT</th>
                </ng-container>
                <ng-template #rate>
                    <th *ngIf="!isRemit">Existing INT/COM<br>/CM</th>
                    <th>Proposed INT/COM <br>/CM</th>
                </ng-template>
                <th>Limit
                    <br>Expiry <br>/Tenure</th>
                <th>Repayment <br> Mode</th>
                <th>Fee/ <br>Commission</th>
            </thead>
            <tbody>
            <ng-container style="border: solid black 1px !important;"
                          *ngFor="let loan of customerAllLoanList; let i = index">
                <tr [class.font-weight-bold]="loan?.documentStatus !== 'APPROVED'">
                    <td >{{i + 1}}</td>
                    <td class="text-left">
                        <ng-container
                                *ngTemplateOutlet="tickCross; context: { $implicit: loan?.documentStatus}"></ng-container>
                        {{ loan?.loan?.name }}
                        <i>{{loan?.withIn ? '(With in ' + (getWithinLoan(loan?.withInLoan) | titlecase) + ')' : ''}}</i>
                    </td>
                    <td class="text-center">
                    <span *ngIf="(loan?.proposal?.data | jsonParse)?.existingLimit">
                         {{(loan?.proposal?.data | jsonParse)?.existingLimit | currencyFormatter}}
                    </span>
                        <span *ngIf="!(loan?.proposal?.data | jsonParse)?.existingLimit">-</span></td>
                    <td class="text-center" *ngIf="!isRemit">
                    <span *ngIf="(loan?.proposal?.data | jsonParse)?.outStandingLimit">
                         {{(loan?.proposal?.data | jsonParse)?.outStandingLimit | currencyFormatter}}
                    </span>
                        <span *ngIf="!(loan?.proposal?.data | jsonParse)?.outStandingLimit">-</span>
                    </td>
                    <td class="text-center" *ngIf="!isRemit">
                    <span *ngIf="(loan?.proposal?.data | jsonParse)?.enhanceLimitAmount">
                         {{(loan?.proposal?.data | jsonParse)?.enhanceLimitAmount | currencyFormatter}}
                    </span>
                        <span *ngIf="!(loan?.proposal?.data | jsonParse)?.enhanceLimitAmount">-</span>
                    </td>
                    <td class="text-center" *ngIf="!isRemit">
                    <span *ngIf="(loan?.proposal?.data | jsonParse)?.settlementAmount">
                         {{(loan?.proposal?.data | jsonParse)?.settlementAmount | currencyFormatter}}
                    </span>
                        <span *ngIf="!(loan?.proposal?.data | jsonParse)?.settlementAmount">-</span>
                    </td>

                    <td>  {{loan?.withIn ? '(' + ((loan?.proposal?.data | jsonParse)?.proposedLimit | currencyFormatter) + ')' : ((loan?.proposal?.data | jsonParse)?.proposedLimit | currencyFormatter)}}</td>
                    <td *ngIf="!isRemit" class="text-left">
                    <span *ngIf="loan?.loan?.isFundable">
                        INT: {{(loan?.proposal?.data | jsonParse)?.existInterestRate}}%
                    </span>
                        <br>
                        <span *ngIf="!loan?.loan?.isFundable">
                        <span
                                *ngIf="(loan?.proposal?.data | jsonParse)?.existCashMarginMethod == 'FLAT'">
                            CM:  {{ ((loan?.proposal?.data | jsonParse)?.existCashMargin || 0)|currencyFormatter}}
                            ,</span>
                        <br>
                        <span *ngIf="(loan?.proposal?.data | jsonParse)?.existCashMarginMethod == 'PERCENT'">
                            CM: {{ ((loan?.proposal?.data | jsonParse)?.existCashMargin || 0)}}%,</span>
                        <br>
                        COM:{{(loan?.proposal?.data | jsonParse)?.existCommissionPercentage || '0'}}
                            % {{(loan?.proposal?.data | jsonParse)?.commissionFrequency || 'NA'}}
                    </span>
                    </td>

                    <td class="text-left">
                    <span *ngIf="loan?.loan?.isFundable">
                        BR : {{ (loan?.proposal?.data | jsonParse)?.baseRate}}%,
                        <br>
                        PR : {{ (loan?.proposal?.data | jsonParse)?.premiumRateOnBaseRate}}%,
                        <br>
                        INT : {{(loan?.proposal?.data | jsonParse)?.interestRate}}%
                    </span>
                        <span *ngIf="!loan?.loan?.isFundable">
                        <span *ngIf="(loan?.proposal?.data | jsonParse)?.cashMarginMethod == 'FLAT'">
                            CM:   {{ ((loan?.proposal?.data | jsonParse)?.cashMargin || 0) | currencyFormatter}}
                            ,</span>
                                                <br>
                        <span *ngIf="(loan?.proposal?.data | jsonParse)?.cashMarginMethod == 'PERCENT'">
                            CM: {{ ((loan?.proposal?.data | jsonParse)?.cashMargin)}}%,</span>
                                                <br>
                        COM:{{(loan?.proposal?.data | jsonParse)?.commissionPercentage}}
                            % {{(loan?.proposal?.data | jsonParse)?.commissionFrequency || 'NA'}}</span>
                    </td>

                    <td class="text-left">
                        <ng-container *ngIf="loan?.loan?.loanNature === 'Terminating'; else rev ">
                           TDM: {{(loan?.proposal?.data | jsonParse)?.tenureDurationInMonths || 'N/A '}} month <br>
                          <ng-container *ngIf="isCorporate">
                              TRT: {{(loan?.proposal?.data | jsonParse)?.totalRemainingTenure || 'N/A '}} month <br>
                              TPT: {{(loan?.proposal?.data | jsonParse)?.totalPaidTenure || 'N/A '}} month <br>
                          </ng-container>

                        </ng-container>
                        <ng-template #rev>
                            <p [class.font-weight-bold]="loan?.documentStatus !== 'APPROVED'">{{(loan?.proposal?.data | jsonParse)?.tenorOfEachDeal || 'N/A '}}</p>
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="loan?.loan?.loanNature === 'Terminating'; else tenure;">
                            <div>
                                <p *ngIf=" loanDatas[i]?.showInstallmentAmount  && ((loanDatas[i]?.loanNatureSelected && loanDatas[i]?.fundableNonFundableSelcted &&  loanDatas[i]?.isFundable &&  loanDatas[i]?.isTerminating) || loanDatas[i]?.isVehicle || loanDatas[i]?.isShare || loanDatas[i]?.isGeneral)">
                                    EMI Amount: </p>
                                <p *ngIf="! loanDatas[i]?.showInstallmentAmount &&  ((loanDatas[i]?.loanNatureSelected && loanDatas[i]?.isFundable && loanDatas[i]?.fundableNonFundableSelcted && loanDatas[i]?.isTerminating) || (loanDatas[i]?.isVehicle || loanDatas[i]?.isShare || loanDatas[i]?.isGeneral))">
                                    Interest Amount: </p>
                                <p *ngIf=" loanDatas[i]?.showRepaymentMode && ((loanDatas[i]?.loanNatureSelected && loanDatas[i]?.isFundable && loanDatas[i]?.fundableNonFundableSelcted && loanDatas[i]?.isTerminating) || (loanDatas[i]?.isVehicle || loanDatas[i]?.isShare || loanDatas[i]?.isGeneral))">
                                    Interest Payment: </p>
                                <p *ngIf=" loanDatas[i]?.showRepaymentMode && ((loanDatas[i]?.loanNatureSelected && loanDatas[i]?.isFundable && loanDatas[i]?.fundableNonFundableSelcted && loanDatas[i]?.isTerminating) || (loanDatas[i]?.isVehicle || loanDatas[i]?.isShare || loanDatas[i]?.isGeneral))">
                                    Principal Payment: </p>
                                <p *ngIf=" loanDatas[i]?.showRepaymentMode && ((loanDatas[i]?.loanNatureSelected && loanDatas[i]?.isFundable && loanDatas[i]?.fundableNonFundableSelcted && loanDatas[i]?.isTerminating) || (loanDatas[i]?.isVehicle || loanDatas[i]?.isShare || loanDatas[i]?.isGeneral))">
                                    Principal Amount: </p>
                                <p *ngIf=" loanDatas[i]?.showPrincipalAmount && ((loanDatas[i]?.loanNatureSelected && loanDatas[i]?.isFundable && loanDatas[i]?.fundableNonFundableSelcted && loanDatas[i]?.isTerminating) || (loanDatas[i]?.isVehicle || loanDatas[i]?.isShare || loanDatas[i]?.isGeneral))">
                                    Principal Amount: </p>
                            </div>
                            <div>
                                <p *ngIf=" loanDatas[i]?.showInstallmentAmount  && ((loanDatas[i]?.loanNatureSelected &&  loanDatas[i]?.fundableNonFundableSelcted &&  loanDatas[i]?.isTerminating  &&  loanDatas[i]?.isFundable) || (  loanDatas[i]?.isVehicle ||  loanDatas[i]?.isShare ||  loanDatas[i]?.isGeneral))"
                                   class=" pr-1"> {{(loan?.proposal?.data | jsonParse)?.installmentAmount | currencyFormatter}}</p>
                                <p *ngIf="! loanDatas[i]?.showInstallmentAmount &&  ((loanDatas[i]?.loanNatureSelected &&  loanDatas[i]?.isFundable &&  loanDatas[i]?.fundableNonFundableSelcted &&  loanDatas[i]?.isTerminating) || ( loanDatas[i]?.isVehicle ||  loanDatas[i]?.isShare ||  loanDatas[i]?.isGeneral))"
                                   class=" pr-1"> {{(loan?.proposal?.data | jsonParse)?.interestAmount | currencyFormatter}}</p>
                                <p *ngIf=" loanDatas[i]?.showRepaymentMode && ((loanDatas[i]?.loanNatureSelected &&  loanDatas[i]?.isFundable &&  loanDatas[i]?.fundableNonFundableSelcted &&  loanDatas[i]?.isTerminating) || ( loanDatas[i]?.isVehicle ||  loanDatas[i]?.isShare ||  loanDatas[i]?.isGeneral))"
                                   class=" pl-1">{{(loan?.proposal?.data | jsonParse)?.repaymentModeInterest}}</p>
                                <p *ngIf=" loanDatas[i]?.showRepaymentMode && ((loanDatas[i]?.loanNatureSelected &&  loanDatas[i]?.isFundable &&  loanDatas[i]?.fundableNonFundableSelcted &&  loanDatas[i]?.isTerminating) || ( loanDatas[i]?.isVehicle ||  loanDatas[i]?.isShare ||  loanDatas[i]?.isGeneral))"
                                   class=" pl-1">{{(loan?.proposal?.data | jsonParse)?.repaymentModePrincipal}}</p>
                                <p *ngIf=" loanDatas[i]?.showRepaymentMode && ((loanDatas[i]?.loanNatureSelected &&  loanDatas[i]?.isFundable &&  loanDatas[i]?.fundableNonFundableSelcted &&  loanDatas[i]?.isTerminating) || ( loanDatas[i]?.isVehicle ||  loanDatas[i]?.isShare ||  loanDatas[i]?.isGeneral))"
                                   class=" pr-1">{{(loan?.proposal?.data | jsonParse)?.principalAmount}}</p>
                                <p *ngIf=" loanDatas[i]?.showPrincipalAmount && ((loanDatas[i]?.loanNatureSelected &&  loanDatas[i]?.isFundable &&  loanDatas[i]?.fundableNonFundableSelcted &&  loanDatas[i]?.isTerminating) || ( loanDatas[i]?.isVehicle ||  loanDatas[i]?.isShare ||  loanDatas[i]?.isGeneral))"
                                   class=" pr-1">{{(loan?.proposal?.data | jsonParse)?.principalAmount}}</p>
                            </div>
                        </ng-container>
                        <ng-template #tenure>
                            <p [class.font-weight-bold]="loan?.documentStatus !== 'APPROVED'">{{(loan?.proposal?.data | jsonParse)?.repay || 'N/A '}}</p>
                        </ng-template>
                    </td>
                    <td class="text-left">
                        <ng-container *ngIf="(loan?.proposal?.data | jsonParse)?.serviceCharge" class="pr-1">
                            <span>LAF: </span>
                            <div *ngIf="(loan.proposal?.data | jsonParse)?.serviceChargeMethod === 'FLAT'; else percentage">
                                {{(loan?.proposal?.data | jsonParse)?.serviceCharge | currencyFormatter}},
                            </div>
                            <ng-template #percentage>{{(loan?.proposal?.data | jsonParse)?.serviceCharge}}%,
                            </ng-template>
                            <br>
                        </ng-container>
                        <ng-container *ngIf="(loan?.proposal?.data | jsonParse)?.commitmentFee">
                            <span>CF :</span>
                            <span>{{(loan?.proposal?.data | jsonParse)?.commitmentFee || 'N/A'}}, </span>
                            <br>
                        </ng-container>
                        <ng-container *ngIf="loan?.proposal?.prepaymentCharge">
                            <span>PF: </span>
                            <span>{{loan?.proposal?.prepaymentCharge || 'N/A'}}, </span>
                            <br>
                        </ng-container>
                        <ng-container *ngIf="(loan?.proposal?.data | jsonParse)?.swapCharge">
                            <span>SF: </span>
                            <span>{{(loan?.proposal?.data | jsonParse)?.swapCharge || 'N/A'}}</span>
                        </ng-container>
                    </td>
                </tr>
                <tr class="text-left">
                    <td [colSpan]="isRemit ? 8 :12">
                        <div style="display: flex; white-space: nowrap; height: auto">
                            <p><strong>Purpose: </strong></p>&nbsp;<p
                                [innerHTML]="(loan?.proposal?.data | jsonParse)?.purposeOfLoan | safeHtml"></p>
                        </div>
                        <div *ngIf="(loan?.proposal?.data | jsonParse)?.collateralRequirement"
                           style="display: flex;white-space: nowrap;">
                            <p><strong>Drawdown: </strong></p>
                            &nbsp; <p
                                [innerHTML]="(loan?.proposal?.data | jsonParse)?.collateralRequirement | safeHtml"></p>
                        </div>
                    </td>
                </tr>
            </ng-container>
            <tr class="sb-bg-gray text-left" [class.font-weight-bold]="true">
                <td colspan="2"><strong>Funded</strong></td>
                <td> {{ (getTotalFundable('existingLimit', true, customerAllLoanList)) | currencyFormatter }}</td>
                <td *ngIf="!isRemit">
                    <span>
                         {{ getTotalFundable('outStandingLimit', true, customerAllLoanList) | currencyFormatter }}
                    </span>
                </td>
                <td *ngIf="!isRemit">
                    <span>
                         {{ getTotalFundable('enhanceLimitAmount', true, customerAllLoanList) | currencyFormatter }}
                    </span>
                </td>
                <td *ngIf="!isRemit">
                    <span>
                         {{ getTotalFundable('settlementAmount', true, customerAllLoanList) | currencyFormatter }}
                    </span>
                </td>
                <td> {{ getTotalFundable('proposedLimit', true, customerAllLoanList) | currencyFormatter }}</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center" *ngIf="!isRemit">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>


                <!--        <td>NPR. {{ getTotal('installmentAmount') | currencyFormatter }}</td>-->
                <!--        <td>NPR. {{ getTotal('interestAmount') | currencyFormatter }}</td>-->
                <!--        <td>N/A</td>-->
                <!--        <td>NPR. {{ getTotal('prepaymentCharge') | currencyFormatter }}</td>-->
            </tr>
            <tr  class="sb-bg-gray text-left" [class.font-weight-bold]="true">
                <td  colspan="2"  class="text-left pl-1"><strong>Non-Funded</strong></td>
                <td> {{ (getTotalFundable('existingLimit', false, customerAllLoanList) | currencyFormatter)}}</td>
                <td *ngIf="!isRemit">
                    <span>
                         {{ getTotalFundable('outStandingLimit', false, customerAllLoanList) | currencyFormatter }}
                    </span>
                </td>
                <td *ngIf="!isRemit">
                    <span> {{ getTotalFundable('enhanceLimitAmount', false, customerAllLoanList) | currencyFormatter }}</span>
                </td>
                <td *ngIf="!isRemit">
                    <span>
                         {{ getTotalFundable('settlementAmount', false, customerAllLoanList) | currencyFormatter }}
                    </span>
                </td>
                <td> {{ getTotalFundable('proposedLimit', false, customerAllLoanList) | currencyFormatter }}</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center" *ngIf="!isRemit">-</td>

                <!--        <td>NPR. {{ getTotal('installmentAmount') | currencyFormatter }}</td>-->
                <!--        <td>NPR. {{ getTotal('interestAmount') | currencyFormatter }}</td>-->
                <!--        <td>N/A</td>-->
                <!--        <td>NPR. {{ getTotal('prepaymentCharge') | currencyFormatter }}</td>-->
            </tr>
            <tr class="sb-bg-gray text-left" [class.font-weight-bold]="true">
                <td colspan="2"  ><strong>Total</strong></td>

                <td> {{ getTotal('existingLimit') | currencyFormatter }}</td>
                <td *ngIf="!isRemit">
                    <span> {{ getTotal('outStandingLimit') | currencyFormatter }}</span>
                </td>
                <td *ngIf="!isRemit">
                    <span> {{ getTotal('enhanceLimitAmount') | currencyFormatter }}</span>
                </td>
                <td *ngIf="!isRemit">
                    <span> {{ getTotal('settlementAmount') | currencyFormatter }}</span>
                </td>
                <td>{{ getTotal('proposedLimit') | currencyFormatter }}</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center" *ngIf="!isRemit">-</td>
                <!--        <td> {{ getTotal('installmentAmount') | currencyFormatter }}</td>-->
                <!--        <td> {{ getTotal('interestAmount') | currencyFormatter }}</td>-->
                <!--        <td>N/A</td>-->
                <!--        <td> {{ getTotal('prepaymentCharge') | currencyFormatter }}</td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #tickCross let-status>
    <i *ngIf="status === DocStatus[DocStatus.APPROVED]" class="fas fa-check-circle"></i>
    <i *ngIf="status !== DocStatus[DocStatus.APPROVED]" class=""></i>
</ng-template>
<ng-template #loanTypeLetter let-loanType>
    <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.NEW_LOAN)" class="text-round">N</i>
    <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.RENEWED_LOAN)"
       class="text-round">R</i>
    <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.ENHANCED_LOAN)"
       class="text-round">E</i>
    <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.CLOSURE_LOAN)"
       class="text-round">C</i>
    <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.PARTIAL_SETTLEMENT_LOAN)"
       class="text-round">P</i>
    <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.FULL_SETTLEMENT_LOAN)"
       class="text-round">F</i>
    <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.RENEW_WITH_ENHANCEMENT)"
       class="text-round">R/E</i>
    <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.OTHERS)"
       class="text-round">O</i>
</ng-template>

<div class="row summary">
    <div class="col-md-12 sb-medium">
        <strong>Total Proposed Limit (in words):</strong>
        {{ getTotal('proposedLimit') | currencyFormatter}}
        (NPR. {{ getTotal('proposedLimit') | inWords | titlecase }}
        Only /-)
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table *ngIf="productUtils?.CBS_ENABLE"
               class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small">
            <tr class="sb-bg-gray">
                <th>Disbursement Criteria</th>
            </tr>
            <tr>
                <td class="text-left pl-1" [innerHTML]="proposalAllData?.disbursementCriteria | safeHtml"></td>
            </tr>
            <tr class="sb-bg-gray">
                <th>Repayment</th>
            </tr>
            <tr>
                <td class="text-left pl-1" [innerHTML]="proposalAllData?.repayment || 'N/A' | safeHtml"></td>
            </tr>
        </table>
    </div>

    <div class="col-md-12">
        <table class="table table-condensed table-bordered table-responsive-md text-center table-sm sb-small ">
            <!--            <ng-container *ngIf="checkedData?.solChecked">-->
            <!--                <tr class="sb-bg-gray">-->
            <!--                    <th>Single Obligor Limit</th>-->
            <!--                </tr>-->
            <!--                <tr>-->
            <!--                    <td class="text-left pl-1"><span [innerHTML]="proposalAllData?.solConclusionRecommendation || 'N/A' | safeHtml"></span></td>-->
            <!--                </tr>-->
            <!--            </ng-container>-->
            <ng-container *ngIf="checkedData?.riskChecked && !consumerFinance && loanDataHolder?.loanHolder?.customerType === 'INDIVIDUAL'">
                <tr class="sb-bg-gray">
                    <th>Risk & Mitigation</th>
                </tr>
                <tr>
                    <td class="text-left pl-1"><span
                            [innerHTML]="proposalAllData?.riskConclusionRecommendation || 'N/A' | safeHtml"></span></td>
                </tr>
            </ng-container>
        </table>

        <table class="table table-sm table-condensed table-bordered table-responsive-md text-center table-sm sb-small summary">
            <tr *ngIf="(loanDataHolder?.loanHolder?.cicl?.cibCharge | currencyFormatter) || loanDataHolder?.loanHolder?.cicl?.cibRemark">
                <td class="sb-bg-gray">CIB Charge</td>
                <td>{{loanDataHolder?.loanHolder?.cicl?.cibCharge ? loanDataHolder?.loanHolder?.cicl?.cibCharge : loanDataHolder?.loanHolder?.cicl?.cibRemark ? (loanDataHolder?.loanHolder?.cicl?.cibRemark | jsonParse)?.value : 'N/A'}}</td>
            </tr>
        </table>

    </div>
</div>

