<div class="row mt-2">
  <div class="col-md-12">
    <p><strong>Income From Account</strong></p>
    <table class="table table-bordered table-responsive-md table-hover text-center table-sm">
      <thead>
      <tr>
        <th>Particular</th>
        <th>During Review Period</th>
        <th>Projected For next Review Period</th>
      </tr>
      </thead>
      <tr>
        <td>Gross Interest</td>
        <td>Rs. {{this.proposalAllData?.interestDuringReview |currencyFormatter}}</td>
        <td>Rs. {{this.proposalAllData?.interestAfterNextReview |currencyFormatter}}</td>
      </tr>
      <tr>
        <td>Free and Commission</td>
        <td>Rs. {{this.proposalAllData?.commissionDuringReview |currencyFormatter}}</td>
        <td>
          Rs. {{this.proposalAllData?.commissionAfterNextReview |currencyFormatter}}
        </td>
      </tr>
      <tr>
        <td>Other Charges</td>
        <td>
          Rs. {{this.proposalAllData?.otherChargesDuringReview |currencyFormatter}}
        </td>
        <td>
          Rs. {{this.proposalAllData?.otherChargesAfterNextReview |currencyFormatter}}
        </td>
      </tr>
      <tr  class="font-weight-bold">
        <td>Total</td>
        <td>
          Rs. {{this.proposalAllData?.totalIncomeDuringReview |currencyFormatter}}
        </td>
        <td>
          Rs. {{this.proposalAllData?.totalIncomeAfterNextReview |currencyFormatter}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row mt-1">
  <div class="col-md-12">
    <p><strong>Proposal Details</strong></p>
    <p class="text-danger">
      Bold row indicates current loan proposal.
    </p>
    <p>
      <i class="fas fa-check-circle"></i> = Approved
      <i class="fas fa-times-circle"></i> = Not Approved,
      <i class="text-round">N</i>ew Loan
      <i class="text-round">R</i>enewed Loan
      <i class="text-round">E</i>nhanced Loan
      <i class="text-round">C</i>losure Loan
      <i class="text-round">P</i>artial Settlement Loan
      <i class="text-round">F</i>ull Settlement Loan
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table
        class="table table-bordered table-responsive-md table-sm text-center">
      <thead>
      <tr>
        <th>Loan Facility</th>
        <th>Proposed Limit</th>
        <th>Interest Rate</th>
        <th>Base Rate</th>
        <th>Premium Rate</th>
        <th>Service Charge</th>
        <th>Tenure Duration</th>
        <th>CIB Charge</th>
        <th>Repayment Mode</th>
        <th>Installment Amount</th>
        <th>Interest Amount</th>
        <th>Moratorium Period</th>
        <th>Prepayment Charge</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let loan of customerAllLoanList" [class.font-weight-bold]="proposalData?.id === loan?.proposal?.id">
        <td class="text-left">
          <ng-container *ngTemplateOutlet="tickCross; context: { $implicit: loan?.documentStatus}"></ng-container>
          &nbsp;|&nbsp;
          <ng-container *ngTemplateOutlet="loanTypeLetter; context: { $implicit: loan?.loanType }"></ng-container>
          &nbsp;|&nbsp;
          {{ loan?.loan?.name }} ({{ loan?.createdAt | date }})
        </td>
        <td>Rs. {{loan?.proposal?.proposedLimit | currencyFormatter}}</td>
        <td>{{(loan?.proposal?.data | jsonParse)?.interestRate}} %</td>
        <td>{{(loan?.proposal?.data | jsonParse)?.baseRate }} %</td>
        <td>{{(loan?.proposal?.data | jsonParse)?.premiumRateOnBaseRate}} %</td>
        <td>{{(loan?.proposal?.data | jsonParse)?.serviceChargeMethod === 'FLAT' ? ' NRs. '
            : ''}}{{(loan?.proposal?.data | jsonParse)?.serviceCharge | currencyFormatter}}{{(loan?.proposal?.data | jsonParse)?.serviceChargeMethod
        === 'PERCENT' ? ' %' : ''}}</td>
        <td>{{(loan?.proposal?.data | jsonParse)?.tenureDurationInMonths}} month</td>
        <td>Rs. {{(loan?.proposal?.data | jsonParse)?.cibCharge | currencyFormatter}}</td>
        <td>{{(loan?.proposal?.data | jsonParse)?.repaymentMode}}</td>
        <td>Rs. {{(loan?.proposal?.data | jsonParse)?.installmentAmount | currencyFormatter}}</td>
        <td>Rs. {{(loan?.proposal?.data | jsonParse)?.interestAmount | currencyFormatter}}</td>
        <td>{{(loan?.proposal?.data | jsonParse)?.moratoriumPeriod }} months</td>
        <td>Rs. {{(loan?.proposal?.data | jsonParse)?.prepaymentCharge | currencyFormatter}}</td>
      </tr>
      <tr class="font-weight-bold">
        <td><strong>Total</strong></td>
        <td>Rs. {{ getTotal('proposedLimit') | currencyFormatter }}</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>Rs. {{ getTotal('cibCharge') | currencyFormatter }}</td>
        <td>N/A</td>
        <td>Rs. {{ getTotal('installmentAmount') | currencyFormatter }}</td>
        <td>Rs. {{ getTotal('interestAmount') | currencyFormatter }}</td>
        <td>N/A</td>
        <td>Rs. {{ getTotal('prepaymentCharge') | currencyFormatter }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #tickCross let-status>
  <i *ngIf="status === DocStatus[DocStatus.APPROVED]" class="fas fa-check-circle"></i>
  <i *ngIf="status !== DocStatus[DocStatus.APPROVED]" class="fas fa-times-circle"></i>
</ng-template>
<ng-template #loanTypeLetter let-loanType>
  <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.NEW_LOAN)" class="text-round">N</i>
  <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.RENEWED_LOAN)" class="text-round">R</i>
  <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.ENHANCED_LOAN)" class="text-round">E</i>
  <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.CLOSURE_LOAN)" class="text-round">C</i>
  <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.PARTIAL_SETTLEMENT_LOAN)" class="text-round">P</i>
  <i *ngIf="loanType === EnumUtils.getEnum(LoanType, LoanType.FULL_SETTLEMENT_LOAN)" class="text-round">F</i>
</ng-template>
