<p><strong>Credit Card Requirement</strong></p>
<table class="table table-bordered table-sm sb-small">
    <tr>
        <td>Credit Card Required</td>
        <td>
            <nb-radio-group [(ngModel)]="isCreditCardRequired">
                <nb-radio value="yes">Yes (If yes, please fill in the below details)</nb-radio>
                <nb-radio value="no">No (If no, please specify the reason)</nb-radio>
            </nb-radio-group>
            {{isCreditCardRequired}}
        </td>
    </tr>
    <ng-container *ngIf="isCreditCardRequired === 'yes'">
        <tr>
            <td>
                Name of Borrowing Unit*
            </td>
            <td>
                M/s
            </td>
        </tr>
        <tr>
            <td>
                Total Approved/Proposed*
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Name of Proposed Credit Card Holder (to be printed in credit card)*
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Name of Proposed Credit Card Holder (to be printed in credit card)*
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Position Held in Borrowing Unit*
            </td>
            <td>
                <nb-radio-group>
                    <nb-radio>Proprietor</nb-radio>
                    <nb-radio>Partner</nb-radio>
                    <nb-radio>Shareholder</nb-radio>
                    <nb-radio>Director</nb-radio>
                    <nb-radio>Spouse of <input class="radio-input" type="text"></nb-radio>
                    <nb-radio>Others, please specify <input class="radio-input" type="text"></nb-radio>
                </nb-radio-group>
            </td>
        </tr>
        <tr>
            <td>
                Date of Birth (AD)*
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Current Address*
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Mobile Number*
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                E-mail Address*
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Account Number for dues
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Payment Mode*
            </td>
            <td>
                <nb-radio-group>
                    <nb-radio labelPosition="start">10%</nb-radio>
                    <nb-radio labelPosition="start">100%</nb-radio>
                </nb-radio-group>
            </td>
        </tr>
        <tr>
            <td>
                Credit Card Limit*
            </td>
            <td>NPR ............. ** (Refer approved memo dated 04 June 2019)</td>
        </tr>
        <tr>
            <td colspan="2" class="font-italic">All field marked * are mandatory</td>
        </tr>
    </ng-container>
    <ng-container *ngIf="isCreditCardRequired === 'no'">
        <tr>
            <td>Reason</td>
            <td></td>
        </tr>
    </ng-container>
</table>
<div class="mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="col">
                <p>Prepared By</p>
                <p class="signature">....................</p>
                <p>Name:</p>
                <p>Position:</p>
                <p>Date:</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col">
                <p>Recommended By</p>
                <p class="signature">....................</p>
                <p>Name:</p>
                <p>Position:</p>
                <p>Date:</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col">
                <p>Approved By</p>
                <p class="signature">....................</p>
                <p>Name:</p>
                <p>Position:</p>
                <p>Date:</p>
            </div>
        </div>
    </div>
</div>