@import "src/app/feature/credit-administration/cad-document-template/progressive/progressive-offer-letter/progressive-offer-letter.component";
*{
  line-height: 1.9em;
}
.shortInput{
  width: 50px;
}
.uniCodeFont{
  font-size: 16px;
}
