<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <a [routerLink]="creditMemoFullRoutes.INBOX">
            <app-icon-card detail="{{pendingCount}}" title="Pending" type="info">
                <em class="fas fa-hourglass"></em>
            </app-icon-card>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 cursor">
        <a [routerLink]="creditMemoFullRoutes.APPROVE">
            <app-icon-card [detail]="approvedCount"
                           title="Approved" type="success">
                <em class="fas fa-thumbs-up"></em>
            </app-icon-card>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 cursor">
        <a [routerLink]="creditMemoFullRoutes.REJECT">
            <app-icon-card [detail]="rejectedCount"
                           title="Rejected" type="info">
                <em class="fa fa-ban"></em>
            </app-icon-card>
        </a>
    </div>
</div>
