@media print {

  nb-card {
    background: none;
    border: none;
    box-shadow: none;
    position: absolute;
    overflow: visible;
    display: inline;

    span.badge {
      border: none;
      color: black;
      font-weight: normal;
    }

    hr.print-line {
      border-top: 2px solid black;
      margin-top: .5rem;
      margin-bottom: .5rem;
    }

    div {
      font-size: 12pt;
      color: black;
      //line-height: 1.5;

      p {
        font-size: 12pt;
        margin-bottom: 5px;
      }
    }

    .print-only {
      display: block;
    }

    #print-document {
      display: none;
    }

    .table th, .table td {
      padding: 0.2rem;
    }

    .report-header {
      line-height: 1;

      .report-header-heading, .report-header-sub-heading {
        font-size: 16pt;
      }
    }

    .cmt-width {
      width: 70%;
    }

    #print-borrower-table tbody td {
      width: 400px;
    }

    #print-block {
      margin-top: -6rem;
      margin-left: 2rem;
      margin-right: -1rem;
      padding-top: 3rem;

      .signature-block {
        border: 1px solid #8c8b8b;
        margin-top: 0.2rem;
      }

      .mt-3 {
        margin-top: 0 !important;
      }

      table {
        margin-bottom: .2rem;
      }

      p {
        margin-bottom: 0.2rem;
      }
    }
  }

  .no-border {
    border: none !important;
  }

  table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }

}
.print-only {
  display: none;
}

.company-detail{
  td{
    padding-left: 5px;
  }
}
