@import "src/app/feature/credit-administration/cad-document-template/progressive/progressive-offer-letter/progressive-offer-letter.component";

#fingerXap {
  width: 500px;
  margin-left: 10px;
  text-align: center;
}

#signature {
  margin: auto;
  width: auto;
  height: auto;
}

#officeDetail {
  margin-left: 100px;
}

input {
  background-color: yellow;
}
