@import '../../progressive-legal-docs.component';

p{
  line-height: 2em;
}
.viewFull {
  max-height: 85vh;
  text-align: justify;
}

.unicode-size24{
  font-size: 24px;
}

.unicode-size16 {
  font-size: 12pt;
}
