@import '../../progressive-legal-docs.component';

p{
  line-height: 2em;
}
.viewFull {
  max-height: 85vh;
  text-align: justify;
}

.unicode-size{
  font-size: 18px;
}

.unicode-size2 {
  font-size: 12pt;
}

.margin {
  margin-top: 1in;
  margin-left: 1in;
}
