@import '../../progressive-legal-docs.component';

p{
  line-height: 2em;
}
.viewFull {
  max-height: 85vh;
  text-align: justify;
}
*{
//margin-left:20px;
//margin-right:10px;
  margin-top: 20px;
}

.unicode-size{
  font-size: 18px;
}
