<section>
    <nb-card>
        <nb-card-body>
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed table-bordered table-responsive-md disable-print">
                                <thead>
                                <tr>
                                    <th rowspan="1">Criteria</th>
                                    <th rowspan="1">Weight</th>
                                    <th rowspan="2">Parameter</th>
                                    <th rowspan="2">Score</th>
                                    <th rowspan="2">Score Obtained</th>
                                </tr>

                                </thead>
                                <tbody>

                                <tr>
                                    <th>A. Financial Risk</th>
                                    <th>50%</th>
                                </tr>
                                <tr>
                                    <td colspan="2">1. Leverage: (15%)</td>
                                    <td>
                                      <label><input type="radio" name="optradio"></label>
                                    </td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th colspan="4">Total Score:</th>
                                    <td>5</td>
                                </tr>

                                <tr>
                                    <th>B. Business/Industry</th>
                                    <th>18%</th>
                                </tr>
                                <tr>
                                    <td colspan="2">1. Leverage: (15%)</td>
                                    <td>

                                    </td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th colspan="4">Total Score:</th>
                                    <td>5</td>
                                </tr>

                                <tr>
                                    <th>C. Management Risk</th>
                                    <th>12%</th>
                                </tr>
                                <tr>
                                    <td colspan="2">1. Leverage: (15%)</td>
                                    <td>

                                    </td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th colspan="4">Total Score:</th>
                                    <td>5</td>
                                </tr>

                                <tr>
                                    <th>D. Security Risk</th>
                                    <th>10%</th>
                                </tr>
                                <tr>
                                    <td colspan="2">1. Leverage: (15%)</td>
                                    <td><input type="number"></td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th colspan="4">Total Score:</th>
                                    <td>5</td>
                                </tr>

                                <tr>
                                    <th>E. Relationship Risk</th>
                                    <th>10%</th>
                                </tr>
                                <tr>
                                    <td colspan="2">1. Leverage: (15%)</td>
                                    <td><input type="number"></td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th colspan="4">Total Score:</th>
                                    <td>5</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</section>
