@import "src/app/feature/credit-administration/cad-document-template/progressive/progressive-offer-letter/progressive-offer-letter.component";

textarea {
  resize: none;
  border: none;
  height: 70px;
  border-color: transparent;
}
