@import "src/app/feature/credit-administration/cad-document-template/progressive/progressive-offer-letter/progressive-offer-letter.component";
p{
  line-height: 2em;
}
textarea {
  resize: none;
  border: none;
  height: 70px;
  border-color: transparent;
}

.unicode-size {
  font-size: 12pt;
}
