*{
  line-height: 1.9em;
}

.nepali {
  font-size: 16px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
}
table {
   text-align: justify !important;
   line-height: 1.9;
 }
p{
  line-height: 1.9;
}
.nepaliList {
  list-style-type: devanagari;
  line-height: 1.9;
}
.nepaliList > li {
  list-style-type: devanagari;
  line-height: 1.9;
}

.form-fields {
  background: yellow;
  margin: 0px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
  &:focus {
    outline: none;
  }
}
.box {
  border-style: solid;

}

@media print {
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
.nepaliFont{
  font-size: 16px;
}
.size{
  font-size: 16px;
}
.nep {
  font-size: 16px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
}
@page {
  size: A4;
}
