<hr class="print-line">
<div class="row">
    <div class="col-md-12">
        <p  class="header"><strong   class="header">Debt Burden Ratio:</strong></p>
        <table class="table table-condensed table-bordered table-responsive-sm table-sm sb-small text-left">
            <thead>
            <tr class="text-white sb-bg-dark">
                <th class="sub-header">Particualrs</th>
                <th class="sub-header">DBR</th>
            </tr>
            </thead>
            <tbody>
<tr>
    <td class="sub-header">Gross Monthly Income (GMI)</td>
    <td class="text-right sub-header">{{(financialData?.initialForm?.totalIncome?.toFixed(2) | currencyFormatter) || 'N/A'}}</td>
</tr>
<tr *ngFor="let data of financialData?.initialForm?.expensesOfBorrower;">
    <td class="sub-header">{{data?.particulars}}</td>
    <td class="text-right sub-header">{{(data?.amount?.toFixed(2) | currencyFormatter) || 'N/A'}}</td>
</tr>
<tr>
    <td class="sub-header">Total Monthly Obligation</td>
    <td class="text-right sub-header">{{(financialData?.initialForm?.totalBankObligation?.toFixed(2) | currencyFormatter) || 'N/A'}}</td>
</tr>
<tr>
    <td class="sub-header">Gross DBR (EMI/GMI)</td>
    <td class="text-right sub-header">{{(financialData?.initialForm?.emiWithProposal /(financialData?.initialForm?.totalIncome) * 100)?.toFixed(2)}} %</td>
</tr>
            </tbody>
        </table>
    </div>
</div>
