.nep {
  font-size: 16px;
  line-height: 1.9;
  text-align: justify;
  text-justify: inter-word;
  margin: 5px 20px;
}
.form-field {
  background: yellow;
  margin: 0px 5px;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0px;
  &:focus {
    outline: none;
  }
  .table-row{
    width:32px;
  }
  .container-name div {
    display: inline-block;
    width: 500px;
    min-height: 50px;
    background-color: #eee;
    height: auto;
  }
}
nb-card{
  max-height: 100vh !important;
}

.upperTable, upperTable td {
  border: 0.5px solid black;
}

.table-input {
  background: none;
}

.nepaliList {
  list-style-type: devanagari;
  line-height: 1.9;
}

.longInput {
  width: 300px;
  background: none;
}

.uniSize {
  font-size: 16px;
}

.shortInput {
  width: 100px;
}

li {
  line-height: 1.9;
  text-align: justify;
}

p {
  line-height: 1.9;
  text-align: justify;
}

.highlited-Color {
  color: #e81d3f;
  font-weight: bold;
}


.customFont {
  font-size: 22px;
}
